﻿@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>

    @foreach (var list in Model)
    {
        <tr>
            <td>@list</td>
        </tr>
    }
</table>

