﻿@model HandleErrorInfo

@{
    ViewBag.Title = "CustomError";
   
}
<div style="top:10px; position:fixed"><img src="~/images/logo_head.png" /></div>
<div style="top:60px; position:fixed; width:100%"><hr /></div>
<center>
    
    <table style="height:550px; width:50%">
        <tr><td style="height:100px">&nbsp;</td></tr>
        
        <tr><td><p style="font-size:16px; color:red">@System.Configuration.ConfigurationManager.AppSettings["ErrMessage"].
            
            <br />
                    @System.Configuration.ConfigurationManager.AppSettings["ErrRep"]
            </p></td></tr>
        
        <tr><td style="height:300px">&nbsp;</td></tr>
       
    </table>

</center>