﻿@model HandleErrorInfo
@using MTD.Core.DataTransferObjects
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Not Responding</title>
</head>
<body>
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                //Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            @Html.ValidationSummary(true)
                            <table style="width:90%">
                                <tr>
                                    <td>
                                        <h3> @System.Configuration.ConfigurationManager.AppSettings["ErrMessage"].</h3>
                                        <hr />
                                        <h2>An error has been reported to our analyst. we will fix it soon.</h2>
                                        <br />

                                        <h5> @System.Configuration.ConfigurationManager.AppSettings["ErrRep"]</h5>
                                        <br />
                                        @if (Session["User"] != null)
                                        {
                                            if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 1)
                                            {
                                                <a href="~/Merchant/Index">Back to home</a>
                                            }
                                            if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 2)
                                            {
                                                <a href="~/User/Index">Back to home</a>
                                            }
                                            if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 3)
                                            {
                                                <a href="~/Fleet/Index">Back to home</a>
                                            }
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</body>