﻿ .row {
           margin: 5px 0px;
       }
       .last_row {
           margin-bottom: 0 !important;
           height: 150px;
       }
       .btnBox {
           width: 128px;
           margin: 15px 0px;
       }
       .btnBox1 {
           margin-right: 13px;
       }
       .float_left {
           float: left;
       }
       .float_right {
           float: right;
       }
       .btn {
           margin-top: 100%;
           color: #ffffff;
           display: inline-block;
           width: 100%;
           padding: 6px 0px;
           font-family: 'open_sansregular';
           font-size: 16px;
           font-weight: 400;
           line-height: 1.42857143;
           text-align: center;
           text-transform: capitalize;
           vertical-align: middle;
           cursor: pointer;
           background-image: none;
           border: 1px solid transparent;
           border-radius: 4px;
           background-color: #253746;
       } 

           .btn:hover,
           .btn.active,
           .btn:active {
               color: #253746;
               background-color: #ffffff;
               border: 1px solid #253746;
               text-decoration: none;
               background-image: none;
               outline: 0;
               box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
           }

       .transEffects {
           transition: all 0.4s ease-out;
       }
       #mask {
           display: none;
           background: rgba(26, 53, 72, 0.9);
           position: fixed;
           left: 0;
           top: 0;
           width: 100%;
           height: 100%;
           z-index: 9;
       }
       .popup-block {
           display: none;
           border-radius: 8px 8px 8px 8px;
           -moz-border-radius: 8px 8px 8px 8px;
           -webkit-border-radius: 8px 8px 8px 8px;
           background: #fff;
           padding: 10px;
           border: 2px solid #ddd;
           left: 30%;
           position: absolute;
           top: 10%;
           width: 280px;
           max-height: 560px;
           z-index: 10;
           box-shadow: 0px 0px 20px #999;
           -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
           -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
           border-radius: 3px 3px 3px 3px;
           -moz-border-radius: 3px; /* Firefox */
           -webkit-border-radius: 3px; /* Safari, Chrome */
       }
       .popup-form-content {
           width: 98%;
           min-height: 100px;
           margin: 0% auto 3%;
           overflow: hidden;
           display: block;
       }
       .btnBox1 {
           margin-right: 13px;
       }

    /*6/22*/
 .popup-ctr{
  display: block;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 46%;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
}

.pop-grid th {
    color:#fff;
}

.field-validation-error.bg-danger {

  line-height: 40px;
  padding: 0 10px;
}
.grid-wrapper {
    height:245px; overflow:auto;
}
.btn-ok input[type="button"]{
    margin-top:0;
}
.mgn-B-10 {
    margin-bottom:10px;
}
