﻿ .popup-block {
            display: none;
            border-radius: 8px 8px 8px 8px;
            -moz-border-radius: 8px 8px 8px 8px;
            -webkit-border-radius: 8px 8px 8px 8px;
            background: #fff;
            padding: 10px;
            border: 2px solid #ddd;
            left: 50%;
            position: absolute;
            top: 45%;
            width: 380px;
            max-height: 560px;
            z-index: 10;
            box-shadow: 0px 0px 20px #999;
            -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
            -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
            border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px; /* Firefox */
            -webkit-border-radius: 3px; /* Safari, Chrome */
        }

        .popup-close-content {
            width: 100%;
            min-height: 100px;
            margin: 3% auto;
            overflow: hidden;
            display: block;
        }

            .popup-close-content .h2 {
                font-family: 'open_sansregular';
                font-size: 20px;
                line-height: 28px;
                color: #253746;
                text-align: center;
            }
            /*.popup-close-content > a.close > img.btn_close {position: absolute;right: 6px;top: 6px;width: 45px;}*/
            .popup-close-content p {
                color: #898787;
                padding: 15px 0;
                text-align: justify;
                max-height: 176px;
                overflow-y: auto;
            }
        .row {
            background: #f5f5f5;
            width: 94%;
            margin: 0 auto 5px;
            padding: 2% 3%;
        }
        .btnBox {
            width: 128px;
            margin: 15px 0px;
        }

        .btnBox1 {
            margin-right: 13px;
        }
        .float_left {
            float: left;
        }

        .float_right {
            float: right;
        }
        .last_row {
            margin-bottom: 0 !important;
        }
        .last_row {
            margin-bottom: 0 !important;
        }
        .transEffects {
            transition: all 0.4s ease-out;
        }
        .btn {
            color: #ffffff;
            display: inline-block;
            width: 100%;
            padding: 6px 0px;
            font-family: 'open_sansregular';
            font-size: 16px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            text-transform: capitalize;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            background-color: #253746;
        }

            .btn:hover,
            .btn.active,
            .btn:active {
                color: #253746;
                background-color: #ffffff;
                border: 1px solid #253746;
                text-decoration: none;
                background-image: none;
                outline: 0;
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            }
        #mask {
            display: none;
            background: rgba(26, 53, 72, 0.9);
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
        }