﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.MtdTransactionsViewData
@using System
@using MyResourse = MTData.Web.Resource.MtdataResource
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
}
<head>
    <title>  MTData Disclaimer </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <style type="text/css" media="print">
        .page {
            size: auto; /* auto is the current printer page size */
            margin: 0mm; /* this affects the margin in the printer settings */
        }

        body {
            background-color: #FFFFFF;
            border: solid 1px black;
            margin: 0px; /* the margin on the content before printing */
        }
    </style>

</head>
<body>
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    <div id="ContentToPrint">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <h3>Disclaimer</h3>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:100%">
                                <tr>
                                    <td style="text-align:justify; padding:5px;line-height:20px">
                                        It is your responsibility to observe safe driving practices and to place, 
                                        secure, and use your product in a safe manner. Do not operate your MTData product while driving and only use the MTData product
                                         when safe to do so. MTData does not warrant that any information provided by the MTData product is accurate or complete.  
                                        You should use your MTData product as a driving aid only and use your own judgement while driving, including taking into 
                                        account the prevailing road conditions and characteristics of the vehicle you are driving.  
                                        To the extent permitted by law, you accept full responsibility (and MTData disclaims all liability) for any loss, 
                                        liability or damage arising out of or in connection with the use of this product including in negligence 
                                        (as well as the use of any information provided by the product or any failure in the operation of the product).  
                                        Your continued use of this MTData product will mean that you have accepted these terms.
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>

