﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.MtdTransactionsViewData
@using System
@using MyResourse = MTData.Web.Resource.MtdataResource
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
}
<head>
    <title>  MTData Terms of use </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <style type="text/css" media="print">
        .page {
            size: auto; /* auto is the current printer page size */
            margin: 0mm; /* this affects the margin in the printer settings */
        }

        body {
            background-color: #FFFFFF;
            border: solid 1px black;
            margin: 0px; /* the margin on the content before printing */
        }
    </style>

</head>
<body>
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    <div id="ContentToPrint">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <h3>END USER LICENSE AGREEMENT</h3>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:100%">
                                <tr>
                                    <td style="text-align:justify; padding:5px;line-height:20px">
                                        <b>THIS IS A BINDING AGREEMENT</b> between Mobile Tracking & Data Pty Ltd ABN 51 104 260 737
                                        <b>(MTData)</b> and any person <b>(you)</b> who:
                                        <br />
                                        a) Installs a client-based version of the Software<br />
                                        b)    Accesses a hosted version of the Software.<br />
                                        In consideration of the license granted to you in respect of the Software, you agree to be bound by and abide by the terms and conditions set out below.
                                        <br /><br />
                                        <b>1. DEFINED TERMS AND INTERPRETATION</b><br />
                                        &nbsp;&nbsp;&nbsp;<b>1.1 Defined Terms. In this document:</b>
                                        <ul>
                                            <li><b>Client Software</b> means Software that is installed and operated on your own hardware.</li>
                                            <li><b>Commencement Date</b> means the date on which you install the Client Software or first access the Hosted Software (as the case may be).</li>
                                            <li><b>Confidential Information</b> means information relating to the development, layout, programming and operation of  the Software, and any other information with respect to MTData's business, finances, trade secrets or know-how that may be communicated to you (whether by MTData or otherwise) during the term of this agreement, but excludes information:</li>
                                        </ul>

                                        a)    That is in, or subsequently enters, the public domain other than through a breach of this agreement by you;<br />
                                        b)    Developed independently by you; or<br />
                                        c)    Acquired by you from a third party who is not subject to a duty of confidentiality in respect of such information.
                                        <ul>

                                            <li>
                                                <b>End User</b> means an individual whom you validly permit to access and use the Software.
                                            <li>
                                                <b>Hosted Software</b> means Software that is hosted by (or on behalf of) MTData and accessed by you and End Users via the internet.
                                            </li>
                                            <li>
                                                <b>Intellectual Property Rights</b> means all intellectual property rights, including the following rights:
                                            </li>
                                        </ul>

                                        a)    patents, copyright, rights in circuit layouts, registered and unregistered designs, moral rights, registered and unregistered trademarks, service marks, trade names and any right to have confidential information kept confidential; and
                                        b)    Any application or right to apply for registration of any of the rights referred to in <b>paragraph (a).</b>
                                        <ul>

                                            <li><b>ISP</b> is defined in clause <b>4.1(b).</b></li>
                                            <li>
                                                <b>ISP Services</b> is defined in clause <b>4.1(b).</b>
                                            </li>
                                            <li>
                                                <b>Personnel</b> means officers, employees, agents and subcontractors.
                                            </li>
                                            <li>    <b>Software</b> means:</li>

                                        </ul>
                                        a)    The object code version of:<br />
                                        b)    The MTData tracking software that is installed on your own hardware;<br />
                                        c)    The MTData tracking software that is hosted by (or on behalf of) MTData and is accessible via the internet, (as applicable);<br />
                                        d)    The documentation relating to that software supplied or made available to you (whether in hardcopy or electronic form) including operating manuals, user manuals and online help documentation and includes any improvements, enhancements,  modifications or developments of that software or documentation that may be supplied or made available to you from time to time.<br />
                                        <br />
                                        <b>
                                            1.2 Interpretation.
                                        </b>
                                        <br />This agreement, unless otherwise expressly stated:<br />
                                        a)    Headings are for ease of reference only and do not affect the meaning of this agreement<br />
                                        b)    The singular includes the plural and vice versa<br />
                                        c)    Other grammatical forms of defined words or expressions have corresponding meanings<br />
                                        d)    The meaning of general words is not limited by specific examples introduced by <b>including, for example</b> or similar expressions.<br />
                                        <br />
                                        <b>2. LICENSE</b><br />
                                        &nbsp;&nbsp;&nbsp;<b>2.1 Client Software license.</b>
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For Client Software, MTData grants you a non-exclusive, non-transferable, revocable license to install and use the Client Software for your internal business purposes.
                                        <br />
                                        <b> &nbsp;&nbsp;&nbsp;2.2 Hosted Software license.</b>
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For Hosted Software, MTData grants you a non-exclusive, non-transferable, revocable license to access and use the Hosted Software for your internal business purposes.
                                        <b> &nbsp;&nbsp;&nbsp;2.3 Duration of license.</b>
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The license granted under clause 2.1 or 2.2 (as applicable) will commence on the Commencement Date and will continue until termination of this agreement in accordance with <b>clause 8.3</b>.
                                        <br /><br />
                                        <b>3. END USERS</b><br />

                                        Without limiting
                                        <b>clause 4</b>, you must:
                                        <br />
                                        a)    Ensure that each End User:
                                        <ul>
                                            <li>Uses the Software strictly in accordance with this agreement</li>
                                            <li>Without limiting <b>paragraph (i)</b>, in the case of Hosted Software, keeps his or her username and password confidential and secure at all times</li>
                                        </ul>
                                        b)    Develop, implement and observe appropriate security measures so that that all usernames and passwords are kept secure and are only used by End Users in accordance with this agreement.

                                        <br /><br />
                                        <b>4. USAGE CONDITIONS AND RESTRICTIONS</b><br />
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.1 Conditions.</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You must:
                                        <ul style="list-style-type: none">
                                            <li>
                                                a)    Only use the Software on hardware that meets the minimum specifications as published by MTData from time to time;
                                            </li>
                                            <li>
                                                b)    Provide internet services <b>(ISP Services)</b> with an internet service provider <b>(ISP)</b>, as well as all other equipment and hardware, necessary to enable you to use and access the Software (and you acknowledge that satisfactory performance of the Software depends on the suitability and capability of your equipment, hardware and ISP Services);
                                            </li>
                                            <li>
                                                c)    Safeguard the Software from misuse, unauthorized use, loss or damage;
                                            </li>
                                            <li>
                                                d)    Comply with the reasonable directions issued by MTData regarding installation and use of the Software;
                                            </li>
                                            <li>
                                                e)    Ensure that each person who validly installs, accesses or uses the Software within the scope of the license granted to you under this agreement is properly trained in the installation and operation of the Software;
                                            </li>
                                            <li> f)     Ensure that each End User only uses the Software as permitted by this agreement and complies with your obligations under this agreement.</li>

                                        </ul>
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.2 Restrictions.</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You must not:
                                        <ul style="list-style-type: none">
                                            <li>
                                                a) Grant any sublicenses to exercise any rights in respect of the Software, or permit any third party to use the Software, other than allowing End Users to access and use the Software in accordance with this agreement;
                                            </li>
                                            <li>b)    Modify, add to, adapt, delete or amend any part of the Software without MTData's prior written consent;</li>
                                            <li>c)    Use the Software for the benefit of any third party (including, for example, to deliver a bureau or outsourced service);</li>
                                            <li>d)    Sell, translate, network, publish, commercialize, rent, lease, assign, transfer, loan, or otherwise distribute all or part of the Software, or any adaptation, modification or derivative of all or part of the Software;</li>
                                            <li>e)    Reverse engineer, disassemble, or decompile any software forming part of the Software, unless permitted to do so by law and then only strictly in accordance with the provisions or terms under which that right is given by such law;</li>
                                            <li>f)     Use the Software for any unlawful purpose or to engage in any activity which breaches any law, infringes a third party's rights, or in a manner which interferes with the rights of any other person or is prohibited by this agreement, or in any way that is misleading, deceptive or constitutes misuse;</li>
                                            <li>g)    Allow your Personnel, other End Users or third parties to do anything inconsistent with the terms of this agreement;</li>
                                            <li>h)    Remove, obscure or interfere with any copyright, acknowledgment, attribution, trade mark, warning, disclaimer statement, rights management information or serial numbers affixed to, incorporated in or otherwise applied in connection with the Software;</li>
                                            <li>i)     Make any copies of the Software, other than to produce one backup version of the Software, without MTData's prior written consent;</li>
                                            <li>j)     Copy or download, in a systematic manner, any content, graphics, video, text or animation from the Software, or communicate or otherwise distribute such systematically obtained content, graphics, video, text or animation (or allow any End User to do so);</li>
                                            <li>k)    Directly or indirectly, introduce or permit the introduction by your Personnel or any End User of, any virus, worm, Trojan or other malicious code into any Hosted Software or in any other manner whatsoever corrupt degrade or disrupt the operation of any Hosted Software.</li>
                                        </ul>
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.3 No Guarantee of Access to Hosted Software.</b>
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You acknowledge and agree that to the extent possible under law, MTData makes no representations,  warranties or guarantees in relation to the availability, continuity,<br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;reliability, accuracy, currency or security of the Hosted Software or any ISP Services. MTData will not be liable if the Hosted Software or ISP Services are unavailable for any <br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;reason, including directly or indirectly as a result of:

                                        <ul style="list-style-type: none;">
                                            <li>a)    Telecommunications unavailability, interruption, delay, bottleneck, failure or fault;</li>
                                            <li>b)    Negligent, malicious or willful acts or omissions of third parties (including MTData's third party service providers);</li>
                                            <li>c)    Maintenance or repairs carried out by MTData or any third party service provider in respect of any of the systems used in connection with the provision of the Hosted Software or the ISP Services;</li>
                                            <li>d)    Any events beyond MTData's control;</li>
                                            <li>
                                                e)    Services provided by third parties ceasing or becoming unavailable.
                                            </li>
                                        </ul>
                                        <b>5. OWNERSHIP OF INTELLECTUAL PROPERTY RIGHTS</b><br />
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.1 Ownership of Software.</b><br />
                                        <ul style="list-style-type: none;">
                                            <li>You agree that all rights, title and interest (including all Intellectual Property Rights) in the Software vests absolutely in MTData. The only rights you have in respect of the Software (and the Intellectual Property Rights subsisting in it) are those granted under this agreement, and such rights are subject to the terms of this agreement.</li>
                                        </ul>
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.2 Ownership of Improvements.</b><br />
                                        <ul style="list-style-type: none;">
                                            <li>If you make any improvements, additions or modifications to the Software <b>(Improvements)</b> whether during the term of this agreement or after it, and whether with the authority of MTData or otherwise, all of your rights, title and interest (including all Intellectual Property Rights) in such Improvements are hereby assigned to MTData, and you must do all things necessary to effect that assignment.</li>
                                        </ul>
                                        <b>6. CONFIDENTIAL INFORMATION</b><br />
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.1 Obligations of Confidence.</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You must:
                                        <ul style="list-style-type: none;">
                                            <li>a)    use your best endeavors to ensure that the Confidential Information is kept secret, and is not disclosed to any third party, other than to your Personnel and to End Users, and even then, only to the extent that such persons have a need to know such information either to use the Software or to exercise your rights or fulfill your obligations;</li>
                                            <li>b)    Not use, reproduce or communicate any Confidential Information, other than for the purposes of this agreement, unless MTData gives its express written consent for you to do so;</li>
                                            <li>c)    Procure that you’re Personnel and each End User does such things, or refrains from doing such things (as the case may be), as to ensure that you comply with your obligations under <b>paragraphs (a)</b> and <b>(b)</b>.</li>
                                        </ul>
                                        <b>6.2 Disclosure Required by Law.</b>
                                        <ul style="list-style-type: none;">
                                            <li>
                                                a)    You will not be in breach of your obligations under <b>clause 6.1</b> if you disclose Confidential Information pursuant to a statutory requirement, order of a court or legal direction or requirement of a person acting with statutory authority.
                                            </li>
                                            <li>b)    If you are required to disclose Confidential Information under paragraph (a), you must, before disclosing that information, notify MTData in writing and permit MTData the opportunity to limit the scope, or seek the withdrawal, of such required disclosure. You must provide MTData with reasonable cooperation in this regard.</li>
                                        </ul>
                                        <b>7. LOCATION DATA</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You acknowledge that:
                                        <ul style="list-style-type: none;">
                                            <li>a)    MTData's systems may store location-related data connected with your use of the Software (Location Data);</li>
                                            <li>
                                                b)    MTData:

                                                <ul style="list-style-type: none;">
                                                    <li>a.    May be required by law to disclose the <b>Location Data;</b></li>
                                                    <li>b.    May, in its sole discretion, periodically delete the Location Data;</li>
                                                    <li>c.     MTData excludes all liability to you (including in negligence) in connection with MTData's storage, disclosure and/or deletion of the Location Data.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <b>8. INDEMNITY AND LIMITATION OF LIABILITY</b><br>
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.1 Indemnity.</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You indemnify MTData (and all of its related bodies corporate and its Personnel) against all loss, actions, proceedings, cost and expenses (including legal fees), claims
                                        <br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and damages arising directly or indirectly out of or in connection with:
                                        <ul style="list-style-type:none">
                                            <li>a)    Your use of the Software;</li>
                                            <li>b)    Any breach of this agreement by you.</li>
                                        </ul>
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.2 Limitation.</b><br />
                                        <ul style="list-style-type: none;">
                                            <li>a)    Subject to <b>clauses 8.3</b> and <b>8.4</b>, but despite any other provision of this agreement, and to the maximum extent permitted by law:</li>
                                            <li>
                                                <ul style="list-style-type: none;">
                                                    <li><b>i.</b>     MTData excludes all liability:</li>
                                                    <li>
                                                        <ul style="list-style-type: none;">
                                                            <li>
                                                                a)                Arising from any unavailability, or failure in the functionality, of any Hosted Software;
                                                            </li>
                                                            <li>
                                                                b)                Arising from any circumstance beyond its control;
                                                            </li>
                                                            <li>
                                                                c)                For loss of revenue, loss of goodwill, loss of customers, loss of capital, downtime costs, loss of profit, loss of or damage to reputation, loss under or in relation to any other contract, loss of data, loss of use of data, loss of anticipated savings or benefits, or any indirect, consequential or special loss, damage, cost or expense or other claims for consequential compensation, incurred by or awarded against you under or in any way connected with this agreement or the Software;
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><b>ii.</b>    MTData's total aggregate liability for all loss, damages, expenses, claims and actions arising under or in connection with this agreement or the Software, is limited to $5,000.</li>
                                                    <li>
                                                        <ul style="list-style-type: none;">
                                                            <li>b)    The exclusion and limitation of liability under this <b>clause 8.2</b> applies whether any such claim is made under statute, in tort (for negligence or otherwise), under an indemnity, in equity or otherwise.</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>

                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.3 Exclusion of Warranties.</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Australian Consumer Law may confer certain rights and remedies on you in relation to the provision by MTData of goods and services under this agreement.
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This agreement does not exclude, restrict or modify the application of any condition, warranty, guarantee, right or remedy conferred by or implied under any provision of the <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Australian Consumer Law or any other statute where to do so would:
                                        <ul style="list-style-type:none">
                                            <li>a)    Contravene the relevant statute;</li>
                                            <li>
                                                b)    Cause any part of this agreement to be void and/or unenforceable, <b>(Non-Excludable Obligation)</b>.
                                            </li>
                                        </ul>
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.4 Exclusions.</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Except in relation to Non-Excludable Obligations, all conditions, warranties and other provisions implied or conferred by statute, custom, or the general law that impose <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;any liability or obligation on MTData are expressly excluded under this agreement.
                                        <br /><br />
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.5 Non-Excludable Obligations.</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In relation to Non-Excludable Obligations (other than a guarantee as to title, encumbrances or quiet possession conferred by the Australian Consumer Law), except <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for goods or services of a kind ordinarily acquired for personal, domestic or household use or consumption (in respect of which MTData's liability is not so limited under<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this agreement), MTData's liability to the Customer for a failure to comply with any Non-Excludable Obligation is limited to:
                                        <ul style="list-style-type:none">

                                            <li>
                                                a)    In the case of services, the lowest of the cost of supplying the services again and payment of the cost of having the services supplied again;
                                            </li>
                                            <li> b)    In the case of goods, the lowest of the cost of replacing the goods, supplying equivalent goods or having the goods repaired, or payment of the cost of replacing the goods, supplying equivalent goods or having the goods repaired.</li>
                                        </ul>
                                        <b>9. TERM AND TERMINATION</b><br />
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.1 Expiry.</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This agreement will terminate on expiry of the license granted to you in respect of the Software (as specified in the order details between you
                                        and MTData, or between you <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and the reseller or distributor of the Software, as the case may be).<br /><br />
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.2 Termination by MTData for cause.</b>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MTData may terminate this agreement immediately by notice in writing if you:
                                        <ul style="list-style-type:none">
                                            <li>
                                                a)    Breach any term of this agreement that is not capable of remedy (including <b>clauses 6</b> and <b>10.3</b>);
                                            </li>
                                            <li>b)    Breach any term of this agreement that is capable of remedy and fail to rectify that breach within 14 days of receiving a notice from MTData requiring you to do so;</li>
                                            <li>c)    Become insolvent, an externally-administered body corporate (as that term is defined in the Corporations Act 2001 (Cth)) or are otherwise unable to pay your debts as and when they fall due for payment.</li>
                                        </ul>
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.3 Effect of Termination.</b>
                                        <ul style="list-style-type:none">
                                            <li>a)    The termination of this agreement under <b>clause 9.2</b> is not MTData's sole remedy, and will not prejudice, or amount to a release of, any of MTData's rights to claim compensation or other remedies in respect of your acts, omissions, breach, negligence or willful misconduct occurring prior to such termination.</li>
                                            <li>
                                                b)    The parties agree that their rights and obligations under <b>clauses 5, 6, 8</b>, this <b>clause 9.3</b> and <b>clauses 9.4</b> and <b>10</b> will survive the expiry or termination of this agreement for any reason.
                                            </li>
                                        </ul>
                                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.4 Rights, Obligations on Termination.</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;On expiry or termination of this agreement:
                                        <ul style="list-style-type:none">
                                            <li>
                                                a)    You must immediately cease using the Software, and you must procure that your End Users cease doing so;
                                            </li>
                                            <li>
                                                b)    To the extent that you have a copy of the Software, or any part of the Software, whether in tangible or electronic form, and whether stored on a disk or installed in its own platform or system, you must either return to MTData, or destroy, each such copy of the Software, or part thereof, that is in your possession or control (or that of any End User);
                                            </li>
                                            <li>c)    You must within 30 days send to MTData or otherwise dispose of in accordance with MTData's directions all Confidential Information and all other documentation relating to the Software then in your possession or control or that of your End Users.</li>

                                        </ul>
                                        <b>
                                            10. GENERAL
                                        </b>
                                        <br />
                                        <b>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.1 Force Majeure.
                                        </b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neither party is liable for any failure to perform or delay in performing its obligations under this
                                        agreement if that failure or delay is due to anything beyond that party’s <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;control. If that failure or delay exceeds 60 days, either party may terminate this agreement with immediate effect by giving notice to the other party. This clause<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;does not apply to any obligation to pay money.
                                        <br /><br /><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.2 Governing Law.</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This agreement will be governed by the laws of the State of Victoria, Australia, and the parties submit irrevocably and unconditionally to the exclusive jurisdiction of the<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; courts of that State.

                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><br /><b>10.3 Assignment.</b><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You may not assign your rights under this agreement, or attempt or purport to do so, without MTData's consent (which may be given or withheld at MTData's absolute
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; discretion).
                                        <br /><br />
                                        <b>10.4 Entire Agreement</b><br />
                                        <ul style="list-style-type:none">
                                            <li>a)    The terms of this agreement constitute the entire agreement between the parties with respect to the subject matter of this agreement, and replace all prior agreements, statements, representations or understandings between the parties.</li>
                                            <li>b)    An amendment, deletion or addition to this agreement will not be valid or binding on the parties unless it is in writing and signed by each party.</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>

