﻿@model List<MTData.Web.ViewData.CarOwnerViewData>

<link href="~/Content/PopUs.css" rel="stylesheet" />

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
@if (ViewBag.UploadMessage != null)
{
    <p class="field-validation-error bg-danger">&nbsp;@ViewBag.UploadMessage</p>
}
<div class="grid-wrapper">
    <table style="width: 100%" class="table table-bordered pop-grid">
        <tr>
            <th>
                Owner Name
            </th>
            <th>
                Contact Number
            </th>
            <th>
                Contact Person
            </th>
            <th>
                Email
            </th>
            <th>
                Country
            </th>
            <th>
                State
            </th>
            <th>
                City 
            </th>
            <th>
                Address
            </th>
            <th>
                Sage Account
            </th>
            <th>
                Bank Name
            </th>
            <th>
                Account Name
            </th>
            <th>
                BSB
            </th>
            <th>
                Account
            </th>
            <th>
                Error
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SageAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BSB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.FailedError)
                </td>

            </tr>
        }

    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var loginBox = "#simpleConfirm";
        //Fade in the Popup and add close button
        $(loginBox).fadeIn(300);
        //Set the center alignment padding + border
        var popMargTop = ($(loginBox).height() + 24) / 2;
        //var popMargLeft = ($(loginBox).width() + 24) / 2;
        $(loginBox).css({
            //'margin-top': -popMargTop,
            //'margin-left': -popMargLeft,
            'width': 930,
            'left': 510

        });
        // Add the mask to body


        $('body').append('<div id="mask"></div>');
        $('#mask').fadeIn(300);

        $("#btnSkip,#close").click(function () {
            $(loginBox).fadeOut(300);
            window.location.href = "/CarOwners/Index";
        });


    });

</script>