﻿@using MTD.Core.DataTransferObjects
@using MTData.Web.ViewData
@model MTData.Web.ViewData.CarOwnerViewData
@{
    ViewBag.Title = "Create Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Car Owners</title>
    <link href="~/css/PopUs.css" rel="stylesheet" />
    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.ui.draggable.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/jquery-1.5.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
    <script src="~/js/bootstrap-filestyle.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .browse-btn-dt {
            width: 280px;
        }

            .browse-btn-dt .bootstrap-filestyle .form-control {
                background-color: #fff;
            }

        .group-span-filestyle.input-group-btn label {
            margin-top: 0;
            font-family: Arial;
            font-size: 13px;
            padding: 7px 7px;
            font-weight: normal !important;
        }

        #ui-id-1 {
            display: none;
            left: 541px;
            top: 375px;
            width: 280px;
            z-index: 9;
        }
    </style>
</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm("Create", "CarOwners", FormMethod.Post, new { enctype = "multipart/form-data", @id = "Form1" }))
                    {
                        @Html.AntiForgeryToken()
                        <div>
                            <h4>Create Car Owner</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:75%">
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width: 292px">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: green;font-size: 12px">&nbsp;@ViewBag.Message</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Input Type")</td>
                                    <td class="input-box">
                                        @Html.RadioButton("Manual", "Manual", true, new { @Name = "radiobutton", @checked = "checked", @value = "Manual", @text = "Excel", @id = "radioManual" })<span class="replyspan">Manual</span>
                                        @Html.RadioButton("Excel Upload", "Excel", new { @Name = "radiobutton", @value = "Excel", @text = "Excel", @id = "radiobuttonU" })<span class="replyspan">Upload File</span>
                                    </td>
                                    <td class="Validate"></td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Owner Name")</td>
                                    <td> @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 40)", @id = "txtOwnerName" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.OwnerName) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Contact Person")@Html.Label("*", new { style = "color: red" })</td>
                                    <td> @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 40)", @id = "txtContactPerson" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.ContactPerson) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                @Html.HiddenFor(m=>m.IsActive)
                                <tr>
                                    <td>@Html.Label("Contact Number")</td>
                                    <td>@Html.TextBoxFor(model => model.Contact, new { @class = "form-control", onkeyup = "AllowNumbers(this, 20)", @id = "txtContact" }) </td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.Contact) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Email")@Html.Label("*", new { style = "color: red" })</td>
                                    <td> @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", @id = "txtEmailAddress" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.EmailAddress) </td>
                                </tr>
                              
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Sage Account")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.SageAccount, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtSageAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.SageAccount)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Bank Name")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.BankName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtBankAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.BankName)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Account Name")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtAccountName" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.AccountName)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("BSB")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.BSB, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtBSB" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.BSB)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Account")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Account, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.Account)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Country")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>
                                        @Html.DropDownListFor(m => m.Country, new SelectList(Model.CountryList, "CountryCodesID", "Title", Model.Country), new { @class = "form-control", @id = "txtCountry" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.Country)
                                    </td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("State")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.State, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 35)", @id = "txtState" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.City)
                                    </td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("City")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.City, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 35)", @id = "txtCity" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.City)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Address")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextAreaFor(model => model.Address, new { @class = "form-control", @id = "txtAddress", onkeyup = "LengthOnly(this, 250)" })</td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.Address)</td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Select a File")</td>
                                    <td>

                                        <div class="brouse-wrapper browse-btn-dt"> <input type="file" id="uploadFile" name="uploadFile" accept=".csv" placeholder="Browse a file." value="" class="filestyle" data-icon="false"></div>
                                        <a href="~/Driver/Download?file=CarOwner.csv" target="_blank">Template CSV file</a>
                                    </td>
                                    <td class="Validate"></td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <a href="Index" class="btn1">Cancel</a>  &nbsp;&nbsp;&nbsp;
                                        <input type="submit" class="btnu" value="Create" id="btnsave" onclick=" return validation();" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>

    </div>

</body>

<div class="popup-block popup-ctr" id="simpleConfirm" style="display:none;width:920px;">
    <div class="mgn-B-10"><a href="/CarOwners/Index" id="close"><span class="glyphicon glyphicon-remove float-R" aria-hidden="true"></span></a></div>
    <div class="popup-form-content">
        @if (Model.IsCarOwnerError)
        {
            @Html.Partial("_NotUploadedCarOwners", Model.CarOwnerListViewData);
        }

        <div class="row last_row butons">
            <div class="btnBox btnBox2 float_right btn-ok">
                <input type="button" value="Ok" name="Cancel" class="btn transEffects" id="btnSkip" />
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function active() {
        document.getElementById("coi").className += "activeLi";
        $("#IsActive").val(true);
    }

    
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#txtState').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetStateList?countryId=" + $("#txtCountry").val() + "&mtch=" + $("#txtState").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });
        $('#txtCity').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetCityList?mtch=" + $("#txtCity").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });

    });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
        var value = $('input:radio[name=radiobutton]:checked').val();
        if (value == "Manual") {
            $("#uploadFile").attr("disabled", "disabled");

            $("#txtOwnerName").attr("disabled", false); 
            $("#txtContact").attr("disabled", false);
            $("#txtEmailAddress").attr("disabled", false);
            $("#txtCountry").attr("disabled", false);
            $("#txtState").attr("disabled", false);
            $("#txtCity").attr("disabled", false);
            $("#txtAddress").attr("disabled", false);
            $("#txtContactPerson").attr("disabled", false);
            $("#txtSageAccount").attr("disabled", false);
            $("#txtBankAccount").attr("disabled", false);
            $("#txtAccountName").attr("disabled", false);
            $("#txtBSB").attr("disabled", false);
            $("#txtAccount").attr("disabled", false);

        }
        else if (value == "Excel") {
            $("#txtOwnerName").attr("disabled", "disabled");
            $("#txtContact").attr("disabled", "disabled");
            $("#txtEmailAddress").attr("disabled", "disabled");
            $("#txtCountry").attr("disabled", "disabled");
            $("#txtState").attr("disabled", "disabled");
            $("#txtCity").attr("disabled", "disabled");
            $("#txtAddress").attr("disabled", "disabled");
            $("#txtContactPerson").attr("disabled", "disabled");
            $("#txtSageAccount").attr("disabled", "disabled");
            $("#txtBankAccount").attr("disabled", "disabled");
            $("#txtAccountName").attr("disabled", "disabled");
            $("#txtBSB").attr("disabled", "disabled");
            $("#txtAccount").attr("disabled", "disabled");
            $("#uploadFile").attr("disabled", false);
        }
        else { }

        $("input:radio[name=radiobutton]").click(function () {
            var value = $('input:radio[name=radiobutton]:checked').val();
            if (value == "Manual") {
                $("#uploadFile").attr("disabled", "disabled");

                $("#txtOwnerName").attr("disabled", false);
                $("#txtContact").attr("disabled", false);
                $("#txtEmailAddress").attr("disabled", false);
                $("#txtCountry").attr("disabled", false);
                $("#txtState").attr("disabled", false);
                $("#txtCity").attr("disabled", false);
                $("#txtAddress").attr("disabled", false);
                $("#txtContactPerson").attr("disabled", false);
                $("#txtSageAccount").attr("disabled", false);
                $("#txtBankAccount").attr("disabled", false);
                $("#txtAccountName").attr("disabled", false);
                $("#txtBSB").attr("disabled", false);
                $("#txtAccount").attr("disabled", false);

            }
            else if (value == "Excel") {
                $("#txtOwnerName").attr("disabled", "disabled");
                $("#txtContact").attr("disabled", "disabled");
                $("#txtEmailAddress").attr("disabled", "disabled");
                $("#txtCountry").attr("disabled", "disabled");
                $("#txtState").attr("disabled", "disabled");
                $("#txtCity").attr("disabled", "disabled");
                $("#txtAddress").attr("disabled", "disabled");
                $("#txtContactPerson").attr("disabled", "disabled");
                $("#txtSageAccount").attr("disabled", "disabled");
                $("#txtBankAccount").attr("disabled", "disabled");
                $("#txtAccountName").attr("disabled", "disabled");
                $("#txtBSB").attr("disabled", "disabled");
                $("#txtAccount").attr("disabled", "disabled");
                $("#uploadFile").attr("disabled", false);

            }
            else { }
        });

    });

    function validation() {
        var response = true;
        if ($('#radiobuttonU').is(':checked')) {
            if (!$('#uploadFile').val()) {
                jAlert('Please upload excel file', 'Required Field');
                response = false;
            }
            if ($('#uploadFile').val()) {

                var fileNameExt = $('#uploadFile').val().substr($('#uploadFile').val().lastIndexOf('.') + 1);
                if (fileNameExt != "csv") {
                    jAlert('Invalid file uploaded.Please upload only csv file.', 'Required Field');
                    response = false;
                    return response;
                }

            }
        }
        if (response) {
            Showloader();
        }
        return response;
    }
</script>