﻿@using MTD.Core.DataTransferObjects
@using MTData.Web.ViewData
@model MTData.Web.ViewData.CarOwnerViewData
@{
    ViewBag.Title = "Create Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Car Owners</title>
    <link href="~/css/PopUs.css" rel="stylesheet" />
    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.ui.draggable.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/jquery-1.5.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
    <script src="~/js/bootstrap-filestyle.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .browse-btn-dt {
            width: 280px;
        }

            .browse-btn-dt .bootstrap-filestyle .form-control {
                background-color: #fff;
            }

        .group-span-filestyle.input-group-btn label {
            margin-top: 0;
            font-family: Arial;
            font-size: 13px;
            padding: 7px 7px;
            font-weight: normal !important;
        }

        #ui-id-1 {
            display: none;
            left: 541px;
            top: 375px;
            width: 280px;
            z-index: 9;
        }
    </style>
</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm("Update", "CarOwners", FormMethod.Post, new { enctype = "multipart/form-data", @id = "Form1" }))
                    {
                        @Html.AntiForgeryToken()
                        <div>
                            <h4>Update Car Owner</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:75%">
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width:292px">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: green;font-size: 12px">&nbsp;@ViewBag.Message</p>
                                        }
                                    </td>
                                </tr>
                                
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Owner Name")</td>
                                    <td> @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 40)" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.OwnerName) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Contact Person")@Html.Label("*", new { style = "color: red" })</td>
                                    <td> @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 40)", @id = "txtContactPerson" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.ContactPerson) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                @Html.HiddenFor(m => m.IsActive)
                                @Html.HiddenFor(m => m.Id)
                                <tr>
                                    <td>@Html.Label("Contact Number")</td>
                                    <td>@Html.TextBoxFor(model => model.Contact, new { @class = "form-control", onkeyup = "AllowNumbers(this, 20)" }) </td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.Contact) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Email")@Html.Label("*", new { style = "color: red" })</td>
                                    <td> @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.EmailAddress) </td>
                                </tr>
                                
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Sage Account")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.SageAccount, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtSageAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.SageAccount)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Bank Name")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.BankName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtBankAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.BankName)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Account Name")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtAccountName" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.AccountName)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("BSB")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.BSB, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtBSB" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.BSB)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Account")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Account, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.Account)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Country")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>
                                        @Html.DropDownListFor(m => m.Country, new SelectList(Model.CountryList, "CountryCodesID", "Title", Model.Country), new { @class = "form-control" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.Country)
                                    </td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("State")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.State, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 35)" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.City)
                                    </td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("City")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.City, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 35)" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.City)
                                    </td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Address")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextAreaFor(model => model.Address, new { @class = "form-control", onkeyup = "LengthOnly(this, 250)" })</td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.Address)</td>
                                </tr>
                              
                                
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <a href="Index" class="btn1">Cancel</a>  &nbsp;&nbsp;&nbsp;<input type="submit" class="btnu" value="Update" id="btnsave" onclick=" return validation();" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>

    </div>

</body>
<script type="text/javascript">
    function active() {
        document.getElementById("coi").className += "activeLi";
        $("#IsActive").val(true);
    }

    function validation() {
        Showloader();
        return true;
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#State').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetStateList?countryId=" + $("#Country").val() + "&mtch=" + $("#State").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });
        $('#City').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetCityList?mtch=" + $("#City").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });

    });
</script>