﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.IsFirstLoginViewData
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<head>
    <style type="text/css">
        .change-pass-popup .btnBox {
            width: 125px;
            margin: 15px 10px;
        }
    </style>

    <link href="~/css/PopUs.css" rel="stylesheet" /> 
    <title>Merchant</title>
    <script type="text/javascript">
        function handleClick(cb) {
            var ids = cb.id;
            var state = cb.checked;
            var isConfirm;
            if (state) {
                isConfirm = confirm("Are you sure you want to lock this User?");
            }
            else {
                isConfirm = confirm("Are you sure you want to unlock this User?");
            }
            if (isConfirm) {

                $.ajax({
                    url: "/User/Islocked?id=" + ids + "&status=" + state,
                    type: "POST",
                    traditional: false,
                    success: function (data) {
                        alert('Updated successfully');
                    }
                });
            }
            else {
                if (state) {
                    document.getElementById(ids).checked = false;
                }
                else {
                    document.getElementById(ids).checked = true;
                }
            }
        }
    </script>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                  
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 1)
            {
                Html.RenderAction("_MerchantUsers", "Member");
            }

            @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5)
            {
                Html.RenderAction("_SubAdmin", "Member");
            }
           
        </div>


        <div class="popup-block change-pass-popup" id="simpleConfirm" style="display:none;">
            <div class="popup-form-content msg-heading-txt">
                <h4 class="h4">Do you want to change password?</h4>


                <div class="popup-inner last_row butons">
                    <div class="btnBox btnBox1 float_left">
                        <input type="button" value="Yes" class="btn transEffects yes-btn" id="btnYes" />
                    </div>
                    <div class="btnBox btnBox2 float_right">
                        <input type="button" value="Not Now" name="Cancel" class="btn transEffects yes-btn" id="btnSkip" />
                    </div>
                    <div class="again-txt">
                        <a href="#" class="" id="dontask"> Don't ask me again</a>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>
        <!-- PopUP Close-->
        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">
                    <table style="width:100%">
                        <tr>
                            <td>
                                @Html.HiddenFor(m => m.UserTypeId, new { @id = "loggedUser" })
                                <h4><a href="/SubAdmin/Create">Add New Corporate User</a></h4>
                            </td>
                            <td style="float:right">
                                <form>
                                    <div class="search-box">
                                        <input type="text" name="name" id="name" placeholder="Search : Name" />
                                        <span class="search-icon">
                                            <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                        </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>

                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#StudentTableContainer').jtable({
                                paging: true,
                                pageSize: 15,
                                sorting: true,
                                defaultSorting: 'Name ASC',
                                autoResizeMode: true,
                                actions: {
                                    listAction: '/SubAdmin/SubAdminListByFiter',
                                    deleteAction: '/SubAdmin/DeleteSubAdmin'
                                },
                                fields: {
                                    UserID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    FName: {
                                        title: 'Name',
                                        width: '15%'
                                    },
                                    Email: {
                                        title: 'Email',
                                        width: '18%'

                                    },
                                    Address: {
                                        title: 'Address',
                                        sorting: false,
                                        width: '25%'
                                    },

                                    MerchantListId: {
                                        title: 'Merchants',
                                        sorting: false,
                                        width: '25%'
                                    },
                                    CreatedDate: {
                                        title: 'Date',
                                        type: 'date',
                                        sorting: true,
                                        width: '8%',
                                        displayFormat: 'mm-dd-yy'
                                    },
                                    IsLockedOut: {
                                        title: 'Locked?',
                                        sorting: false,
                                        width: '6%',
                                        display: function (data) {
                                            if (data.record.IsLockedOut) {
                                                return '<input type="Checkbox" id="' + data.record.UserID + '" Value="' + data.record.IsLockedOut + '"Checked="' + data.record.IsLockedOut + '" onclick="handleClick(this);">';
                                            }
                                            return '<input type="Checkbox" id="' + data.record.UserID + '" Value="' + data.record.IsLockedOut + '" onclick="handleClick(this);">';
                                        }
                                    }, 
                                    Logon: {
                                        title: 'Logon',
                                        sorting: false,
                                        width: '8%',
                                        display: function (data) {
                                            return '<a  href="../Merchant/TakeControl?userEmail=' + data.record.Email + '&userId=' + data.record.UserID + '&userType=5' + '"><img src="../images/take-control.png" title="Logon As"/></a>';
                                        }
                                    },
                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '5%',
                                        display: function (data) {
                                            return '<a  href="SubAdmin/Update?UserId=' + data.record.UserID + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';
                                        }
                                    }
                                }
                            });
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#name').val()
                                });
                            });
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    
    $(document).ready(function () {
        var res = ckb = $("#isFirst").is(':checked');
        var userType = $("#UserType").val();
        if (res) {
            var loginBox = "#simpleConfirm";
            $(loginBox).fadeIn(300);
            var popMargTop = ($(loginBox).height() + 24) / 2;
            var popMargLeft = ($(loginBox).width() + 24) / 2;
            $(loginBox).css({
                'margin-top': -popMargTop,
                'margin-left': -popMargLeft
            });
            $('body').append('<div id="mask"></div>');
            $('#mask').fadeIn(300);
        }
        $("#btnYes").click(function () {
            if (userType == "1") {
                window.location.href = '/Profile/ChangePassword';
            }
        });

        $("#btnSkip").click(function () {
            $("#simpleConfirm").hide();
            $('#mask').fadeOut(300);

        });
        $("#dontask").click(function () {
            $("#simpleConfirm").hide();
            $('#mask').fadeOut(300);
            $.ajax({
                type: "POST",
                url: '@Url.Content("/User/ChangeStatus")',
                data: { UserId: $("#UserId").val() },
                success: function (data) {

                },
                error: function () {
                }
            });

        });

    });
</script>
<script type="text/javascript">
    function LockedUser(name) {
        alert(name);
    }

    $(document).ready(function () {
        if ($("#loggedUser").val() == "1") {
            document.getElementById("mmu").className += "activeLi";
        }
        if ($("#loggedUser").val() == "5") {
            document.getElementById("mcu").className += "activeLi";
        }
    });
</script>