﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.UserViewData
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>
        Add New User
    </title>
    <link href="~/Content/bootstrap-3.1.1.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/bootstrap-2.3.2.min.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .right-panel {
            margin-left: 300px;
            width: auto;
            height: 100%;
            min-height: 600px;
        }



        th {
            background-color: #014a81;
        }

        .requiredfields {
            color: red;
        }

        .required {
            color: red;
        }

        #ui-id-1 {
            display: none;
            left: 532px;
            top: 375px;
            width: 280px;
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 1)
            {
                Html.RenderAction("_MerchantUsers", "Member");
            }

            @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5)
            {
                Html.RenderAction("_SubAdmin", "Member");
            }

        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <h4>Update  User</h4>
                        <hr />
                        <table>
                            <tr>
                                <td>&nbsp;</td>
                                <td colspan="2">
                                    @if (ViewBag.ExitUser != null)
                                    {
                                        <p style="color: green;">&nbsp;@ViewBag.ExitUser</p>
                                    }
                                    @if (TempData["ErrorMessage"] != null)
                                    {
                                        <p style="color: red;">&nbsp;@TempData["ErrorMessage"]</p>
                                    }
                                    
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">@Html.Label("First Name")<span class="required">*</span></td>

                                <td width="30%"> @Html.TextBoxFor(model => model.FName, new { @class = "form-control", @id = "FName", @autocomplete = "off", onkeyup = "AllowCharsNumberSpace(this, 30)" })
                                   
                                <td class="requiredfields Validate" width="50%">

                                    @Html.ValidationMessageFor(model => model.FName)
                                    <span class="field-validation-error " style="width: 200px; display: none;" id="valFName"> Please enter first name</span>

                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Last Name")<span class="required">*</span></td>
                                <td>

                                    @Html.TextBoxFor(model => model.LName, new { @class = "form-control", @id = "LName", @autocomplete = "off", onkeyup = "AllowCharsNumberSpace(this, 30)" })
                                </td>
                                <td class="requiredfields Validate">
                                    @Html.ValidationMessageFor(model => model.LName)
                                    <span class="field-validation-error " style="width: 200px; display: none;" id="valLName"> Please enter last name</span>

                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>

                            <tr>
                                <td>@Html.Label("Phone")<span class="required">*</span></td>
                                <td>

                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", id = "phone", @autocomplete = "off", onkeyup = "AllowNumbers(this, 20)" })
                                    @Html.HiddenFor(model => model.Email)
                                    @Html.HiddenFor(model => model.ErrorMessage)
                                    @Html.HiddenFor(m => m.fk_UserTypeID, new { @id = "loggedUser" })
                                </td>
                                <td class="requiredfields Validate">
                                    @Html.ValidationMessageFor(model => model.Phone)
                                    <span class="field-validation-error" style="width: 200px; display: none;" id="valPhone"> Please enter phone number</span>

                                </td>
                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width:200px">@Html.Label("Country")<span class="required">*</span></td>
                                <td>

                                    @Html.DropDownListFor(m => m.fk_Country, new SelectList(Model.CountryList, "CountryCodesID", "Title", Model.fk_Country), new { @class = "form-control" })
                                </td>
                                <td class="requiredfields Validate" style="width:200px">
                                    @Html.ValidationMessageFor(model => model.fk_Country)

                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("State")</td>
                                <td>
                                    @Html.TextBoxFor(model => model.fk_State, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 35)" })
                                </td>
                                <td class="requiredfields Validate">
                                    @Html.ValidationMessageFor(model => model.fk_State)

                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("City")</td>
                                <td>
                                    @Html.TextBoxFor(model => model.fk_City, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 35)" })
                                </td>
                                <td class="requiredfields Validate">
                                    @Html.ValidationMessageFor(model => model.fk_City)

                                </td>
                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Address")<span class="required">*</span></td>
                                <td>

                                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", id = "address", onkeyup = "LengthOnly(this, 250)" })

                                </td>
                                <td class="requiredfields Validate">
                                    @Html.ValidationMessageFor(model => model.Address)

                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>



                            <tr style="width:90%;" id="fleet">
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr id="fleetRow" style="position: relative;">
                                <td>
                                    <label>Choose Merchant </label><span class="required">*</span>

                                </td>
                                <td>
                                    <select id="chkveg" multiple="multiple">

                                        @foreach (var item in Model.MerchantList)
                                        {

                                            if (Model.UserMerchantList != null)
                                            {
                                                if (!string.IsNullOrEmpty(Model.MerchantListId))
                                                {
                                                    if (Model.MerchantListId.Split(',').Select(x => Convert.ToInt32(x)).Contains(item.MerchantID))
                                                    {
                                                        <option value="@item.MerchantID" selected="selected">@item.Company </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.MerchantID">@item.Company </option>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <option value="@item.MerchantID">@item.Company </option>
                                            }

                                        }

                                    </select>

                                </td>
                                <td class="requiredfields fleet-validation">
                                    @Html.ValidationMessageFor(model => model.MerchantListId)
                                    @Html.HiddenFor(model => model.fleetListId, new { @id = "fleetVal" })
                                    @Html.HiddenFor(model => model.MerchantListId, new { @id = "merchantVal" })
                                    <input type="hidden" id="fleetListID" />
                                    
                                </td>

                            </tr>


                            <tr><td colspan="3" class="space"></td></tr>
                            <tr id="fleetRow" style="position: relative;">
                                <td>
                                    <label>Choose Fleet </label><span class="required">*</span>

                                </td>
                                <td>
                                    <select id="chkFleet" multiple="multiple">
                                        @foreach (var itemFleetList in Model.fleetlist)
                                        {

                                            if (Model.userFleetList != null)
                                            {
                                                if (!string.IsNullOrEmpty(Model.fleetListId))
                                                {
                                                    if (Model.fleetListId.Split(',').Select(x => Convert.ToInt32(x)).Contains(itemFleetList.FleetID))
                                                    {
                                                        <option value="@itemFleetList.FleetID" selected="selected">@itemFleetList.FleetName </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@itemFleetList.FleetID">@itemFleetList.FleetName </option>
                                                    }
                                                }
                                            }

                                            else
                                            {
                                                <option value="@itemFleetList.FleetID">@itemFleetList.FleetName </option>
                                            }
                                        }


                                    </select>


                                </td>
                                <td class="requiredfields fleet-validation">
                                    @Html.ValidationMessageFor(model => model.fleetListId)
                                    <input type="hidden" id="fleetListID" />
                                </td>

                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>

                            <tr>
                                <td></td>
                                <td>
                                    <a href="~/SubAdmin" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp;
                                    <input type="submit" value="Update" class="btnu" onclick=" return validation();" />
                                </td>
                            </tr>

                        </table>
                    }
                    <script type="text/javascript">

                        $("#chkveg").multiselect({
                            includeSelectAllOption: true
                        });
                        $("#chkFleet").multiselect({
                            includeSelectAllOption: true
                        });


                        function validation() {

                            if ($("#chkveg").val() != null) {
                                var temp = $("#chkveg").val().toString();
                                $("#merchantVal").val(temp);
                            }
                            else {
                                $("#merchantVal").val("-1");
                            }
                            if ($("#chkFleet").val() != null) {
                                var temp = $("#chkFleet").val().toString();
                                $("#fleetVal").val(temp);
                            }
                            else {
                                $("#fleetVal").val("-1");
                            }
                            Showloader();
                            return true;
                        }
                    </script>


                </div>

            </div>
        </div>
       

        <script type="text/javascript">
            $(document).ready(function () {
                $('#fk_State').autocomplete({
                    source: function (request, response) {
                        $.getJSON("/CountryState/GetStateList?countryId=" + $("#fk_Country").val() + "&mtch=" + $("#fk_State").val(), function (data) {
                            response(data);
                        });
                    },
                    minLength: 3,
                    delay: 100
                });
                $('#fk_City').autocomplete({
                    source: function (request, response) {
                        $.getJSON("/CountryState/GetCityList?mtch=" + $("#fk_City").val(), function (data) {
                            response(data);
                        });
                    },
                    minLength: 3,
                    delay: 100
                });

            })
            $('#IsChkMerAdd').change(function () {
                if ($(this).is(":checked")) {
                    $.ajax({
                        type: "POST",
                        url: '/User/GetAddress',
                        success: function (data) {
                            $("#address").val(data.Address);
                            $('#fk_Country').val(data.Country);
                            $("#fk_State").val(data.State);
                            $("#fk_City").val(data.City);

                        },
                        error: function () {
                        },
                    })
                }
                else {
                    $("#address").val("");
                    $("#fk_State").val("");
                    $("#fk_City").val("");
                    $('#fk_Country').val("AU");
                }
            });
        </script>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#chkveg").val() != null) {
            var temp = $("#chkveg").val().toString();
            $("#merchantVal").val(temp);
        }
        if ($("#chkFleet").val() != null) {
            var temp = $("#chkFleet").val().toString();
            $("#fleetVal").val(temp);
        }

       
    });


    $("#chkveg").change(function () {
        $("#chkFleet").multiselect('destroy');

        var merchantListId = $("#chkveg").val();
        $("#merchantVal").val(merchantListId);
        $.ajax({
            url: '/SubAdmin/GetFleet',
            data: { merchantListId: $("#merchantVal").val() },
            type: "POST",
            success: function (result) {
                $('#chkFleet option').each(function (index, option) {
                    $(option).remove();
                });
                $.each(result, function (i, result) {
                    $("#chkFleet").append('<option value="' + result.FleetID + '" selected="selected" >' +
                        result.FleetName + '</option>');
                });
                $("#chkFleet").multiselect({
                    includeSelectAllOption: true
                });
            },
            error: function (ex) {
            }
        });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        var err = parseInt($('ErrorMessage').val());
        if (err == 1) {
            alert('Cant update record! some of the merchants assigned to your users');
        }
        if ($("#loggedUser").val() == "1") {
            document.getElementById("mmu").className += "activeLi";
        }
        if ($("#loggedUser").val() == "5") {
            document.getElementById("mcu").className += "activeLi";
        }
    });
</script>
