﻿.popup-loading-bg {
    display: none;
    width: 318px;
    height: 89px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 9;
    margin: auto;
    text-align: center;
    font-size: 3em;
    position: absolute;
    top: 30%;
     background-image: url(../images/bar.gif);
    background-repeat: no-repeat;
}
#mask {
    display: none;
    background:#000000;
    opacity: 0.4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    
}
