﻿ .row {
           margin: 5px 0px;
       }
       .last_row {
           margin-bottom: 0 !important;
       }
       .btnBox {
           width: 128px;
           margin: 15px 0px;
       }
       .btnBox1 {
           margin-right: 13px;
       }
       .float_left {
           float: left;
       }
       .float_right {
           float: right;
       }
       .btn {
           color: #ffffff;
           display: inline-block;
           width: 100%;
           padding: 6px 0px;
           font-family: 'open_sansregular';
           font-size: 16px;
           font-weight: 400;
           line-height: 1.42857143;
           text-align: center;
           text-transform: capitalize;
           vertical-align: middle;
           cursor: pointer;
           background-image: none;
           border: 1px solid transparent;
           border-radius: 4px;
           background-color: #253746;
       } 

           .btn:hover,
           .btn.active,
           .btn:active {
               color: #253746;
               background-color: #ffffff;
               border: 1px solid #253746;
               text-decoration: none;
               background-image: none;
               outline: 0;
               box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
           }

       .transEffects {
           transition: all 0.4s ease-out;
       }
       #mask {
           display: none;
           background: rgba(244, 251, 255, 0.9);
           position: fixed;
           left: 0;
           top: 0;
           width: 100%;
           height: 100%;
           z-index: 9;
       }
       .popup-block {
           display: none;
           /*border-radius: 8px 8px 8px 8px;
           -moz-border-radius: 8px 8px 8px 8px;
           -webkit-border-radius: 8px 8px 8px 8px;*/
           background: #2D89EF;
           padding:0;
           border: 1px solid #2D89EF;
           left: 50%;
           position: absolute;
           top: 45%;
           width: 318px;;
           max-height: 560px;
           z-index: 10;
           /*box-shadow: 0px 0px 20px #999;
           -moz-box-shadow: 0px 0px 20px #999; 
           -webkit-box-shadow: 0px 0px 20px #999; 
           border-radius: 3px 3px 3px 3px;
           -moz-border-radius: 3px; 
           -webkit-border-radius: 3px;*/ 
       }
.popup-inner {
    background: #FFF none repeat scroll 0% 0%;
    float: left;
    margin: 2px 2px;
    width: 99%;
    padding: 4% 2%;
}
       .popup-form-content {
           width:100%;
           min-height: 100px;
           margin: 0px 0 2px 0;
           overflow: hidden;
           display: block;
       }
       .btnBox1 {
           margin-right: 13px;
       }
         .change-pass-popup .btnBox {
            width: 124px;
         margin: 15px 12px;
        }
.msg-heading-txt h4 {
line-height: 0;
margin: 0px;
background: #2D89EF none repeat scroll 0% 0%;
color: #FFF;
font-size: 12px;
padding: 5px;
font-weight: bold;
padding: 20px 0px 20px 10px;
font-family: "Segoe UI",Helvetica,Verdana;font-size:16px;
        }


.btn.transEffects.yes-btn {
border-radius: 0px ;
background: #D4D4D4 none repeat scroll 0% 0%;
color: #525252 ;
padding: 7px 28px;
width: 120px;
font-weight: bold ;
font-family: arial;
font-size: 13px ;
}

.btn.transEffects.yes-btn:hover, .btn.transEffects.yes-btn:focus {background:#66B3FF; color:#fff; border:0 none;   }
.again-txt {
    width: 94%;
    float: left;
    text-align: right;
    font-weight: bold;
}