@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,700italic);

html, body{ width:100%; height:100%;}
body{ background:url(../images/body-bg.jpg) repeat #e9eaea;}
.float-L{float:left;}
.float-R{float:right;}

/*********************Login********************/

.login-wrapper{ background:url(../images/login-bg.jpg) no-repeat top center; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; width:100%; float:left; height:100%;}
  .logo{  height: 80px;
    margin: 0 auto;
    position: absolute;
    top: -80px;
    width: 450px;}
.login-container{ width:470px; padding:15px 25px; height:360px; background:#013f73; position:relative; left:50%; top:50%; margin-left:-235px; margin-top:-190px; border:2px solid #044e86;}
.login-container h3{ font-size:24px; line-height:0; color:#fff; font-weight:100;}
.login-form-box{ height:260px; padding:10px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; background:#fff; margin-top:40px; background:#e6ecf1;}
.logo-form{padding: 3px 15px 0 12px;}
.logo-form label{ line-height:30px; font-size:18px; font-weight:300; color:#000;}
.logo-form input[type="text"], .logo-form input[type="password"]{ width:375px; background:#f8f8f8; height:40px;}
.btn-login, .btn-login:hover, .btn-login:focus{ padding:6px; font-size:20px; color:#000; width:150px;margin-top:7px;
border:1px solid #ff9314;
background: rgb(254,212,41);
background: -moz-linear-gradient(top, rgba(254,212,41,1) 0%, rgba(252,177,28,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,212,41,1)), color-stop(100%,rgba(252,177,28,1)));
background: -webkit-linear-gradient(top, rgba(254,212,41,1) 0%,rgba(252,177,28,1) 100%);
background: -o-linear-gradient(top, rgba(254,212,41,1) 0%,rgba(252,177,28,1) 100%);
background: -ms-linear-gradient(top, rgba(254,212,41,1) 0%,rgba(252,177,28,1) 100%);
background: linear-gradient(to bottom, rgba(254,212,41,1) 0%,rgba(252,177,28,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed429', endColorstr='#fcb11c',GradientType=0 );
}
.txtLink{ line-height:55px;}

/*********************endLogin********************/

/*********************dashboard********************/

#body-wrapper{ background:url(../images/txture-bg.png) repeat; width:100%; height:100%;}
#body-wrapper .header{ height:80px; border-bottom:3px solid #fd9b27; padding-top:13px; 
background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 48%, rgba(207,209,211,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(48%,rgba(244,244,244,1)), color-stop(100%,rgba(207,209,211,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 48%,rgba(207,209,211,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 48%,rgba(207,209,211,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 48%,rgba(207,209,211,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 48%,rgba(207,209,211,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd1d3',GradientType=0 );}
.logo{ margin:0 0 0 40px;}
.logout-bnt{ margin-right:20px;}
.logout-bnt .btn-login{ width:110px; padding:3px 0;}
.container-main{ width:100%; height:100%; display:table;background:url(../images/txture-bg.png) repeat;}
#body-wrapper .left-panel{ width:300px; background:#014a81; height:100%; display:table-cell;}
#body-wrapper .left-panel.collasped .user h3,
#body-wrapper .left-panel.collasped .left-nav li p{ display:none;}
#body-wrapper .right-panel{ margin-left:300px; width:auto; height:100%; display:table-cell; padding-bottom:20px;}
#body-wrapper .left-panel .user{ background:#2d2d2d; height:55px;   line-height:52px; margin:0; font-weight:300; padding:0 10px;}
#body-wrapper .left-panel .user > span{ margin-right:10px;}
#body-wrapper .left-panel .user h3{ line-height:52px; color:#fff; font-size:22px; font-weight:300; margin:0; float:left;}
#cssmenu ul.left-nav{ margin:0; padding:0; color:#fff; font-size:18px; font-weight:300; }
/*#cssmenu ul.left-nav li{ margin:0; padding:10px 20px 5px; }*/
#cssmenu ul.left-nav > li{ position:relative;}
#cssmenu ul.left-nav.shrink > li:hover > ul{ position:absolute; display:block; left:100%; z-index:22; top:0; background:#fff; width:250px;}
#cssmenu ul.left-nav li p{ color:#fff;}
#cssmenu ul.left-nav li:hover{ background:#fff; }
#cssmenu ul.left-nav li:hover p{ color:#000;}
#cssmenu ul.left-nav li span.icons{ width:28px; height:30px; display:inline-block; background: url(../images/icons.png) no-repeat;}
#cssmenu ul.left-nav li.activeLi{background:#efefef;}
#cssmenu ul.left-nav li.activeLi p{ color:#000;}

#cssmenu ul.left-nav li.activeLi span.manage-marchant{ background-position:-33px 0; }
#cssmenu ul.left-nav li.activeLi span.manage-admin{background-position:-33px -35px;}
#cssmenu ul.left-nav li.activeLi span.profile-settings{ background-position:-33px -67px; }
#cssmenu ul.left-nav li.activeLi span.manage-reports{ background-position:-33px -105px;}
#cssmenu ul.left-nav li.activeLi span.schedule-reports{ background-position:-33px -140px;}
#cssmenu ul.left-nav li.activeLi span.fee-deduction{ background-position:-34px -172px;}
#cssmenu ul.left-nav li.activeLi span.manage-surcharge{ background-position:-33px -210px;}
#cssmenu ul.left-nav li.activeLi span.manage-payment{ background-position:-33px -244px;}

#cssmenu ul.left-nav li span.manage-marchant{ background-position:-5px 0;}
#cssmenu ul.left-nav li span.manage-admin{ background-position:-5px -35px;}
#cssmenu ul.left-nav li span.profile-settings{ background-position:-5px -67px; }
#cssmenu ul.left-nav li span.reports{ background-position:-5px -105px;}
#cssmenu ul.left-nav li span.manage-receipt{ background-position:-5px -339px;}
#cssmenu ul.left-nav li span.management-payment{ background-position:-5px -372px;}
#cssmenu ul.left-nav li span.manual_transaction{ background-position:-5px -173px;}
#cssmenu ul.left-nav li span.search_transaction{ background-position:-5px -403px;}
#cssmenu ul.left-nav li span.manage_tax{ background-position:-5px -435px;}
#cssmenu ul.left-nav li span.manage_surcharge{ background-position:-5px -473px;}
#cssmenu ul.left-nav li span.manage_fees{ background-position:-5px -512px;}
#cssmenu ul.left-nav li span.tnc{ background-position:-5px -547px;}
#cssmenu ul.left-nav li span.scheduled_report{ background-position:-5px -584px;}
#cssmenu ul.left-nav li span.set_recipient{ background-position:-5px -614px;}
#cssmenu ul.left-nav li span.manage_creditcard{ background-position:-5px -646px;}
#cssmenu ul.left-nav li span.logout{ background-position:-5px -677px;}


/*********Manage Drivers Session*************/
#cssmenu ul.left-nav li span.manage_user{ background-position:-5px -33px;}
#cssmenu ul.left-nav li span.manage_fleets{ background-position:-5px -715px;}
#cssmenu ul.left-nav li span.manage_vehicles{ background-position:-5px -785px;}
#cssmenu ul.left-nav li span.manage_drivers{ background-position:-5px -752px;}
#cssmenu ul.left-nav li span.manage_terminals{ background-position:-5px -811px;}
#cssmenu ul.left-nav li span.manage_merchant_gateway{background-position:-5px -846px;}





#cssmenu ul.left-nav li:hover span.manage-marchant{ background-position:-33px 0; }
#cssmenu ul.left-nav li:hover span.manage-admin{ background-position:-33px -35px;}
#cssmenu ul.left-nav li:hover span.profile-settings{ background-position:-33px -67px; }
#cssmenu ul.left-nav li:hover span.reports{ background-position:-33px -105px; }
#cssmenu ul.left-nav li:hover span.manage-receipt{ background-position:-36px -339px;}
#cssmenu ul.left-nav li:hover span.management-payment{ background-position:-36px -372px;}
#cssmenu ul.left-nav li:hover span.manual_transaction{ background-position:-34px -173px;}
#cssmenu ul.left-nav li:hover span.search_transaction{ background-position:-36px -403px;}
#cssmenu ul.left-nav li:hover span.manage_tax{ background-position:-35px -435px;}
#cssmenu ul.left-nav li:hover span.manage_surcharge{ background-position:-35px -473px;}
#cssmenu ul.left-nav li:hover span.manage_fees{ background-position:-35px -512px;}
#cssmenu ul.left-nav li:hover span.tnc{ background-position:-34px -547px;}
#cssmenu ul.left-nav li:hover span.scheduled_report{ background-position:-36px -584px;}
#cssmenu ul.left-nav li:hover span.set_recipient{ background-position:-36px -614px;}
#cssmenu ul.left-nav li:hover span.manage_creditcard{ background-position:-35px -646px;}
#cssmenu ul.left-nav li:hover span.logout{ background-position:-35px -677px;}

/*********Manage Drivers Session*************/
#cssmenu ul.left-nav li:hover span.manage_user{ background-position:-35px -33px;}
#cssmenu ul.left-nav li:hover span.manage_fleets{ background-position:-35px -715px;}
#cssmenu ul.left-nav li:hover span.manage_vehicles{ background-position:-35px -785px;}
#cssmenu ul.left-nav li:hover span.manage_drivers{ background-position:-35px -752px;}
#cssmenu ul.left-nav li:hover span.manage_terminals{ background-position:-35px -811px;}
#cssmenu ul.left-nav li:hover span.manage_merchant_gateway{ background-position:-35px -846px;}





#cssmenu ul.left-nav li.activeLi span.manage-marchant{ background-position:-33px 0; }
#cssmenu ul.left-nav li.activeLi span.manage-admin{ background-position:-33px -35px;}
#cssmenu ul.left-nav li.activeLi span.profile-settings{ background-position:-33px -67px; }
#cssmenu ul.left-nav li.activeLi span.reports{ background-position:-33px -105px; }
#cssmenu ul.left-nav li.activeLi span.manage-receipt{ background-position:-36px -339px;}
#cssmenu ul.left-nav li.activeLi span.management-payment{ background-position:-36px -372px;}
#cssmenu ul.left-nav li.activeLi span.manual_transaction{ background-position:-34px -173px;}
#cssmenu ul.left-nav li.activeLi span.search_transaction{ background-position:-36px -403px;}
#cssmenu ul.left-nav li.activeLi span.manage_tax{ background-position:-35px -435px;}
#cssmenu ul.left-nav li.activeLi span.manage_surcharge{ background-position:-35px -473px;}
#cssmenu ul.left-nav li.activeLi span.manage_fees{ background-position:-35px -512px;}
#cssmenu ul.left-nav li.activeLi span.tnc{ background-position:-34px -547px;}
#cssmenu ul.left-nav li.activeLi span.scheduled_report{ background-position:-36px -584px;}
#cssmenu ul.left-nav li.activeLi span.set_recipient{ background-position:-36px -614px;}
#cssmenu ul.left-nav li.activeLi span.manage_creditcard{ background-position:-35px -646px;}
#cssmenu ul.left-nav li.activeLi span.logout{ background-position:-35px -677px;}

/*********Manage Drivers Session*************/
#cssmenu ul.left-nav li.activeLi span.manage_user{ background-position:-35px -33px;}
#cssmenu ul.left-nav li.activeLi span.manage_fleets{ background-position:-35px -715px;}
#cssmenu ul.left-nav li.activeLi span.manage_vehicles{ background-position:-35px -785px;}
#cssmenu ul.left-nav li.activeLi span.manage_drivers{ background-position:-35px -752px;}
#cssmenu ul.left-nav li.activeLi span.manage_terminals{ background-position:-35px -811px;}
#cssmenu ul.left-nav li.activeLi span.manage_merchant_gateway{ background-position:-35px -846px;}

ul.left-nav li{ height: auto;padding: 0;}

#cssmenu ul.left-nav.shrink > li > ul {
    background: none repeat scroll 0 0 #fff;
    display: block;
    left: 100%;
    position: absolute;
    top: 0;
    width: 250px;
    z-index: 22;
}
#cssmenu ul.left-nav.shrink > li > ul {
    display:none;
}

#cssmenu ul.left-nav li.activemenu > a p{ color:#000;}

#cssmenu ul.left-nav li p{ padding-left:20px; display:inline-block;}

#cssmenu ul ul a span{ color: #333;}

#cssmenu ul.left-nav li a{ display:block;}
.search-box{ padding:5px;  float:right;border: 1px solid #ccc;}
.search-box input[ type="text"]{ width:220px; border:1px solid #ccc; padding:7px; float:left; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.search-icon{ float:left; margin-left:-32px;}
.search-btn{ width: 33px;height: 33px; background:url(../images/search.png) no-repeat;border: none;}

h4, .h4 {
    font-size: 16px;
}
/******************drop down css start************************/
#cssmenu,
#cssmenu ul,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  /*font-family:sans-serif;*/
  font-size: 13px;
  position: relative;
  display: block;
    padding: 0 0 2px;
	
}
#cssmenu a{padding:10px 20px 5px;} 
#cssmenu li li{padding-left:40px; border-bottom:1px solid #E8E8E8; padding:0 20px 5px; height:45px; line-height:50px; background:#D5DCE2;} 
.has-sub a{  display: block;
    padding: 6px 0 2px;}

/*#cssmenu > ul > li:first-child {

  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}*/
/*#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(images/pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #fff000;
}*/

/*#cssmenu > ul > li:first-child:hover {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}*/

/*#cssmenu > ul > li:hover {
  background: #e84323;
  background: -moz-linear-gradient(#e84323 0%, #c33115 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e84323), color-stop(100%, #c33115));
  background: -webkit-linear-gradient(#e84323 0%, #c33115 100%);
  background: linear-gradient(#e84323 0%, #c33115 100%);
}*/
/*#cssmenu > ul > li > a {
  font-size: 14px;
  display: block;
  background: url(images/pattern.png) top left repeat;
  color: #ffffff;
  border: 1px solid #ba2f14;
  border-top: none;
  text-shadow: 0 -1px 1px #751d0c;
}*/

#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.activemenu {
  border-bottom: none;
  background:#fff;
  color:#000;
}
#cssmenu > ul > li.has-sub > a {
  background: url(../images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub > a:hover {
  background: url(../images/icon_plus1.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.activemenu > a  {
  background: url(../images/icon_minus1.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.activemenu > a:hover  {
  background: url(../images/icon_minus1.png) 96% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
  background: #fff;

/*  border-left: 1px solid #a2a194;*/
   position: relative;
    width: 100%;
	left:0;
    z-index: 999;
}
/*#cssmenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}*/
#cssmenu ul ul a {
  padding: 15px 10px 10px 25px;
  display: block;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
}
#cssmenu ul ul a:before {
  content: ""; /* arrow remove*/
  position: absolute;
  left: 10px;
  color: #003366;
}
#cssmenu ul ul a:hover {
  color: #000;
}

/******************drop down css end************************/

.right-content{ position:relative; padding:0 20px;}

.blk-txt{ color:#000;}
.gray-txt{ color:#989898;}
.blue-txt{ color:#1f85d2;}
.green-txt{ color:#0d8d13;}
.content-sec{ -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; 
background:#fff; -moz-box-shadow: 0 0 7px #999; -webkit-box-shadow: 0 0 7px #999; box-shadow: 0 0 7px #999; border:1px solid #ccc;
width:100%; padding:20px; min-height:800px; }
 
table.custom-style{ border:1px solid #ccc; font-weight:300;}
table.custom-style th{ background:#014a81; color:#fff;}

.left-panel-hgt {
    height:97%!important;
}



/*********************end dashboard********************/

.footer{ height:auto; background:#272727; padding-top:2px;}
.footer p{ color:#fff; line-height:30px; font-size:12x; font-weight:300; text-align:center; margin-bottom:0;}

#cssmenu ul.left-nav li.activemenu span.profile-settings{
  background-position: -33px -67px;
}
#cssmenu ul.left-nav li.activemenu span.reports {
    background-position: -33px -105px;
}

#cssmenu ul.left-nav li.activemenu span.scheduled_report {
    background-position: -36px -584px;
}

.logo-form b {
    line-height:30px;
}

.transaction-grid  {
    height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}

.grid-full  {
    height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #ccc;
}

.pad-T-15 {
    padding-top:15px;
}

.right-panel { vertical-align:top;
}
.right-panel .right-content{ margin-top:20px;
}
/* #Media Queries
================================================== */

@media only screen and (min-width: 1024px) and (max-width:1550px) {
   
}
 
  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}
 
  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {}
 
  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {}
 
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}
 
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {}



   .open > .dropdown-menu {
            display: block;
            height: 200px;
            overflow: scroll;
            overflow-x: hidden;
        }