﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.FleetViewData
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>
        Add New Fleet
    </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        th {
            background-color: #014a81;
        }

        .requiredfields {
            color: red;
            padding-left: 0px;
        }

        .required {
            color: red;
        }

        .aboutDescription {
            height: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    <h4>Create Fleet</h4>
                    <hr />
                    <table style="width:100%">


                        <tr><td style="width:25%;">&nbsp;</td><td class="space"><p style="color: green">  @ViewData["IsExitFleet"]</p></td></tr>

                    </table>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <table style="width:75%;">
                            <tr>
                                <td>@Html.Label("Select Currency")</td>

                                <td> @Html.DropDownListFor(m => m.fK_CurrencyCodeID, new SelectList(Model.currencyList, "CurrencyCodeID", "currency", Model.fK_CurrencyCodeID), new { @class = "form-control" })</td>

                                <td class="requiredfields"></td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width:190px">@Html.Label("Fleet Name")<span class="required">*</span></td>

                                <td style="width:290px"> @Html.TextBoxFor(model => model.FleetName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 40)" })</td>

                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.FleetName)
                                </td>
                            </tr>
                            @*Dispatch Begin*@

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width:190px">@Html.Label("Dispatch FleetID")<span class="required"></span></td>
                                <td style="width:290px"> @Html.TextBoxFor(model => model.DispatchFleetID, new { @class = "form-control", onkeyup = "AllowNumbers(this, 10)" })</td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.DispatchFleetID)
                                </td>
                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width:190px">@Html.Label("Booking Channel")<span class="required"></span></td>
                                <td style="width:290px"> @Html.TextBoxFor(model => model.BookingChannel, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 80)" })</td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.BookingChannel)
                                </td>
                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width:190px">@Html.Label("User Name")<span class="required"></span></td>
                                <td style="width:290px"> @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @autocomplete = "off", onkeyup = "AllowCharsNumberSpace(this, 40)" })</td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </td>
                            </tr>


                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width:190px">@Html.Label("PCode")<span class="required"></span></td>
                                <td style="width:290px"> @Html.PasswordFor(model => model.PCode, new { @class = "form-control", @autocomplete = "new-password", onkeyup = "LengthOnly(this, 30)" })</td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.PCode)
                                </td>
                            </tr>


                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width:190px">@Html.Label("URL")<span class="required"></span></td>
                                <td style="width:290px"> @Html.TextBoxFor(model => model.URL, new { @class = "form-control"  })</td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.URL)
                                </td>
                            </tr>

                            @*Dispatch system End*@
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Pay Type")<span class="required">*</span></td>
                                @Html.HiddenFor(m => m.PayType)

                                <td> <input type="radio" id="paydriver" name="pType" />&nbsp;Pay driver&nbsp;&nbsp; <input type="radio" id="payowner" name="pType" />&nbsp;Pay owner&nbsp;&nbsp;<input type="radio" id="paynetwork" name="pType" value="3" checked="checked" />&nbsp;Pay network </td>

                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.PayType)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>

                            <tr id="fleetFeeTyp">
                                <td>@Html.Label("Fleet Fee Type")<span class="required">*</span></td>
                                <td>
                                    @{
                        var listItem = new List<ListItem>
                                        {
                                            new ListItem
                                            {Text = "Fixed", Value = "1"},
                                            new ListItem {Text = "Percentage", Value = "2"},
                                            new ListItem {Text = "Both", Value = "3"},
                                        };
                                    }
                                    @Html.DropDownListFor(m => m.FleetFeeType, new SelectList(listItem, "Value", "Text"), "--Select Fleet Fee type--", new { @class = "form-control", @id = "ddlTechFeeType" })
                                </td>
                                <td class="Validate"> @Html.ValidationMessageFor(model => model.FleetFeeType) </td>

                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr id="fleetFeediv">
                                <td>@Html.Label("Fleet Fee(Fixed)")<span class="required">*</span></td>

                                <td> @Html.TextBoxFor(model => model.FleetFeeFixed, new { @class = "form-control", @autocomplete = "off", onkeyup = "AllowDecimalNumbers(this, 10)", @id = "txtFleetFee" })</td>

                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.FleetFeeFixed)
                                </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr id="TechPercent">
                                <td>@Html.Label("Fleet Fee(%)", new { @id = "lblFeeTPer" })<span class="required">*</span></td>
                                <td> @Html.TextBoxFor(model => model.FleetFeePer, new { @class = "form-control", onkeyup = "AllowDecimalNumbers(this, 5)" })</td>
                                <td class="Validate"> @Html.ValidationMessageFor(model => model.FleetFeePer) </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr id="TechMaxCap">
                                <td>@Html.Label("Fleet Fee Max Cap", new { @id = "Technology_Fee_MaxCap" })<span class="required">*</span></td>

                                <td> @Html.TextBoxFor(model => model.FleetFeeMaxCap, new { @class = "form-control", onkeyup = "AllowDecimalNumbers(this, 10)" })</td>

                                <td class="Validate"> @Html.ValidationMessageFor(model => model.FleetFeeMaxCap) </td>

                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Fleet Description")<span class="required">*</span></td>
                                <td>

                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control aboutDescription", onkeyup = "LengthOnly(this, 240)" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.Description)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>

                            <tr>
                                <td></td>
                                <td>

                                    <a href="~/Fleet" class="btn1">Cancel</a>  &nbsp;&nbsp;&nbsp;
                                    <input type="submit" value="Create" class="btnu" onclick=" return validation();" />

                                </td>
                            </tr>

                        </table>

                    }

                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">



    function active() {
        document.getElementById("fle").className += "activeLi";
    }
    function validation() {

        Showloader();

    }

</script>

<script type="text/javascript">
    $('input[type=radio][id=paydriver]').change(function () {

        $('#PayType').val("1");
        $("#fleetFeediv").hide();
        $("#txtFleetFee").val('');
        $("#FleetFeePer").val('');
        $("#FleetFeeMaxCap").val('');
        $('#ddlTechFeeType').prop('selectedIndex', 0);
        $("#fleetFeediv").hide();
        $("#TechPercent").hide();
        $("#TechMaxCap").hide();
        $("#fleetFeeTyp").hide();

    });
</script>

<script type="text/javascript">

    $('input[type=radio][id=payowner]').change(function () {

        $('#PayType').val("2");
        $("#fleetFeediv").hide();
        $("#txtFleetFee").val('');
        $("#FleetFeePer").val('');
        $("#FleetFeeMaxCap").val('');
        $('#ddlTechFeeType').prop('selectedIndex', 0);
        $("#fleetFeediv").hide();
        $("#TechPercent").hide();
        $("#TechMaxCap").hide();
        $("#fleetFeeTyp").hide();
    });
</script>

<script type="text/javascript">
    $('input[type=radio][id=paynetwork]').change(function () {

        $('#PayType').val("3");

        $("#fleetFeediv").show();
        $("#TechPercent").show();
        $("#TechMaxCap").show();
        $("#fleetFeeTyp").show();


    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        // $('#txtFleetFee').autoNumeric('init');
        var len = parseInt(@Model.PayType.ToString().Length);
        var FeeTypes = parseInt(@Model.FleetFeeType);
        if (len == 0) {
            $("#paynetwork").attr("Checked", true);
            $("#fleetFeediv").show();
            $('#PayType').val("3");
        }
        if (isNaN(FeeTypes)) {
            $("#fleetFeediv").hide();
            $("#TechPercent").hide();
            $("#TechMaxCap").hide();
        }
        $('#PayType').val(@Model.PayType);

        $("#paynetwork").attr("Checked", true);
        var pTypes = parseInt(@Model.PayType);
        if (pTypes == 1) {
            $("#paydriver").attr("Checked", true);
            $("#fleetFeediv").hide();
            $('#PayType').val("1");
            $("#txtFleetFee").val('');
            $("#FleetFeePer").val('');
            $("#FleetFeeMaxCap").val('');
            $('#ddlTechFeeType').prop('selectedIndex', 0);
            $("#TechPercent").hide();
            $("#TechMaxCap").hide();
            $("#fleetFeeTyp").hide();


        }
        if (pTypes == 2) {
            $("#fleetFeediv").hide();
            $("#payowner").attr("Checked", true);
            $('#PayType').val("2");
            $('#PayType').val("2");
            $("#txtFleetFee").val('');
            $("#FleetFeePer").val('');
            $("#FleetFeeMaxCap").val('');
            $('#ddlTechFeeType').prop('selectedIndex', 0);
            $("#TechPercent").hide();
            $("#TechMaxCap").hide();
            $("#fleetFeeTyp").hide();
        }

        if (pTypes == 3) {
            $("#paynetwork").attr("Checked", true);
            //$("#fleetFeediv").show();
            $('#PayType').val("3");
        }
        if (FeeTypes == 1) {
            $("#fleetFeediv").show();
            $("#TechPercent").hide();
            $("#TechMaxCap").hide();
        }

        if (FeeTypes == 2) {
            $("#TechPercent").show();
            $("#TechMaxCap").show();
            $("#fleetFeediv").hide();
        }

        if (FeeTypes == 3) {
            $("#fleetFeediv").show();
            $("#TechPercent").show();
            $("#TechMaxCap").show();
        }
        $("input[name=someRadioGroup]:radio").change(function () {
        });
        //$('#FleetFeeFixed').autoNumeric('init');
        //$('#FleetFeePer').autoNumeric('init');
        //$('#FleetFeeMaxCap').autoNumeric('init');
    });
</script>

<script type="text/javascript">
    $('#ddlTechFeeType').change(function () {
        var val = $(this).val();
        if (val == 3) {
            $("#fleetFeediv").show();
            $("#TechPercent").show();
            $("#TechMaxCap").show();
        }

        if (val == 2) {
            $("#fleetFeediv").hide();
            $("#TechPercent").show();
            $("#TechMaxCap").show();
            $("#txtFleetFee").val('');

        }
        if (val == 1) {
            $("#fleetFeediv").show();
            $("#TechPercent").hide();
            $("#TechMaxCap").hide();
            $("#FleetFeePer").val('');
            $("#FleetFeeMaxCap").val('');
        }
        if (val == "") {
            $("#fleetFeediv").hide();
            $("#TechPercent").hide();
            $("#TechMaxCap").hide();
            //$('#PayType').val("0");
        }
    });
</script>

@*<script type="text/javascript">
    function CalculateFleetFixed(obj, tLength) {
        $(obj).val($(obj).val().slice(0, tLength));
        var fixed=$('#txtFleetFee').val().replace(",",'');
        $('#FleetFeeFixed').val(fixed);
    }
    function CalculateFleetPer(obj, tLength) {
        $(obj).val($(obj).val().slice(0, tLength));
        var fixedPer = $('#FleetFeePer').val().replace(",", '');
        $('#FleetFeePer').val(fixedPer);
    }
    function CalculateFleetMax(obj, tLength) {
        $(obj).val($(obj).val().slice(0, tLength));
        var fixedMax = $('#FleetFeeMaxCap').val().replace(",", '');
        $('#FleetFeeMaxCap').val(fixedMax);
    }
    </script>*@
