﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.FleetViewData

@{
    ViewBag.Title = "FDMerchant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Add New Merchant</title>
    <link href="~/Content/bootstrap-3.1.1.min.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/bootstrap-2.3.2.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }

        .validation {
            position: absolute;
            left: 533px;
        }

        .Validate {
            left: 533px;
            position: absolute;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_Manage", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()



                        @Html.ValidationSummary(true)
                        <h4>Add Fleet Fee</h4>
                        <hr />
                        <table style="width:85%;">
                            <tr>
                                <td style="width:200px">&nbsp;</td>
                                <td style="width:455px">
                                    @if (ViewBag.Message != null)
                                    {
                                        <p style="color: green;font-size: 12px">&nbsp;@ViewBag.Message</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>@Html.Label("Fleet Name")<span class="required">*</span></td>

                                <td>
                                    @Html.DropDownListFor(model => model.FleetID, new SelectList(Model.fleetlist, "FleetID", "FleetName", Model.FleetID), "--Please Select a Fleet--", new { @class = "form-control" })
                                    @Html.HiddenFor(model => model.FleetID, new { @id = "FleetID" })
                                </td>

                                <td class="validation" style="width:160px">
                                    @Html.ValidationMessageFor(model => model.FleetID)
                                    <span class="field-validation-error" style="width: 200px; display: none;" id="fleet"> Please select fleet</span>
                                </td>
                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Fleet Fee(Fixed)")<span class="required">*</span></td>

                                <td> @Html.TextBoxFor(model => model.FleetFee, new { @class = "form-control", @autocomplete = "off", onkeyup = "AllowDecimalNumbers(this, 6)", @id = "txtFleetFee" })</td>

                                <td class="validation" style="width: 180px">
                                    @Html.ValidationMessageFor(model => model.FleetFee)
                                    <span class="field-validation-error" style="width: 200px; display: none;" id="fleetfee"> Please enter fleet fee</span>
                                </td>
                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="FleetFeeIndex" class="btn1">Cancel</a>
                                    <input type="submit" name="BtnCancel" value="Save" class="btnu" onclick=" return validation();" /> &nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                        </table>
                        <div class="col-md-offset-2 col-md-10">
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    function active() {
        document.getElementById("mnglink").className += " activeLi" + " activemenu";
    }

    var myselect;
    function validation() {
        var response = true;
        myselect = document.getElementById("FleetID");
        sel = myselect.options[myselect.selectedIndex].value;
        if (sel == 0) {
            response = false;
            $("#fleet").show();
        }
        else {
            $("#fleet").hide();
        }
        if ($("#txtFleetFee").val().trim().length == 0) {
            response = false;
            $("#fleetfee").show();
        }
        else {
            $("#fleetfee").hide();
        }
        if (response) {
            Showloader();
        }
        return response;
    }

    $(document).ready(function () {
        $('#txtFleetFee').autoNumeric('init');
    });


</script>
