﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.SurchargeViewData
@{
    ViewBag.Title = "Add Surcharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>
       Update Fleet Fee
    </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            left: 530px;
            position: absolute;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_Manage", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Update Fleet Fee</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:85%;">
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width:455px">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: green;font-size: 12px">&nbsp;@ViewBag.Message</p>
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td>@Html.Label("Fleet Name")<span class="required">*</span></td>

                                    <td>
                                        @Html.TextBoxFor(model => model.FleetName, new { @class = "form-control", @autocomplete = "off", @id = "txtFleeName",@readonly=true })
                                        @Html.HiddenFor(model => model.FleetID, new { @id = "FleetID" })
                                        @Html.HiddenFor(model => model.SurID, new { @id = "SurID" })
                                    </td>

                                    <td class="validation" style="width:160px">
                                       
                                    </td>
                                </tr>

                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Fleet Fee(Fixed)")<span class="required">*</span></td>

                                    <td> @Html.TextBoxFor(model => model.FleetFee, new { @class = "form-control", @autocomplete = "off", onkeyup = "AllowDecimalNumbers(this, 6)", @id = "txtFleetFee" })</td>

                                    <td class="Validate" style="width: 180px">
                                        @Html.ValidationMessageFor(model => model.FleetFee)
                                    </td>
                                </tr>

                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="FleetFeeIndex" class="btn1">Cancel</a>
                                        <input type="submit" name="BtnCancel" value="Update" class="btnu" onclick=" return validation();" /> &nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
       
    });
  
    </script>
    <script type="text/javascript">
        function active() {
            document.getElementById("mnglink").className += " activeLi" + " activemenu";
        }
    function validation() {
        Showloader();

    }
    $(document).ready(function () {
        $('#txtFleetFee').autoNumeric('init');
    });
</script>


