﻿@using MTD.Core.DataTransferObjects
<!DOCTYPE html>

<head>
    <title>
        Manage Surcharge / Fee
    </title>
    <script src="~/js/custom.js"></script>
</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_Manage", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">

                    <table style="width:100%">
                        <tr>
                            <td><h4><a href="FleetFee">Add New Fleet Fee</a></h4></td>
                            <td style="float:right">
                                <form>
                                    <div class="search-box">
                                        <input type="text" value="" name="name" id="name" placeholder="Search : Name">
                                        <span class="search-icon">
                                            <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                        </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">

                        $(document).ready(function () {

                            $('#StudentTableContainer').jtable({
                                // title: 'Payment Gateway',
                                paging: true,
                                pageSize: 10,
                                sorting: true,
                                defaultSorting: 'Name ASC',
                                actions: {
                                    listAction: '/Fleet/FleetFeetListByFilter',
                                    deleteAction: '/Fleet/DeleteFleetFee'
                                },
                                fields: {
                                    SurID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    FleetName: {
                                        title: 'Fleet Name',
                                        width: '20%'
                                    },
                                   
                                    FleetFee: {
                                        title: 'Fleet Fee',
                                        width: '20%',
                                        sorting: false
                                    },

                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '3%',
                                        display: function (data) {
                                            return '<a  href="FleetFeeUPdate?surchargeId=' + data.record.SurID + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';
                                            //return '<a  href="ViewAs/EditFee?feeId=' + data.record.SurID + '"><img src="Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';
                                        }
                                    },
                                }
                            });

                            //Re-load records when user click 'load records' button.
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#name').val(),
                                });
                            });

                            //Load all records when page is first shown
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
        function active() {
            document.getElementById("mnglink").className += " activeLi" + " activemenu";
        var mydate = new Date();
        mydate.setTime(mydate.getTime() - 1);
        document.cookie = "CookieViewAs=; expires=" + mydate.toGMTString();
    }
</script>
