﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.IsFirstLoginViewData
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<head>
    <link href="~/css/PopUs.css" rel="stylesheet" />
    <title>Fleet</title>
    <style type="text/css">
        .change-pass-popup .btnBox {
            width: 125px;
            margin: 15px 10px;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{

                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>

        <!-- PopUP-->

        <div class="popup-block change-pass-popup" id="simpleConfirm" style="display:none;">
            <div class="popup-form-content msg-heading-txt">
                <h4 class="h4">Do you want to change password?</h4>


                <div class="popup-inner last_row butons">
                    <div class="btnBox btnBox1 float_left">
                        <input type="button" value="Yes" class="btn transEffects yes-btn" id="btnYes" />
                    </div>
                    <div class="btnBox btnBox2 float_right">
                        <input type="button" value="Not Now" name="Cancel" class="btn transEffects yes-btn" id="btnSkip" />
                    </div>
                    <div class="again-txt">
                        <a href="#" class="" id="dontask">Don't ask me again</a>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>

        <!-- PopUP Close-->
        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">
                    <table style="width:100%">
                        <tr>
                            <td>
                                @if(Convert.ToInt32(((SessionDto)Session["user"]).SessionUser.LogOnByUserType)!=5)
                                {
                                  <h4><a href="Fleet/Create">Add New Fleet</a></h4>   
                                }
                                <input type="checkbox" id="isFirst" data-val="true" checked="@Model.IsFirstLogin" style="display:none;">
                                <input type="hidden" id="UserType" value="@Model.UserTypeId">
                                <input type="hidden" id="UserId" value="@Model.UserId">
                            </td>
                            <td style="float:right">

                                <form>
                                    <div class="search-box">
                                        <input type="text" value="" name="FName" id="FName" placeholder="Search : Fleet name">
                                        <span class="search-icon">
                                            <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                        </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>

                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">

                        $(document).ready(function () {

                            $('#StudentTableContainer').jtable({
                                // title: 'Payment Gateway',
                                paging: true,
                                pageSize: 15,
                                sorting: true,
                                defaultSorting: 'FleetName ASC',
                                actions: {
                                    listAction: '/Fleet/GetUserFleetListByFilter',
                                    deleteAction: '/Fleet/DeleteFleet',
                                },
                                fields: {
                                    FleetID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    FleetName: {
                                        title: 'Fleet Name',
                                        width: '25%'
                                    },
                                    Description: {
                                        title: 'Fleet Description',
                                        sorting: false,
                                        width: '40%'

                                    },
                                    currencyWithSymbol: {
                                        title: 'Currency',
                                        sorting: false,
                                        width: '20%'

                                    },
                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '5%',
                                        display: function (data) {
                                            return '<a  href="Fleet/Update?fleetId=' + data.record.FleetID + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';
                                        }
                                    },
                                }
                            });

                            //Re-load records when user click 'load records' button.
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#FName').val(),
                                });
                            });
                            //Load all records when page is first shown
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>

<script type="text/javascript">
    function active() {
        document.getElementById("fle").className += "activeLi";
    }
    $(document).ready(function () {
        //$("#simpleConfirm").confirm();
        var res = ckb = $("#isFirst").is(':checked');
        var userType = $("#UserType").val();
        if (res) {
            var loginBox = "#simpleConfirm";
            //Fade in the Popup and add close button
            $(loginBox).fadeIn(300);
            //Set the center alignment padding + border
            var popMargTop = ($(loginBox).height() + 24) / 2;
            var popMargLeft = ($(loginBox).width() + 24) / 2;
            $(loginBox).css({
                'margin-top': -popMargTop,
                'margin-left': -popMargLeft
            });
            // Add the mask to body


            $('body').append('<div id="mask"></div>');
            $('#mask').fadeIn(300);
        }

        $("#btnYes").click(function () {
            window.location.href = '/Profile/ChangePassword';
        });

          $("#btnSkip").click(function () {
                    $("#simpleConfirm").hide();
                    $('#mask').fadeOut(300);

          });

          $("#dontask").click(function () {
              $("#simpleConfirm").hide();
              $('#mask').fadeOut(300);
              $.ajax({
                  type: "POST",
                  url: '@Url.Content("/User/ChangeStatus")',
                  data: { UserId: $("#UserId").val() },
                  success: function (data) {
                     
                  },
                  error: function () {
                  }
              });

          });
    });
</script>

