﻿@using System.Collections;
@using MTD.Core.DataTransferObjects;
@model  MTData.Web.ViewData.ReceiptFormatViewData
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <title>  Manage Default Receipt
    </title>
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        th {
            background-color: #014a81;
            color: #fff;
            height: 40px;
            width: 70px;
        }

        .requiredfields {
            color: red;
        }

        .required {
            color: red;
        }

        td {
            padding-right: 20px;
            height: 40px;
            padding: 5px;
        }

        .insert-Percent {
            background: #FFFFFF url("/images/Percentage-icon.png") no-repeat 4px 4px;
            background-position: right;
            padding-left: 16px;
            height: 35px;
        }

        .pos {
            padding-bottom: 0px;
            padding-top: 10px;
            padding-left: 5px;
        }

        .Sno {
            padding-bottom: 0px;
            padding-top: 10px;
            /*padding-left: 5px;*/
        }

        .grid {
            border: 1px solid gainsboro;
            border-radius: 25px;
            width: 650px;
        }

        .size {
            width: 20px;
            height: 20px;
        }

        .tr {
            border: 1px solid gainsboro;
        }

        .fieldId {
            display: none;
            width: 200px;
        }

        .btnUpdate {
            display: none;
        }

        .btnCancel {
            display: none;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if ((SessionDto)Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_Manage", "Member");
            }

        </div>
    </div>

    <div class="right-panel">
        <div class="right-content">

            <div class="content-sec">
                @using (Html.BeginForm("DefaultReciept", "Reciept", FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()
                    <div class="">
                        <h4>Create Default Receipt</h4>

                        @Html.ValidationSummary(true)
                        <label class="field-validation-error " style="display: none; margin-left: 201px;" id="chkField"> Please select at least one field.</label>
                        <table style="margin-left: 200px;" class="grid ">
                            <tbody>
                                <tr>

                                    <th class="wid3">
                                        S.No
                                    </th>
                                    <th class="wid4">
                                        Field
                                    </th>
                                    <th></th>
                                    <th>Display Text</th>
                                    <th></th>
                                    <th> </th>
                                    <th> </th>
                                    <th style="padding-left: 18px;">
                                        Edit/ Drag
                                    </th>
                                </tr>
                            <tbody>
                        </table>
                        <table style="margin-left: 200px;" id="sortable" class="grid ">
                            <tbody>
                                <tr></tr>
                                @{int count = 0;}
                                @foreach (var item in Model.recceiptMaster)
                                {

                                    <tr class="tr">
                                        <td>
                                            <p class="Sno pos"> Sr.No</p>
                                        </td>
                                        <td class="pos">
                                            <input type="checkbox" value="true" name="recceiptMaster[@count].IsShow" id="@item.IsShow" data-val="true" checked="@item.IsShow" class="chkfleet up">
                                            &nbsp;&nbsp; <label> @item.FieldName</label>
                                            <input type="hidden" name="recceiptMaster[@count].FieldID" value="@item.FieldID" />
                                            <input type="hidden" value="@item.FieldName:@item.FieldID" name="RecieptCol" class="hidfieldVal" />
                                        </td>
                                        <td class="pos" style="width: 400px;padding-left:60px;">
                                            <input type="hidden" name="recceiptMaster[@count].Position" value="@item.Position" class="fVal" />
                                            <p class="fieldVal">@item.FieldName</p>
                                            <input type="text" class="fieldId" name="recceiptMaster[@count].FieldName" value="@item.FieldName" />
                                            <input type="button" value="Update" class="btnUpdate" />
                                            <input type="button" value="Cancel" class="btnCancel" />

                                        </td>
                                        <td class="pos"> </td>
                                        <td class="pos" align="left">

                                            <a><img src="~/images/gtk-edit.png" class="fieldName" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a><img src="~/images/up .png" class="size" /></a>

                                        </td>

                                    </tr>

                                    count++;
                                }
                            </tbody>
                        </table>
                        <table style="margin-left: 200px;">


                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>&nbsp;</td>

                                <td colspan="3">
                                    <input type="submit" class="btnu  " value="Save" onclick=" return validation();" />
                                </td>
                            </tr>
                        </table>

                    </div>
                }

            </div>

        </div>

    </div>


</body>
<script type="text/javascript">
    function active() {
         document.getElementById("mnglink").className += " activeLi" + " activemenu";
    }
</script>

<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script type="text/javascript">


    $(document).ready(function () {


        $("#isfleet").css("display", "none");
        $(this).closest('tr').find('.fieldId').hide();
        $(".fieldName").click(function () {

            $(this).closest('tr').find('.fieldVal').hide();
            $(this).closest('tr').find('.fieldId').show();
            $(this).closest('tr').find('.btnUpdate').show();
            $(this).closest('tr').find('.btnCancel').show();

        });

        $(".btnCancel").click(function () {

            $(this).closest('tr').find('.fieldVal').show();
            $(this).closest('tr').find('.fieldId').hide();
            $(this).closest('tr').find('.btnUpdate').hide();
            $(this).closest('tr').find('.btnCancel').hide();
            var fieldName = $(this).closest('tr').find('.fieldVal').text();
            $(this).closest('tr').find('.fieldId').val(fieldName);

        });

        $(".btnUpdate").click(function () {
            var item = $(this).closest('tr').find('.fieldId').val();
            var fieldId = $(this).closest('tr').find('.fieldId').attr("id");
            if (item.length == 0) {
                alert('Field can not be empty');
                var fieldName = $(this).closest('tr').find('.fieldVal').text();
                $(this).closest('tr').find('.fieldId').val(fieldName);
                return false;
            }
            else if (item.length >= 50) {
                alert('Field can not be more than 50 characters');
                var fieldName = $(this).closest('tr').find('.fieldVal').text();
                $(this).closest('tr').find('.fieldId').val(fieldName);
                return false;
            }

            else {
                $(this).closest('tr').find('.hfieldVal').val(item);
                $(this).closest('tr').find('.fieldVal').text(item);
                $(this).closest('tr').find('.fieldId').val(item);
            }
            $(this).closest('tr').find('.fieldVal').show();
            $(this).closest('tr').find('.fieldId').hide();
            $(this).closest('tr').find('.btnUpdate').hide();
            $(this).closest('tr').find('.btnCancel').hide();

        });

        $(".size").mousedown(function () {
            var index = $(this).parents('tr:first').index();
            $("#position").val(index);
        });
        $("#sortable tbody").sortable({
            containment: "parent",
            update: function (event, ui) {

                if ($(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked') == true) {
                    $('#sortable tbody tr').each(function () {
                        $(this).children('td:first-child').html($(this).index());
                    });
                    $('#sortable tbody tr').each(function () {
                        if ($(this).find('td:nth-child(2)').find(".chkfleet").prop('checked') == false) {
                            $(this).next().find('td:nth-child(2)').find(".chkfleet").prop('checked', false);
                        }

                    });

                    return true;
                }
                else {
                    $(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', true);
                    $('#sortable tbody tr').each(function () {
                        $(this).children('td:first-child').html($(this).index());
                    });
                    var limit = $(ui.item).index();
                    var count = $("#sortable > tbody > tr").length;
                    var row = $(ui.item);
                    if (limit < $("#position").val()) {
                        while (limit != 0) {
                            if ($(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', true)) {
                                if (row.prev().find(".chkfleet").prop('checked') == false) {
                                    row.insertBefore(row.prev());
                                }
                            }

                            limit = limit - 1;
                        }

                    } else {

                        if (limit + 1 == count) {
                            if ($(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', false)) {

                                $(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', false);
                            }
                        }
                        if (limit + 1 < count) {
                            if ($(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', true)) {
                                if (row.next().find(".chkfleet").prop('checked') == false) {
                                    $(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', false);
                                }
                            }
                        }


                    }

                    $('#sortable tbody tr').each(function () {
                        $(this).children('td:first-child').html($(this).index());
                    });

                    return true;

                }
            },

            handle: '.size',
            axis: "y"
        }
        );

        $('#sortable tbody tr').each(function () {
            $(this).children('td:first-child').html($(this).index());
        });
        var leftPanelStatus = true;
        $("#toggle").click(function () {
            if (leftPanelStatus == true) {
                leftPanelStatus = false;
                $('.left-panel').addClass('collasped');
                $('.left-panel').css({ "width": "70px" });
                $('.right-panel').css({ "margin-left": "70px" });

            } else {
                leftPanelStatus = true;

                $('.left-panel').css({ "width": "300px" });
                $('.left-panel').removeClass('collasped');
                $('.right-panel').css({ "margin-left": "300px" });



            }

        });

    });

    $('.up').click(function () {
        var limit = $(this).parents('tr:first').index();

        var row = $(this).parents('tr:first');
        if ($(this).is('.up')) {

            while (limit != 0) {
                if ($(this).prop('checked')) {
                    if (row.prev().find(".chkfleet").prop('checked') == false) {
                        row.insertBefore(row.prev());
                    }
                }

                limit = limit - 1;
            }
            limit = $(this).parents('tr:first').index();
            if ($(this).prop('checked') == false) {
                $('#sortable tbody tr').each(function () {
                    if ($(this).index() > limit) {

                        if ($(this).find('td:nth-child(2)').find(".chkfleet").prop('checked') == false) {
                            row.insertAfter($(this).prev());
                            return false;
                        }
                        else if ($('#sortable tbody tr').length == ($(this).index() + 1)) {
                            row.insertAfter($(this));
                        }

                    }

                });


            }


        }

        $('#sortable tbody tr').each(function () {
            $(this).children('td:first-child').html($(this).index());
        });
    });
    var resFleet;
    function validation() {
        var response = false;
        var a = false;
        $(".chkfleet").each(function (index) {

            if ($(this).prop("checked")) {
                response = true;

            }

        });
        if (!response) {
            $("#chkField").css("display", "block");
            $('html, body').animate({ scrollTop: 0 }, 'slow');
            return false;
        }

        $("#sortable tbody").sortable();
        $('#sortable > tbody  > tr').each(function () {
            var index = $(this).index();
            $(this).find("td:nth-child(3)").find(".fVal").val(index);

        });
        if (response) {
            Showloader();
        }
        return response;
    }

</script>
<script>
   
</script>
