﻿@using MTD.Core.DataTransferObjects

@model IEnumerable<MTData.Web.ViewData.ReceiptMasterViewData>


@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <title>  Reciept    </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="~/Scripts/bootstrap-2.3.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script>
        function OnClickFun(tId) {
            if (confirm("Are you sure you want to delete receipt?")) {
                var url = '@Url.Action("DeleteField", "Reciept")';
                $.get(url, { fieldId: tId }, function (data) {
                    if (data != null) {
                        if (data) {
                            alert('This field can not be deleted as it is in use.');
                        }
                        else {
                            window.location.reload();
                        }

                    }
                });
            }
        }

    </script>
    </head>
    <html>
    <head>

        <meta name="viewport" content="width=device-width" />
        <title>ReceiptFormat</title>
        <style type="text/css">
            th {
                background-color: #014a81;
                color: #fff;
                height: 40px;
                width: 70px;
            }

            .requiredfields {
                color: red;
            }

            .required {
                color: red;
            }

            td {
                padding-right: 20px;
                height: 40px;
                padding: 15px;
            }

            .insert-Percent {
                background: #FFFFFF url("/images/Percentage-icon.png") no-repeat 4px 4px;
                background-position: right;
                padding-left: 16px;
                height: 35px;
            }

            .pos {
                padding-bottom: 20px;
                padding-top: 0px;
                padding-left: 5px;
            }

            .Sno {
                padding-left: 4px;
            }

            .grid {
                border: 1px solid gainsboro;
                border-radius: 25px;
                width: 400px;
            }

            .size {
                width: 20px;
                height: 20px;
            }

            .tr {
                border: 1px solid gainsboro;
            }

            .fieldId {
                display: none;
                width: 200px;
            }

            .btnUpdate {
                display: none;
            }

            .btnCancel {
                display: none;
            }
        </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if ((SessionDto)Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_MerchantUsers", "Member");
                }

            </div>
        </div>


        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <h4>Update Receipt</h4>
                        <div class="">

                            <table style="width: 500px; margin-left: 200px;" class="table ">

                                <tr>
                                    <td> <input type="text" placeholder="Add Field " name="FieldName" class="form-control" id="txtAdd"></td>
                                    <td><input type="button" value="Add" class=" btnu " onclick="return addField();" /></td>
                                </tr>
                            </table>

                            <table style="width: 500px; margin-left: 200px;" class="table grid">
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.FieldName)
                                    </th>

                                    <th>
                                        Action
                                    </th>

                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <label class="fieldVal" name="FieldName">@item.FieldName</label>
                                            @Html.TextBoxFor(modelItem => item.FieldName, new { @id = item.FieldID, @class = "fieldId" })
                                            <input type="button" value="Update" class="btnUpdate" />
                                            <input type="button" value="Cancel" class="btnCancel" />
                                            <input type="hidden" value="@item.FieldName:@item.FieldID" name="RecieptCol" class="hidfieldVal" />
                                        </td>
                                        <td>
                                            <a><img src="~/images/gtk-edit.png" class="fieldName" /></a>
                                            <a id="aDelete" onclick="OnClickFun(@item.FieldID)"><img src="~/images/close.png" /></a>
                                        </td>
                                    </tr>
                                }

                            </table>
                            <table style="margin-left: 200px;">
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="3">
                                        <input type="submit" class="btnu  " value="Update" onclick=" return validation();" />&nbsp;&nbsp;&nbsp;<a href="Index" class="btn1">Cancel</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }

                </div>

            </div>
        </div>
        <script type="text/javascript">

            $(document).ready(function () {
                $(this).closest('tr').find('.fieldId').hide();
                $(".fieldName").click(function () {

                    $(this).closest('tr').find('.fieldVal').hide();
                    $(this).closest('tr').find('.fieldId').show();
                    $(this).closest('tr').find('.btnUpdate').show();
                    $(this).closest('tr').find('.btnCancel').show();

                });

                $(".btnCancel").click(function () {

                    $(this).closest('tr').find('.fieldVal').show();
                    $(this).closest('tr').find('.fieldId').hide();
                    $(this).closest('tr').find('.btnUpdate').hide();
                    $(this).closest('tr').find('.btnCancel').hide();
                    var fieldName = $(this).closest('tr').find('.fieldVal').text();
                    $(this).closest('tr').find('.fieldId').val(fieldName);

                });

                $(".btnUpdate").click(function () {
                    var item = $(this).closest('tr').find('.fieldId').val();
                    var fieldId = $(this).closest('tr').find('.fieldId').attr("id");
                    if (item.length == 0) {
                        alert('Field can not be empty');
                        var fieldName = $(this).closest('tr').find('.fieldVal').text();
                        $(this).closest('tr').find('.fieldId').val(fieldName);
                        return false;
                    }
                    else {
                        $(this).closest('tr').find('.hfieldVal').val(item);
                        $(this).closest('tr').find('.fieldVal').text(item);
                        $(this).closest('tr').find('.fieldId').val(item);
                    }
                    $(this).closest('tr').find('.hidfieldVal').val(item + ":" + fieldId);
                    $(this).closest('tr').find('.fieldVal').text(item);
                    $(this).closest('tr').find('.fieldVal').show();
                    $(this).closest('tr').find('.fieldId').hide();
                    $(this).closest('tr').find('.btnUpdate').hide();
                    $(this).closest('tr').find('.btnCancel').hide();

                });
            });

            function addField() {
                field = $("#txtAdd").val();
                if (field.length == 0) {
                    alert('Please enter field');
                    return false;
                }
                $.ajax({
                    url: '/Reciept/AddField',
                    data: { field: field },
                    type: "GET",
                    success: function (result) {
                        window.location.href = '@Url.Content("~/Reciept/ReceiptFormat")';
                    },
                    error: function (ex) {
                        //alert('Failed to retrieve states.' + ex);
                    }
                });
            }
        </script>

    </body>


</html>

<script type="text/javascript">
    function active() {
        document.getElementById("rfmt").className += " activeLi";
    }
</script>
