﻿@using MTData.Web.ViewData;
@using MTD.Core.DataTransferObjects;

@model MTData.Web.ViewData.ReceiptFormatViewData

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <title>Update Receipt    </title>

    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        th {
            background-color: #014a81;
            color: #fff;
            height: 40px;
        }

        .requiredfields {
            color: red;
        }

        .required {
            color: red;
        }

        td {
            padding-right: 20px;
            height: 40px;
            padding: 5px;
        }

        .grid {
            border: 1px solid gainsboro;
            border-radius: 25px;
            width: 650px;
        }

        .pos {
            padding-bottom: 0px;
            padding-top: 10px;
            /*padding-left: 5px;*/
        }

        .size {
            width: 20px;
            height: 20px;
        }

        .tr {
            border: 1px solid gainsboro;
        }

        .fieldId {
            display: none;
            width: 200px;
        }

        .btnUpdate {
            display: none;
        }

        .btnCancel {
            display: none;
        }
        .container-main {
            height: 1425px !important;
        }
    </style>
</head>
@{
    PositionListViewData[] pos = new PositionListViewData[50];
    SortedDictionary<int?, PositionListViewData> Position = new SortedDictionary<int?, PositionListViewData>();
    int temp = 0;
    foreach (var item in Model.fleetReceipt)
    {
        pos[temp] = new PositionListViewData();
        pos[temp].Field = item.fk_FieldText;
        pos[temp].value = item.Postion;
        pos[temp].isChecked = item.IsShow;
        pos[temp].name = "IsShow";
        pos[temp].Pos = "Position";
        pos[temp].fieldId = item.fk_FieldID;
        pos[temp].fleetId = item.fk_FleetID;
        pos[temp].FleetReceiptID = item.FleetReceiptID;
        pos[temp].FieldName = item.FieldName;
        Position.Add(item.Postion, pos[temp]);
    }
}
<body onload=" active() ">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if ((SessionDto)Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_Manage", "Member");
            }

        </div>


        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">
                    @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()
                <h4>Update Receipt</h4>
                <div class="">


                    @Html.ValidationSummary(true)


                    <table>
                        <tr>
                            <td style="width: 200px">&nbsp;</td>
                            <td style="width: 355px">
                                @if (ViewBag.Message != null)
                                    {
                                    <p style="color: green;">&nbsp;@ViewBag.Message</p>
                                    }
                                @Html.HiddenFor(m => m.FleetName, new { @id = "fleetName" })
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 200px; margin-left: 150px;">@Html.Label("Fleet")<span class="required">*</span></td>
                            <td>
                                @*@Html.DropDownListFor(m => m.fk_FleetID, new SelectList(Model.fleetlist, "FleetID", "FleetName", Model.fk_FleetID), "--Please Select a Fleet--", new { @class = "form-control" })
                                    @Html.HiddenFor(m => m.fk_FleetID, new { @id = "FleetID" })*@
                                @*@Html.HiddenFor(m => m.ReceiptID, new { @id = "recID" })*@
                                @Html.HiddenFor(m => m.fk_FleetID, new { @id = "FleetID" })
                                @Html.TextBoxFor(m => m.FleetName, new { @readonly = true, @class = "form-control" })
                            </td>
                            <td class="Validate" style="width: 200px">
                                @Html.ValidationMessageFor(model => model.fk_FleetID)
                                <label class="requiredfields"> @ViewData["IsExistFleet"]</label>
                                <label class="field-validation-error " style="display:none;" id="isfleet"> This fleet has already a receipt.</label>
                                <label class="field-validation-error " style="display:none; " id="chkFleet"> Please select fleet.</label>
                            </td>
                        </tr>
                        <tr><td class="space"></td></tr>

                    </table>
                    <label class="field-validation-error " style="display: none; margin-left: 201px;" id="chkField"> Please select at least one field.</label>
                    <table style="margin-left: 200px;" class="grid ">
                        <tbody>
                            <tr>

                                <th class="wid" style="padding-left:5px;">
                                    S.No
                                </th>
                                <th class="wid1">
                                    Field
                                </th>
                                <th style="padding-left: 20px;" class="wid2">Display Text</th>
                                <th></th>
                                <th></th>
                                <th> </th>
                                <th></th>
                                <th style="padding-left: 18px;">
                                    Edit/ Drag
                                </th>
                            </tr>
                        <tbody>
                    </table>
                    <table style="margin-left: 200px;" id="sortable" class="grid ">
                        <tbody>
                            @{int count = 0;}
                            @foreach (PositionListViewData item in Position.Values)
                                {

                                <tr class="tr">
                                    <td style="padding-left:5px;"> <p class="Sno pos"> Sr.No</p></td>
                                    <td class="pos" style="padding-left:10px;padding-top:0px;">
                                        @*<input type="checkbox" value="true" name="@item.name" id="@item.name" data-val="true" checked="@item.isChecked" class="chkfleet up">*@
                                        <input type="checkbox" value="true" name="fleetReceipt[@count].IsShow" id="@item.name" data-val="true" checked="@item.isChecked" class="chkfleet up">
                                    </td>
                                    <td class="pos" style="padding-left:10px;padding-top:10px;">

                                        <p>@item.FieldName</p> <input type="hidden" name="fleetReceipt[@count].Postion" value="@item.value" class="fVal" />
                                        <input type="hidden" name="fleetReceipt[@count].fk_FieldID" value="@item.fieldId" />
                                        <input type="hidden" name="fleetReceipt[@count].fk_FleetID" value="@item.fleetId" />
                                        <input type="hidden" name="fleetReceipt[@count].FleetReceiptID" value="@item.FleetReceiptID" />
                                    </td>
                                    <td class="pos"> </td>
                                    <td class="pos" style="width:400px;padding-left:25px;">
                                        <p class="fieldVal">@item.Field</p>
                                        @*<input type="text" class="fieldId" name="@item.Field" value="@item.Field" />*@
                                        <input type="text" class="fieldId" name="fleetReceipt[@count].fk_FieldText" value="@item.Field" />
                                        <input type="button" value="Update" class="btnUpdate" />
                                        <input type="button" value="Cancel" class="btnCancel" />

                                    </td>
                                    <td>
                                        <a><img src="~/images/gtk-edit.png" class="fieldName" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><img src="~/images/up .png" class="size" /></a>
                                        <input type="hidden" id="receiptId" value="@item.FleetReceiptID" />
                                    </td>
                                </tr>
                                    count++;

                                }
                        </tbody>
                    </table>

                    <table style="margin-left: 200px;">


                        <tr><td class="space"></td></tr>
                        <tr>
                            <td>&nbsp;</td>

                            <td colspan="3">
                                <a href="~/Reciept" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp;
                                <input type="submit" class="btnu  " value="Update" onclick=" return validation();" />
                            </td>
                        </tr>
                    </table>

                </div>
                }

                </div>

            </div>
        </div>

    </div>
</body>

<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script type="text/javascript">
    function active() {
        document.getElementById("mnglink").className += " activeLi" + " activemenu";
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#isfleet").hide();
        $(this).closest('tr').find('.fieldId').hide();
        $(".fieldName").click(function () {

            $(this).closest('tr').find('.fieldVal').hide();
            $(this).closest('tr').find('.fieldId').show();
            $(this).closest('tr').find('.btnUpdate').show();
            $(this).closest('tr').find('.btnCancel').show();

        });

        $(".btnCancel").click(function () {

            $(this).closest('tr').find('.fieldVal').show();
            $(this).closest('tr').find('.fieldId').hide();
            $(this).closest('tr').find('.btnUpdate').hide();
            $(this).closest('tr').find('.btnCancel').hide();
            var fieldName = $(this).closest('tr').find('.fieldVal').text();
            $(this).closest('tr').find('.fieldId').val(fieldName);

        });

        $(".btnUpdate").click(function () {
            var item = $(this).closest('tr').find('.fieldId').val();
            var fieldId = $(this).closest('tr').find('.fieldId').attr("id");
            if (item.length == 0) {
                alert('Field can not be empty');
                var fieldName = $(this).closest('tr').find('.fieldVal').text();
                $(this).closest('tr').find('.fieldId').val(fieldName);
                return false;
            }
            else if (item.length >= 50) {
                alert('Field can not be more than 50 characters');
                var fieldName = $(this).closest('tr').find('.fieldVal').text();
                $(this).closest('tr').find('.fieldId').val(fieldName);
                return false;
            }

            else {
                $(this).closest('tr').find('.hfieldVal').val(item);
                $(this).closest('tr').find('.fieldVal').text(item);
                $(this).closest('tr').find('.fieldId').val(item);
            }
            $(this).closest('tr').find('.fieldVal').show();
            $(this).closest('tr').find('.fieldId').hide();
            $(this).closest('tr').find('.btnUpdate').hide();
            $(this).closest('tr').find('.btnCancel').hide();

        });


        $("#sortable tbody").sortable({
            containment: "parent",
            update: function (event, ui) {
                if ($(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked') == true) {

                    $('#sortable tbody tr').each(function () {
                        $(this).children('td:first-child').html($(this).index() + 1);
                    });

                    $('#sortable tbody tr').each(function () {
                        if ($(this).find('td:nth-child(2)').find(".chkfleet").prop('checked') == false) {
                            $(this).next().find('td:nth-child(2)').find(".chkfleet").prop('checked', false);
                        }

                    });

                    return true;
                } else {
                    $(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', true);

                    $('#sortable tbody tr').each(function () {
                        $(this).children('td:first-child').html($(this).index() + 1);
                    });
                    var limit = $(ui.item).index();
                    var count = $("#sortable > tbody > tr").length;
                    var row = $(ui.item);
                    if (limit < $("#position").val()) {

                        while (limit != 0) {
                            if ($(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', true)) {
                                if (row.prev().find(".chkfleet").prop('checked') == false) {
                                    row.insertBefore(row.prev());
                                }
                            }

                            limit = limit - 1;
                        }

                    }
                    else {

                        if (limit + 1 == count) {
                            if ($(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', false)) {

                                $(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', false);
                            }
                        }
                        if (limit + 1 < count) {
                            if ($(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', true)) {
                                if (row.next().find(".chkfleet").prop('checked') == false) {
                                    $(ui.item).find('td:nth-child(2)').find(".chkfleet").prop('checked', false);
                                }
                            }
                        }


                    }

                    $('#sortable tbody tr').each(function () {
                        $(this).children('td:first-child').html($(this).index() + 1);
                    });

                    return true;

                }
            },

            handle: '.size',
            axis: "y"
        }
            );
        var Sno = 0;
        $('#sortable > tbody  > tr').each(function () {
            Sno = Sno + 1;
            var index = $(this).index();
            $(this).find("td:nth-child(1)").find(".Sno").text(Sno);
            $(this).find("td:nth-child(3)").find(".fVal").val(index);

        });

        var leftPanelStatus = true;
        $("#toggle").click(function () {
            if (leftPanelStatus == true) {
                leftPanelStatus = false;
                $('.left-panel').addClass('collasped');
                $('.left-panel').css({ "width": "70px" });
                $('.right-panel').css({ "margin-left": "70px" });

            } else {
                leftPanelStatus = true;

                $('.left-panel').css({ "width": "300px" });
                $('.left-panel').removeClass('collasped');
                $('.right-panel').css({ "margin-left": "300px" });

            }

        });

    });

    var limit = "";
    $('.up').click(function () {
        limit = $(this).parents('tr:first').index();

        var row = $(this).parents('tr:first');
        if ($(this).is('.up')) {

            while (limit != 0) {
                if ($(this).prop('checked')) {
                    if (row.prev().find(".chkfleet").prop('checked') == false) {
                        row.insertBefore(row.prev());
                    }
                }

                limit = limit - 1;
            }

            limit = $(this).parents('tr:first').index();
            if ($(this).prop('checked') == false) {

                $('#sortable tbody tr').each(function () {
                    if ($(this).index() > limit) {
                        if ($(this).find('td:nth-child(2)').find(".chkfleet").prop('checked') == false) {
                            row.insertAfter($(this).prev());
                            return false;
                        }
                        else if ($('#sortable tbody tr').length == ($(this).index() + 1)) {
                            row.insertAfter($(this));

                        }
                    }

                });

            }

        }

        $('#sortable tbody tr').each(function () {
            $(this).children('td:first-child').html($(this).index() + 1);
        });
    });

    var resFleet;
    function validation() {

        if ($("#FleetID").val() == 0) {
            $("#chkFleet").css("display", "block");
            $('html, body').animate({ scrollTop: 0 }, 'slow');
            return false;
        }

        if (resFleet) {
            $("#isfleet").show();
            $('html, body').animate({ scrollTop: 0 }, 'slow');
            return false;

        }

        var response = false;
        $(".chkfleet").each(function (index) {

            if ($(this).prop("checked")) {
                response = true;

            }

        });
        if (!response) {
            $("#chkField").css("display", "block");
            $('html, body').animate({ scrollTop: 0 }, 'slow');
            return false;
        }
        $("#sortable tbody").sortable();
        $('#sortable > tbody  > tr').each(function () {

            var index = $(this).index();

            $(this).find("td:nth-child(3)").find(".fVal").val(index + 1);

        });
        if (response) {
            Showloader();
        }
        return response;
    }
    var receiptId;
    function IsFleet(fleetId, receiptId) {
        receiptId = $("#receiptId").val();
        $.ajax({
            url: '/Reciept/IsFleetExistforUpdate',
            data: { fleetId: fleetId, receiptId: receiptId },
            type: "GET",
            success: function (result) {
                if (result) {
                    $("#isfleet").show();
                    resFleet = result;

                }
                else {
                    $("#isfleet").hide();
                    resFleet = result;

                }

            },
            error: function (ex) {
            }
        });

    }

    var fleetId = 0;
    $("#fk_FleetID").change(function () {

        $("#FleetID").val($("#fk_FleetID").val());
        var fleetId = $("#FleetID").val();
        //IsFleet(fleetId);
        $("#isfleet").hide();
        $("#chkFleet").css("display", "none");
        return false;
    });
</script>
