﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.TaxViewData
@{
    ViewBag.Title = "Add Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Tax </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
        }
          td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_MerchantUsers", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="">
                                <h4>Add Merchant Tax</h4>
                                <hr />
                                @Html.ValidationSummary(true)
                                <table>
                                    <tr>
                                        <td style="width:200px">&nbsp;</td>
                                        <td style="width:355px">
                                            @if (ViewBag.Message != null)
                                            {
                                                <p style="color: red;font-size:17px">&nbsp;@ViewBag.Message</p>
                                            }

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.Label("Merchant")<span class="required">*</span></td>
                                        <td>
                                            @Html.DropDownListFor(m => m.MerchantID, new SelectList(Model.MerchantList, "MerchantID", "Company", Model.MerchantID), new { @class = "form-control", @id = "ddlMerchant" })
                                        </td>
                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.MerchantID) </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("State Tax Rate (%)")@Html.Label("*", new { style = "color: red" })</td>
                                        <td>@Html.TextBoxFor(model => model.StateTaxRate, new { @class = "form-control", @id = "txtStateTax" })</td>
                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.StateTaxRate) </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Federal Tax Rate (%)")@Html.Label("*", new { style = "color: red" })</td>
                                        <td>@Html.TextBoxFor(model => model.FederalTaxRate, new { @class = "form-control", @id = "txtFedTax" })</td>
                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.FederalTaxRate) </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr><td class="space"></td></tr>
                                    <tr><td> @Html.Label("Is Tax Inclusive") </td><td> @Html.CheckBoxFor(model => model.IsTaxInclusive)</td>
                                    <tr><td class="space"></td></tr>

                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <input type="submit" class="btnu" value="Create" />&nbsp;&nbsp;&nbsp;<a href="Index" class="btn1">Cancel</a>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        }
                    </div>

                </div>
            </div>

        </div>
    </body>
    <script type="text/javascript">
        $('#ddlMerchant').change(function () {
            $('#txtStateTax').val("");
            $('#txtFedTax').val("");
        });
        $('#txtStateTax').keydown(function (e) {
            var value = $(this).val();
            if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
            if (value.length > 4)
                e.preventDefault();
            if (e.shiftKey || e.ctrlKey || e.altKey) {
                e.preventDefault();
            } else {
                var key = e.keyCode;
                if (!((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 8 || key == 9 || key == 190)) {
                    e.preventDefault();
                }
            }
        });
        $('#txtFedTax').keydown(function (e) {
            var value = $(this).val();
            if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
            if (value.length > 4)
                e.preventDefault();
            if (e.shiftKey || e.ctrlKey || e.altKey) {
                e.preventDefault();
            } else {
                var key = e.keyCode;
                if (!((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 8 || key == 9 || key == 190)) {
                    e.preventDefault();
                }
            }
        });
        $('#txtStateTax').autoNumeric('init');
        $('#txtFedTax').autoNumeric('init');

    </script>

    <script type="text/javascript">
        function active() {
            document.getElementById("tx").className += "activeLi";
        }
    </script>
