﻿@using MTD.Core.DataTransferObjects
@using MTData.Web.ViewData;
@model IEnumerable<TaxViewData>
@{
    ViewBag.Title = "Manage Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
           
 }
  <head>
    <title>  Tax </title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script>

        function OnClickFun(tId) {
            if (confirm("Are you sure want to delete merchant tax?")) {
                var url = '@Url.Action("Delete", "Tax")';
                $.get(url, { merchantId: tId }, function (data) {
                    if (data != null) {
                        window.location.reload();
                    }
                });
            }
        }
    </script>
      </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_MerchantUsers", "Member");
                }
            </div>


            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        <h4> @Html.ActionLink("Add Merchant Tax", "Create", "Tax")</h4>

                        <table width="50%" class="table table-striped table-hover custom-style">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Company)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.StateTaxRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FederalTaxRate)
                                </th>
                                <th colspan="2" style="text-align:center;">Actions</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.StateTaxRate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FederalTaxRate)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Update", new { merchantId = item.MerchantID })"><img src="~/images/gtk-edit.png" /></a>

                                    </td>
                                    <td>
                                        <a id="aDelete" onclick="OnClickFun(@item.MerchantID)"><img src="~/images/close.png" /></a>


                                    </td>
                                </tr>
                            }
                        </table>

                    </div>

                </div>
            </div>

            <!--end content-->



        </div>
    </body>
    <script type="text/javascript">
        function active() {
            document.getElementById("tx").className += "activeLi";
        }
    </script>
