﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.ScheduleReportViewData
@{
    ViewBag.Title = "Reschedule Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>
        Update Schedule Reports
    </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/themes/metroblue/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
         $(document).ready(function () {

            $("#txtDateFrom").datepicker({
                minDate: "0",
                maxDate: "+1Y",
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"


            });
            $("#txtDateTo").datepicker({
                minDate: "0",
                maxDate: "+20Y",
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            });
            var type = parseInt(@Model.Frequency);
            var frequencyType = parseInt(@Model.FrequencyType);
            if (type == 1) {
                $("#ddlType").empty();
                for (var i = 1; i <= 7; i++)
                {
                    $("#ddlType").append("<option value="+i+">"+i+"</option>");
                }
                $("#ddlType").val(frequencyType);
                $("#ddlWeekDay").hide();
                $("#lblWeekDay").hide();
                $("#ddlMonthDay").hide();
                $("#lblMonthDay").hide();
                $("#dayMonthRow").hide();
                $("#validRow").hide();
            }
            if (type == 2) {
                $("#ddlType").empty();
                for (var i = 1; i <= 4; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlType").val(frequencyType);
                $("#ddlMonthDay").hide();
                $("#lblMonthDay").hide();
                $("#validRow").hide();
            }
            if (type == 3) {
                $("#ddlType").empty();
                for (var i = 1; i <= 12; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlType").val(frequencyType);
                $("#ddlWeekDay").hide();
                $("#lblWeekDay").hide();
                $("#validRow").hide();

            }
            var hidden = $("#hidd").val();
            $("#timepicker").val(hidden);
            //$('#timepicker').timepicker();
        });
    </script>
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            left: 535px;
            position: absolute;
        }


        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_SchedularReport", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Reschedule Report</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:70%">

                                <tr>
                                    <td>@Html.Label("Date From")</td>
                                    <td>@Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control", @id = "txtDateFrom" })</td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.DateFrom)
                                    @Html.HiddenFor(model => model.ScheduleID)
                                </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Date To")</td>
                                <td>@Html.TextBoxFor(m => m.DateTo, new { @class = "form-control", @id = "txtDateTo" })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.DateTo) </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Frequency")</td>
                                <td> @Html.DropDownListFor(m => m.Frequency, new SelectList(Model.FrequencyList, "FrequencyId", "Name", Model.Frequency), "--Select Frequency--", new { @class = "form-control", @id = "ddlFrequency" })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.Frequency) </td>
                            </tr>
                            <tr id="dayMonthRow"><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Week Day", new { @id = "lblWeekDay" })</td>
                                <td> @Html.DropDownListFor(m => m.WeekDay, new SelectList(Model.DayList, "DayID", "DayName", Model.WeekDay), "--Select Week Day--", new { @class = "form-control", @id = "ddlWeekDay" })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.WeekDay) </td>
                            </tr>
                            <tr id="validRow"><td class="space"></td></tr>
                            <tr>

                                <td>@Html.Label("Month Day", new { @id = "lblMonthDay" })</td>
                                <td> @Html.DropDownListFor(m => m.MonthDay, new SelectList(Model.MonthDayList, "MonthID", "MonthName", Model.MonthDay), "--Select Month Day--", new { @class = "form-control", @id = "ddlMonthDay" })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.MonthDay) </td>
                            </tr>

                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Frequency Type")</td>
                                <td> @Html.DropDownListFor(m => m.FrequencyType, new SelectList(Model.FrequencyTyeList, "TypeId", "Name", Model.FrequencyType), new { @class = "form-control", @id = "ddlType" })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.FrequencyType) </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Start Time(hh:mm)")</td>

                                <td><input type="time" value="" id="timepicker" class="form-control" style="width:115px" placeholder="hh:mm(24 hrs)" /></td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.StartTime) </td>
                                @Html.HiddenFor(m => m.StartTime, new { @id = "hidd" })
                            </tr>

                            <tr><td class="space"></td></tr>

                            <tr>
                                <td>@Html.Label("Time Zone")</td>
                                <td>  @Html.DropDownListFor(m => m.TimeZone, new SelectList(Model.TimeZones, "TimeZoneName", "TimeZoneName", Model.TimeZone), "--Select time zone--", new { @class = "form-control" })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.TimeZone) </td>

                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="Display" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp;
                                    <input type="submit" class="btnu" id="btnUpdate" value="Reschedule" />
                                </td>
                            </tr>


                        </table>

                    </div>
                    }
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    function active() {
        document.getElementById("schrep").className += " activeLi" + " activemenu";
    }
</script>
<script type="text/javascript">

    $("#btnUpdate").click(function () {
        var value = $("#timepicker").val();
        $("#hidd").val(value);
    })

    $("#ddlFrequency").change(function () {
        if ($(this).val() == 1) {
            $("#ddlType").empty();
            for (var i = 1; i <= 7; i++) {
                $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
            }
            $("#ddlWeekDay").hide();
            $("#lblWeekDay").hide();
            $("#ddlMonthDay").hide();
            $("#lblMonthDay").hide();
            $("#dayMonthRow").hide();
            $("#validRow").hide();

        }
        if ($(this).val() == 2) {
            $("#ddlType").empty();
            for (var i = 1; i <= 4; i++) {
                $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
            }
            $("#ddlWeekDay").show();
            $("#lblWeekDay").show();
            $("#ddlMonthDay").hide();
            $("#lblMonthDay").hide();
            $("#dayMonthRow").show();
            $("#validRow").hide();

        }
        if ($(this).val() == 3) {
            $("#ddlType").empty();
            for (var i = 1; i <= 12; i++) {
                $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
            }
            $("#ddlWeekDay").hide();
            $("#lblWeekDay").hide();
            $("#ddlMonthDay").show();
            $("#lblMonthDay").show();
            $("#dayMonthRow").show();
            $("#validRow").hide();

        }

    });

</script>



