﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.ScheduleReportViewData

@{
    ViewBag.Title = "Schedule Corporate Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System;
<head>

    <title>Schedule Corporate Report</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />

    <script type="text/javascript"> 
        $(function () {
            $("#ddlFrequency").val(0);
            var todayDate = $.datepicker.formatDate('yy/mm/dd', new Date());
            var currDate = new Date();
            var currDay = currDate.getDate();
            var currMonth = currDate.getMonth() + 1;
            var currYear = currDate.getFullYear();

            var ModMonth = currMonth + 1;
            if (ModMonth > 12) {
                ModMonth = 01;
                currYear = currYear + 1;
            }
            ModDateStr = currYear + "/" + ModMonth + "/" + currDay
            currDateStr = currYear + "/" + ModMonth + "/" + currDay;
            $("#txtDateFrom").datepicker({
                minDate: "0",
                maxDate: +365,
                dateFormat: 'yy/mm/dd'
            }).val(todayDate);
            $("#txtDateTo").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: "0",
                maxDate: "+20Y", changeMonth: true, changeYear: true
            }).val(ModDateStr);

            var type = parseInt(@Model.Frequency);
            var frequencyType = parseInt(@Model.FrequencyType);
            if (type == 1) {
                $("#ddlType").empty();
                for (var i = 1; i <= 7; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlType").val(frequencyType);
            }
            if (type == 2) {
                $("#ddlType").empty();
                for (var i = 1; i <= 4; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlType").val(frequencyType);
                //$("#ddlMonthDay").hide();
                //$("#lblMonthDay").hide();
            }
            if (type == 3) {
                $("#ddlType").empty();
                for (var i = 1; i <= 12; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlType").val(frequencyType);
                //$("#ddlWeekDay").hide();
                //$("#lblWeekDay").hide();

            }
            if (type == 0) {
                //$("#ddlWeekDay").hide();
                //$("#lblWeekDay").hide();
                //$("#ddlMonthDay").hide();
                //$("#lblMonthDay").hide();
            }
            var hidden = $("#hidd").val();
            $("#timepicker").val(hidden);
            //$('#timepicker').timepicker();


        });

    </script>


    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            left: 420px;
            position: absolute;
        }


        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }

        .set-schedule-detail-grid-one {
            height: 140px;
        }

        .set-schedule-detail-grid {
            height: 200px;
        }

        .set-schedule-detail-grid, .set-schedule-detail-grid-one {
            overflow: auto;
            margin: 10px 0;
            border: 1px solid #ccc;
            width: 100%;
            border-radius: 4px;
        }

            .set-schedule-detail-grid table tr th, .set-schedule-detail-grid-one table tr th {
                padding: 8px;
                color: #fff;
            }

            .set-schedule-detail-grid table tr td, .set-schedule-detail-grid-one table tr td {
                padding: 0 8px;
                font-weight: normal;
            }

                .set-schedule-detail-grid table tr td label, .set-schedule-detail-grid-one table tr td label {
                    font-weight: normal;
                }

        .size {
            font-style: normal;
        }
    </style>
</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_SubAdmin", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm(new { @id = "Form1" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Schedule Corporate Report</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:99%">

                                <tr>
                                    <td style="width: 33%">
                                        Report Name<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.fk_ReportID) <br />

                                        @Html.DropDownListFor(m => m.fk_ReportID, new SelectList(Model.ReportList, "ReportId", "DisplayName", Model.fk_ReportID), "--Select Report--", new { @class = "form-control", onchange = "Reportset()" })
                                    </td>

                                    <td style="width: 33%">
                                        Date From<span style="color:red">*</span>  &nbsp;@Html.ValidationMessageFor(model => model.DateFrom)<br />
                                        @Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control", @id = "txtDateFrom" })
                                    </td>

                                    <td style="width: 33%">
                                        Date To<span style="color:red">*</span>  &nbsp;@Html.ValidationMessageFor(model => model.DateTo)<br />
                                        @Html.TextBoxFor(m => m.DateTo, new { @class = "form-control", @id = "txtDateTo" })
                                    </td>

                                </tr>

                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>
                                        Frequency of Report<span style="color:red">*</span>  &nbsp; @Html.ValidationMessageFor(model => model.Frequency) <br />
                                        @Html.DropDownListFor(m => m.Frequency, new SelectList(Model.FrequencyList, "FrequencyId", "Name", Model.Frequency), new { @class = "form-control", @id = "ddlFrequency" })
                                    </td>
                                    @if (Model.Frequency == 1)
                                    {
                                        <td id="dayMonthRow">
                                            Week Day<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.WeekDay)<br />
                                            @Html.DropDownListFor(m => m.WeekDay, new SelectList(Model.DayList, "DayID", "DayName", Model.WeekDay), "--Select Week Day--", new { @class = "form-control", @id = "ddlWeekDay", @disabled = "disabled" })
                                        </td>

                                        <td>
                                            Day of the Month<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.MonthDay)<br />
                                            @Html.DropDownListFor(m => m.MonthDay, new SelectList(Model.MonthDayList, "MonthID", "MonthName", Model.MonthDay), "--Select Month Day--", new { @class = "form-control", @id = "ddlMonthDay", @disabled = "disabled" })
                                        </td>
                                    }

                                    @if (Model.Frequency == 2)
                                    {
                                        <td id="dayMonthRow">
                                            Week Day<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.WeekDay)<br />
                                            @Html.DropDownListFor(m => m.WeekDay, new SelectList(Model.DayList, "DayID", "DayName", Model.WeekDay), "--Select Week Day--", new { @class = "form-control", @id = "ddlWeekDay" })
                                        </td>

                                        <td>
                                            Day of the Month<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.MonthDay)<br />
                                            @Html.DropDownListFor(m => m.MonthDay, new SelectList(Model.MonthDayList, "MonthID", "MonthName", Model.MonthDay), "--Select Month Day--", new { @class = "form-control", @id = "ddlMonthDay", @disabled = "disabled" })
                                        </td>
                                    }

                                    @if (Model.Frequency == 3)
                                    {
                                        <td id="dayMonthRow">
                                            Week Day<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.WeekDay)<br />
                                            @Html.DropDownListFor(m => m.WeekDay, new SelectList(Model.DayList, "DayID", "DayName", Model.WeekDay), "--Select Week Day--", new { @class = "form-control", @id = "ddlWeekDay", @disabled = "disabled" })
                                        </td>

                                        <td>
                                            Day of the Month<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.MonthDay)<br />
                                            @Html.DropDownListFor(m => m.MonthDay, new SelectList(Model.MonthDayList, "MonthID", "MonthName", Model.MonthDay), "--Select Month Day--", new { @class = "form-control", @id = "ddlMonthDay" })
                                        </td>
                                    }
                                    @if (Model.Frequency == 0)
                                    {
                                        <td id="dayMonthRow">
                                            Week Day<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.WeekDay)<br />
                                            @Html.DropDownListFor(m => m.WeekDay, new SelectList(Model.DayList, "DayID", "DayName", Model.WeekDay), "--Select Week Day--", new { @class = "form-control", @id = "ddlWeekDay" })
                                        </td>

                                        <td>
                                            Day of the Month<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.MonthDay)<br />
                                            @Html.DropDownListFor(m => m.MonthDay, new SelectList(Model.MonthDayList, "MonthID", "MonthName", Model.MonthDay), "--Select Month Day--", new { @class = "form-control" })
                                        </td>
                                    }


                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>
                                        <label id="lblFrequencyType" style="font-weight:normal">Every Day/Week/ Month</label>&nbsp;@Html.ValidationMessageFor(model => model.FrequencyType)<br />
                                        @Html.DropDownListFor(m => m.FrequencyType, new SelectList(Model.FrequencyTyeList, "TypeId", "Name", Model.FrequencyType), new { @class = "form-control", @id = "ddlType", @disabled = "disabled" })
                                    </td>
                                    <td>
                                        Start Time(hh:mm:ss)<span style="color:red">*</span> &nbsp; @Html.ValidationMessageFor(model => model.StartTime)
                                        <br />

                                        <input type="time" value="" id="timepicker" class="form-control" />
                                    </td>
                                    @Html.HiddenFor(m => m.StartTime, new { @id = "hidd" })

                                    <td>
                                        Time Zone<span style="color:red">*</span> &nbsp; @Html.ValidationMessageFor(model => model.TimeZone)
                                        <br />
                                        @Html.DropDownListFor(m => m.TimeZone, new SelectList(Model.TimeZones, "TimeZoneTime", "TimeZoneName", Model.TimeZone), "--Select time zone--", new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.fk_ReportID)
                                    </td>


                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td colspan="3">


                                        <div class="set-schedule-detail-grid-one">
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td style="width: 355px" colspan="2">
                                                        @if (ViewBag.Message != null)
                                                        {
                                                            <p style="color: green; font-size: 16px">&nbsp;@ViewBag.Message</p>
                                                        }

                                                    </td>
                                                </tr>
                                                <tr><th colspan="2">&nbsp;<input type="checkbox" id="chkAllAdmin" />&nbsp;&nbsp;&nbsp;&nbsp;<b>Select All Corporate Users</b></th></tr>
                                                <tr><td colspan="2"></td></tr>
                                                <tr><td colspan="3"></td></tr>
                                                @{int counter = 0;}
                                                @foreach (var item in Model.MerchantList)
                                                {
                                                    <tr>

                                                        <td style="width: 510px">
                                                            &nbsp;<input type="checkbox" value="true" name="MerchantList[@counter].IsRecipient" id="@item.IsRecipient" data-val="true" checked="@item.IsRecipient" class="chkAdmin">
                                                            <label style="font-size: 14px"> &nbsp;&nbsp;&nbsp;@item.Company</label>
                                                            <input type="hidden" name="MerchantList[@counter].fk_UserID" value="@item.UserID" />
                                                            <input type="hidden" class="reportId" name="MerchantList[@counter].fk_ReportID" value="@Model.fk_ReportID" />
                                                            <input type="hidden" name="MerchantList[@counter].Company" value="@item.Company" />
                                                            <input type="hidden" name="MerchantList[@counter].Email" value="@item.ModifiedBy" />
                                                            @{
                                                    var sessionDto = (SessionDto)Session["User"];
                                                            }
                                                            @if (sessionDto != null)
                                                            {
                                                                var modifiedBy = sessionDto.SessionUser.Email;

                                                                @:<input type="hidden" name="MerchantList[@counter].ModifiedBy" value=@modifiedBy />
                                                                        }

                                                        </td>
                                                        <td style="width: 600px"><span style="font-family: arial; font-size: 14px; color: #003366;">&nbsp; @item.ModifiedBy</span></td>

                                                    </tr>
                                                            counter++;
                                                }

                                            </table>
                                        </div>
                                        
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>

                                <tr>
                                    @*<td></td>*@
                                    <td colspan="3">
                                        <p id="notification" style="display:none;width:750px;color:green"></p>
                                        <input type="hidden" value="" id="htime" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="CorporateReportDisplay" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp; <input type="submit" class="btnu" id="btnUpdate" value="Schedule" onclick=" return validation();" />
                                        <input type="button" class="btnu" id="btnstart" value="" style="display:none;" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    var currentDateTime;
    var ctime;
    var response;
    function validation() {

        $("#btnstart").trigger("click");
        var text = $("#fk_ReportID option:selected").text();
        if (text == "--Select Report--") {
            alert('Please select Report');
            return false;
        }

        if ($("#txtDateFrom").val() == "") {
            alert('Please select Date From');
            return false;
        }
        if ($("#txtDateTo").val() == "") {
            alert('Please select Date To');
            return false;
        }
        if ($("#ddlFrequency").val() == 0) {
            alert('Please select Frequency');
            return false;
        }

        if ($("#ddlFrequency").val() == 2) {
            var freqtext = $("#ddlWeekDay option:selected").text();
            if (freqtext == "--Select Week Day--") {
                alert('Please select day of week');
                return false;
            }
        }
        if ($("#ddlFrequency").val() == 3) {
            var monthtext = $("#ddlMonthDay option:selected").text();
            if (monthtext == "--Select Month Day--") {
                alert('Please select day of month');
                return false;
            }

        }
        var typetext = $("#ddlType option:selected").text();
        if (typetext == "") {
            alert('Please select Frequency Type');
            return false;
        }
        if ($("#hidd").val() == "") {
            alert('Please enter start time');
            return false;
        }
        var zonetext = $("#TimeZone option:selected").text();
        if (zonetext == "--Select time zone--") {
            alert('Please select Time Zone');
            return false;
        }
        if (response) {
            Showloader();
        }
        return response;
    }
    function active() {
        //document.getElementById("schrep").className += " activeLi" + " activemenu";
    }
</script>

<script type="text/javascript">

    $("#btnUpdate").click(function () {
        var value = $("#timepicker").val();
        $("#hidd").val(value);
    });
    $("#btnstart").click(function () {
        var value = $("#timepicker").val();
        $("#hidd").val(value);
    });

    //$("#txtDateFrom,#txtDateTo").change(function () {
    //    alert("change");
    //
    //});


    $(document).ready(function () {
        $("#ddlFrequency").change(function () {
            if ($(this).val() == 1) {
                $("#ddlType").prop('disabled', false);
                $("#lblFrequencyType").text("Every Day");
                $("#ddlType").empty();
                for (var i = 1; i <= 7; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlWeekDay").prop('disabled', true);
                $("#ddlMonthDay").prop('disabled', true);

            }
            else if ($(this).val() == 2) {
                $("#ddlType").prop('disabled', false);
                $("#lblFrequencyType").text("Every Week");
                $("#ddlType").empty();
                for (var i = 1; i <= 4; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlWeekDay").prop('disabled', false);
                $("#ddlMonthDay").prop('disabled', true);

            }
            else if ($(this).val() == 3) {
                $("#ddlType").prop('disabled', false);
                $("#lblFrequencyType").text("Every Month");
                $("#ddlType").empty();
                $("#ddlType").empty();
                for (var i = 1; i <= 12; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlWeekDay").prop('disabled', true);
                $("#ddlMonthDay").prop('disabled', false);
            }
            else {
                $("#ddlType").prop('disabled', true);
                $("#lblFrequencyType").text("Every Day/Week/Month");
            }
        });
    })

</script>

<script type="text/javascript">
    $("#chkAll").change(function () {
        if ($(this).is(':checked')) {
            $("input:checkbox[class=chk]").each(function () {
                $(this).prop('checked', true);
            });
        } else {
            $("input:checkbox[class=chk]").each(function () {
                $(this).prop('checked', false);
            });
        }
    });

    function check() {
        $("#btnstart").trigger("click");
        document.getElementById("notification").innerHTML = "";
        if ($("#ddlFrequency").val() >= 1) {
            if ($("#ddlFrequency").val() == 1) {
                if ($("#ddlType").val() >= 1) {
                    if ($("#txtDateFrom").val() != "" && $("#txtDateTo").val() != "" && $("#TimeZone").val() != "" && $("#hidd").val() != "") {
                        return true;
                    }
                }
            }
            if ($("#ddlFrequency").val() == 2) {
                if ($("#ddlType").val() >= 1 && $("#ddlWeekDay").val() >= 1) {
                    if ($("#txtDateFrom").val() != "" && $("#txtDateTo").val() != "" && $("#TimeZone").val() != "" && $("#hidd").val() != "") {
                        return true;
                    }
                }
            }
            if ($("#ddlFrequency").val() == 3) {
                if ($("#ddlType").val() >= 1 && $("#ddlMonthDay").val() >= 1) {
                    if ($("#txtDateFrom").val() != "" && $("#txtDateTo").val() != "" && $("#TimeZone").val() != "" && $("#hidd").val() != "") {
                        return true;
                    }
                }
            }

        }
        return false;
    }
    function GetNotification() {
        var jqxhr = $.ajax({
            url: '/ScheduleReport/GetNotification',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ schedule: { DateFrom: $("#txtDateFrom").val(), DateTo: $("#txtDateTo").val(), Frequency: $("#ddlFrequency").val(), WeekDay: $("#ddlWeekDay").val(), MonthDay: $("#ddlMonthDay").val(), FrequencyType: $("#ddlType").val(), StartTime: $("#timepicker").val(), TimeZone: $("#TimeZone").val(), WeekName: $("#ddlWeekDay option:selected").text() } }),
            success: function (data) {
                document.getElementById("notification").innerHTML = data;
                $("#notification").show();
                if (data.length < 143) {
                    response = false;
                    e.preventDefault();
                }
                else {
                    response = true;
                }
            },

            error: function (ex) {
            }
        });
    }
    $("#ddlFrequency,#ddlWeekDay,#ddlFrequency,#ddlMonthDay,#ddlType,#TimeZone").change(function () {
        if (check()) {
            GetNotification();
        }
    });

</script>

<script type="text/javascript">
    $("#chkAllAdmin").change(function () {
        if ($(this).is(':checked')) {
            $("input:checkbox[class=chkAdmin]").each(function () {
                $(this).prop('checked', true);
            });
        } else {
            $("input:checkbox[class=chkAdmin]").each(function () {
                $(this).prop('checked', false);
            });
        }
    });

</script>

<script type="text/javascript">
    function Reportset() {
        var myselect = document.getElementById("fk_ReportID");
        var sel = myselect.options[myselect.selectedIndex].value;
        $(".reportId").val(sel);
    }
    $.noConflict();
    $(document).ready(function () {


        document.getElementById("msdr").className += " activeLi" + " activemenu";
        $("#msdrColl").css("display", "block");
        $("#txtDateFrom,#txtDateTo").on('change keyup paste', function () {
            if (check()) {
                GetNotification();
            }
        });
    });


</script>