﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.RecipientViewData
@{
    ViewBag.Title = "Recipient List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Set Merchant Recipient
 </title>
<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/js/custom.js"></script>
<style type="text/css">
    .Validate {
        color: red;
        padding-left: 6px;
        position: absolute;
    }
    td {
        padding-top: .3em;
        padding-bottom: .3em;
    }

    th {
        background-color: #014a81;
    }

    .required {
        color: red;
    }
</style>
    </head>
<body onload="active()">

    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                        @using (Html.BeginForm())
{
                       
    <div style="height: 450px;position:relative;">
                            <h4>Set Recipients</h4>
        <p style="color:black;font-size:16px;font-weight:normal">  &nbsp;Select merchants which you want to make email recipients:</p>

        <div style="max-height:90%;overflow:auto;">
                            @Html.ValidationSummary(true)
    <table style="width:100%;">
                                <tr>
            <td style="width:355px" colspan="2">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: green;font-size:16px">&nbsp;@ViewBag.Message</p>
                                        }

                                    </td>
                                </tr>
        <tr><td>&nbsp;<input type="checkbox" id="chkAll" />&nbsp;&nbsp;&nbsp;&nbsp;<b>Select All</b></td></tr>
        <tr><td colspan="2"></td></tr>
                             @{int count = 0;}
                            @foreach (var item in Model.MerchantList)
                            {
                              <tr>

                    <td style="width:200px">
                        &nbsp;<input type="checkbox" value="true" name="MerchantList[@count].IsRecipient" id="@item.IsRecipient" data-val="true" checked="@item.IsRecipient" class="chk">
                                  <label style="font-size: 14px"> &nbsp;&nbsp;&nbsp;@item.Company</label>
                             <input type="hidden" name="MerchantList[@count].fk_MerchantID" value="@item.fk_MerchantID" />
                                  @{
                                var sessionDto = (SessionDto)Session["User"];
                                  }
                                  @if (sessionDto != null)
                                  {
                                      var modifiedBy = sessionDto.SessionUser.Email;
                           
                                      @:<input type="hidden" name="MerchantList[@count].ModifiedBy" value=@modifiedBy />
                                  }
                                 
                              </td>
                                  <td style="width:600px"><span style="font-family: arial; font-size: 14px; color: #003366;">&nbsp; @item.ModifiedBy</span></td>
                              </tr>
                                  count++;
                            }
           

    

        <tr><td class="space"></td></tr>
        <tr><td class="space"></td></tr>
   
                                <tr><td class="space"></td></tr>
                                <tr><td class="space"></td></tr>
                                </table>
    </div>
                                       
        <input type="submit" class="btnu" id="btnCreate" value="Save" style="margin-top:20px;" />
                                </div>
                
                        }                                                  
                        </div>
                                       
                        </div>
                                       
                        </div>

                        </div>
</body>
                                

  
<script type="text/javascript">
    function active() {
        document.getElementById("schrep").className += " activeLi" + " activemenu";
    }
    </script>
<script type="text/javascript">
    $(function () {
        $("#chkAll").change(function () {
            if ($(this).is(':checked')) {
                $("input:checkbox[class=chk]").each(function () {                   
                    $(this).prop('checked', true);
                });
            } else {
                $("input:checkbox[class=chk]").each(function () {
                    $(this).prop('checked', false);
                });
            }
        });
    });
</script>




