﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.ScheduleReportViewData

@{
    ViewBag.Title = "Reschedule Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System;
<head> 
    <title>Reschedule Corporate Report</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtDateFrom").datepicker({
                minDate: "0",
                maxDate: "+1Y",
                changeMonth: true,
                changeYear: true,
                dateFormat: 'mm-dd-yy'

            });
            $("#txtDateTo").datepicker({
                minDate: "0",
                maxDate: "+20Y",
                changeMonth: true,
                changeYear: true,
                dateFormat: 'mm-dd-yy'
            });
            var type = parseInt(@Model.Frequency);
            var frequencyType = parseInt(@Model.FrequencyType);
            if (type == 1) {
                $("#lblFrequencyType").text("Every Day");
                $("#ddlType").empty();
                for (var i = 1; i <= 7; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlType").val(frequencyType);
                //$("#ddlWeekDay").hide();
                //$("#lblWeekDay").hide();
                //$("#ddlMonthDay").hide();
                //$("#lblMonthDay").hide();
                //$("#dayMonthRow").hide();
                //$("#validRow").hide();
            }
            if (type == 2) {
                $("#lblFrequencyType").text("Every Week");
                $("#ddlType").empty();
                for (var i = 1; i <= 4; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlType").val(frequencyType);
                //$("#ddlMonthDay").hide();
                //$("#lblMonthDay").hide();
                //$("#validRow").hide();
            }
            if (type == 3) {
                $("#lblFrequencyType").text("Every Month");
                $("#ddlType").empty();
                for (var i = 1; i <= 12; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlType").val(frequencyType);
                //$("#ddlWeekDay").hide();
                //$("#lblWeekDay").hide();
                //$("#validRow").hide();
            }
            if (type == 0) {
                //$("#ddlWeekDay").hide();
                //$("#lblWeekDay").hide();
                //$("#ddlMonthDay").hide();
                //$("#lblMonthDay").hide();
            }
            var hidden = $("#hidd").val();
            $("#timepicker").val(hidden);
            //$('#timepicker').timepicker();

        });
    </script>


    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            left: 420px;
            position: absolute;
        }


        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }

        .set-schedule-detail-grid-one {
            height: 140px;
        }

        .set-schedule-detail-grid {
            height: 200px;
        }

        .set-schedule-detail-grid, .set-schedule-detail-grid-one {
            overflow: auto;
            margin: 10px 0;
            border: 1px solid #ccc;
            width: 100%;
            border-radius: 4px;
        }

            .set-schedule-detail-grid table tr th, .set-schedule-detail-grid-one table tr th {
                padding: 8px;
                color: #fff;
            }

            .set-schedule-detail-grid table tr td, .set-schedule-detail-grid-one table tr td {
                padding: 0 8px;
                font-weight: normal;
            }

                .set-schedule-detail-grid table tr td label, .set-schedule-detail-grid-one table tr td label {
                    font-weight: normal;
                }

        .size {
            font-style: normal;
        }
    </style>
</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                var userType = ((SessionDto)Session["User"]).SessionUser.fk_UserTypeID;
            }
            @if (userType == 2 || userType == 3)
            {
                Html.RenderAction("_MerchantUsers", "Member");
            }

            @if (userType == 1)
            {
                Html.RenderAction("_SettingMerchant", "Member");
            }
            @if (userType == 5)
            {
                Html.RenderAction("_SubAdmin", "Member");
            }


        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm(new { @id = "Form1" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Reschedule Corporate Report</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:99%">

                                <tr>
                                    <td style="width: 33%">
                                        Report Name<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.fk_ReportID)<br />
                                        @Html.DropDownListFor(m => m.fk_ReportID, new SelectList(Model.ReportList, "ReportId", "DisplayName", Model.fk_ReportID), "--Select Report--", new { @class = "form-control", disabled = "disabled" })
                                        @Html.HiddenFor(m => m.fk_ReportID)
                                        @Html.HiddenFor(m => m.ScheduleID)
                                        <input type="hidden" value="@userType" id="loggedUser">
                                    </td>

                                    <td style="width: 33%">
                                        Date From<span style="color:red">*</span>  &nbsp;@Html.ValidationMessageFor(model => model.DateFrom)<br />
                                        @Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control", @id = "txtDateFrom" })
                                        @Html.HiddenFor(m => m.DateFrom, new { @id = "hiddFrom" })
                                    </td>

                                    <td style="width: 33%">
                                        Date To<span style="color:red">*</span>  &nbsp;@Html.ValidationMessageFor(model => model.DateTo)<br />
                                        @Html.TextBoxFor(m => m.DateTo, new { @class = "form-control", @id = "txtDateTo" })
                                        @Html.HiddenFor(m => m.DateFrom, new { @id = "hiddTo" })
                                    </td>

                                </tr>

                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>
                                        Frequency of Report<span style="color:red">*</span>  &nbsp; @Html.ValidationMessageFor(model => model.Frequency)<br />
                                        @Html.DropDownListFor(m => m.Frequency, new SelectList(Model.FrequencyList, "FrequencyId", "Name", Model.Frequency), new { @class = "form-control", @id = "ddlFrequency" })
                                    </td>
                                    @if (Model.Frequency == 1)
                                    {
                                        <td id="dayMonthRow">
                                            Week Day<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.WeekDay)<br />
                                            @Html.DropDownListFor(m => m.WeekDay, new SelectList(Model.DayList, "DayID", "DayName", Model.WeekDay), "--Select Week Day--", new { @class = "form-control", @id = "ddlWeekDay", @disabled = "disabled" })
                                        </td>

                                        <td>
                                            Day of the Month<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.MonthDay)<br />
                                            @Html.DropDownListFor(m => m.MonthDay, new SelectList(Model.MonthDayList, "MonthID", "MonthName", Model.MonthDay), "--Select Month Day--", new { @class = "form-control", @id = "ddlMonthDay", @disabled = "disabled" })
                                        </td>
                                    }

                                    @if (Model.Frequency == 2)
                                    {
                                        <td id="dayMonthRow">
                                            Week Day<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.WeekDay)<br />
                                            @Html.DropDownListFor(m => m.WeekDay, new SelectList(Model.DayList, "DayID", "DayName", Model.WeekDay), "--Select Week Day--", new { @class = "form-control", @id = "ddlWeekDay" })
                                        </td>

                                        <td>
                                            Day of the Month<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.MonthDay)<br />
                                            @Html.DropDownListFor(m => m.MonthDay, new SelectList(Model.MonthDayList, "MonthID", "MonthName", Model.MonthDay), "--Select Month Day--", new { @class = "form-control", @id = "ddlMonthDay", @disabled = "disabled" })
                                        </td>
                                    }

                                    @if (Model.Frequency == 3)
                                    {
                                        <td id="dayMonthRow">
                                            Week Day<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.WeekDay)<br />
                                            @Html.DropDownListFor(m => m.WeekDay, new SelectList(Model.DayList, "DayID", "DayName", Model.WeekDay), "--Select Week Day--", new { @class = "form-control", @id = "ddlWeekDay", @disabled = "disabled" })
                                        </td>

                                        <td>
                                            Day of the Month<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.MonthDay)<br />
                                            @Html.DropDownListFor(m => m.MonthDay, new SelectList(Model.MonthDayList, "MonthID", "MonthName", Model.MonthDay), "--Select Month Day--", new { @class = "form-control", @id = "ddlMonthDay" })
                                        </td>
                                    }
                                    @if (Model.Frequency == 0)
                                    {
                                        <td id="dayMonthRow">
                                            Week Day<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.WeekDay)<br />
                                            @Html.DropDownListFor(m => m.WeekDay, new SelectList(Model.DayList, "DayID", "DayName", Model.WeekDay), "--Select Week Day--", new { @class = "form-control", @id = "ddlWeekDay" })
                                        </td>

                                        <td>
                                            Day of the Month<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.MonthDay)<br />
                                            @Html.DropDownListFor(m => m.MonthDay, new SelectList(Model.MonthDayList, "MonthID", "MonthName", Model.MonthDay), "--Select Month Day--", new { @class = "form-control" })
                                        </td>
                                    }


                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>
                                        <label id="lblFrequencyType" style="font-weight:normal">Every Day/Week/ Month</label>&nbsp; @Html.ValidationMessageFor(model => model.FrequencyType)<br />
                                        @Html.DropDownListFor(m => m.FrequencyType, new SelectList(Model.FrequencyTyeList, "TypeId", "Name", Model.FrequencyType), new { @class = "form-control", @id = "ddlType" })
                                    </td>

                                    <td>
                                        Start Time(hh:mm:ss)<span style="color:red">*</span> &nbsp; @Html.ValidationMessageFor(model => model.StartTime)
                                        <br />

                                        <input type="time" value="" id="timepicker" class="form-control" />
                                    </td>
                                    @Html.HiddenFor(m => m.StartTime, new { @id = "hidd" })

                                    <td>
                                        Time Zone<span style="color:red">*</span> &nbsp; @Html.ValidationMessageFor(model => model.TimeZone)
                                        <br />
                                        @Html.DropDownListFor(m => m.TimeZone, new SelectList(Model.TimeZones, "TimeZoneTime", "TimeZoneName", Model.TimeZone), "--Select time zone--", new { @class = "form-control" })
                                    </td>


                                </tr>

                                <tr><td class="space"></td></tr>
                            </table>
                            @if (Model.MerchantList.Count() > 0)
                            {
                                <table style="width:100%;">
                                    <tr><th colspan="2">&nbsp;<input type="checkbox" id="chkAll" />&nbsp;&nbsp;&nbsp;&nbsp;<b style="color:white;">Select All Corporate</b></th></tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="set-schedule-detail-grid" id="list">
                                                <table style="width: 100%;">
                                                    <tr>
                                                        <td style="width: 355px" colspan="2">
                                                            @if (ViewBag.Message != null)
                                                            {
                                                                <p style="color: green; font-size: 16px">&nbsp;@ViewBag.Message</p>
                                                            }

                                                        </td>
                                                    </tr>
                                                    <tr><td colspan="3"></td></tr>
                                                    <tr style='background-color: #F5F5DC;'> <td></td><td class='custom-table-th'><b> Name</b></td> <td class='custom-table-th'> <b>Email</b></td><td></td><td></td></tr>
                                                    @{int count = 0;}
                                                    @foreach (var item in Model.MerchantList)
                                                    {
                                                        <tr>

                                                            <td width="5%">
                                                                <input type="checkbox" value="true" name="MerchantList[@count].IsRecipient" id="@item.IsRecipient" data-val="true" checked="@item.IsRecipient" class="chk">
                                                            </td>
                                                            <td width="30%">  <label style="font-size: 14px"> @item.FName</label></td>
                                                            <td width="65%">
                                                                <label style="font-size: 14px"> &nbsp;&nbsp;&nbsp;@item.Email</label>
                                                                <input type="hidden" name="MerchantList[@count].fk_UserID" value="@item.UserID" />
                                                                <input type="hidden" name="MerchantList[@count].FName" value="@item.FName" />
                                                                <input type="hidden" class="reportId" name="MerchantList[@count].fk_ReportID" value="@Model.fk_ReportID" />
                                                                @*<input type="hidden" name="MerchantList[@count].LName" value="@item.LName" />*@
                                                                <input type="hidden" name="MerchantList[@count].Email" value="@item.Email" />
                                                                @*<input type="hidden" name="MerchantList[@count].fk_MerchantID" value="@item.fk_MerchantID" />*@
                                                                @{
                                                                  var sessionDto = (SessionDto)Session["User"];
                                                                }
                                                                @if (sessionDto != null)
                                                                {
                                                                    var modifiedBy = sessionDto.SessionUser.Email;

                                                                    @:<input type="hidden" name="MerchantList[@count].ModifiedBy" value=@modifiedBy />
                                                 }

                                                            </td>

                                                        </tr>
                                                                count++;
                                                    }

                                                </table>
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            }
                            else
                            {
                                <p style='background-color: #F5F5DC;width:100%;height:20px;font-size:12px;'>No Users available</p>
                            }
                            <table style="width:100%;">
                                <tr><td class="space"></td></tr>

                                <tr>
                                    <td colspan="3">
                                        <p id="notification" style="display:none;width:750px;color:green"></p>
                                        <input type="hidden" value="" id="htime" />
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:320px;"></td>
                                    <td class="space"></td>
                                    <td>
                                        <a href="CorporateReportDisplay" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp; <input type="submit" class="btnu" id="btnUpdate" value="Reschedule" onclick=" return validation();" />
                                        <input type="button" class="btnu" id="btnstart" value="" style="display:none;" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    var currentDateTime;
    var ctime;
    var response = true;
    function validation() {

        $("#btnstart").trigger("click");
        var text = $("#fk_ReportID option:selected").text();
        if (text == "--Select Report--") {
            alert('Please select Report');
            response = false;
            return false;
        }

        if ($("#txtDateFrom").val() == "") {
            alert('Please select Date From');
            response = false;
            return false;
        }
        if ($("#txtDateTo").val() == "") {
            alert('Please select Date To');
            response = false;
            return false;
        }
        if ($("#ddlFrequency").val() == 0) {
            alert('Please select Frequency');
            response = false;
            return false;
        }

        if ($("#ddlFrequency").val() == 2) {
            var freqtext = $("#ddlWeekDay option:selected").text();
            if (freqtext == "--Select Week Day--") {
                alert('Please select day of week');
                response = false;
                return false;
            }
        }
        if ($("#ddlFrequency").val() == 3) {
            var monthtext = $("#ddlMonthDay option:selected").text();
            if (monthtext == "--Select Month Day--") {
                alert('Please select day of month');
                response = false;
                return false;
            }

        }
        var typetext = $("#ddlType option:selected").text();
        if (typetext == "") {
            alert('Please select Frequency Type');
            response = false;
            return false;
        }
        if ($("#hidd").val() == "") {
            alert('Please enter start time');
            response = false;
            return false;
        }
        var zonetext = $("#TimeZone option:selected").text();
        if (zonetext == "--Select time zone--") {
            alert('Please select Time Zone');
            response = false;
            return false;
        }
        if (response) {
            Showloader();
        }
        return response;
    }
    function active() {
        //document.getElementById("schrep").className += " activeLi" + " activemenu";
    }
</script>

<script type="text/javascript">

    $("#btnUpdate").click(function () {
        var value = $("#timepicker").val();
        $("#hidd").val(value);
    });
    $("#btnstart").click(function () {
        var value = $("#timepicker").val();
        $("#hidd").val(value);
    });



    $(document).ready(function () {
        $("#ddlFrequency").change(function () {
            debugger;
            if ($(this).val() == 1) {
                $("#ddlType").prop('disabled', false);
                $("#lblFrequencyType").text("Every Day");
                $("#ddlType").empty();
                for (var i = 1; i <= 7; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlWeekDay").prop('disabled', true);
                $("#ddlMonthDay").prop('disabled', true);

            }
            else if ($(this).val() == 2) {
                $("#ddlType").prop('disabled', false);
                $("#lblFrequencyType").text("Every Week");
                $("#ddlType").empty();
                for (var i = 1; i <= 4; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlWeekDay").prop('disabled', false);
                $("#ddlMonthDay").prop('disabled', true);

            }
            else if ($(this).val() == 3) {
                $("#ddlType").prop('disabled', false);
                $("#lblFrequencyType").text("Every Month");
                $("#ddlType").empty();
                $("#ddlType").empty();
                for (var i = 1; i <= 12; i++) {
                    $("#ddlType").append("<option value=" + i + ">" + i + "</option>");
                }
                $("#ddlWeekDay").prop('disabled', true);
                $("#ddlMonthDay").prop('disabled', false);
            }
            else {
                $("#ddlType").prop('disabled', true);
                $("#lblFrequencyType").text("Every Day/Week/Month");
            }
        });
    })

</script>

<script type="text/javascript">
    $("#chkAll").change(function () {
        if ($(this).is(':checked')) {
            $("input:checkbox[class=chk]").each(function () {
                $(this).prop('checked', true);
            });
        } else {
            $("input:checkbox[class=chk]").each(function () {
                $(this).prop('checked', false);
            });
        }
    });

    function check() {
        $("#btnstart").trigger("click");
        document.getElementById("notification").innerHTML = "";
        if ($("#ddlFrequency").val() >= 1) {
            if ($("#ddlFrequency").val() == 1) {
                if ($("#ddlType").val() >= 1) {
                    if ($("#txtDateFrom").val() != "" && $("#txtDateTo").val() != "" && $("#TimeZone").val() != "" && $("#hidd").val() != "") {
                        return true;
                    }
                }
            }
            if ($("#ddlFrequency").val() == 2) {
                if ($("#ddlType").val() >= 1 && $("#ddlWeekDay").val() >= 1) {
                    if ($("#txtDateFrom").val() != "" && $("#txtDateTo").val() != "" && $("#TimeZone").val() != "" && $("#hidd").val() != "") {
                        return true;
                    }
                }
            }
            if ($("#ddlFrequency").val() == 3) {
                if ($("#ddlType").val() >= 1 && $("#ddlMonthDay").val() >= 1) {
                    if ($("#txtDateFrom").val() != "" && $("#txtDateTo").val() != "" && $("#TimeZone").val() != "" && $("#hidd").val() != "") {
                        return true;
                    }
                }
            }

        }
        return false;
    }
    function GetNotification() {
        var jqxhr = $.ajax({
            url: '/ScheduleReport/GetNotification',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ schedule: { DateFrom: $("#txtDateFrom").val(), DateTo: $("#txtDateTo").val(), Frequency: $("#ddlFrequency").val(), WeekDay: $("#ddlWeekDay").val(), MonthDay: $("#ddlMonthDay").val(), FrequencyType: $("#ddlType").val(), StartTime: $("#timepicker").val(), TimeZone: $("#TimeZone").val(), WeekName: $("#ddlWeekDay option:selected").text() } }),
            success: function (data) {
                document.getElementById("notification").innerHTML = data;
                $("#notification").show();
                if (data.length < 143) {
                    response = false;
                    e.preventDefault();
                }
                else {
                    response = true;
                }
            },

            error: function (ex) {
            }
        });
    }
    $("#ddlFrequency,#ddlWeekDay,#ddlFrequency,#ddlMonthDay,#ddlType,#TimeZone").change(function () {
        if (check()) {
            GetNotification();
        }
    });

</script>

<script type="text/javascript">
    $("#chkAllAdmin").change(function () {
        if ($(this).is(':checked')) {
            $("input:checkbox[class=chkAdmin]").each(function () {
                $(this).prop('checked', true);
            });
        } else {
            $("input:checkbox[class=chkAdmin]").each(function () {
                $(this).prop('checked', false);
            });
        }
    });

</script>

<script type="text/javascript">
    function Reportset() {
        GetList();
        var myselect = document.getElementById("fk_ReportID");
        var sel = myselect.options[myselect.selectedIndex].value;
        $(".reportId").val(sel);
    }
    $.noConflict();
    $(document).ready(function () {


        //document.getElementById("msdr").className += " activeLi" + " activemenu";
        //$("#msdrColl").css("display", "block");
        $("#txtDateFrom,#txtDateTo").on('change keyup paste', function () {
            if (check()) {
                GetNotification();
            }
        });
    });


</script>

<script type="text/javascript">
    function GetList() {
        var reportId = $("#fk_ReportID").val();
        if (reportId < 1)
            reportId = 0;
        $('#chkAll').attr('checked', false);
        Showloader();
        $.ajax({
            url: '/ViewAs/GetUsersList',
            data: { reportId: reportId },
            type: "GET",
            success: function (result) {
                var string = "<table width='100%' cellpadding='0' cellspacing='0' border='0'><tr></tr>";
                string += "  <tr><td colspan='3'></td></tr>";
                string += " <tr style='background-color: #F5F5DC;'> <td></td><td class='custom-table-th' ><b> Name</b></td> ";
                string += " <td class='custom-table-th'> <b>Email</b></td><td></td><td></td></tr>";
                for (j = 0 ; j < result.MerchantList.length; j++) {
                    if (result.MerchantList[j].IsRecipient) {
                        string += "<tr><td width='5%'><input type='checkbox' data-val='true' value='true' name='MerchantList[" + j + "].IsRecipient' id='" + result.MerchantList[j].IsRecipient + "' checked='" + result.MerchantList[j].IsRecipient + "' class='chk'>";
                    }
                    else {
                        string += "<tr><td width='5%'><input type='checkbox' data-val='true' value='true' name='MerchantList[" + j + "].IsRecipient' id='" + result.MerchantList[j].IsRecipient + "' class='chk'>";
                    }
                    string += "</td><td width='30%'>  <label style='font-size: 14px'>" + result.MerchantList[j].FName + " &nbsp;" + result.MerchantList[j].LName + "</label></td><td width='65%'>";
                    string += "<label style='font-size: 14px'> &nbsp;&nbsp;&nbsp;" + result.MerchantList[j].Email + "</label>";
                    string += " <input type='hidden' name='MerchantList[" + j + "].fk_UserID' value='" + result.MerchantList[j].fk_UserID + "' /><input type='hidden' name='MerchantList[" + j + "].FName' value='" + result.MerchantList[j].FName + "' />";
                    string += "<input type='hidden' name='MerchantList[" + j + "].LName' value='" + result.MerchantList[j].LName + "' /><input type='hidden' name='MerchantList[" + j + "].Email' value='" + result.MerchantList[j].Email + "' />";
                    string += "<input type='hidden' name='MerchantList[" + j + "].fk_MerchantID' value='" + result.MerchantList[j].fk_MerchantID + "' />";
                    string += " <input type='hidden' name='MerchantList[" + j + "].ModifiedBy' value='" + result.MerchantList[j].ModifiedBy + "'/></td></tr>";

                }
                string += " <tr><td class='space' colspan='3'></td></tr><tr><td class='space' colspan='3'></td></tr><tr><td class='space' colspan='3'></td></tr>";
                string += "<tr><td class='space' colspan='3'></td></tr></table>";
                document.getElementById("list").innerHTML = string;
                Closeloader();

            },
            error: function (ex) {
            }
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#loggedUser").val() == 2 || $("#loggedUser").val() == 3) {
            document.getElementById("mnglink").className = "has-sub activeLi activemenu";
            $("#collaspe").css("display", "block");
        }
        if ($("#loggedUser").val() == 1) {
            document.getElementById("vas").className += " activeLi" + " activemenu";
        }
    });
</script>