﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.ScheduleReportViewData

@{
    ViewBag.Title = "Set Recipients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System;
<head>

    <title>Set Recipients</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />


    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            left: 420px;
            position: absolute;
        }


        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }

        .set-schedule-detail-grid-one {
            height: 140px;
        }

        .set-schedule-detail-grid {
            height: 200px;
        }

        .set-schedule-detail-grid, .set-schedule-detail-grid-one {
            overflow: auto;
            margin: 10px 0;
            border: 1px solid #ccc;
            width: 100%;
            border-radius: 4px;
        }

            .set-schedule-detail-grid table tr th, .set-schedule-detail-grid-one table tr th {
                padding: 8px;
                color: #fff;
            }

            .set-schedule-detail-grid table tr td, .set-schedule-detail-grid-one table tr td {
                padding: 0 8px;
                font-weight: normal;
            }

                .set-schedule-detail-grid table tr td label, .set-schedule-detail-grid-one table tr td label {
                    font-weight: normal;
                }

        .size {
            font-style: normal;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm(new { @id = "Form1" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Set Recipients</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:99%">
                                @if (ViewBag.Msg != null)
                                {
                                    <tr><td><label id="lblMessage" style="font-size:11px;color:green;font-weight:bold">@ViewBag.Msg</label></td></tr>
                                    <tr><td class="space"></td></tr> 
                                }                               
                                <tr>
                                    <td style="width: 33%">
                                        Report Name<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.fk_ReportID) <br />
                                        @Html.DropDownListFor(m => m.fk_ReportID, new SelectList(Model.ReportList, "ReportId", "DisplayName", Model.fk_ReportID), new { @class = "form-control"})

                                    </td>    

                                </tr>

                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td colspan="3">                                       
                                        <div id="gridAdmin" class="set-schedule-detail-grid-one" hidden="hidden" style="height:320px">
                                        </div>
                                                                             
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>
                                        <input type="submit" class="btnu" id="btnUpdate" value="Save" onclick=" return validation();" />
                                        <input type="button" class="btnu" id="btnstart" value="" style="display:none;" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</body>

<script type="text/javascript">

    $('#fk_ReportID').change(function () {
        $.ajax({
            url: '/ScheduleReport/WeeklyReportRecipients?reportId=' + $('#fk_ReportID').val() + '',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != null) {
                    var htmlData = "<table style='width: 100%;'>";
                    htmlData += "<tr><th colspan='2'>&nbsp;<input type='checkbox' id='chkAllAdmin' />&nbsp;&nbsp;&nbsp;&nbsp;<b>Select All Admin</b></th></tr> <tr><td colspan='2'></td></tr>";
                    @{var email = ((SessionDto)Session["User"]).SessionUser.Email;}
                    var count = 0;
                    $.each(data.AdminList, function (index, val) {
                        if (val.IsRecipient == true) {
                            htmlData += "<tr><td style='width: 510px'>&nbsp;<input type='checkbox' data-val='true' name='AdminList[" + count + "].IsRecipient' checked='checked' value='true' class='chkAdmin'/><label style='font-size: 14px'> &nbsp;&nbsp;&nbsp;" + val.Company + "</label>";
                        }
                        else {
                            htmlData += "<tr><td style='width: 510px'>&nbsp;<input type='checkbox' data-val='true' name='AdminList[" + count + "].IsRecipient' value='true'  class='chkAdmin'/><label style='font-size: 14px'> &nbsp;&nbsp;&nbsp;" + val.Company + "</label>";
                        }
                        htmlData += "<input type='hidden' name='AdminList[" + count + "].UserID' value=" + val.UserID + " /><input type='hidden' class='reportId' name='AdminList[" + count + "].fk_ReportID' value=" + data.fk_ReportID + " /><input type='hidden' name='AdminList[" + count + "].Company' value=" + val.Company + "/><input type='hidden' name='AdminList["+count+"].Email' value=" + val.ModifiedBy + " />";
                        htmlData += "<input type='hidden' name='AdminList[" + count + "].ModifiedBy' value=@email />";
                        htmlData += "</td><td style='width: 600px'><span style='font-family: arial; font-size: 14px; color: #003366;'>&nbsp; " + val.ModifiedBy + "</span></td></tr>";
                       count=count+1;
                    });
                    htmlData += "</table>";
                    document.getElementById("gridAdmin").innerHTML = htmlData;

                    $('#gridAdmin').show();

                }

            },

            error: function (ex) {
            }
        });

    });
    var response;
    function validation() {
        $("#btnstart").trigger("click");
        var text = $("#fk_ReportID option:selected").text();
        if (text == "--Select Report--") {
            alert('Please select Report');
            return false;
        }
        if (response) {
            Showloader();
        }
        return response;
    }
    function active() {
    }
</script>
<script type="text/javascript">
    $(document).on('click', '#chkAllAdmin', function (e) {
        if ($(this).is(':checked')) {
            $("input:checkbox[class=chkAdmin]").each(function () {
                $(this).prop('checked', true);
            });
        } else {
            $("input:checkbox[class=chkAdmin]").each(function () {
                $(this).prop('checked', false);
            });
        }
    });
</script>

<script type="text/javascript">
    function Reportset() {
        var myselect = document.getElementById("fk_ReportID");
        var sel = myselect.options[myselect.selectedIndex].value;
        $(".reportId").val(sel);
    }
    $.noConflict();
    $(document).ready(function () {
        document.getElementById("wkRpt").className += " activeLi" + " activemenu";
        $("#wkRptColl").css("display", "block");
    });
</script>
<script type="text/javascript">
   
    $(document).ready(function () {
        if ('@ViewBag.IsSetDropDown' == 1) {
            $('#fk_ReportID').val(0);
        }
    })
</script>
 