﻿@using MTD.Core.DataTransferObjects
@using MTData.Web.ViewData;
@model IEnumerable<SurchargeViewData>
@{
    ViewBag.Title = "Manage Surcharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Surcharge </title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script>

        function OnClickFun(tId) {
            if (confirm("Are you sure want to delete Surcharge?")) {
                var url = '@Url.Action("Delete", "Surcharge")';
                $.get(url, { surchargeId: tId }, function (data) {
                    if (data != null) {
                        window.location.reload();
                    }
                });
            }
        }

    </script>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_MerchantUsers", "Member");
                }
            </div>


            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        <h4> @Html.ActionLink("Add Surcharge", "Create", "Surcharge")</h4>

                        <table width="50%" class="table table-striped table-hover custom-style">
                            <tr>
                                <th>
                                    Merchant
                                </th>

                                <th>
                                    Gateway
                                </th>
                                <th>
                                    Credit Card Prefix
                                </th>
                                <th>
                                    Surcharge Type
                                </th>
                                <th>
                                    Surcharge
                                </th>
                                <th>
                                    Surcharge   Max Cap
                                </th>

                                <th colspan="2" style="text-align:center;">Actions</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CCPrefix)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SurchargeType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Surcharge1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SurMaxCap)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.BookingFeeType)
                                        </td>*@

                                    <td>
                                        <a href="@Url.Action("Update", new { surchargeId = item.SurID })"><img src="~/images/gtk-edit.png" /></a>

                                    </td>
                                    <td>
                                        <a id="aDelete" onclick="OnClickFun(@item.SurID)"><img src="~/images/close.png" /></a>
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>

                </div>
            </div>
        </div>

    </body>
    <script type="text/javascript">
        function active() {
            document.getElementById("sur").className += "activeLi";
        }
    </script>
