﻿@model MTData.Web.ViewData.UserViewData

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CountryState</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Country").change(function () {
                $("#State").empty();
                $("#city").empty();
                $("#hdncountry").val($('option:selected', $(this)).text());
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetStates", "CountryState")',
                    dataType: 'json',
                    data: { id: $("#Country").val() },
                    success: function (states) {
                        $.each(states, function (i, state) {
                            $("#State").append('<option value="' + state.Value + '">' +
                                state.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            });
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#State").change(function () {
               
                $("#City").empty();
                $("#hdnstate").val($('option:selected', $(this)).text());
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCity", "CountryState")',
                    dataType: 'json',
                    data: { id: $("#State").val() },
                    success: function (citys) {
                        $.each(citys, function (i, city) {
                            $("#City").append('<option value="' + city.Value + '">' + city.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });

                return false;
            });
        });

    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#City").change(function () {
                $("#hdncity").val($('option:selected', $(this)).text());
            })
        });
    </script>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table style="width:100%;">


                <tr>
                    <td style="width:200px">@Html.Label("Country")<span class="required">*</span></td>
                    <td>
                        @Html.Hidden("hdncountry", null, new { @id = "hdncountry" })
                        @Html.Hidden("hdnstate", null, new { @id = "hdnstate" })
                        @Html.Hidden("hdncity", null, new { @id = "hdncity" })
                        @Html.DropDownListFor(model => model.Country, ViewData["country"] as List<SelectListItem>, Model.Country, new { @class = "form-control" })
                    </td>
                    <td class="requiredfields" style="width:200px">
                        @Html.ValidationMessageFor(model => model.Country)
                    </td>
                </tr>


                <tr><td colspan="3" class="space"></td></tr>
                <tr>
                    <td>@Html.Label("State")<span class="required">*</span></td>
                    <td>

                        @Html.DropDownListFor(model => model.State, new SelectList(string.Empty, "Value", "Text"), Model.State, new { @class = "form-control" })
                    </td>
                    <td class="requiredfields">
                        @Html.ValidationMessageFor(model => model.State)
                    </td>
                </tr>
                <tr><td colspan="3" class="space"></td></tr>
                <tr>
                    <td>@Html.Label("City")<span class="required">*</span></td>
                    <td>

                        @Html.DropDownListFor(model => model.City, new SelectList(string.Empty, "Value", "Text"), Model.City, new { @class = "form-control" })
                    </td>
                    <td class="requiredfields">
                        @Html.ValidationMessageFor(model => model.City)
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
