﻿@using MTD.Core.DataTransferObjects

@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/metroblue/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/highlight.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/jtable/themes/metro/blue/jtable.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/syntaxhighligher/styles/shCore.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/syntaxhighligher/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
 
    <style>
        div.filtering {
            border: 1px solid #999;
            margin-bottom: 5px;
            padding: 10px;
            background-color: #EEE;
            width: 100%;
        }
        .BackgroundClass {
            background-image: url('../images/MxqDG.png');
            width: 275px;
            height: 42px;
            padding: 7px 0 0 6px;
        }
        .MTD {
            text-decoration: none;
            color: white;
        }
    </style>
    <script src="~/Scripts/modernizr-2.6.2.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/syntaxhighligher/shCore.js" type="text/javascript"></script>
    <script src="~/Scripts/syntaxhighligher/shBrushJScript.js" type="text/javascript"></script>
    <script src="~/Scripts/syntaxhighligher/shBrushXml.js" type="text/javascript"></script>
    <script src="~/Scripts/syntaxhighligher/shBrushCSharp.js" type="text/javascript"></script>
    <script src="~/Scripts/syntaxhighligher/shBrushSql.js" type="text/javascript"></script>
    <script src="~/Scripts/jtablesite.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/jtable/jquery.jtable.js"></script>
</head>
<html>

    <body>
        <div id="body-wrapper">
            <!--Start Top Header-->
            <div class="header">
                <div class="float-L"><img src="~/images/logo.png" width="165" height="52"></div>
                <div>
                    <center>
                        @if (Session["User"] != null)
                        {

                            if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID==1) 
                            {   <h4>Admin Dashboard</h4>}
                            if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 2 || ((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 3 ) 
                            {
                                <h4>Merchant Dashboard</h4>
                            }
                            if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 4) 
                            {
                                <h4>Merchant User Dashboard</h4>
                            }
                            if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5) 
                            {
                                <h4>Corporate Admin Dashboard</h4>
                            }
                        }
                    </center>
                </div>
                <div class="logout-bnt float-R">
                    @*<a href="../Member/Logout" class="btn btn-warning btn-login">Logout</a>*@
                </div>

            </div>
            <div class="clearfix"></div>
            <div >
                <!--begin content-->
                @RenderBody()
                <!--end content-->
            </div>
            <div class="clearfix"></div>
            <div class="footer"><p>&#169 Copyright 2015 MTData Developments Pty Ltd. All Rights Reserved. <a href="~/Mtdata/Disclaimer" class="MTD">Disclaimer</a>  | <a href="~/Mtdata/terms_of_use" class="MTD">Terms of use</a> | <a href="~/Mtdata/terms_of_use" class="MTD">Privacy policy</a></p></div>
        </div>
    </body>
 <script type="text/javascript">
     $(document).ready(function () {
         $.ajax({
             type: 'POST',
             url: "/Member/ValidRequest",
             dataType: 'json',
             success: function (data) {
                 if (data == false)
                     window.location.href = "../Member/Index";
             }
         });
     });
 </script>
</html>
 
