﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.UserViewData
@{

    Layout = null;
}
<head>
    <title></title>
    <script src="../../js/script.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
</head>

<div class="left-panel-hgt">
    <div id="cssmenu">
        <ul class="left-nav">
            @if (Session["User"] != null)
            {
                if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 1 && Session["isAdmin"] != null)
                {
                    <li id="mrch"><a href="~/Merchant/Index"><span class="icons manage-marchant"><img src="../../images/manage-marchant.png"></span><p>Manage Merchant</p></a></li>
                    <li id="mau"><a href="~/Admin/Index"><span class="icons manage-admin"><img src="../../images/manage-marchant.png"></span><p>Manage Admin Users</p></a></li>
                    <li id="mmu"><a href="~/SubAdmin"><span class="icons manage-admin"><img src="../../images/manage-marchant.png"></span><p>Manage Merchant Users</p></a></li>
                    <li id="pro" class="has-sub">
                        <a href="#"><span class="icons profile-settings"><img src="../../images/manage-marchant.png"></span><p>Profile Settings</p></a>
                        <ul id="coll">
                            <li><a href='~/Profile/Display'><span>Manage Profile</span></a></li>
                            <li><a href='~/Profile/ChangePassword'><span>Change Password</span></a></li>
                        </ul>
                    </li>
                    if (@Request.Cookies["CookieViewAs"] != null)
                    {
                        <li id="vas" class="has-sub">
                            <a href="#"><span class="icons profile-settings"><img src="../../images/manage-marchant.png"></span><p>Merchant Settings</p></a>
                            <ul style="display: block">
                                <li><a href='~/ViewAs'><span>Merchant Details</span></a></li>
                                <li><a href='~/ViewAs/TaxDisplay'><span>Manage Tax</span></a></li>
                                <li><a href='~/ViewAs/MerchantSurcharges'><span>Manage Surcharge / Fee</span></a></li>
                                <li><a href="~/Terminal/AddRcTerminal"><span>Register Terminal</span></a></li>
                                <li><a href="~/ViewAs/Display"><span>Manage User Schedule Report</span></a></li>
                                <li><a href="~/ViewAs/FleetSettingIndex"><span>Fleet Settings</span></a></li>
                                <li><a href="~/ViewAs/ResetCredentials"><span>Reset Merchant Password</span></a></li>
                                <li><a href="~/ViewAs/ExternalUsers"><span>Manage API Password</span></a></li>
                            </ul>
                        </li>
                    }

                    <li id="str"><a href="~/TransactionHistory/Create"><span class="icons search_transaction"><img src="../images/manage-marchant.png"></span><p>Search Transaction</p></a></li>

                    <li id="rep" class="has-sub">
                        <a href="#"><span class="icons reports"><img src="~/images/manage-marchant.png"></span><p>Reports</p></a>
                        <ul>
                            <li><a href='~/Transaction/Search'><span>Transaction Report </span></a></li>
                            <li><a href='~/Transaction/DriverReport'><span>Driver Report</span></a></li>

                            <li><a href='~/Transaction/TechSummary'><span>Tech Fee Summary Report</span></a></li>
                            <li><a href='~/Transaction/TechDetail'><span>Tech Fee Detail Report</span></a></li>
                        </ul>
                    </li>
                    <li id="msdr" class="has-sub">
                        <a href="#"><span class="icons reports"><img src="~/images/manage-marchant.png"></span><p>Schedule Report</p></a>
                        <ul id="msdrColl">
                            <li><a href="~/ScheduleReport/Display"><span>Schedule Merchant Report</span></a></li>
                            <li> <a href="~/Driver/GetDriverRec"><span>Manage Driver Statements</span></a></li>
                            <li> <a href="~/Transaction/OnDemandReport"><span>On Demand Report</span></a></li>
                        </ul>
                    </li>
                    <li id="mnglink" class="has-sub">
                        <a href="#"><span class="icons manage_tax"><img src="../images/manage-marchant.png"></span><p>Manage</p></a>
                        <ul>
                            <li> <a href="~/Terminal/DeviceIndex"><span>Manage Device</span></a></li>
                            <li> <a href="~/DefaultSetting/TaxManage"><span>Manage Default Tax</span></a></li>
                            <li> <a href="~/DefaultSetting/TipIndex"><span>Manage Default Tip</span></a></li>
                            <li> <a href="~/Reciept/DefaultReciept"><span>Manage Default Receipt</span></a></li>
                            <li> <a href="~/DefaultSetting/SurchargeManage"><span>Manage Default Surcharge/Fee</span></a></li>
                            <li> <a href="~/DefaultSetting/TermConditionManage"><span>Default Terms & Conditions</span></a></li>
                            <li> <a href="~/DefaultSetting/ConfigAdminReportManage"><span>Configure Admin Report</span></a></li>
              

                        </ul>
                    </li>
                    <li id="gate"><a href="~/Gateway"><span class="icons search_transaction"><img src="../images/manage-marchant.png"></span><p>Manage Payment Gateway</p></a></li>
                }
                if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 2 && Session["isAdmin"] != null)
                {

                    <li id="fle"><a href="~/Fleet"><span class="icons manage_fleets"><img src="../images/manage-marchant.png"></span><p>Manage Fleets</p></a></li>
                    <li id="usr"><a href="~/User"><span class="icons manage_user"><img src="../images/manage-marchant.png"></span><p>Manage Users</p></a></li>

                    <li id="ter"> <a href="~/Terminal/Index"><span class="icons manage_terminals"><img src="../images/manage-marchant.png"></span><p>Manage Terminals</p></a></li>
                    <li id="coi"><a href="~/CarOwners/Index"><span class="icons manage_drivers"><img src="../images/manage-marchant.png"></span><p>Manage Car Owners</p></a></li>
                    <li id="veh"><a href="~/Vehicle/Index"><span class="icons manage_vehicles"><img src="../images/manage-marchant.png"></span><p>Manage Cars</p></a></li>
                    <li id="dri"><a href="~/Driver/Index"><span class="icons manage_drivers"><img src="../images/manage-marchant.png"></span><p>Manage Drivers</p></a></li>
                    <li class="has-sub" id="pro">
                        <a href="#"><span class="icons profile-settings"><img src="../../images/manage-marchant.png"></span><p>Profile Settings</p></a>
                        <ul>
                            <li><a href='~/Profile/Display'><span>Manage Profile</span></a></li>
                            <li><a href='~/Profile/ChangePassword'><span>Change Password</span></a></li>
                        </ul>
                    </li>

                    if (!object.Equals(Model.UserRoles, null))
                    {
                        foreach (var item in Model.UserRoles)
                        {
                            if (@item.RoleId == 4)
                            {
                                <li id="mtr"> <a href="~/Transaction/Create"><span class="icons manual_transaction"><img src="../images/manage-marchant.png"></span><p>Manual Transaction</p></a></li>
                                <li id="ctxn"> <a href="~/Transaction/Completion"><span class="icons manual_transaction"><img src="../images/manage-marchant.png"></span><p>Complete Transaction</p></a></li>
                            }
                        }
                    }

                    if (!object.Equals(Model.UserRoles, null))
                    {
                        foreach (var item in Model.UserRoles)
                        {
                            if (@item.RoleId == 2)
                            {
                                <li><a href="~/TransactionHistory/Create"><span class="icons search_transaction"><img src="../images/manage-marchant.png"></span><p>Search Transaction</p></a></li>
                            }
                            if (@item.RoleId == 3)
                            {
                                <li id="rep" class="has-sub">
                                    <a href="#"><span class="icons reports"><img src="../../images/manage-marchant.png"></span><p>Reports</p></a>
                                    <ul>
                                        <li><a href='~/Transaction/Search'><span>Transaction Report </span></a></li>
                                        <li><a href='~/Transaction/DriverReport'><span>Driver Report</span></a></li>
                                        @if (@Model.UserRoles.Select(x => x.RoleId).Contains(5))
                                        {
                                            <li><a href='~/Transaction/PayrollReportSAGE'><span>Payroll Report-SAGE</span></a></li>
                                        }
                                        @if (@Model.UserRoles.Select(x => x.RoleId).Contains(6))
                                        {
                                            <li><a href='~/Transaction/PayrollReportPayment'><span>Payroll Report-Payments </span></a></li>
                                        }
                                        <li> <a href="~/Transaction/MerchantOnDemandReport"><span>On Demand Report</span></a></li>
                                    </ul>
                                </li>
                            }
                            if (@item.RoleId == 5 && !@Model.UserRoles.Select(x => x.RoleId).Contains(3))
                            {
                                <li id="prs"><a href='~/Transaction/PayrollReportSAGE'><span class="icons reports"><img src="../images/manage-marchant.png"></span><p>Payroll Report-SAGE</p></a></li>
                            }
                            if (@item.RoleId == 6 && !@Model.UserRoles.Select(x => x.RoleId).Contains(3))
                            {

                                <li id="prp"><a href='~/Transaction/PayrollReportPayment'><span class="icons reports"><img src="../images/manage-marchant.png"></span><p>Payroll Report-Payments</p></a></li>
                            }
                        }
                    }
                    <li id="mnglink" class="has-sub">
                        <a href="#"><span class="icons manage_tax"><img src="../images/manage-marchant.png"></span><p>Manage</p></a>
                        <ul id="collaspe">
                            <li><a href="~/ViewAs/UserReceipent"><span>Manage User Schedule Report</span></a></li>
                            <li> <a href="~/Driver/GetDriverRec"><span>Manage Driver Statements</span></a></li>
                            <li> <a href="~/Reciept"><span>Manage Receipt</span></a></li>
                            <li><a href="~/Prefix"><span>Manage Card Prefix</span></a></li>
                            <li> <a href="~/DefaultSetting/ConfigMerchantReportIndex"><span>Configure Merchant Report</span></a></li>

                        </ul>
                    </li>
                }

                if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 3 && Session["isAdmin"] != null)
                {

                    <li id="fle"><a href="~/Fleet"><span class="icons manage_fleets"><img src="../images/manage-marchant.png"></span><p>Manage Fleets</p></a></li>
                    <li id="usr"><a href="~/User"><span class="icons manage_user"><img src="../images/manage-marchant.png"></span><p>Manage Users</p></a></li>
                    <li id="ter"> <a href="~/Terminal/Index"><span class="icons manage_terminals"><img src="../images/manage-marchant.png"></span><p>Manage Terminals</p></a></li>
                    <li id="coi"><a href="~/CarOwners/Index"><span class="icons manage_drivers"><img src="../images/manage-marchant.png"></span><p>Manage Car Owners</p></a></li>
                    <li id="veh"><a href="~/Vehicle/Index"><span class="icons manage_vehicles"><img src="../images/manage-marchant.png"></span><p>Manage Cars</p></a></li>
                    <li id="dri"><a href="~/Driver/Index"><span class="icons manage_drivers"><img src="../images/manage-marchant.png"></span><p>Manage Drivers</p></a></li>
                    <li class="has-sub" id="pro">
                        <a href="#"><span class="icons profile-settings"><img src="../../images/manage-marchant.png"></span><p>Profile Settings</p></a>
                        <ul>
                            <li><a href='~/Profile/Display'><span>Manage Profile</span></a></li>
                            <li><a href='~/Profile/ChangePassword'><span>Change Password</span></a></li>
                        </ul>
                    </li>

                    if (!object.Equals(Model.UserRoles, null))
                    {
                        foreach (var item in Model.UserRoles)
                        {
                            if (@item.RoleId == 4)
                            {
                                <li id="mtr"> <a href="~/Transaction/Create"><span class="icons manual_transaction"><img src="../images/manage-marchant.png"></span><p>Manual Transaction</p></a></li>
                                <li id="ctxn"> <a href="~/Transaction/Completion"><span class="icons manual_transaction"><img src="../images/manage-marchant.png"></span><p>Complete Transaction</p></a></li>
                            }
                        }
                    }

                    if (!object.Equals(Model.UserRoles, null))
                    {
                        foreach (var item in Model.UserRoles)
                        {
                            if (@item.RoleId == 2)
                            {
                                <li><a href="~/TransactionHistory/Search"><span class="icons search_transaction"><img src="../images/manage-marchant.png"></span><p>Search Transaction</p></a></li>
                            }
                            if (@item.RoleId == 3)
                            {
                                <li id="rep" class="has-sub">
                                    <a href="#"><span class="icons reports"><img src="../../images/manage-marchant.png"></span><p>Reports</p></a>
                                    <ul>
                                        <li><a href='~/Transaction/Search'><span>Transaction Report </span></a></li>
                                        <li><a href='~/Transaction/DriverReport'><span>Driver Report</span></a></li>
                                        @if (@Model.UserRoles.Select(x => x.RoleId).Contains(5))
                                        {
                                            <li><a href='~/Transaction/PayrollReportSAGE'><span>Payroll Report-SAGE</span></a></li>
                                        }
                                        @if (@Model.UserRoles.Select(x => x.RoleId).Contains(6))
                                        {
                                            <li><a href='~/Transaction/PayrollReportPayment'><span>Payroll Report-Payments </span></a></li>
                                        }
                                        <li> <a href="~/Transaction/MerchantOnDemandReport"><span>On Demand Report</span></a></li>
                                    </ul>
                                </li>
                            }
                            if (@item.RoleId == 5 && !@Model.UserRoles.Select(x => x.RoleId).Contains(3))
                            {
                                <li id="prs"><a href='~/Transaction/PayrollReportSAGE'><span class="icons reports"><img src="../images/manage-marchant.png"></span><p>Payroll Report-SAGE</p></a></li>
                            }
                            if (@item.RoleId == 6 && !@Model.UserRoles.Select(x => x.RoleId).Contains(3))
                            {

                                <li id="prp"><a href='~/Transaction/PayrollReportPayment'><span class="icons reports"><img src="../images/manage-marchant.png"></span><p>Payroll Report-Payments</p></a></li>
                            }
                        }
                    }

                    <li id="mnglink" class="has-sub">
                        <a href="#"><span class="icons manage_tax"><img src="../images/manage-marchant.png"></span><p>Manage</p></a>
                        <ul id="collaspe">
                            <li><a href="~/ViewAs/UserReceipent"><span>Manage User Schedule Report</span></a></li>
                            <li> <a href="~/Driver/GetDriverRec"><span>Manage Driver Statements</span></a></li>
                            <li> <a href="~/Reciept"><span>Manage Receipt</span></a></li>
                            <li><a href="~/Prefix"><span>Manage Card Prefix</span></a></li>
                        </ul>
                    </li>
                }

                if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 4)
                {
                    @*<li id="fle"><a href="~/Fleet"><span class="icons manage_fleets"><img src="../images/manage-marchant.png"></span><p>Manage Fleets</p></a></li>*@
                    <li id="ter"> <a href="~/Terminal/Index"><span class="icons manage_terminals"><img src="../images/manage-marchant.png"></span><p>Manage Terminals</p></a></li>
                    <li id="coi"><a href="~/CarOwners/Index"><span class="icons manage_drivers"><img src="../images/manage-marchant.png"></span><p>Manage Car Owners</p></a></li>
                    <li id="veh"><a href="~/Vehicle/Index"><span class="icons manage_vehicles"><img src="../images/manage-marchant.png"></span><p>Manage Cars</p></a></li>
                    <li id="dri"><a href="~/Driver/Index"><span class="icons manage_drivers"><img src="../images/manage-marchant.png"></span><p>Manage Drivers</p></a></li>
                    <li id="pro" class="has-sub">
                        <a href="#"><span class="icons profile-settings"><img src="../../images/manage-marchant.png"></span><p>Profile Settings</p></a>
                        <ul>
                            <li><a href='~/Profile/Display'><span>Manage Profile</span></a></li>
                            <li><a href='~/Profile/ChangePassword'><span>Change Password</span></a></li>
                        </ul>
                    </li>
                    if (!object.Equals(Model.UserRoles, null))
                    {
                        foreach (var item in Model.UserRoles)
                        {
                            if (@item.RoleId == 4)
                            {
                                <li id="mtr"> <a href="~/Transaction/Create"><span class="icons manual_transaction"><img src="../images/manage-marchant.png"></span><p>Manual Transaction</p></a></li>
                                <li id="ctxn"> <a href="~/Transaction/Completion"><span class="icons manual_transaction"><img src="../images/manage-marchant.png"></span><p>Complete Transaction</p></a></li>
                            }
                        }
                    }


                    if (!object.Equals(Model.UserRoles, null))
                    {
                        foreach (var item in Model.UserRoles)
                        {
                            if (@item.RoleId == 2)
                            {
                                <li id="str"><a href="~/TransactionHistory/Search"><span class="icons search_transaction"><img src="../images/manage-marchant.png"></span><p>Search Transaction</p></a></li>
                            }

                            if (@item.RoleId == 3)
                            {
                                <li id="rep" class="has-sub">
                                    <a href="#"><span class="icons reports"><img src="../../images/manage-marchant.png"></span><p>Reports</p></a>
                                    <ul>
                                        <li><a href='~/Transaction/Search'><span>Transaction Report </span></a></li>
                                        <li><a href='~/Transaction/DriverReport'><span>Driver Report</span></a></li>
                                        @if (@Model.UserRoles.Select(x => x.RoleId).Contains(5))
                                        {
                                            <li><a href='~/Transaction/PayrollReportSAGE'><span>Payroll Report-SAGE</span></a></li>
                                        }
                                        @if (@Model.UserRoles.Select(x => x.RoleId).Contains(6))
                                        {
                                            <li><a href='~/Transaction/PayrollReportPayment'><span>Payroll Report-Payments </span></a></li>
                                        }
                                        <li> <a href="~/Transaction/MerchantUserOnDemandReport"><span>On Demand Report</span></a></li>
                                    </ul>
                                </li>
                            }
                            if (@item.RoleId == 5 && !@Model.UserRoles.Select(x => x.RoleId).Contains(3))
                            {
                                <li id="prs"><a href='~/Transaction/PayrollReportSAGE'><span class="icons reports"><img src="../images/manage-marchant.png"></span><p>Payroll Report-SAGE</p></a></li>
                            }
                            if (@item.RoleId == 6 && !@Model.UserRoles.Select(x => x.RoleId).Contains(3))
                            {

                                <li id="prp"><a href='~/Transaction/PayrollReportPayment'><span class="icons reports"><img src="../images/manage-marchant.png"></span><p>Payroll Report-Payments</p></a></li>
                            }
                        }
                    }

                }
            }
            <li id=""> <a href="~/Member/Logout"><span class="icons logout"><img src="../images/manage-marchant.png"></span><p>Logout</p></a></li>
        </ul>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var leftPanelStatus = true;
        $("#toggle").click(function () {
            if (leftPanelStatus == true) {
                leftPanelStatus = false;
                $('.left-panel').addClass('collasped');
                $('.left-panel').css({ "width": "70px" });
                $('.right-panel').css({ "margin-left": "70px" });
            } else {
                leftPanelStatus = true;
                $('.left-panel').css({ "width": "300px" });
                $('.left-panel').removeClass('collasped');
                $('.right-panel').css({ "margin-left": "300px" });
            }
        });

    });

</script>