﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.UserViewData
@{

    Layout = null;
}
<head>
    <title></title>
    <script src="../../js/script.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <script src="~/js/custom.js"></script>
</head>

<div class="left-panel-hgt">
    <div id="cssmenu">
        <ul class="left-nav">
            @if (Session["User"] != null)
            {
                if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5 && Session["isAdmin"] != null)
                {
                    <li id="mrch"><a href="~/MyMerchants/Index"><span class="icons manage-admin"><img src="../../images/manage-marchant.png"></span><p>Manage Merchant</p></a></li>
                   <li id="mcu"><a href="~/SubAdmin"><span class="icons manage-admin"><img src="../../images/manage-marchant.png"></span><p>Manage  Users</p></a></li>
                    <li id="pro" class="has-sub">
                        <a href="#"><span class="icons profile-settings"><img src="../../images/manage-marchant.png"></span><p>Profile Settings</p></a>
                        <ul id="coll">
                            <li><a href='~/Profile/Display'><span>Manage Profile</span></a></li>
                            <li><a href='~/Profile/ChangePassword'><span>Change Password</span></a></li>
                        </ul>
                    </li>
                    <li id="str"><a href="~/MyMerchants/TxnReport?page=1"><span class="icons search_transaction"><img src="../images/manage-marchant.png"></span><p>Search Transaction</p></a></li>

                    <li id="rep" class="has-sub">
                        <a href="#"><span class="icons reports"><img src="~/images/manage-marchant.png"></span><p>Reports</p></a>
                        <ul id="rpt">
                            <li><a href='~/MyMerchants/TxnReport?page=2'><span>Transaction Report </span></a></li>
                            <li><a href='~/MyMerchants/DriverReport'><span>Driver Report</span></a></li>
                            <li><a href='~/MyMerchants/OnDemandReport'><span>On Demand Report</span></a></li>
                            <li><a href='~/MyMerchants/ConfigCorporateUserReportIndex'><span>Configure Report</span></a></li>
                            @*<li><a href='~/MyMerchants/TechnologySummary'><span>Tech Fee Summary Report</span></a></li>
                            <li><a href='~/MyMerchants/TechnologyDetail'><span>Tech Fee Detail Report</span></a></li>*@
                        </ul>
                    </li>
                    <li id="gdmc"><a href="~/MyMerchants/GetMerchantDriverRec"><span class="icons search_transaction"><img src="../images/manage-marchant.png"></span><p>Manage Driver Statement</p></a></li>
                    <li id="gdmd"><a href="~/ScheduleReport/CorporateReportDisplay"><span class="icons search_transaction"><img src="../images/manage-marchant.png"></span><p>Schedule Corporate Report</p></a></li>
                }
            }
            <li id=""> <a href="~/Member/Logout"><span class="icons logout"><img src="../images/manage-marchant.png"></span><p>Logout</p></a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var leftPanelStatus = true;
        $("#toggle").click(function () {
            if (leftPanelStatus == true) {
                leftPanelStatus = false;
                $('.left-panel').addClass('collasped');
                $('.left-panel').css({ "width": "70px" });
                $('.right-panel').css({ "margin-left": "70px" });
            } else {
                leftPanelStatus = true;
                $('.left-panel').css({ "width": "300px" });
                $('.left-panel').removeClass('collasped');
                $('.right-panel').css({ "margin-left": "300px" });
            }
        });

    });
</script>