﻿@using MTD.Core.DataTransferObjects
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">


    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="body-wrapper">
        <!--Start Top Header-->
        <div class="header">
            <div class="logo float-L"><img src="../images/logo.png" width="165" height="52"></div>
            <div>
                <center>
                    @if (Session["User"] != null)
                    {

                        if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 1)
                        {   <h4>Admin Dashboard</h4>}
                        if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 2)
                        {
                            <h4>Merchant Dashboard</h4>
                        }
                        if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 3)
                        {
                            <h4>Merchant User Dashboard</h4>
                        }
                    }
                </center>
            </div>
            <div class="logout-bnt float-R">
                @*<a href="../Member/Logout" class="btn btn-warning btn-login">Logout</a>*@
            </div>

        </div>
        <div class="clearfix"></div>
        <div>

            <div class="container-main">
                <div class="left-panel">
                    <div class="user">
                        @if (Session["User"] != null)
                        {
                            var user = ((SessionDto)Session["User"]).SessionUser.FName;
                            <h3> Welcome   @user</h3>
                        }
                        <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                    </div>
                    <div id="cssmenu">

                        <ul class="left-nav">
                            @if (Session["User"] != null)
                            {
                                if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 1 && Session["isAdmin"] != null)
                                {
                                    <li id="mrch"><a href="~/Merchant"><span class="icons manage-marchant"><img src="../../images/manage-marchant.png"></span><p>Manage Merchant</p></a></li>
                                    <li id="mau"><a href="~/Admin"><span class="icons manage-marchant"><img src="../../images/manage-marchant.png"></span><p>Manage Admin User</p></a></li>
                                    <li id="pro" class="has-sub">
                                        <a href="#"><span class="icons profile-settings"><img src="../../images/manage-marchant.png"></span><p>Profile Settings</p></a>
                                        <ul id="collaspe">
                                            <li><a href='~/Profile/Update'><span>Manage Profile</span></a></li>
                                            <li><a href='~/Profile/ChangePassword'><span>Change Password</span></a></li>
                                        </ul>
                                    </li>
                                    if (@Request.Cookies["CookieViewAs"] != null)
                                    {
                                        <li id="" class="has-sub">
                                            <a href="#"><span class="icons profile-settings"><img src="../../images/manage-marchant.png"></span><p>Merchant Settings</p></a>
                                            <ul style="display: block;">
                                                <li><a href='~/ViewAs'><span>Merchant Details</span></a></li>
                                                <li><a href='~/ViewAs/TaxDisplay'><span>Manage Tax</span></a></li>
                                                <li><a href='~/ViewAs/MerchantSurcharges'><span>Manage Surcharge / Fee</span></a></li>
                                                <li><a href='~/MerchantGateway/Index'><span>Manage Merchant Gateway</span></a></li>
                                            </ul>
                                        </li>
                                    }
                                    <li><a href="#"><span class="icons manage-reports"><img src="../images/manage-marchant.png"></span><p>Reports</p></a></li>
                                    <li id="mpg"><a href="~/Gateway"><span class="icons manage-marchant"><img src="../../images/manage-marchant.png"></span><p>Manage Payment Gateway</p></a></li>
                                    <li id="mtr"> <a href="~/Transaction/Create"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Manual Transaction</p></a></li>
                                    <li id="str"> <a href="~/TransactionHistory/Create"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Search Transaction</p></a></li>
                                    <li id=""> <a href="~/Tax"><span class="icons manage-reports"><img src="../images/manage-marchant.png"></span><p>Manage Tax</p></a></li>
                                    <li id=""> <a href="~/Surcharge"><span class="icons manage-reports"><img src="../images/manage-marchant.png"></span><p>Manage Surcharge</p></a></li>
                                    <li id=""> <a href="~/BookingFee"><span class="icons manage-reports"><img src="../images/manage-marchant.png"></span><p>Manage Booking Fee</p></a></li>
                                }
                                if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 2 && Session["isAdmin"] != null)
                                {
                                    <li><a href="~/User"><span class="icons manage-marchant"><img src="../images/manage-marchant.png"></span><p>Manage Users</p></a></li>
                                    <li><a href="~/Fleet"><span class="icons manage-marchant"><img src="../images/manage-marchant.png"></span><p>Manage Fleets</p></a></li>
                                    <li class="has-sub">
                                        <a href="#"><span class="icons profile-settings"><img src="../../images/manage-marchant.png"></span><p>Profile Settings</p></a>
                                        <ul>
                                            <li><a href='~/Profile/Update'><span>Manage Profile</span></a></li>
                                            <li><a href='~/Profile/ChangePassword'><span>Change Password</span></a></li>
                                        </ul>
                                    </li>
                                    if (@Request.Cookies["CookieViewAsUser"] != null)
                                    {
                                        <li id="vas" class="has-sub">
                                            <a href="#"><span class="icons profile-settings"><img src="~/images/manage-marchant.png"></span><p>User Settings</p></a>
                                            <ul>
                                                <li><a href="~/ViewAs/ResetCredentials"><span>Reset User Password</span></a></li>
                                            </ul>
                                        </li>
                                    }
                                    <li id="veh"><a href="~/Vehicle"><span class="icons schedule-reports"><img src="../images/manage-marchant.png"></span><p>Manage Vehicles</p></a></li>
                                    <li><a href="~/Driver"><span class="icons manage-surcharge"><img src="../images/manage-marchant.png"></span><p>Manage Drivers</p></a></li>
                                    <li id="mtr"><a href="~/Prefix"><span class="icons manual_transaction"><img src="../images/manage-marchant.png"></span><p>Manage Card Prefix</p></a></li>
                                    <li> <a href="~/Terminal"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Manage Terminals</p></a></li>
                                    <li> <a href="~/Transaction/Create"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Manual Transaction</p></a></li>
                                    <li> <a href="~/TransactionHistory/Create"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Search Transaction</p></a></li>
                                    <li> <a href="~/Reciept"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Manage Receipt</p></a></li>
                                    <li id=""> <a href="~/MerchantGateway"><span class="icons manage-reports"><img src="../images/manage-marchant.png"></span><p>Manage Merchant Gateway</p></a></li>

                                }
                                
                                if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 3 && Session["isAdmin"] != null)
                                {
                                    <li><a href="~/User"><span class="icons manage-marchant"><img src="../images/manage-marchant.png"></span><p>Manage Users</p></a></li>
                                    <li><a href="~/Fleet"><span class="icons manage-marchant"><img src="../images/manage-marchant.png"></span><p>Manage Fleets</p></a></li>
                                    <li class="has-sub">
                                        <a href="#"><span class="icons profile-settings"><img src="../../images/manage-marchant.png"></span><p>Profile Settings</p></a>
                                        <ul>
                                            <li><a href='~/Profile/Update'><span>Manage Profile</span></a></li>
                                            <li><a href='~/Profile/ChangePassword'><span>Change Password</span></a></li>
                                        </ul>
                                    </li>
                                    if (@Request.Cookies["CookieViewAsUser"] != null)
                                    {
                                        <li id="vas" class="has-sub">
                                            <a href="#"><span class="icons profile-settings"><img src="~/images/manage-marchant.png"></span><p>User Settings</p></a>
                                            <ul>
                                                <li><a href="~/ViewAs/ResetCredentials"><span>Reset User Password</span></a></li>
                                            </ul>
                                        </li>
                                    }
                                    <li id="veh"><a href="~/Vehicle"><span class="icons schedule-reports"><img src="../images/manage-marchant.png"></span><p>Manage Vehicles</p></a></li>
                                    <li><a href="~/Driver"><span class="icons manage-surcharge"><img src="../images/manage-marchant.png"></span><p>Manage Drivers</p></a></li>
                                    <li> <a href="~/Terminal"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Manage Terminals</p></a></li>
                                    <li> <a href="~/Transaction/Create"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Manual Transaction</p></a></li>
                                    <li> <a href="~/TransactionHistory/Create"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Search Transaction</p></a></li>
                                    <li> <a href="~/Reciept"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Manage Receipt</p></a></li>
                                    <li id=""> <a href="~/MerchantGateway"><span class="icons manage-reports"><img src="../images/manage-marchant.png"></span><p>Manage Merchant Gateway</p></a></li>

                                }
                                if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 4)
                                {
                                    <li id="fle"><a href="~/Fleet"><span class="icons manage-marchant"><img src="../images/manage-marchant.png"></span><p>Manage Fleets</p></a></li>
                                    <li id="pro" class="has-sub">
                                        <a href="#"><span class="icons profile-settings"><img src="../../images/manage-marchant.png"></span><p>Profile Settings</p></a>
                                        <ul>
                                            <li><a href='~/Profile/Update'><span>Manage Profile</span></a></li>
                                            <li><a href='~/Profile/ChangePassword'><span>Change Password</span></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="~/Vehicle"><span class="icons schedule-reports"><img src="../images/manage-marchant.png"></span><p>Manage Cars</p></a></li>
                                    <li><a href="~/Driver"><span class="icons manage-surcharge"><img src="../images/manage-marchant.png"></span><p>Manage Drivers</p></a></li>
                                    <li> <a href="~/Terminal"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Manage Terminals</p></a></li>
                                    <li> <a href="~/Reciept/Index"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Manage Reciept</p></a></li>
                                    if (!object.Equals(Model.UserRoles, null))
                                    {
                                        foreach (var item in Model.UserRoles)
                                        {
                                            if (@item.RoleId == 2)
                                            {
                                                <li><a href="~/TransactionHistory/Create"><span class="icons manage-surcharge"><img src="../images/manage-marchant.png"></span><p>Search Transaction</p></a></li>
                                            }
                                            if (@item.RoleId == 1)
                                            {
                                                <li><a href=""><span class="icons manage-surcharge"><img src="../images/manage-marchant.png"></span><p>Charge Back</p></a></li>
                                            }
                                            if (@item.RoleId == 3)
                                            {
                                                <li><a href=""><span class="icons manage-surcharge"><img src="../images/manage-marchant.png"></span><p>Reporting</p></a></li>
                                            }
                                            if (@item.RoleId == 4)
                                            {
                                                <li><a href="~/Transaction/Create"><span class="icons manage-surcharge"><img src="../images/manage-marchant.png"></span><p> Manual Transaction</p></a></li>
                                            }
                                        }
                                    }

                                }
                            }
                            <li id=""> <a href="~/Member/Logout"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Logout</p></a></li>
                        </ul>
                    </div>
                </div>
                <div class="right-panel">
                    <div class="right-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footer"><p>© Copyright 2012 MTData. All Rights Reserved. Disclaimer | Terms of Use | Privacy Policy</p></div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        var leftPanelStatus = true;
        $("#toggle").click(function () {
            if (leftPanelStatus == true) {
                leftPanelStatus = false;
                $('.left-panel').addClass('collasped');
                $('.left-panel').css({ "width": "70px" });
                $('.right-panel').css({ "margin-left": "70px" });
            } else {
                leftPanelStatus = true;
                $('.left-panel').css({ "width": "300px" });
                $('.left-panel').removeClass('collasped');
                $('.right-panel').css({ "margin-left": "300px" });
            }
        });

    });

</script>

