﻿@using MTData.Web.ViewData
@model IEnumerable<GetAdminExceptionReportViewData>
@{
    ViewBag.Title = "grid";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10);
}

<script src="~/Scripts/jquery-1.7.1.js"></script>
<script>
    $(document).ready(function () {
        $("#content tbody tr").each(function (i, row) {
            var $actualRow = $(row);
            if ($actualRow.text().indexOf('Exception') == 13) {
                //if ($actualRow.find('input[type=checkbox]').prop('checked') == true) {
                $actualRow.css('background-color', '#EAF2D3');
                $actualRow.css('font-weight', 'bold');
            }
            else {
                $actualRow.css('background-color', '#f9f9f9');
            }
        });
    });
</script>

<style type="text/css">
    .table {
        margin: 4px;
        border-collapse: collapse;
        width: 100%;
    }

        .table td {
            border: 1px solid black;
            padding: 1px;
        }

    .head {
        background-color: white;
        color: white;
        height: 20px;
        text-decoration: none;
    }
</style>


@if (Model.Count() > 0)
{
    <div id="content">
        @grid.GetHtml(
        tableStyle: "table", // applying style on grid
        fillEmptyRows: false,
        headerStyle: "head", //applying style.
        footerStyle: "grid-footer", //applying style.
        mode: WebGridPagerModes.All, //paging to grid
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",
        columns: new[]  // colums in grid

        {

            grid.Column(columnName: "MerchantName", header: "Merchant Name", format: @<text>@item.MerchantName</text>),
            grid.Column(columnName: "FleetName", header: "Fleet Name", format: @<text>@item.FleetName</text>),
            grid.Column(columnName : "ExpFleetTrans", header: "Exp Fleet Trans", format: @<text>@item.ExpFleetTrans</text>),
            grid.Column(columnName : "ActFleetTrans", header: "Act Fleet Trans", format: @<text>@item.ActFleetTrans</text>),
                grid.Column(columnName : "ExpCar", header: "Exp Car",format: @<text>@item.ExpCar</text>),
                grid.Column(columnName : "ActCar", header: "Act Car",format: @<text>@item.ActCar</text>),
                grid.Column(columnName : "ExpValue", header: "Exp Value", format: @<text>@item.ExpValue</text>),
                grid.Column(columnName : "ActValue", header: "Act Value", format: @<text>@item.ActValue</text>),
                grid.Column(columnName :"ExpCase", header: "Exp Case", format: @<text>@item.ExpCase</text>),
       })
    </div>
}
else
{
    <table><tr><td style="color:red">No Record Found.</td></tr></table>
}