﻿@using MTData.Web.ViewData
@model IEnumerable<GetCardTypeReportViewData>
@{
    ViewBag.Title = "grid";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10);
}

<script src="~/Scripts/jquery-1.7.1.js"></script>
<script>
    $(document).ready(function () {
        $("#content tbody tr").each(function (i, row) {
            var $actualRow = $(row);
            if ($actualRow.text().indexOf('Exception') == 13) {
                //if ($actualRow.find('input[type=checkbox]').prop('checked') == true) {
                $actualRow.css('background-color', '#EAF2D3');
                $actualRow.css('font-weight', 'bold');
            }
            else {
                $actualRow.css('background-color', '#f9f9f9');
            }
        });
    });
</script>

<style type="text/css">
    .table {
        margin: 4px;
        border-collapse: collapse;
        width: 100%;
    }

        .table td {
            border: 1px solid black;
            padding: 1px;
        }

    .head {
        background-color: white;
        color: white;
        height: 20px;
        text-decoration: none;
    }
</style>



@if (Model.Count() > 0)
{
    @grid.GetHtml(
    tableStyle: "table", // applying style on grid
    fillEmptyRows: false,
    headerStyle: "head", //applying style.
    footerStyle: "grid-footer", //applying style.
    mode: WebGridPagerModes.All, //paging to grid
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
    columns: new[]  // colums in grid

    {
        grid.Column(columnName: "SrNo", header: "Sr No", format: @<text>@item.SrNo</text>),
        grid.Column(columnName: "MerchantName", header: "Merchant Name", format: @<text>@item.MerchantName</text>),
        grid.Column(columnName: "FleetName", header: "Fleet Name", format: @<text>@item.FleetName</text>),
        grid.Column(columnName : "VISATxn", header: "VISA Txn", format: @<text>@item.VISATxn</text>),
        grid.Column(columnName : "VISA", header: "VISA", format: @<text>@item.VISA</text>),
            grid.Column(columnName : "MasterTxn", header: "Master Txn",format: @<text>@item.MasterTxn</text>),
            grid.Column(columnName : "MasterCard", header: "Master Card",format: @<text>@item.MasterCard</text>),
            grid.Column(columnName : "AmexTxn", header: "Amex Txn", format: @<text>@item.AmexTxn</text>),
            grid.Column(columnName : "AmericanExpress", header: "Amex", format: @<text>@item.AmericanExpress</text>),
            grid.Column(columnName :"DisTxn", header: "Dis Txn", format: @<text>@item.DisTxn</text>),
            grid.Column("Discover"),
            grid.Column(columnName :"JCBTxn", header:"JCB Txn", format: @<text>@item.JCBTxn</text>),
            grid.Column("JCB"),
            grid.Column(columnName :"DinerTxn", header:"Diner Txn", format: @<text>@item.DinerTxn</text>),
            grid.Column(columnName :"DinersClub", header:"Diners", format: @<text>@item.DinersClub</text>),
            })
}
else
{
    <table><tr><td style="color:red">No Record Found.</td></tr></table>
}