﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Add Prefix</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:50%">
                                <tr><td>Custom Error Message</td></tr>
                                </table>
</div>
                    }
                </div>

            </div>
        </div>

    </div>
</body>