﻿@using MTData.Web.ViewData
@model IEnumerable<GetDetailReportViewData>
@{
    ViewBag.Title = "grid";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10);
}



<style type="text/css">
    .table {
        margin: 4px;
        border-collapse: collapse;
        width: 100%;
    }

        .table td {
            border: 1px solid black;
            padding: 1px;
        }

    .head {
        background-color: white;
        color: white;
        height: 20px;
        text-decoration: none;
    }
</style>


@if (Model.Count() > 0)
{
<div id="content">
    @grid.GetHtml(
    tableStyle: "table", // applying style on grid
    fillEmptyRows: false,
    headerStyle: "head", //applying style.
    footerStyle: "grid-footer", //applying style.
    mode: WebGridPagerModes.All, //paging to grid
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
    columns: new[]  // colums in grid

    {

        grid.Column(columnName: "Company", header: "Company", format: @<text>@item.Company</text>),
        grid.Column(columnName: "ReportDate", header: "Report Date", format: (item) => string.Format("{0:yyyy/MM/dd}",@item.ReportDate)),
        grid.Column(columnName: "TransId", header: "ID", format: @<text>@item.TransId</text>),
        grid.Column(columnName : "TransDate", header: "Txn Date",  format: (item) => string.Format("{0:yyyy/MM/dd}",@item.TransDate)),
        grid.Column(columnName : "TxnType", header: "Txn Type", format: @<text>@item.TxnType</text>),
        grid.Column(columnName : "CardType", header: "Card Type",format: @<text>@item.CardType</text>),
        grid.Column(columnName : "LastFour", header: "Last Four",format: @<text>@item.LastFour</text>),
        grid.Column(columnName : "AuthCode", header: "Auth Code", format: @<text>@item.AuthCode</text>),
        grid.Column(columnName : "Trip", header: "Trip", format: @<text>@item.Trip</text>),
        grid.Column(columnName :"DriverNo", header: "Driver No", format: @<text>@item.DriverNo</text>),
        grid.Column(columnName :"VehicleNo", header: "Vehicle No", format: @<text>@item.VehicleNo</text>),
        grid.Column(columnName :"TechFee", header: "Tech Fee", format: @<text>@item.TechFee</text>),
        grid.Column(columnName :"Surcharge", header: "Surcharge", format: @<text>@item.Surcharge</text>),
        grid.Column(columnName :"GrossAmt", header:"Gross Amt", format: @<text>@item.GrossAmt</text>),
        grid.Column("Fees"),
        grid.Column(columnName :"NetAmt", header:"Net Amt", format: @<text>@item.NetAmt</text>),

   })
</div>
}
else
{
    
<table><tr><td style="color:red">No Record Found.</td></tr></table>
}