﻿
@using MTData.Web.ViewData
@model IEnumerable<GetMerchantTotalTransByVehicleReportViewData>
@{
    ViewBag.Title = "grid";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10);
}

<script src="~/Scripts/jquery-1.7.1.js"></script>
<script>
    $(document).ready(function () {
        $("#content tbody tr").each(function (i, row) {
            var $actualRow = $(row);
            if ($actualRow.text().indexOf('Exception') == 13) {
                //if ($actualRow.find('input[type=checkbox]').prop('checked') == true) {
                $actualRow.css('background-color', '#EAF2D3');
                $actualRow.css('font-weight', 'bold');
            }
            else {
                $actualRow.css('background-color', '#f9f9f9');
            }
        });
    });
</script>

<style type="text/css">
    .table {
        margin: 4px;
        border-collapse: collapse;
        width: 100%;
    }

        .table td {
            border: 1px solid black;
            padding: 1px;
        }

    .head {
        background-color: white;
        color: white;
        height: 20px;
        text-decoration: none;
    }
</style>


@if (Model.Count() > 0)
{
<div id="content">
    @grid.GetHtml(
    tableStyle: "table", // applying style on grid
    fillEmptyRows: false,
    headerStyle: "head", //applying style.
    footerStyle: "grid-footer", //applying style.
    mode: WebGridPagerModes.All, //paging to grid
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
    columns: new[]  // colums in grid

    {

        grid.Column(columnName : "SrNo", header: "Sr No", format: @<text>@item.SrNo</text>),
        grid.Column(columnName : "FleetName", header: "Fleet Name", format: @<text>@item.FleetName</text>),
        grid.Column(columnName : "NoOfTrans", header: "No Of Txn", format: @<text>@item.NoOfTrans</text>),
        grid.Column(columnName : "FareAmt", header: "Fare Amt", format: @<text>@item.FareAmt</text>),
        grid.Column(columnName : "Tips", header: "Tips",format: @<text>@item.Tips</text>),
        grid.Column(columnName : "Surcharges", header: "Surcharges",format: @<text>@item.Surcharges</text>),
        grid.Column(columnName : "TechFee", header: "Tech Fee", format: @<text>@item.TechFee</text>),
        grid.Column(columnName : "NoOfChargebacks", header: "No Of Charge backs", format: @<text>@item.NoOfChargebacks</text>),
        grid.Column(columnName :"ChargebackValue", header: "Charge back Value", format: @<text>@item.ChargebackValue</text>),
        grid.Column(columnName :"NoOfVoid", header: "No Of Voids", format: @<text>@item.NoOfVoid</text>),
        grid.Column(columnName :"VoidValue", header: "Void Value", format: @<text>@item.VoidValue</text>),
        grid.Column(columnName :"TotalAmount", header: "Total Amount", format: @<text>@item.TotalAmount</text>),
        grid.Column("Fees"),
        grid.Column(columnName :"AmountOwing", header:"Amount Owing", format: @<text>@item.AmountOwing</text>),
        grid.Column(columnName :"TransCountForSlab1", header:"s1", format: @<text>@item.TransCountForSlab1</text>),
        grid.Column(columnName :"TransCountForSlab2", header:"s2", format: @<text>@item.TransCountForSlab2</text>),
        grid.Column(columnName :"TransCountForSlab3", header:"s3", format: @<text>@item.TransCountForSlab3</text>),
        grid.Column(columnName :"TransCountForSlab4", header:"s4", format: @<text>@item.TransCountForSlab4</text>),

   })
</div>
}
else
{
    <table><tr><td style="color:red">No Record Found.</td></tr></table>
}
