﻿@using MTData.Web.ViewData
@model IEnumerable<GetMerchantExceptionReportViewData>
@{
    ViewBag.Title = "grid";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10);
}
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script>
    $(document).ready(function () {
        $("#content tbody tr").each(function (i, row) {
            var $actualRow = $(row);
            if ($actualRow.text().indexOf('Exception') == 13) {
                //if ($actualRow.find('input[type=checkbox]').prop('checked') == true) {
                $actualRow.css('background-color', '#EAF2D3');
                $actualRow.css('font-weight', 'bold');
            }
            else {
                $actualRow.css('background-color', '#f9f9f9');
            }
        });
    });
</script>

<style type="text/css">
    .table {
        margin: 4px;
        border-collapse: collapse;
        width: 100%;
    }

        .table td {
            border: 1px solid black;
            padding: 1px;
        }

    .head {
        background-color: white;
        color: white;
        height: 20px;
        text-decoration: none;
    }

    .overdue {
        color: black;
        text-align: left;
        font-weight: bold;
    }

    .redRow {
        color: red;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#grid tr").each(function () {
            var shouldBeRed = $(this).find(".overdue");
            if (shouldBeRed.length > 0) {
                $(this).attr("class", "redRow");
            }
        });
    });
</script>
 
@if (Model.Count() > 0)
{
<div id="content">
    @grid.GetHtml(
    tableStyle: "table", // applying style on grid
    fillEmptyRows: false,
    headerStyle: "head", //applying style.
    footerStyle: "grid-footer", //applying style.
    mode: WebGridPagerModes.All, //paging to grid
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
    columns: new[]  // colums in grid

    {

        grid.Column(
       columnName:"FleetName",
       header:"FleetName",
       format: (item) =>
       {
           var css = @"class=""overdue""" ;
           if (!item.FleetName.Contains("Exception Case :UnExp Trans,UnExp Cars,UnExp Trans Value"))
           {
               css = "";
           }
           return Html.Raw("<span " + css + ">" + @item.FleetName + "</span>");
       }),
    grid.Column(columnName :"VehicleNo", header:"Vehicle No", format: @<text>@item.VehicleNo</text>),
    grid.Column(columnName :"FareValue", header:"Fare Value", format: @<text>@item.FareValue</text>),
     grid.Column("Tip"),
    grid.Column("Surcharge"),
      grid.Column("TechFee"),
       grid.Column("Amount"),
        grid.Column("Fee"),
    grid.Column(columnName :"AmountOwing", header:"Amount Owing", format: @<text>@item.AmountOwing</text>),



   })
</div>
}
else
{
<table><tr><td style="color:red">No Record Found.</td></tr></table>
}