﻿@using System.Web.UI.WebControls
@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.GatewayViewData
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Gateway    </title>
        <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
        <style type="text/css">
            td {
                padding-top: .3em;
                padding-bottom: .3em;
            }
            th {
                background-color: #014a81;
            }

            .requiredfields {
                color: red;
            }
            .Validation {
                padding-left: 10px;
            }
        </style>    
   
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
            {
               var user = ((SessionDto)Session["User"]).SessionUser.FName;
            <h3> Welcome   @user</h3>
            }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()
                <h4>Update Payment Gateway</h4>
                <hr />
                @Html.ValidationSummary(true)
                <table style="width:67%;">
                    <tr>
                        <td colspan="2" style="width:260px">
                            @if (ViewBag.Message != null)
                            {
                                <p style="color: red;font-size:14px">@ViewBag.Message</p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px">
                            <label>Gateway Name</label><label style="color:red">*</label>
                            @Html.HiddenFor(m => m.GatewayID)
                        </td>
                        <td style="width:350px">@Html.TextBoxFor(model => model.Name, new { @class = "form-control", onkeyup = "AllowCharsSpace(this, 40)" }) </td>
                        <td class="Validation" style="width:260px">@Html.ValidationMessageFor(model => model.Name)</td>
                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr>
                        <td><label>User Name</label><label style="color:red">*</label></td>
                        <td style="width:350px">@Html.TextBoxFor(model => model.UserName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 40)" }) </td>
                        <td style="width:260px" class="Validation"> @Html.ValidationMessageFor(model => model.UserName)</td>
                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr>
                        <td><label>Gateway Password</label><label style="color:red">*</label></td>
                        <td style="width:350px">@Html.PasswordFor(model => model.PCode, new { value = Model.PCode,  @class = "form-control" }) </td>
                        <td style="width:260px" class="Validation"> @Html.ValidationMessageFor(model => model.PCode)</td>
                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    @*<tr>
                        <td><label>Is Active</label><label style="color:red">*</label></td>
                        <td>
                            @Html.RadioButtonFor(model => model.IsActive, "true", new { Styles = "width:40px", @id = "rdbIsActiveyes" })<span>Yes</span>
                            @Html.RadioButtonFor(model => model.IsActive, "false", new { Styles = "width:40px", @id = "rdbIsActiveno" })<span>No</span>
                        </td>
                        <td class="requiredfields" style="width:160px">@Html.ValidationMessageFor(model => model.IsActive)</td>
                    </tr>*@
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr>
                        <td><label>Gateway Url</label><label style="color:red">*</label></td>
                        <td>@Html.TextBoxFor(model => model.GatewayUrl, new { @class = "form-control" }) </td>
                        <td class="Validation" style="width:160px">@Html.ValidationMessageFor(model => model.GatewayUrl)</td>
                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr>
                        <td><label>Gateway Currency</label><label style="color:red">*</label></td>
                        <td>

                            @Html.DropDownListFor(m => m.GatewayCurrency, new SelectList(Model.GatewayCurrencyList, "CurrencyCode", "CurrencyName", Model.GatewayCurrency), new { @class = "form-control" })

                        </td>
                        <td class="requiredfields" style="width:160px">@Html.ValidationMessageFor(model => model.GatewayCurrency)</td>
                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr>
                        <td><label>Gateway Offset</label><label style="color:red">*</label></td>
                        <td>
                            @Html.DropDownListFor(m => m.GatewayOffset, new SelectList(Model.TimeZones, "TimeZoneName", "TimeZoneTime", Model.GatewayOffset), new { @class = "form-control" })
                        </td>
                        <td class="Validation" style="width:160px">@Html.ValidationMessageFor(model => model.GatewayOffset)</td>


                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr>
                        <td><label>Is Default</label><label style="color:red">*</label></td>
                        <td>
                            @Html.RadioButtonFor(model => model.IsDefault, "true", new { @Styles = "width:40px", @id = "rdbIsdef" })<span>Yes</span>
                            @Html.RadioButtonFor(model => model.IsDefault, "false", new { @Styles = "width:40px", @id = "rdbIsdefno" })<span>No</span>
                        </td>
                        <td class="requiredfields" style="width:160px">@Html.ValidationMessageFor(model => model.IsSaleSupported)</td>
                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr>
                        <td><label>Is Sale Supported</label><label style="color:red">*</label></td>
                        <td>
                            @Html.RadioButtonFor(model => model.IsSaleSupported, "true", new { Styles = "width:40px", @id = "rdbIsSaleyes" })<span>Yes</span>
                            @Html.RadioButtonFor(model => model.IsSaleSupported, "false", new { Styles = "width:40px", @id = "rdbIsSaleno" })<span>No</span>
                        </td>
                        <td class="requiredfields" style="width:160px">@Html.ValidationMessageFor(model => model.IsSaleSupported)</td>
                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr>
                        <td><label>Is Preauth Supported</label><label style="color:red">*</label></td>
                        <td>
                            @Html.RadioButtonFor(model => model.IsPreauthSupported, "true", new { Styles = "width:40px", @id = "rdbIsPreauthyes" })<span>Yes</span>
                            @Html.RadioButtonFor(model => model.IsPreauthSupported, "false", new { Styles = "width:40px", @id = "rdbIsPreauthno" })<span>No</span>
                        </td>

                        <td class="requiredfields" style="width:160px">@Html.ValidationMessageFor(model => model.IsPreauthSupported)</td>
                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr>
                        <td><label>Is Capture Supported</label><label style="color:red">*</label></td>
                        <td>
                            @Html.RadioButtonFor(model => model.IsCaptureSupported, "true", new { Styles = "width:40px", @id = "rdbIsCaptureyes" })<span>Yes</span>
                            @Html.RadioButtonFor(model => model.IsCaptureSupported, "false", new { Styles = "width:40px", @id = "rdbIsCaptureno" })<span>No</span>
                        </td>
                        <td class="requiredfields" style="width:160px">@Html.ValidationMessageFor(model => model.IsCaptureSupported)</td>
                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr>
                        <td><label>Is Cancel Supported</label><label style="color:red">*</label></td>
                        <td>
                            @Html.RadioButtonFor(model => model.IsCancelSupported, "true", new { Styles = "width:40px", @id = "rdbIsCancelyes" })<span>Yes</span>
                            @Html.RadioButtonFor(model => model.IsCancelSupported, "false", new { Styles = "width:40px", @id = "rdbIsCancelno" })<span>No</span>
                        </td>
                        <td class="requiredfields" style="width:160px">@Html.ValidationMessageFor(model => model.IsCancelSupported)</td>
                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr>
                        <td><label>Is Refund Supported</label><label style="color:red">*</label></td>
                        <td>
                            @Html.RadioButtonFor(model => model.IsRefundSupported, "true", new { Styles = "width:40px", @id = "rdbIsRefundyes" })<span>Yes</span>
                            @Html.RadioButtonFor(model => model.IsRefundSupported, "false", new { Styles = "width:40px", @id = "redIsRefundno" })<span>No</span>
                        </td>
                        <td class="requiredfields" style="width:160px">@Html.ValidationMessageFor(model => model.IsRefundSupported)</td>
                    </tr>
                    <tr><td colspan="3" class="space"></td></tr>
                    <tr><td></td><td> <a href="~/Gateway" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp;<input type="submit" value="Update" class="btnu" onclick=" return validation();" /></td></tr>
                </table>
                <div class="col-md-offset-2 col-md-10">
                </div>
                }
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    function active() {
        document.getElementById("gate").className += "activeLi";
    }
    function validation() {
        Showloader();
    }
</script>