﻿@using MTD.Core.DataTransferObjects
<!DOCTYPE html>

<head>
    <title>
        Gateway
    </title>
</head>

    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>

                @{
                    Html.RenderAction("_MerchantUsers", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">

                        <table style="width:100%">
                            <tr><td><h4><a href="/Gateway/Create">Add New Gateway</a></h4></td>
                                <td style="float:right">

                                    <form>
                                        <div class="search-box">
                                            <input type="text" name="Search" id="name" placeholder="Search : Gateway Name">
                                            <span class="search-icon">
                                                <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                            </span>
                                        </div>
                                    </form>
                                </td></tr>
                        </table>
                                <div id="StudentTableContainer"></div>
                                <script type="text/javascript">

                    $(document).ready(function () {

                        $('#StudentTableContainer').jtable({
                           // title: 'Payment Gateway',
                            paging: true,
                            pageSize: 15,
                            headerHeight:40,
                            sorting: true,
                            defaultSorting: 'Name ASC',
                            actions: {
                                listAction: '/Gateway/GatewaytListByFiter',
                                deleteAction: '/Gateway/Delete',
                                setAutoResizeMode: true
                            },
                            fields: {
                                GatewayId: {
                                    key: true,
                                    create: false,
                                    edit: false,
                                    list: false
                                },
                                Name: {
                                    title: 'Gateway Name',
                                    width: '23%'
                                },
                                GatewayUrl: {
                                    title: 'URL',
                                    sorting: false
                                },
                                GatewayOffset: {
                                    title: 'Gateway Offset',
                                    width: '27%',
                                    sorting: false
                                },
                                IsSaleSupported: {
                                    title: 'Is Sale?',
                                    width: '13%',
                                    type: 'checkbox',
                                    values: { 'false': 'No', 'true': 'Yes' },
                                    sorting: false
                                },
                                IsPreauthSupported: {
                                    title: 'Is Preauth?',
                                    width: '12%',
                                    type: 'checkbox',
                                    values: { 'false': 'No', 'true': 'Yes' },
                                    sorting: false
                                },
                                IsCaptureSupported: {
                                    title: 'Is Capture?',
                                    type: 'checkbox',
                                    values: { 'false': 'No', 'true': 'Yes' },
                                    sorting: false
                                },
                                IsCancelSupported: {
                                    title: 'Is Cancel?',
                                    type: 'checkbox',
                                    values: { 'false': 'No', 'true': 'Yes' },
                                    sorting: false
                                },
                                IsRefundSupported: {
                                    title: 'Is Refund?',
                                    type: 'checkbox',
                                    values: { 'false': 'No', 'true': 'Yes' },
                                    sorting: false
                                },
                                Edit: {
                                    title: 'Actions',
                                    sorting: false,
                                    width: '10%',
                                    display: function (data) {
                                        return '<a  href="Gateway/Edit?gatewayId=' + data.record.GatewayId + '"><img src="../Scripts/jtable/themes/metro/edit.png"  title="Edit"/></a>';

                                    }
                                },
                            }
                        });

                        //Re-load records when user click 'load records' button.
                        $('#LoadRecordsButton').click(function (e) {
                            e.preventDefault();
                            $('#StudentTableContainer').jtable('load', {
                                name: $('#name').val(),
                            });
                        });

                        //Load all records when page is first shown
                        $('#LoadRecordsButton').click();
                    });

                                </script>
                    </div>

                </div>
            </div>

        </div>
    </body>
  <script type="text/javascript">
    function active() {
        document.getElementById("gate").className += "activeLi";
    }
</script>

