﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.MerchantGatewayViewData
@{
    ViewBag.Title = "Add Merchant Gateway";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Merchant Gateway    </title>
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
        }
        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }
        .required {
            color: red;
        }
    </style>
</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
            {
                var user = ((SessionDto)Session["User"]).SessionUser.FName;
            <h3> Welcome   @user</h3>
            }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_SettingMerchant", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()
                <div class="">
                    <h4>Add Gateway</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    <table style="width:65%">
                        <tr>
                          
                            <td colspan="2">
                                @if (ViewBag.Message != null)
                                    {
                                    <p style="color: green; font-size: 16px">&nbsp;@ViewBag.Message</p>
                                    }

                            </td>
                        </tr>
                        <tr>
                            <td>@Html.Label("Gateway")<span class="required">*</span></td>
                            <td>
                                @Html.DropDownListFor(m => m.fk_GatewayID, new SelectList(Model.GatewayList, "GatewayID", "Name", Model.fk_GatewayID),"--Select Gateway--", new { @class = "form-control",@id = "ddlGateway" })
                            </td>
                            <td class="Validate"> @Html.ValidationMessageFor(model => model.fk_GatewayID) </td>
                        </tr>
                        <tr><td class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("UserName", new { @id = "lblUserName" })@Html.Label("", new { style = "color: red" })</td>
                            <td>@Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "txtUserName", onkeyup = "AllowCharsSpace(this, 30)" })</td>
                            <td class="Validate"> @Html.ValidationMessageFor(model => model.UserName) </td>
                        </tr>
                        <tr><td class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("Password", new { @id="lblPassword"})@Html.Label("", new { style = "color: red" })</td>
                            <td>@Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "txtPassword", onkeyup = "LengthOnly(this, 30)" })</td>
                            <td class="Validate"> @Html.ValidationMessageFor(model => model.Password) </td>
                        </tr>
                        <tr><td class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("Is Default")</td>
                            <td>@Html.CheckBoxFor(model=>model.IsDefault)
                            
                        </tr>
                        <tr><td class="space"></td></tr>
                        <tr><td class="space"></td></tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <input type="submit" class="btnu" value="Create" />&nbsp;&nbsp;&nbsp;<a href="~/MerchantGateway" class="btn1">Cancel</a>
                            </td>
                        </tr>
                    </table>

                </div>
                }
                </div>

            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#txtUserName").val("");
            $("#txtPassword").val("");
        })
        $("#ddlGateway").change(function()
        {
            $("#txtUserName").val("");
            $("#txtPassword").val("");
        })
   
    </script>

</body>
<script type="text/javascript">
    function active() {
        document.getElementById("vas").className += " activeLi" + " activemenu";
    }
</script>
