﻿@using MTD.Core.DataTransferObjects
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<head>
    <title>  Merchant Gateway    </title>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{

                Html.RenderAction("_SettingMerchant", "Member");
            }
        </div>


        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">
                    <table style="width:100%">
                        <tr>
                            <td><h4> @Html.ActionLink("Add Merchant Gateway", "Create", "MerchantGateway")</h4></td>
                            <td style="float:right">

                                <form>
                                    <div class="search-box">
                                        <input type="text" value="" name="Name" id="Name" placeholder="Search : Gateway name">
                                        <span class="search-icon">
                                            <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                        </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>

                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">

                        $(document).ready(function () {

                            $('#StudentTableContainer').jtable({
                                // title: 'Payment Gateway',
                                paging: true,
                                pageSize: 15,
                                sorting: true,
                                defaultSorting: 'Name ASC',
                                actions: {
                                    listAction: '/MerchantGateway/MerchantGateListByFilter',
                                    deleteAction: '/MerchantGateway/Delete',
                                },
                                fields: {
                                    MerchantGatewayID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    
                                    Name: {
                                        title: 'Gateway Name',
                                        width: '35%'

                                    },
                                    IsDefault: {
                                        title: 'Is Default',
                                        sorting: false,
                                        width: '15%',
                                        type: 'checkbox',
                                        values: { 'false': 'No', 'true': 'Yes' },
                                    },
                                    UserName: {
                                        title:'User Name',
                                        width: '25%',
                                        sorting: false
                                    },
                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '10%',
                                        display: function (data) {
                                            return '<a  href="MerchantGateway/Update?merchantGatewayId=' + data.record.MerchantGatewayID + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';

                                        }
                                    },
                                }
                            });

                            //Re-load records when user click 'load records' button.
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#Name').val(),
                                });
                            });

                            //Load all records when page is first shown
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>


<script type="text/javascript">
    function active() {
        document.getElementById("vas").className += " activeLi" + " activemenu";
    }
</script>

