﻿@model MTData.Web.ViewData.RapidConnectViewData
@using MTD.Core.DataTransferObjects
@{
    //ViewBag.Title = "AddRcTerminal";
}
<head>
    <title>  Add New Terminal
 </title>
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            left:525px;
            position: absolute;
        }
        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">

<div class="container-main">
    <div class="left-panel">
        <div class="user">
            @if (Session["User"] != null)
            {
                var user = ((SessionDto)Session["User"]).SessionUser.FName;
                <h3> Welcome   @user</h3>
            }
            <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
        </div>

        @{
            Html.RenderAction("_SettingMerchant", "Member");

        }
    </div>
    <div class="right-panel">
        <div class="right-content">
            <div class="content-sec">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="">
                        <h4>Register Terminal ID</h4>
                        <hr />
                        @Html.ValidationSummary(true)
                        <table style="width:90%;">
                            <tr>
                                <td style="width:200px">&nbsp;</td>
                                <td>
                                    @if (ViewBag.Message != null)
                                    {
                                        <p style="color: green;font-size: 12px">&nbsp;@ViewBag.Message</p>
                                    }
                                    @if (TempData["Registered"] != null)
                                    {
                                        <p style="color: green;font-size: 12px">&nbsp;@TempData["Registered"]</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.Label("Terminal ID")<span class="required">*</span></td>
                                <td> @Html.TextBoxFor(model => model.RCTerminalId, new { @class = "form-control", @id = "txtRc", onkeyup = "LengthOnly(this, 8)" })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.RCTerminalId) </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <a href="~/Merchant/Index" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp; <input type="submit" class="btnu  " value="Register" onclick="return validation();" />
                                </td>
                            </tr>
                        </table>

                    </div>
                }
            </div>

        </div>
    </div>

</div>
    </body>

<script type="text/javascript">
    function active() {
        document.getElementById("vas").className += " activeLi" + " activemenu";
      
    }
    function validation() {
        Showloader();

    }
</script>