﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.TerminalViewData
@{
    ViewBag.Title = "Create Terminal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Terminal </title>
    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.ui.draggable.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
    <script src="~/js/bootstrap-filestyle.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            left: 532px;
            position: absolute;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
        .browse-btn-dt { width:280px;
        }
 .browse-btn-dt .bootstrap-filestyle .form-control {
                background-color: #fff;
            }
        .group-span-filestyle.input-group-btn label {
            margin-top: 0;
            font-family: Arial;
            font-size: 13px;
            padding: 7px 7px;
            font-weight: normal !important;
        }
    </style>
</head>
<body onload="active()">
<div class="container-main">
    <div class="left-panel">
        <div class="user">
            @if (Session["User"] != null)
            {
                var user = ((SessionDto)Session["User"]).SessionUser.FName;
                var userId = ((SessionDto)Session["User"]).SessionUser.fk_MerchantID;
                <h3> Welcome   @user</h3>
                <input type="hidden" id="hiddProject" value="@ViewBag.Project">
            }
            <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
        </div>

        @{
            Html.RenderAction("_MerchantUsers", "Member");
        }
    </div>
    <div class="right-panel">
        <div class="right-content">
            <div class="content-sec">
                @using (Html.BeginForm("Create", "Terminal", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="">
                        <h4>Create Terminal</h4>
                        <hr />
                       
                        @Html.ValidationSummary(true)
                       
                        <table style="width:75%;">
                            <tr>
                                <td style="width:200px">&nbsp;</td>
                                <td style="width:365px">
                                    @if (ViewBag.Message != null)
                                    {
                                        <p style="color: green;font-size: 13px">&nbsp;@ViewBag.Message</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="width:200px">@Html.Label("Input Type")</td>
                                <td class="input-box">
                                    @Html.RadioButton("Manual", "Manual", true, new { @Name = "radiobutton", @checked = "checked", @value = "Manual", @text = "Excel" })<span class="replyspan">Manual</span>
                                    @Html.RadioButton("Excel Upload", "Excel", new { @Name = "radiobutton", @value = "Excel", @text = "Excel" ,id="radiobuttonU"})<span class="replyspan">Upload File</span>
                                </td>
                                <td class="Validate"></td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td style="width:200px">@Html.Label("Device Name")<span class="required">*</span></td>
                                <td>
                                    @Html.DropDownListFor(m => m.DeviceName, new SelectList(Model.DeviceList, "PayTerminalId", "DeviceName", Model.DeviceName), "--Please select a device--", new { @class = "form-control", @id = "ddlDev" })
                                    @Html.HiddenFor(m=>m.Device)
                                </td>
                                <td class="Validate">
                                    @Html.ValidationMessageFor(model => model.DeviceName)
                                </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Device Serial Number")@Html.Label("*", new { style = "color: red" })</td>
                                <td>@Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control", @id = "txtSerialNo", onkeyup = "AllowCharsNumberSymbol(this, 28)" })</td>
                                <td class="Validate"> @Html.ValidationMessageFor(model => model.SerialNo) </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Terminal ID")@Html.Label("*", new { style = "color: red",@id="lblStar"})</td>
                                <td> @Html.DropDownListFor(m => m.TermId, new SelectList(Model.RegisteredTerminalList, "RCTerminalId", "RCTerminalId", Model.TermId), "--Please select terminal id--", new { @class = "form-control", @id = "ddlRcTermId" })  </td>
                                <td class="Validate"> @Html.ValidationMessageFor(model => model.TermId) </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Android Mac Address")@Html.Label("*", new { style = "color: red" })</td>
                                <td>@Html.TextBoxFor(model => model.MacAdd, new { @class = "form-control", @id = "txtMacAdd", onkeyup = "AllowCharsNumberSymbol(this, 28)" }) </td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.MacAdd) </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td style="width:200px">@Html.Label("Terminal Type")</td>
                                <td class="input-box">
                                    <label id="lblCn">Contact</label>&nbsp;<input type='radio' name='choices' id="radioCn" value='1'>
                                    <label id="lblCnLess">ContactLess</label>&nbsp;<input type='radio' name='choices' id="radioCnLess" value='2'>     
                                    @Html.HiddenFor(m => m.Contact, new { @id="hidd1"})                                               
                                </td>
                                <td class="Validate"></td>
                            </tr>
                            <tr><td class="space"></td></tr>

                            <tr>
                                <td>@Html.Label("Description")</td>
                                <td> @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "height:60px", onkeyup = "LengthOnly(this, 150)" })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.Description) </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Select a File")</td>
                                <td>

                                    <div class="brouse-wrapper browse-btn-dt"> <input type="file" id="uploadFile" name="uploadFile" accept=".csv" placeholder="Browse a file." value="" class="filestyle" data-icon="false"></div>
                                    <a href="~/Terminal/Download?file=TerminalDeviceList.csv" target="_blank">Template CSV file</a>

                                </td>
                                <td class="Validate"></td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <a href="~/Terminal/Index" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp; <input type="submit" class="btnu" value="Create" onclick=" return validation();" />
                                </td>
                            </tr>
                        </table>
                    </div>
                }
            </div>

        </div>
    </div>

</div>

<div class="popup-block popup-ctr" id="simpleConfirm" style="display:none;">
    <div class="mgn-B-10"><a href="/Terminal/Index" id="close"><span class="glyphicon glyphicon-remove float-R" aria-hidden="true"></span></a></div>
    <div class="popup-form-content">
        @if (Model.IsTerminalError)
        {
            @Html.Partial("_NotUploadDeviceList", Model.TerminalExcelUploadViewData);
        }

        <div class="row last_row butons">
            <div class="btnBox btnBox2 float_right btn-ok">
                <input type="button" value="Ok" name="Cancel" class="btn transEffects" id="btnSkip" />
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    if ($('input[name=choices]').click(function () {
        $('#hidd1').val($(this).val());
    }));
    $("#ddlDev").change(function () {
        var device = $("#ddlDev option:selected").text();
        $("#Device").val(device);
    });
   
    function active() {
        document.getElementById("ter").className += "activeLi";
    }
    var IsTerminalError = false;
    console.log(IsTerminalError);
    $(document).ready(function () {
        if (IsTerminalError == true) {
        }
        var value = $('input:radio[name=radiobutton]:checked').val();
        if (value == "Manual") {
            $("#uploadFile").attr("disabled", "disabled");
            $("#ddlDev").prop("disabled", false);
            $("#txtSerialNo").prop("disabled", false);
            $("#ddlRcTermId").prop("disabled", false);
            $("#txtMacAdd").prop("disabled", false);
            $("#Description").prop("disabled", false);
            document.getElementById("radioCn").disabled = false;
            document.getElementById("radioCnLess").disabled = false;
        }
        else if (value == "Excel") {
            $("#ddlDev").prop("disabled", "disabled");
            $("#txtSerialNo").prop("disabled", "disabled");
            $("#ddlRcTermId").prop("disabled", "disabled");
            $("#txtMacAdd").prop("disabled", "disabled");
            $("#Description").prop("disabled", "disabled");
            $("#uploadFile").attr("disabled", false);
            document.getElementById("radioCn").checked = false;
            document.getElementById("radioCnLess").checked = false;
            document.getElementById("radioCn").disabled = true;
            document.getElementById("radioCnLess").disabled = true;
        }
        else { }

        $("input:radio[name=radiobutton]").click(function () {
            var value = $('input:radio[name=radiobutton]:checked').val();
            if (value == "Manual") {
                $("#uploadFile").attr("disabled", "disabled");

                $("#ddlDev").prop("disabled", false);
                $("#txtSerialNo").prop("disabled", false);
                $("#ddlRcTermId").prop("disabled", false);
                $("#txtMacAdd").prop("disabled", false);
                $("#Description").prop("disabled", false);
                document.getElementById("radioCn").disabled = false;
                document.getElementById("radioCnLess").disabled = false;
            }
            else if (value == "Excel") {
                $("#ddlDev").prop("disabled", "disabled");
                $("#txtSerialNo").prop("disabled", "disabled");
                $("#ddlRcTermId").prop("disabled", "disabled");
                $("#txtMacAdd").prop("disabled", "disabled");
                $("#Description").prop("disabled", "disabled");
                $("#uploadFile").attr("disabled", false);
                document.getElementById("radioCn").checked = false;
                document.getElementById("radioCnLess").checked = false;
                document.getElementById("radioCn").disabled = true;
                document.getElementById("radioCnLess").disabled = true;
            }
            else { }
        });

    });
</script>

<script type="text/javascript">
    function performClick(elemId) {
        var elem = document.getElementById(elemId);
        if (elem && document.createEvent) {
            var evt = document.createEvent("MouseEvents");
            evt.initEvent("click", true, false);
            elem.dispatchEvent(evt);
        }
    }
    function validation() {
        var response = true;
        if ($('#radiobuttonU').is(':checked')) {
            if (!$('#uploadFile').val()) {
                jAlert('Please upload excel file', 'Required Field');
                response = false;
            }
        }
        if (response) {
            Showloader();
        }
        return response;
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#hiddProject').val() == "UK")
        {
            debugger;
            $('#ddlRcTermId').attr("disabled", true);
            $('#lblStar').hide();

        }
    });
</script>