﻿@using MTD.Core.DataTransferObjects
@{
    ViewBag.Title = "DeviceIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <title> Manage Device Name
 </title>

</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{

                Html.RenderAction("_Manage", "Member");
            }
        </div>


        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">
                    <table style="width: 100%">
                        <tr>

                            <td>
                                @if (TempData["Message"] != null)
                                {
                                    <p style="color: green;font-size: 16px">&nbsp;@TempData["Message"]</p>
                                }

                            </td>
                        </tr>
                        <tr>
                            <td><h4>@Html.ActionLink("Add New Device Name", "DeviceCreate")</h4></td>
                            <td style="float: right">

                                <form>
                                    <div class="search-box">
                                        <input type="text" value="" name="DeviceName" id="DeviceName" placeholder="Search : Device name">
                                        <span class="search-icon">
                                            <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                        </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>

                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">

                        $(document).ready(function () {

                            $('#StudentTableContainer').jtable({
                                // title: 'Payment Gateway',
                                paging: true,
                                pageSize: 15,
                                sorting: true,
                                defaultSorting: 'DeviceName ASC',
                                actions: {
                                    listAction: '/Terminal/GetDeviceListByFilter',
                                    deleteAction: '/Terminal/DeviceDelete',
                                },
                                fields: {
                                    PayTerminalId: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    DeviceName: {
                                        title: 'Device Name',
                                        width: '95%'
                                    },                                  
                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '10%',
                                        display: function (data) {
                                            return '<a  href="DeviceUpdate?deviceId=' + data.record.PayTerminalId + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';

                                        }
                                    },
                                }
                            });

                            //Re-load records when user click 'load records' button.
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#DeviceName').val(),
                                });
                            });

                            //Load all records when page is first shown
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>

<script type="text/javascript">
    function active() {
         document.getElementById("mnglink").className += " activeLi" + " activemenu";
    }
</script>


