﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.DeviceNameListViewData
@{
    ViewBag.Title = "Add Device Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>
        Add New Terminal
    </title>
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_Manage", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Add Device Name</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width: 68%;">
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width:305px">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: green;font-size: 12px">&nbsp;@ViewBag.Message</p>
                                        }
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Device Name")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.DeviceName, new { @class = "form-control", @id = "txtDeviceName", onkeyup = "AllowCharsNumberSymbol(this, 28)" })</td>
                                    <td>
                                        @*@Html.ValidationMessageFor(model => model.DeviceName)*@
                                        <span class="field-validation-error Validate" style="width: 200px;" id="Device"> @Html.ValidationMessageFor(model => model.DeviceName) </span>
                                        <span class="field-validation-error Validate" style="width: 200px; display: none;" id="valDeviceName"> Please enter device name</span>
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr><td class="space"></td></tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <a href="~/Terminal/DeviceIndex" class="btn1">Cancel</a>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="submit" class="btnu " id="btnsubmit" value="Create" onclick=" return validation();" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    function validation() {
        if ($('#txtDeviceName').val().length == 0) {
            $("#Device").hide();
            $("#valDeviceName").show();

            $("#txtDeviceName").addClass("valBord");
            if (!check()) {
                return check();
            }
            return false;
        }
        if ($('#txtDeviceName').val().length > 0) {
            Showloader();
            return true;
        }
    }
    function active() {

        document.getElementById("mnglink").className += " activeLi" + " activemenu";
    }
   
</script>


