﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.IsFirstLoginViewData
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<head>
    <link href="~/css/PopUs.css" rel="stylesheet" />
    <title>  Terminal </title>
    <style type="text/css">
        .change-pass-popup .btnBox {
            width: 125px;
            margin: 15px 10px;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{

                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>


        <div class="popup-block change-pass-popup" id="simpleConfirm" style="display:none;">
            <div class="popup-form-content msg-heading-txt">
                <h4 class="h4">Do you want to change password?</h4>


                <div class="popup-inner last_row butons">
                    <div class="btnBox btnBox1 float_left">
                        <input type="button" value="Yes" class="btn transEffects yes-btn" id="btnYes" />
                    </div>
                    <div class="btnBox btnBox2 float_right">
                        <input type="button" value="Not Now" name="Cancel" class="btn transEffects yes-btn" id="btnSkip" />
                    </div>
                    <div class="again-txt">
                        <a href="#" class="" id="dontask"> Don't ask me again</a>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>

        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    @if (TempData["Message"] != null)
                                    {
                                        <p style="color: green;font-size: 12px">&nbsp;@TempData["Message"]</p>
                                    }

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>@Html.ActionLink("Add New Terminal", "Create")</h4>
                                    <input type="checkbox" id="isFirst" data-val="true" checked="@Model.IsFirstLogin" style="display:none;">
                                    <input type="hidden" id="UserType" value="@Model.UserTypeId">
                                    <input type="hidden" id="UserId" value="@Model.UserId">
                                </td>
                                <td style="float: right">

                                    <form>
                                        <div class="search-box">
                                            <input type="text" value="" name="DeviceName" id="DeviceName" placeholder="Search : Device Name">
                                            <input type="text" value="" name="SerialNumber" id="SerialNumber" placeholder="Search : Device Serial No">
                                            <input type="text" value="" name="RapidConnectID" id="RapidConnectID" placeholder="Search : RC Terminal">
                                            <span class="search-icon">
                                                <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                                <input type="image" src="../images/file_extension_xls.png" alt="Export" title="Exprot to excel" />
                                            </span>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    }
                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">

                        $(document).ready(function () {

                            $('#StudentTableContainer').jtable({
                                // title: 'Payment Gateway',
                                paging: true,
                                pageSize: 15,
                                sorting: true,
                                defaultSorting: 'DeviceName ASC',
                                actions: {
                                    listAction: '/Terminal/TerminalListByFiter',
                                    deleteAction: '/Terminal/Delete',
                                },
                                fields: {
                                    TerminalID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    DeviceName: {
                                        title: 'Device Name',
                                        width: '20%'
                                    },
                                    SerialNo: {
                                        title: 'Device Serial No',
                                        width: '20%'
                                    },
                                    Description: {
                                        title: 'RC Terminal',
                                        sorting: false,
                                        width: '20%'
                                    },
                                    MacAdd: {
                                        title: 'Android Mac Address',
                                        width: '20%'
                                    },


                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '10%',
                                        display: function (data) {
                                            return '<a  href="Update?terminalId=' + data.record.TerminalID + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';

                                        }
                                    },
                                }
                            });

                            //Re-load records when user click 'load records' button.
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#DeviceName').val(),
                                    rapidConnectID: $('#RapidConnectID').val(),
                                    serialNumber: $('#SerialNumber').val()
                                });
                            });

                            //Load all records when page is first shown
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>

<script type="text/javascript">
    function active() {
        document.getElementById("ter").className += "activeLi";
    }
    $(document).ready(function () {
        //$("#simpleConfirm").confirm();
        var res = ckb = $("#isFirst").is(':checked');
        var userType = $("#UserType").val();
        if (res) {
            var loginBox = "#simpleConfirm";
            //Fade in the Popup and add close button
            $(loginBox).fadeIn(300);
            //Set the center alignment padding + border
            var popMargTop = ($(loginBox).height() + 24) / 2;
            var popMargLeft = ($(loginBox).width() + 24) / 2;
            $(loginBox).css({
                'margin-top': -popMargTop,
                'margin-left': -popMargLeft
            });
            // Add the mask to body


            $('body').append('<div id="mask"></div>');
            $('#mask').fadeIn(300);
        }

        $("#btnYes").click(function () {

            window.location.href = '/Profile/ChangePassword';
        });

        $("#btnSkip").click(function () {
            $("#simpleConfirm").hide();
            $('#mask').fadeOut(300);

        });

        $("#dontask").click(function () {
            $("#simpleConfirm").hide();
            $('#mask').fadeOut(300);
            $.ajax({
                type: "POST",
                url: '@Url.Content("/User/ChangeStatus")',
                data: { UserId: $("#UserId").val() },
                success: function (data) {

                },
                error: function () {
                }
            });

        });
    });
</script>


