﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.TerminalViewData
@{
    ViewBag.Title = "Update Terminal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Update Terminal
 </title>
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            left: 532px;
            position: absolute;
        }
        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">

    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    var userId = ((SessionDto)Session["User"]).SessionUser.fk_MerchantID;
                    <h3> Welcome   @user</h3>
                    <input type="hidden" id="hiddProject" value="@ViewBag.Project">
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Update Terminal</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:75%;">
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width:355px">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: green;font-size: 12px">&nbsp;@ViewBag.Message</p>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.Label("Device Name")<span class="required">*</span></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.DeviceName, new SelectList(Model.DeviceList, "PayTerminalId", "DeviceName", Model.DeviceName), "--Please select a device--", new { @class = "form-control", @id = "ddlDev" })
                                    </td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.DeviceName) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Device Serial Number")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control", @id = "txtSerialNo", onkeyup = "AllowCharsNumberSymbol(this, 28)" })</td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.SerialNo) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Terminal ID")@Html.Label("*", new { style = "color: red",@id = "lblStar" })</td>
                                    <td> @Html.DropDownListFor(m => m.TermId, new SelectList(Model.RegisteredTerminalList, "RCTerminalId", "RCTerminalId", Model.TermId), "--Please select terminal id--", new { @class = "form-control", @id = "ddlRcTermId" })  </td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.TermId) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Android Mac Address")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.MacAdd, new { @class = "form-control", @id = "txtMacAdd", onkeyup = "AllowCharsNumberSymbol(this, 28)" }) </td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.MacAdd) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Terminal Type")</td>
                                    <td class="input-box">
                                        <label id="lblCn">Contact</label>&nbsp;<input type='radio' name='choices' id="radioCn" value='1'>
                                        <label id="lblCnLess">ContactLess</label>&nbsp;<input type='radio' name='choices' id="radioCnLess" value='2'>
                                        @Html.HiddenFor(m => m.Contact, new { @id = "hidd1" })
                                    </td>
                                    <td class="Validate"></td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Description")</td>
                                    <td> @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "height:60px", onkeyup = "LengthOnly(this, 190)" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.Description) </td>

                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td><a href="~/Terminal/Index" class="btn1" tabindex=-1>Cancel</a>&nbsp;&nbsp;&nbsp;
                                        <input type="submit" class="btnu  " value="Update" onclick=" return validation();" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function active() {
        document.getElementById("ter").className += "activeLi";
    }
    function validation() {
            Showloader();
        return true;
    }
</script>
<script type="text/javascript">
    if ($('input[name=choices]').click(function () {
      $('#hidd1').val($(this).val());
    }));
    $(document).ready(function () {
        if ($('#hiddProject').val() == "UK") {
            $('#ddlRcTermId').attr("disabled", true);
            $('#lblStar').hide();

        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ('@Model.IsContactLess'=='True') {
            $('#radioCn').prop("checked", false);
            $('#radioCnLess').prop("checked", true);
        } if ('@Model.IsContactLess' == 'False') {
            $('#radioCn').prop("checked", true);
            $('#radioCnLess').prop("checked", false);
        }
    });
</script>










