﻿@using MTD.Core.DataTransferObjects
@using MTData.Utility
@using MTData.Web.ViewData
@using ModelState = System.Web.WebPages.Html.ModelState
@model MTData.Web.ViewData.UserViewData

@{
    ViewBag.Title = "Create Admin User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Add New Admin
</title>
    <link href="~/Content/bootstrap-3.1.1.min.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/bootstrap-2.3.2.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet"/>
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .right-panel {
            margin-left: 300px;
            width: auto;
            height: 100%;
            min-height: 600px;
        }
        th {
            background-color: #014a81;
        }

        .requiredfields {
            color: red;
        }

        .required {
            color: red;
        }

        #ui-id-1 {
            display: none;
            left: 541px;
            top: 375px;
            width: 280px;
            z-index: 9;
        }
        .valid {
            position: absolute;
            left: 525px;
             margin-left: 6px;
        }
    </style>

    <script type="text/javascript">

    $(document).ready(function () {
        $(".chkrole").click(function () {
            var HidId = $(this).attr("id");
            if ($(this).prop("checked")) {

                $('#Hid_' + HidId).attr("name", "UserRoleIdList");
            }
            else {

                $('#Hid_' + HidId).attr("name", "");
            }
        });

    });
    </script>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>

        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Create Admin</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:70%">
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width: 418px">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: green;font-size: 12px">&nbsp;@ViewBag.Message</p>
                                        }

                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:200px">@Html.Label("First Name")<span class="required">*</span></td>
                                    <td style="width:355px"> @Html.TextBoxFor(model => model.FName, new { @class = "form-control", @id = "txtFName", onkeyup = "AllowCharsNumberSpace(this, 30)" })</td>
                                    <td class="valid" style="width:200px">@Html.ValidationMessageFor(model => model.FName) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Last Name")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.LName, new { @class = "form-control", @id = "txtLName", onkeyup = "AllowCharsNumberSpace(this, 30)" })</td>
                                    <td class="valid"> @Html.ValidationMessageFor(model => model.LName) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Phone")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @id = "txtPhone", onkeyup = "AllowNumbers(this, 16)" }) </td>
                                    <td class="valid">@Html.ValidationMessageFor(model => model.Phone) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Email")@Html.Label("*", new { style = "color: red" })</td>
                                    <td> @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail", onkeyup = "LengthOnly(this, 50)" })</td>
                                    <td class="valid"> @Html.ValidationMessageFor(model => model.Email)</td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Country")<span class="required">*</span></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.fk_Country, new SelectList(Model.CountryList, "CountryCodesID", "Title", Model.fk_Country), new { @class = "form-control" })
                                    </td>
                                    <td class="valid"> @Html.ValidationMessageFor(model => model.fk_Country)</td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("State")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.fk_State, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 35)" })
                                       
                                    </td>
                                    <td class="valid"> @Html.ValidationMessageFor(model => model.fk_State)</td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("City")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.fk_City, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 35)" })
                                    </td>
                                    <td class="valid"> @Html.ValidationMessageFor(model => model.fk_City)</td>
                                </tr>

                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Address")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextAreaFor(model => model.Address, new { @class = "form-control ", @id = "txtAddress", onkeyup = "LengthOnly(this, 250)" })</td>
                                    <td class="valid"> @Html.ValidationMessageFor(model => model.Address)</td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr><td class="space"></td></tr>
                              
                                <tr><td class="space"></td></tr>

                                <tr>
                                    <td>&nbsp;</td>
                                    <td>

                                        <a href="Index" class="btn1">Cancel</a>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="submit" class="btnu" value="Create" onclick=" return validation();" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>
        

        
    </div>

</body>

<script type="text/javascript">
    function active() {
        document.getElementById("mau").className += "activeLi";
        
    }

    function validation() {
        Showloader();
    }
</script>



<script type="text/javascript">
    $(document).ready(function () {
   
        $('#fk_State').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetStateList?countryId=" + $("#fk_Country").val() + "&mtch=" + $("#fk_State").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });
        $('#fk_City').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetCityList?mtch=" + $("#fk_City").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });

    });
</script>