﻿@using MTD.Core.DataTransferObjects
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Manage Admin
</title>
    <script type="text/javascript">
        function handleClick(cb) {
            var ids = cb.id;
            var state = cb.checked;
            var isConfirm;
            if (state) {
                isConfirm = confirm("Are you sure you want to lock this admin?");
            }
            else {
                isConfirm = confirm("Are you sure you want to unlock this admin?");
            }
            if (isConfirm) {

                $.ajax({
                    url: "/Merchant/Islocked?id=" + ids + "&status=" + state,
                    type: "POST",
                    traditional: true,
                    success: function (data) {
                        //alert('Updated successfully');
                    }
                });
            }
            else {
                if (state) {
                    document.getElementById(ids).checked = false;
                }
                else {
                    document.getElementById(ids).checked = true;
                }
            }
        }
    </script>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{

                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    <table style="width:100%">
                        <tr>
                            <td><h4><a href="Create">Add New Admin</a></h4></td>
                            <td style="float:right">
                                <form>
                                    <div class="search-box">
                                        <input type="text" value="" name="FName" id="FName" placeholder="Search : Name">
                                        <span class="search-icon">
                                            <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                        </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>

                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#StudentTableContainer').jtable({
                                // title: 'Payment Gateway',
                                paging: true,
                                pageSize: 15,
                                sorting: true,
                                defaultSorting: 'CreatedDate DESC',
                                actions: {
                                    listAction: '/Admin/AdminUserListByFiter',
                                    deleteAction: '/Admin/Delete'
                                },
                                fields: {
                                    UserID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    FName: {
                                        title: 'Name',
                                        width: '18%'
                                    },
                                    
                                    Email: {
                                        title: 'Email',
                                        width: '19%',
                                        sorting: true
                                    },
                                    Phone: {
                                        title: 'Phone',
                                        width: '15%',
                                        sorting: true
                                    },
                                    Address: {
                                        title: 'Address',
                                        sorting: false,
                                        width: '40%'
                                    },
                                    CreatedDate: {
                                        title: 'Date',
                                        type: 'date',
                                        sorting: true,
                                        displayFormat: 'mm-dd-yy'
                                    },
                                    IsLockedOut: {
                                        title: 'Locked?',
                                        sorting: false,
                                        width: '7%',
                                        display: function (data) {
                                            if (data.record.IsLockedOut) {
                                                return '<input type="Checkbox" id="' + data.record.UserID + '" Value="' + data.record.IsLockedOut + '"Checked="' + data.record.IsLockedOut + '" onclick="handleClick(this);">';
                                            }
                                            return '<input type="Checkbox" id="' + data.record.UserID + '" Value="' + data.record.IsLockedOut + '" onclick="handleClick(this);">';
                                        }
                                    },
                                    Logon: {
                                        title: 'Logon',
                                        sorting: false,
                                        width: '8%',
                                        display: function (data) {
                                            return '<a  href="../Merchant/TakeControl?userEmail=' + data.record.Email + '&userId=' + data.record.UserID + '"><img src="../images/take-control.png" title="Logon As"/></a>';
                                        }
                                    },

                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '10%',
                                        display: function (data) {
                                            return '<a  href="Update?adminUserId=' + data.record.UserID + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';

                                        }
                                    },
                                }
                            });
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#FName').val(),
                                });
                            });
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    function active() {
        document.getElementById("mau").className += "activeLi";
    }
</script>


