﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.UserViewData

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
    .right-panel {
        margin-left: 300px;
        width: auto;
        height: 100%;
        min-height: 600px;
        margin-top: 50px;
    }

    td {
        padding-top: .3em;
        padding-bottom: .3em;
    }

    th {
        background-color: #014a81;
    }

    .requiredfields {
        color: red;
        left: 533px;
    }
</style>
<div>
    <div class="" style="padding-top:17px"></div>
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
               @if (Session["User"] != null)
                {
                   var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="">
                            <h4>Update User</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table>
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width:355px">
                                        &nbsp;
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: green;">&nbsp;@ViewBag.Message</p>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.FName)
                                    </td>
                                    <td> @Html.TextBoxFor(model => model.FName, new { @class = "form-control" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.FName) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Last Name")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.LName, new { @class = "form-control" })</td>
                                    <td class="Validate">&nbsp; @Html.ValidationMessageFor(model => model.LName) </td>
                                </tr>

                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Email")@Html.Label("*", new { style = "color: red" })</td>
                                    <td> @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.Email)</td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Phone")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.Phone, new { @class = "form-control" }) </td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.Phone) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td colspan="3">

                                        @{ Html.RenderPartial("CountryState");  }
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Address")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextAreaFor(model => model.Address, new { @class = "form-control" })</td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.Address)</td>
                                </tr>

                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>
                                        @Html.Label("Is Locked Out")
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.IsLockedOut, new { @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.IsLockedOut)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label("Is Active")
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.IsActive, new { @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.IsActive)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>
                                        @Html.Label("Created By")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control", @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.CreatedBy)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>
                                        @Html.Label("Created Date")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.CreatedDate)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>
                                        @Html.Label("Modified By")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.ModifiedBy, new { @class = "form-control", @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.ModifiedBy)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>
                                        @Html.Label("Modified Date")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.ModifiedDate, new { @class = "form-control", @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.ModifiedDate)
                                    </td>
                                </tr>

                                @Html.HiddenFor(model => model.RolesAssigned, new { @id = "roles" })

                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>
                                        <label>Role</label>
                                    </td>
                                    <td>
                                        @if (!object.Equals(Model.UserRoles, null))
                                        {

                                            foreach (var item in Model.UserRoles)
                                            {
                                                if (!string.IsNullOrEmpty(Model.RolesAssigned))
                                                {
                                                    if (Model.RolesAssigned.Split(',').Select(x => Convert.ToInt32(x)).Contains(item.RoleId))
                                                    {
                                                        <input type="checkbox" id="@item.RoleId" class="chkrole" checked="checked" /> @item.RoleName
                                                        <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" name="UserRoleIdList" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="@item.RoleId" class="chkrole" /> @item.RoleName
                                                        <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" />
                                                    }
                                                }

                                                else
                                                {
                                                    <input type="checkbox" id="@item.RoleId" class="chkrole" /> @item.RoleName
                                                    <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" />
                                                }
                                            }
                                        }
                                    </td>

                                </tr>



                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                <tr><td></td><td><input type="submit" value="Update" class="btnu" /> &nbsp;&nbsp;&nbsp;<a href="Index" class="btn1">Cancel</a></td></tr>

                              
                            </table>



                           

                            <script type="text/javascript">

                                $(document).ready(function () {
                                    $(".chkrole").click(function () {
                                        var HidId = $(this).attr("id");
                                        if ($(this).prop("checked")) {

                                            $('#Hid_' + HidId).attr("name", "UserRoleIdList");

                                        }
                                        else {

                                            $('#Hid_' + HidId).attr("name", "");
                                        }
                                    });

                                });


                            </script>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">


                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
