﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.LoginViewData
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Change Password    </title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 11px;
            padding-bottom: 16px;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }

        .pwd {
            margin-left: 190px;
            font-size: 12px;
            color: #008000;
            padding-left: 10px;
        }
    </style>
</head>
<body onload="active()">
    <div>
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>

                 @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5)
                {
                    Html.RenderAction("_SubAdmin", "Member");
                }
                else
                {

                    Html.RenderAction("_SettingProfile", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">

                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="">
                                <h4>Change User Password</h4>
                                <hr />
                                @if (ViewBag.Message != null)
                                {
                                    <p class="pwd" style="color:green">@ViewBag.Message</p>
                                }
                                @if (ViewBag.Error != null)
                                {
                                    <p style="color: red;margin-left:198px;">@ViewBag.Error</p>
                                }
                                @Html.ValidationSummary(true)
                                <table style="width:100%;">
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2"></td>

                                    </tr>
                                    <tr>
                                        <td style="width:200px">@Html.Label("Enter Old Password")<span class="Validate">*</span></td>
                                        <td style="width:250px"> @Html.PasswordFor(model => model.UserName, new { @class = "form-control" })</td> 
                                        <td style="width:350px">
                                            <div id="divEmpty" style="display: none; color: red; padding-left: 10px; font-size: 11px; ">Please enter old password</div>
                                        </td>                                     
                                        <td class="Validate" style="width:250px"> 
                                            @Html.ValidationMessageFor(model => model.UserName)
                                        </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>

                                        <td>@Html.Label("Enter New Password")<span class="Validate">*</span></td>
                                        <td> @Html.PasswordFor(model => model.PCode, new { @class = "form-control" })</td>
                                        <td style="width:350px">
                                            <div id="divMsgPCode" style="display: none; color: red; padding-left: 10px;font-size:11px;">Password should contain atleast one number,one lowercase letter,one uppercase letter,one special symbol and atleast 10 characters </div>
                                            <div id="divEmptyPCode" style="display: none; color: red; padding-left: 10px; font-size: 11px;">Please enter new password</div>
                                        </td>    
                                        <td class="Validate">
                                            @Html.ValidationMessageFor(model => model.PCode)
                                            @Html.HiddenFor(model => model.UserName)
                                        </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>

                                        <td>@Html.Label("Confirm New Password")<span class="Validate">*</span></td>
                                        <td> @Html.PasswordFor(model => model.ConfirmPCode, new { @class = "form-control" })</td>
                                        <td style="width:350px">
                                            <div id="divMsgConfirmPCode" style="display: none; color: red; padding-left: 10px; font-size: 11px;">Password should contain atleast one number,one lowercase letter,one uppercase letter,one special symbol and atleast 10 characters </div>
                                            <div id="divEmptyConfirmPCode" style="display: none; color: red; padding-left: 10px; font-size: 11px;">Please confirm password</div>
                                            <div id="divPasswordNotMatch" style="display: none; color: red; padding-left: 10px; font-size: 11px;">Password does not  match</div>
                                        </td>   
                                        <td class="Validate">
                                            @Html.ValidationMessageFor(model => model.ConfirmPCode)
                                        </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                    <tr><td></td><td><input type="submit" value="Update" class="btnu" onclick=" return validation();" /> &nbsp;&nbsp;&nbsp;</td></tr>
                                </table>


                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript">
    
    function active() {
        document.getElementById("pro").className += " activeLi" + " activemenu";
        document.getElementById("coll").style.display= "block";
        
        var mydate = new Date();
        mydate.setTime(mydate.getTime() - 1);
        document.cookie = "CookieViewAs=; expires=" + mydate.toGMTString();
    }
</script>
<script type="text/javascript">
    $(function () {
        $("#UserName").focusout(function () {
            var text = $(this).val();
            if (text == "") {
                $("#divEmpty").css("display", "block");
                $("#divPasswordNotMatch").css("display", "none");
                return false;
            } else {
                $("#divEmpty").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return true;
            }
        });
        $("#PCode").focusout(function () {
            var text = $(this).val();
            if (text == "") {
                $("#divEmptyPCode").css("display", "block");
                $("#divMsgPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return false;
            }
            var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\W]).{10,}$/;
            var result = text.match(pattern);
            if (result == null) {
                $("#divMsgPCode").css("display", "block");
                $("#divEmptyPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return false;
            }
            else {
                $("#divMsgPCode").css("display", "none");
                $("#divEmptyPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return true;
            }
        });
        $("#ConfirmPCode").focusout(function () {
            var text = $(this).val();
            if (text == "") {
                $("#divEmptyConfirmPCode").css("display", "block");
                $("#divMsgConfirmPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return false;
            }
            var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\W]).{10,}$/;
            var result = text.match(pattern);
            if (result == null) {
                $("#divMsgConfirmPCode").css("display", "block");
                $("#divEmptyConfirmPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return false;
            }
            else {
                $("#divMsgConfirmPCode").css("display", "none");
                $("#divEmptyConfirmPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return true;
            }
        });
    });
</script>
<script>
    function validation() {
        var response = true;
        if ($("#UserName").val() == "")
        {
            $("#divEmpty").css("display", "block");
            response = false;
        }
        if ($("#PCode").val() == "") {
            $("#divEmptyPCode").css("display", "block");
            response = false;
        }
        if ($("#ConfirmPCode").val() == "") {
            $("#divEmptyConfirmPCode").css("display", "block");
            response = false;
        }
        var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\W]).{10,}$/;
        var result = $("#PCode").val().match(pattern);
        if (result == null && $("#PCode").val()!="") {
            $("#divMsgPCode").css("display", "block");
            $("#divEmptyPCode").css("display", "none");
            $("#divPasswordNotMatch").css("display", "none");
            return false;
        }
        if ($("#PCode").val() != "" && $("#ConfirmPCode").val() != "") {
            if ($("#PCode").val() != $("#ConfirmPCode").val()) {
                $("#divPasswordNotMatch").css("display", "block"); 
                $("#divEmptyConfirmPCode").css("display", "none");
                $("#divMsgConfirmPCode").css("display", "none");
                $("#divMsgPCode").css("display", "none");
                $("#divEmptyPCode").css("display", "none");
                response = false;
            } else {
                $("#divPasswordNotMatch").css("display", "none");
                $("#divEmptyConfirmPCode").css("display", "none");
                response = true;
            }
           
        }
        if (response) {
            Showloader();
        }
        return response;
    }
</script>