﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.UserViewData
@{
    ViewBag.Title = "Manage Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Manage Profile
    </title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/js/custom.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <style type="text/css">
        th {
            background-color: #014a81;
        }

        .requiredfields {
            color: red;
        }

        .required {
            color: red;
        }
    </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5)
                {
                    Html.RenderAction("_SubAdmin", "Member");
                }
                else
                {

                    Html.RenderAction("_SettingProfile", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <h4>Manage Profile</h4>
                            <hr />
                            <table style="width:50%">

                                <tr>
                                    <td>@Html.Label("First Name")</td>

                                    <td> @Html.DisplayFor(model => model.FName, new { @class = "form-control" })</td>


                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Last Name")</td>
                                    <td>

                                        @Html.DisplayFor(model => model.LName, new { @class = "form-control" })
                                    </td>

                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Email")</td>
                                    <td>

                                        @Html.DisplayFor(model => model.Email, new { @class = "form-control" })
                                    </td>

                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Phone")</td>
                                    <td>

                                        @Html.DisplayFor(model => model.Phone, new { @class = "form-control" })
                                    </td>

                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Country")</td>
                                    <td>
                                        @Html.DisplayFor(m => m.CountryName, new { @class = "form-control" })
                                    </td>

                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("State")</td>
                                    <td>
                                        @Html.DisplayFor(m => m.fk_State, new { @class = "form-control" })
                                    </td>

                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("City")</td>
                                    <td>
                                        @Html.DisplayFor(m => m.fk_City)
                                    </td>

                                </tr>

                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Address")</td>
                                    <td>

                                        @Html.DisplayFor(model => model.Address, new { @class = "form-control" })
                                    </td>

                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr><td></td> <td><a href="@Url.Action("Update","Profile")" class="btnu">Edit</a></td></tr>
                            </table>
                        }
                        <div class="col-md-offset-2 col-md-10">
                        </div>

                    </div>

                </div>
            </div>
            

            
        </div>

    </body>
    <script type="text/javascript">
        function active() {
            document.getElementById("pro").className += " activeLi" + " activemenu";
            document.getElementById("coll").style.display = "block";
            var mydate = new Date();
            mydate.setTime(mydate.getTime() - 1);
            document.cookie = "CookieViewAs=; expires=" + mydate.toGMTString();
        }
    </script>
