﻿@using MTD.Core.DataTransferObjects
@using MTData.Web.ViewData;
@model IEnumerable<UserViewData>
@{
    ViewBag.Title = "Manage Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Profile    </title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    </head>
    <div>
        <div class="" style="padding-top:17px"></div>
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>

                @{
                    Html.RenderAction("_MerchantUsers", "Member");
                }
            </div>


            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">

                        <table width="50%" class="table table-striped table-hover custom-style">
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.FName)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.LName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Phone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Country)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.State)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.City)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsLockedOut)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                </th>

                                <th colspan="2" style="text-align:left;">Actions</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.FName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.LName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Country)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.State)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsLockedOut, new { @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive, new { @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedBy)
                                    </td>


                                    <td>
                                        <a href="@Url.Action("Edit", new { adminUserId = item.UserID })"><img src="~/images/gtk-edit.png" /></a>

                                    </td>
                                    <td>
                                        @Html.ActionLink("Change Password", "ChangePassword", new { adminUserId = item.UserID })

                                    </td>
                                </tr>
                            }
                        </table>

                    </div>

                </div>
            </div>

            <!--end content-->



        </div>
        <div class="clearfix"></div>

    </div>
