﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.UserViewData
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>
        Update Profile
    </title>
    <link href="~/Content/bootstrap-3.1.1.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
   
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .right-panel {
            margin-left: 300px;
            width: auto;
            height: 100%;
            min-height: 600px;
        }

        th {
            background-color: #014a81;
        }

        .requiredfields {
            color: red;
            left: 532px;
            position: absolute;
        }

        .required {
            color: red;
        }

        #ui-id-1 {
            display: none;
            left: 541px;
            top: 375px;
            width: 280px;
            z-index: 1;
        }
    </style>
</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
             @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5)
                {
                    Html.RenderAction("_SubAdmin", "Member");
                }
                else
                {

                Html.RenderAction("_SettingProfile", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <h4>Update Profile</h4>
                        <hr />
                        <table>
                            <tr>
                                <td style="width:200px">&nbsp;</td>
                                <td style="width:355px">
                                    @if (ViewBag.Message != null)
                                    {
                                        <p style="color: green;font-size:12px">&nbsp;@ViewBag.Message</p>
                                    }
                                    @Html.HiddenFor(m => m.UserID)
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.Label("First Name")<span class="required">*</span></td>

                                <td> @Html.TextBoxFor(model => model.FName, new { @class = "form-control", @id = "txtFName", onkeyup = "AllowCharsNumberSpace(this, 30)" })</td>

                                <td class="requiredfields">

                                    @Html.ValidationMessageFor(model => model.FName)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Last Name")<span class="required">*</span></td>
                                <td>

                                    @Html.TextBoxFor(model => model.LName, new { @class = "form-control", @id = "txtLName", onkeyup = "AllowCharsNumberSpace(this, 30)" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.LName)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Phone")<span class="required">*</span></td>
                                <td>
                                    @Html.HiddenFor(model => model.Email)
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @id = "txtPhone", onkeyup = "AllowNumbers(this, 16)" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width:200px">@Html.Label("Country")<span class="required">*</span></td>
                                <td>
                                    @Html.DropDownListFor(m => m.fk_Country, new SelectList(Model.CountryList, "CountryCodesID", "Title", Model.fk_Country), new { @class = "form-control" })
                                </td>
                                <td class="requiredfields" style="width:200px">
                                    @Html.ValidationMessageFor(model => model.fk_Country)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("State")</td>
                                <td>
                                    @Html.TextBoxFor(model => model.fk_State, new { @class = "form-control", onkeyup = "AllowCharsSpace(this, 30)" })

                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.fk_State)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("City")</td>
                                <td>
                                    @Html.TextBoxFor(model => model.fk_City, new { @class = "form-control", onkeyup = "AllowCharsSpace(this, 30)" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.fk_City)
                                </td>
                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Address")<span class="required">*</span></td>
                                <td>

                                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @id = "txtAddress", onkeyup = "LengthOnly(this, 250)" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.Address)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="Display" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp;
                                    <input type="submit" value="Update" class="btnu" onclick=" return validation();" />
                                </td>
                            </tr>
                        </table>
                    }
                    <div class="col-md-offset-2 col-md-10">
                    </div>

                </div>

            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#fk_State').autocomplete({
                    source: function (request, response) {
                        $.getJSON("/CountryState/GetStateList?countryId=" + $("#fk_Country").val() + "&mtch=" + $("#fk_State").val(), function (data) {
                            response(data);
                        });
                    },
                    minLength: 3,
                    delay: 100
                });
                $('#fk_City').autocomplete({
                    source: function (request, response) {
                        $.getJSON("/CountryState/GetCityList?mtch=" + $("#fk_City").val(), function (data) {
                            response(data);
                        });
                    },
                    minLength: 3,
                    delay: 100
                });

            });
        </script>
    </div>

</body>
<script type="text/javascript">

    function validation() {
        Showloader();
    }
    function active() {
        document.getElementById("pro").className += " activeLi" + " activemenu";
        document.getElementById("coll").style.display = "block";
        var mydate = new Date();
        mydate.setTime(mydate.getTime() - 1);
        document.cookie = "CookieViewAs=; expires=" + mydate.toGMTString();
    }
</script>