﻿@using MTD.Core.DataTransferObjects
@model IEnumerable<MTData.Web.ViewData.UserViewData>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>  Profile    </title>
    </head>
<body>
    <div class="" style="padding-top:17px"></div>
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>


        <div class="right-panel">
            <div class="right-content">
                @*<p class="breadcrumbs"><span class="gray-txt">Home </span> <img src="images/arrow-R.png"> <span class="gray-txt">Dashboard</span> <img src="images/arrow-R.png"> <span class="blk-txt">Manage Admin</span></p>*@
                <div class="content-sec">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover custom-style">
                        <tr>



                            <th style="background-color:#014a81;">
                                <label> First Name</label>
                            </th>
                            <th style="background-color:#014a81;">
                                <label> Last Name</label>
                            </th>
                            <th style="background-color:#014a81;">
                                <label> Email</label>
                            </th>
                            <th style="background-color:#014a81;">
                                <label> Address</label>
                            </th>

                            <th style="background-color:#014a81;">
                                <label> City</label>
                            </th>
                            <th style="background-color:#014a81;">
                                <label> State</label>
                            </th>
                            <th style="background-color:#014a81;">
                                <label> Country</label>
                            </th>

                            <th style="background-color:#014a81;">
                                <label>Is Acitve</label>
                            </th>
                            <th style="background-color:#014a81;">
                                <label> Is Locked Out</label>
                            </th>

                            <th colspan="2" style="text-align: center;background-color:#014a81;">Actions</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>


                                <td>
                                    @Html.DisplayFor(modelItem => item.FName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Mobile)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Country)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsLockedOut)
                                </td>
                                <td>
                                    <a href="@Url.Action("Update", new { userId = item.UserID })"><img src="~/images/gtk-edit.png" /></a>
                                </td>
                                <td>

                                    @Html.ActionLink("Change Password", "ChangePassword", new { adminUserId = item.UserID })

                                </td>
                            </tr>


                        }
                    </table>

                </div>

            </div>
        </div>

        <!--end content-->



    </div>
    </body>
