﻿@using MTD.Core.DataTransferObjects
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <title>
        Weekly Dollar Volume Report
    </title>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    <table style="width:100%">
                        <tr>
                            <td><h6><b>Weekly Dollar Volume Report</b></h6></td>
                            <td style="float:right">
                                <form>
                                    <div class="search-box">
                                        <input type="text" name="Search" id="name" placeholder="Search : Report">
                                        <span class="search-icon">
                                            <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                        </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#StudentTableContainer').jtable({
                                paging: true,
                                pageSize: 15,
                                headerHeight: 40,
                                sorting: true,
                                defaultSorting: 'FleetName ASC',
                                actions: {
                                    listAction: '/SummaryReport/WeeklyDollarVolumeReportListByFiter',
                                    setAutoResizeMode: true
                                },
                                fields: {
                                    ScheduleID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    FleetName: {
                                        title: 'Fleet Name',
                                        width: '13%',
                                        sorting: true
                                    },
                                    TransAmtThisWeek: {
                                        title: 'ThisWeekTxnAmt',

                                        width: '13%',
                                        sorting: true
                                    },
                                    TransAmtWeekOne: {
                                        title: 'OneWeekAgoTxnAmt',

                                        width: '13%',

                                        sorting: true
                                    },
                                    TransAmtWeekTwo: {
                                        title: 'TwoWeeksAgoTxnAmt',
                                        width: '14%',
                                        sorting: true
                                    },

                                    TransAmtWeekThree: {
                                        title: 'ThreeWeeksAgoTxnAmt',
                                        width: '16%',
                                        sorting: true
                                    },
                                    TransAmtWeekFour: {
                                        title: 'FourWeeksAgoTxnAmt',
                                        width: '13%',
                                        sorting: true
                                    },
                                    TransAmtWeekFive: {
                                        title: 'FiveWeeksAgoTxnAmt',
                                        width: '13%',
                                        sorting: true
                                    },
                                    TransAmtWeekSix: {
                                        title: 'SixWeeksAgoTxnAmt',
                                        sorting: true
                                    },

                                }
                            });
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#name').val(),
                                });
                            });
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    //function active() {
    //    document.getElementById("schrep").className += " activeLi" + " activemenu";
    //    var mydate = new Date();
    //    mydate.setTime(mydate.getTime() - 1);
    //    document.cookie = "CookieViewAs=; expires=" + mydate.toGMTString();
    //}

    $(document).ready(function () {

        document.getElementById("wkRpt").className += " activeLi" + " activemenu";
        $("#wkRptColl").css("display", "block");

    });
</script>
