﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.MtdTransactionsViewData
@using System
@using MyResourse = MTData.Web.Resource.MtdataResource
@using System.Configuration
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Transaction History </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <style type="text/css" media="print">
        .page {
            size: auto; /* auto is the current printer page size */
            margin: 0mm; /* this affects the margin in the printer settings */
        }

        body {
            background-color: #FFFFFF;
            border: solid 1px black;
            margin: 0px; /* the margin on the content before printing */
        }
    </style>
    <style type="text/css">
        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .requiredfields {
            color: red;
        }
    </style>
</head>

<body onload="Buttonside()">
</body>

<div class="container-main">
    <div class="left-panel">
        <div class="user">
            @if (Session["User"] != null)
            {
                var user = ((SessionDto)Session["User"]).SessionUser.FName;
                <h3> Welcome   @user</h3>
            }
            <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
        </div>
        @{
            Html.RenderAction("_MerchantUsers", "Member");
        }
    </div>

    <div class="right-panel">
        <div class="right-content">
            <div class="content-sec">
                <div id="ContentToPrint">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <h3>Details</h3>
                        <hr />
                        @Html.ValidationSummary(true)
                        <table id="ContentToPrint" style="width:97%;">
                            <tr>
                                <td>
                                    @if (ViewBag.Message != null)
                                    {
                                        <p style="color: green;">@ViewBag.Message</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="hidden" id="hiddProject" value="@ConfigurationManager.AppSettings["Project"]" />
                                    <div style="display:block" id="hideTxt">
                                        @{
                                            string property;
                                            property = Model.ResponseCode;
                                            if (property == "000" || property == "00" || property == "002" || property == "107")
                                            {
                                                <h5 style="color: green">
                                                    @MyResourse.Approve
                                                </h5>
                                            }
                                            else if(ConfigurationManager.AppSettings["Project"]==MyResourse.CanadaProject && property=="00")
                                            {
                                                <h5 style="color: green">
                                                    @MyResourse.Approve
                                                </h5>
                                            }
                                            else
                                            {
                                                <h5 style="color: red">
                                                    @MyResourse.Failed<br />
                                                    @Model.AddRespData;
                                                </h5>
                                            }
                                        }
                                    </div>

                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr style="margin-top:10px;">
                                <td style="width:230px"><label>Car Number:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.VehicleNo, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.VehicleNo)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Driver Number:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.DriverNo, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.DriverNo)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td> <label>Transaction Date:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.TxnDate, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.TxnDate)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Payment Type:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.PaymentType, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.PaymentType)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Transaction Type:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.TxnType, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.TxnType)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>

                            <tr>
                                <td><label>Entry Mode:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.EntryMode, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.EntryMode)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>


                            <tr>
                                <td><label>Card Type:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.CardType, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.TxnType)
                                </td>
                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Auth Id:</label></td>
                                <td>
                                    @{
                                        string aId;
                                        string desh = "-";
                                        aId = Model.AuthId;
                                        if (aId != null)
                                        {
                                            @Model.AuthId
                                        }
                                        else
                                        {
                                            @desh
                                        }
                                    }
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.AuthId)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Amount:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.Currency) &nbsp;  @Html.DisplayFor(model => model.Amount, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.Amount)
                                </td>
                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Fare:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.Currency) &nbsp;  @Html.DisplayFor(model => model.FareValue, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.FareValue)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Tip:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.Currency) &nbsp;  @Html.DisplayFor(model => model.Tip, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.Tip)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Extras:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.Currency) &nbsp;  @Html.DisplayFor(model => model.Extras, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.Extras)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Toll:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.Currency) &nbsp;  @Html.DisplayFor(model => model.Toll, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.Toll)
                                </td>
                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Job Number:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.JobNumber, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.JobNumber)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Card Number:</label></td>
                                <td>
                                   @Html.DisplayFor(model => model.FirstFourDigits, new { @class = "form-control" }) XXXX XXXX @Html.DisplayFor(model => model.LastFourDigits, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.FirstFourDigits)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Approval Status:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.AddRespData, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.AddRespData)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Approval Code:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.ResponseCode, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields"></td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Transaction ID:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.Id, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.Id)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Created By:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.CreatedBy, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.CreatedBy)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td><label>Note:</label></td>
                                <td>
                                    @Html.DisplayFor(model => model.TransNote, new { @class = "form-control" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.TransNote)
                                </td>
                            </tr>

                        </table>
                    }
                </div>
                <table style="width:40%">
                    <tr><td colspan="3">&nbsp;</td></tr>
                    <tr>
                        <td style="width:200px">
                            @if (Session["User"] != null)
                            {
                                <a class="btn btn-warning" href="@Url.Action("BackUp", "TransactionHistory")">Back To Search</a>
                            }

                        </td>
                        <td style="padding-left:30px">
                            <a class="btn btn-warning" onclick="prints()">Print</a>&nbsp;&nbsp;
                        </td>
                        <td style="text-align:left"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function prints() {
        document.getElementById("hideTxt").style.display = 'none';
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById('ContentToPrint').innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }     
</script>
<script type="text/javascript">
    {
        function Buttonside() {
            document.getElementById("hideTxt").style.display = 'block';
        }
    }
</script>
<script>
    $(document).ready(function () {
        if ($('#hiddProject').val() == "CN")
        {
            $('#disNote').hide();
        }
    })
</script>
