﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@{
    ViewBag.Title = "Test";

}
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/jquery.datetimepicker.css" />
    <script src="~/jquery.js"></script>
    <script src="~/jquery.datetimepicker.js"></script>
</head>
<body>

    <h3>DateTimePickers selected by class</h3>
    <input type="text" class="some_class" value="" id="datepicker" />
    <input type="text" class="some_class" value="" id="datepicker1" />

</body>
<script>
    $('#datetimepicker').datetimepicker({ value: '2015-04-15 05:03', step: 10 });
    $('.some_class').datetimepicker();
</script>


</html>
