﻿@model IEnumerable<MTData.Web.ViewData.MerchantViewData>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container-main">
        <div class="left-panel">
            <h3>Welcome Admin</h3>
            @if (Convert.ToInt16(@TempData["userType"]) == 1)
            {

                <ul>
                    <li>@Html.ActionLink("Manage Merchant", "Merchant", "Merchant")</li>
                    <li>@Html.ActionLink("Manage Admin User", "ManageAdminUSer", "ManageAdminUSer")</li>
                    <li>@Html.ActionLink("Profile Settings", "ProfileSettings", "ProfileSettings")</li>
                    <li>@Html.ActionLink("Reports", "Reports", "Reports")</li>
                    <li>@Html.ActionLink("Schedule Report", "ScheduleReport", "ScheduleReport")</li>
                    <li>@Html.ActionLink("Fee Deduction", "FeeDeduction", "FeeDeduction")</li>
                    <li>@Html.ActionLink("Surcharge", "Surcharge", "Surcharge")</li>
                    <li>@Html.ActionLink("Tax", "Tax", "Tax")</li>
                </ul>
            }
            else
            {
                <ul>
                    <li>@Html.ActionLink("Manage Fleets", "Merchant", "Merchant")</li>
                    <li>@Html.ActionLink("Manage Users", "ManageAdminUSer", "ManageAdminUSer")</li>
                    <li>@Html.ActionLink("Profile Settings", "ProfileSettings", "ProfileSettings")</li>
                    <li>@Html.ActionLink("Reports", "Reports", "Reports")</li>
                    <li>@Html.ActionLink("Manage Vechiles", "Reports", "Reports")</li>
                    <li>@Html.ActionLink("Manage Payment Gateways", "ScheduleReport", "ScheduleReport")</li>
                    <li>@Html.ActionLink("Manage Drivers", "FeeDeduction", "FeeDeduction")</li>
                    <li>@Html.ActionLink("Manage Terminals", "Surcharge", "Surcharge")</li>
                </ul>
            }
        </div>
        <div class="right-panel">
            
            <table class="table">
                <tr><td colspan="16" style=" text-align:center"><h2>Admin Dashboard</h2></td></tr>
                <tr>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.Company)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TermCondition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SetupFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MonthlyFee)
                    </th>
                    
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Company)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TermCondition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SetupFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MonthlyFee)
                        </td>
                       
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteMerchant", new { merchantId = item.MerchantID })

                        </td>
                    </tr>
                }

            </table>
            
        </div>
    </div>
</div>
