﻿@model IEnumerable<MTData.Web.ViewData.MerchantViewData>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Merchant Deshboard</title>
   
   
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/style.css" type="text/css">

</head>
<div>
    <div class="container-main">
        <div class="left-panel">
            <div class="user"><h3>Welcome Admin</h3> <span class="float-R"><a id="toggle" href="#"><img width="34" height="21" src="../images/menu.png"></a></span></div>

            <div>
                <ul class="left-nav">
                    <li><a href="#"><span class="icons manage-marchant"><img src="../images/manage-marchant.png"></span><p>Manage Merchant</p></a></li>
                    <li class="activeLi"><a href="#"><span class="icons manage-admin"><img src="../images/manage-marchant.png"></span><p>Manage Admin User</p></a></li>
                    <li><a href="#"><span class="icons profile-settings"><img src="../images/manage-marchant.png"></span><p>Profile Settings</p></a></li>
                    <li><a href="#"><span class="icons manage-reports"><img src="../images/manage-marchant.png"></span><p>Manage Reports</p></a></li>
                    <li><a href="#"><span class="icons schedule-reports"><img src="../images/manage-marchant.png"></span><p>Schedule Reports</p></a></li>
                    <li><a href="#"><span class="icons fee-deduction"><img src="../images/manage-marchant.png"></span><p>Fee Deduction</p></a></li>
                    <li><a href="#"><span class="icons manage-surcharge"><img src="../images/manage-marchant.png"></span><p>Manage Surcharge and Taxes</p></a></li>
                    <li><a href="#"><span class="icons manage-payment"><img src="../images/manage-marchant.png"></span><p>Manage Payment Gateways</p></a></li>
                </ul>
            </div>
        </div>
        <div class="right-panel">
            <div class="right-content">
                <p class="breadcrumbs"><span class="gray-txt">Home </span> <img src="../images/arrow-R.png"> <span class="gray-txt">Dashboard</span> <img src="../images/arrow-R.png"> <span class="blk-txt">Manage Admin</span></p>
                <div class="content-sec">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover custom-style">
                        <tbody>
                            <tr>
                                <th>User Name </th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>View Detail</th>
                                <th>Reset Password</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td>User Name </td>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td><a href="#">View Detail</a></td>
                                <td>Reset Password</td>
                                <td><a class="green-txt" href="#">Edit</a> &nbsp;&nbsp;<a href="#"><img src="../images/close.png"></a></td>
                            </tr>

                            <tr>
                                <td>User Name </td>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td><a href="#">View Detail</a></td>
                                <td>Reset Password</td>
                                <td><a class="green-txt" href="#">Edit</a> &nbsp;&nbsp;<a href="#"><img src="../images/close.png"></a></td>
                            </tr>

                            <tr>
                                <td>User Name </td>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td><a href="#">View Detail</a></td>
                                <td>Reset Password</td>
                                <td><a class="green-txt" href="#">Edit</a> &nbsp;&nbsp;<a href="#"><img src="../images/close.png"></a></td>
                            </tr>
                            <tr>
                                <td>User Name </td>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td><a href="#">View Detail</a></td>
                                <td>Reset Password</td>
                                <td><a class="green-txt" href="#">Edit</a> &nbsp;&nbsp;<a href="#"><img src="../images/close.png"></a></td>
                            </tr>

                            <tr>
                                <td>User Name </td>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td><a href="#">View Detail</a></td>
                                <td>Reset Password</td>
                                <td><a class="green-txt" href="#">Edit</a> &nbsp;&nbsp;<a href="#"><img src="../images/close.png"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/custom.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var leftPanelStatus = true;
        $("#toggle").click(function () {
            if (leftPanelStatus == true) {
                leftPanelStatus = false;
                $('.left-panel').addClass('collasped');
                $('.left-panel').css({ "width": "70px" });
                $('.right-panel').css({ "margin-left": "70px" });

            } else {
                leftPanelStatus = true;

                $('.left-panel').css({ "width": "300px" });
                $('.left-panel').removeClass('collasped');
                $('.right-panel').css({ "margin-left": "300px" });



            }

        });

    });

</script>