﻿@model HandleErrorInfo
@using MTD.Core.DataTransferObjects
@{
    ViewBag.Title = "LoginError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Error</title>
</head>
<div style="top:10px; position:fixed"><img src="~/images/logo_head.png" /></div>

<center>
    <table style="height:550px; width:50%">
        <tr><td style="height:100px">&nbsp;</td></tr>

        <tr><td><p style="font-size:16px; color:red">@System.Configuration.ConfigurationManager.AppSettings["ErrMessage"].</p></td></tr>
        <tr>
            <td>

                @if (Session["User"] != null)
                {
                    if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 1)
                    {
                        <a href="~/Merchant/Index">Back to home</a>
                    }
                    if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 2)
                    {
                        <a href="~/User/Index">Back to home</a>
                    }
                    if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 3)
                    {
                        <a href="~/Fleet/Index">Back to home</a>
                    }
                }
            </td>
        </tr>
        <tr><td style="height:300px">&nbsp;</td></tr>

    </table>

</center>



