﻿<div class="jumbotron">
    <h1>MTData Service</h1>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>Service is Running...</p>
        
    </div>
    
    
</div>
