﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.UserViewData
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Add New User
 </title>
    <link href="~/Content/bootstrap-3.1.1.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/bootstrap-2.3.2.min.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .right-panel {
            margin-left: 300px;
            width: auto;
            height: 100%;
            min-height: 600px;
        }
        th {
            background-color: #014a81;
        }
        .requiredfields {
            color: red;
        }
        .required {
            color: red;
        }
        #ui-id-1 {
            display: none;
            left: 532px;
            top: 375px;
            width: 280px;
            z-index: 1;
        }
    </style>
</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                         <h4>Create User</h4>
                        <hr/>
                        <table>
                            <tr>
                                <td >&nbsp;</td>
                                <td colspan="2">
                                    @if (ViewBag.ExitUser != null)
                                    {
                                        <p style="color: green;">&nbsp;@ViewBag.ExitUser</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">@Html.Label("First Name")<span class="required">*</span></td>

                                <td width="30%"> @Html.TextBoxFor(model => model.FName, new { @class = "form-control", @id = "FName", @autocomplete = "off", onkeyup = "AllowCharsNumberSpace(this, 30)" })
                                <td class="requiredfields Validate" width="50%">
                                    @Html.ValidationMessageFor(model => model.FName)
                                    <span class="field-validation-error " style="width: 200px; display: none;" id="valFName"> Please enter first name</span>
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Last Name")<span class="required">*</span></td>
                                <td>

                                    @Html.TextBoxFor(model => model.LName, new { @class = "form-control", @id = "LName", @autocomplete = "off", onkeyup = "AllowCharsNumberSpace(this, 30)" })
                                </td>
                                <td class="requiredfields Validate">
                                    @Html.ValidationMessageFor(model => model.LName)
                                    <span class="field-validation-error " style="width: 200px; display: none;" id="valLName"> Please enter last name</span>
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Email")<span class="required">*</span></td>
                                <td>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "Email", @autocomplete = "off" })
                                </td>
                                <td class="requiredfields Validate">
                                    <span class="field-validation-error" style="width: 200px; display: none;" id="valEmail"> Please enter  Email</span>
                                    @Html.ValidationMessageFor(model => model.Email)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Phone")<span class="required">*</span></td>
                                <td>

                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", id = "phone", @autocomplete = "off", onkeyup = "AllowNumbers(this, 20)" })
                                </td>
                                <td class="requiredfields Validate">
                                    @Html.ValidationMessageFor(model => model.Phone)
                                    <span class="field-validation-error" style="width: 200px; display: none;" id="valPhone"> Please enter phone number</span>
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width:200px">@Html.Label("Country")<span class="required">*</span></td>
                                <td>
                                    @Html.CheckBoxFor(m => m.IsChkMerAdd)&nbsp; &nbsp; <span><b>Same as merchant address</b></span>
                                    @Html.DropDownListFor(m => m.fk_Country, new SelectList(Model.CountryList, "CountryCodesID", "Title", Model.fk_Country), new { @class = "form-control" })
                                </td>
                                <td class="requiredfields Validate" style="width:200px">
                                    @Html.ValidationMessageFor(model => model.fk_Country)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("State")</td>
                                <td>
                                @Html.TextBoxFor(model => model.fk_State, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 35)" })
                                </td>
                                <td class="requiredfields Validate">
                                    @Html.ValidationMessageFor(model => model.fk_State)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("City")</td>
                                <td>
                                  @Html.TextBoxFor(model => model.fk_City, new { @class = "form-control",onkeyup = "AllowCharsNumberSpace(this, 35)" })
                                </td>
                                <td class="requiredfields Validate">
                                    @Html.ValidationMessageFor(model => model.fk_City)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Address")<span class="required">*</span></td>
                                <td>
                                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", id = "address", onkeyup = "LengthOnly(this, 250)" })
                                </td>
                                <td class="requiredfields Validate">
                                    @Html.ValidationMessageFor(model => model.Address)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            @if(ViewBag.IsCorporate==false)
                            {
                                <tr>
                                <td style="width:200px">@Html.Label("Select User Type")<span class="required">*</span></td>
                                <td>
                                    @*<input type="checkbox" id="chkGetAddress" />&nbsp; &nbsp; <span><b>Same as merchant</b></span>*@
                                    @Html.DropDownListFor(m => m.fk_UserTypeID, new SelectList(Model.UserTypeList, "UsetTypeId", "UserType", Model.fk_UserTypeID), new { @class = "form-control", onchange = "setUserType()" })
                                </td>
                                <td class="requiredfields Validate" style="width:200px">
                                    @Html.ValidationMessageFor(model => model.fk_Country)
                                    @Html.HiddenFor(m => m.fk_UserTypeID ,new { @id = "userType" })
                                </td>
                            </tr>
                            }         
                            else
                            {
                                <tr><td><input type="hidden" value=4 name="fk_UserTypeID" /></td></tr>
                            }            
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr style="width: 90%;" id="rolesRow">
                                <td>
                                    <label>Please select a Role</label><span class="required">*</span>
                                </td>
                                <td>
                                    @if (!Equals(Model.UserRoles, null))
                                    {
                                        foreach (var item in Model.UserRoles)
                                        {
                                          <input type="hidden" id="MHid_@item.RoleId" value="@item.RoleId" name="merchantRoles" />
                                            if (!string.IsNullOrEmpty(Model.RolesAssigned))
                                                  {
                                                if (Model.RolesAssigned.Split(',').Select(x => Convert.ToInt32(x)).Contains(item.RoleId))
                                                {
                                                    <input type="checkbox" id="@item.RoleId" class="chkrole" checked="checked" /> @item.RoleName<br />
                                                    <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" name="UserRoleIdList" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="@item.RoleId" class="chkrole" /> @item.RoleName<br />
                                                    <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" />
                                                }
                                            }

                                            else
                                            {
                                                @*<input type="checkbox" id="@item.RoleId" class="chkrole" /> @item.RoleName<br />*@
                                                <input type="checkbox" id="@item.RoleId" class="chkrole" checked="checked"  /> @item.RoleName<br />
                                                  <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" name="UserRoleIdList" />

                                            }
                                        }
                                    }
                                </td>
                                <td class="requiredfields Validate">
                                    @Html.ValidationMessageFor(model => model.UserRoleIdList)
                                </td>
                            </tr>
                            <tr style="width:90%;" id="fleet">
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr id="fleetRow" style="position: relative;">
                                <td>
                                    <label>Choose Fleet </label><span class="required">*</span>
                                </td>
                                <td>
                                    <select id="chkveg" multiple="multiple">
                                        @foreach (var item in Model.fleetlist)
                                        {
                                            if (Model.fleetListId != null)
                                            {
                                                if (Model.fleetListId.Split(',').Select(x => Convert.ToInt32(x)).Contains(item.FleetID))
                                                {

                                                    <option value="@item.FleetID" selected="selected">@item.FleetName </option>
                                                }
                                                else
                                                {
                                                    <option value="@item.FleetID">@item.FleetName </option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="@item.FleetID" >@item.FleetName </option>

                                            }
                                        }
                                    </select>
                                    @foreach (var item in Model.fleetlist)
                                    {
                                        <input type="hidden" id="FHid_@item.FleetID" value="@item.FleetID" name="FleetAssigned" />
                                    }
                                </td>
                                <td class="requiredfields fleet-validation">
                                    @Html.ValidationMessageFor(model => model.fleetListId)
                                    @Html.ValidationMessageFor(model => model.RolesAssigned)
                                    @Html.HiddenFor(model => model.RolesAssigned, new { @id = "roleVal" })
                                    @Html.HiddenFor(model => model.fleetListId, new { @id = "fleetVal" })
                                    <input type="hidden" id="fleetListID" />
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr><td></td><td>
                                            <a href="~/User" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp;
                                             <input type="submit" value="Create" class="btnu" onclick=" return validation();" />
                            </td></tr>
                        </table>
                    }
                    <script type="text/javascript">
                        $("#chkveg").multiselect({
                            includeSelectAllOption: true
                        });
                        function validation() {
                            if ($("#chkveg").val() != null) {
                                var temp = $("#chkveg").val().toString();
                                $("#fleetVal").val(temp);
                            }
                            if ($("#chkveg").val() == null) {
                                var temp = "";
                                $("#fleetVal").val(temp);
                            }
                            Showloader();
                            return true;
                        }
                    </script>
                </div>

            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function () {
            $('#chkveg').multiselect();
            $(".chkrole").click(function () {
                var HidId = $(this).attr("id");
                if ($(this).prop("checked")) {

                    $('#Hid_' + HidId).attr("name", "UserRoleIdList");
                }
                else {

                    $('#Hid_' + HidId).attr("name", "");
                }
            });
       
        });
        </script>

        <script type="text/javascript">
         $(document).ready(function () {
             $('#fk_State').autocomplete({
                 source: function (request, response) {
                     $.getJSON("/CountryState/GetStateList?countryId=" + $("#fk_Country").val() + "&mtch=" + $("#fk_State").val(), function (data) {
                         response(data);
                     });
                 },
                 minLength: 3,
                 delay: 100
             });
             $('#fk_City').autocomplete({
                 source: function (request, response) {
                     $.getJSON("/CountryState/GetCityList?mtch=" + $("#fk_City").val(), function (data) {
                         response(data);
                     });
                 },
                 minLength: 3,
                 delay: 100
             });

         })
         $('#IsChkMerAdd').change(function () {
             if ($(this).is(":checked")) {
                 $.ajax({
                     type: "POST",
                     url: '/User/GetAddress',
                     success: function (data) {
                         $("#address").val(data.Address);
                         $('#fk_Country').val(data.Country);
                         $("#fk_State").val(data.State);
                         $("#fk_City").val(data.City);
                                              
                     },
                     error: function () {
                     },
                     })
             }
                else {
                 $("#address").val("");
                 $("#fk_State").val("");
                 $("#fk_City").val("");
                 $('#fk_Country').val("AU");
             }
         });
        </script>
    </div>
</body>
<script type="text/javascript">

    $(document).ready(function () {

        if ($("#chkveg").val() != null) {
            var temp = $("#chkveg").val().toString();
            $("#fleetVal").val(temp);

        }
        setUserType();
        //$("input:checkbox[class=chkrole]").each(function () {
        //    var HidId = $(this).attr("id");
        //    $('#Hid_' + HidId).attr("name", "UserRoleIdList");
        //    $(this).prop('checked', true);
        //});
    });
    function setUserType() {
        var myselect = document.getElementById("fk_UserTypeID");
        var sel = myselect.options[myselect.selectedIndex].value;
        if (sel==3)
        {
            $("#rolesRow").hide();
            $("#fleetRow").hide();
        }
        if (sel == 4) {
            $("#rolesRow").show();
            $("#fleetRow").show();
        }
        $("#userType").val(sel);
    }
    function active() {
        document.getElementById("usr").className += "activeLi";
    }
</script>
