﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.UserViewData
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>  Update User
 </title>
    <link href="~/Content/bootstrap-3.1.1.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/bootstrap-2.3.2.min.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <link href="~/Content/style.css" rel="stylesheet"/>
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .right-panel {
            margin-left: 300px;
            width: auto;
            height: 100%;
            min-height: 600px;
        }
        th {
            background-color: #014a81;
        }
       
        .requiredfields {
            color: red;
        }
        .required {
            color: red;
        }
        #ui-id-1 {
            display: none;
            left: 541px;
            top: 375px;
            width: 280px;
            z-index: 1;
        }
        .field-validation-error.fleet-validation {
            /*position: absolute;*/
            left: 492px;
            top: 6px;
            width: 250px;
        }
        .rolefleet {
            left: 492px;
            top: 6px;
            width: 250px;
        }
    </style>
</head>
<body onload="active()">
<div class="container-main">
    <div class="left-panel">
        <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                <h3> Welcome   @user</h3>
                }
            <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
        </div>

        @{
            Html.RenderAction("_MerchantUsers", "Member");
        }
    </div>

    <div class="right-panel">
        <div class="right-content">
            <div class="content-sec">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                      <h4>Update User</h4>
                    <hr/>
                    @Html.ValidationSummary(true)

                    <table>
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="2">
                                &nbsp;
                                @if (ViewBag.Message != null)
                                {
                                    <p style="color: green;">&nbsp;@ViewBag.Message</p>
                                }

                            </td>
                        </tr>
                        <tr>
                            <td width="20%">@Html.Label("First Name")<span class="required">*</span></td>

                            <td width="30%">@Html.TextBoxFor(model => model.FName, new { @class = "form-control req", @id = "FName", @autocomplete = "off", onkeyup = "AllowCharsNumberSpace(this, 30)" })

                            <td width="50%" class="requiredfields Validate">
                                @Html.ValidationMessageFor(model => model.FName)
                                <span class="field-validation-error" style="width: 200px; display: none;" id="valFName"> Please first name</span>
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("Last Name")<span class="required">*</span></td>
                            <td>

                                @Html.TextBoxFor(model => model.LName, new { @class = "form-control req", @id = "LName", @autocomplete = "off", onkeyup = "AllowCharsNumberSpace(this, 30)" })
                            </td>
                            <td class="requiredfields Validate">
                                @Html.ValidationMessageFor(model => model.LName)
                                @Html.HiddenFor(model => model.Email, new { @class = "form-control", @id = "Email" })
                                <span class="field-validation-error" style="width: 200px; display: none;" id="valLName"> Please enter last name</span>
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("Phone")<span class="required">*</span></td>
                            <td>

                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control req", id = "phone", @autocomplete = "off", onkeyup = "AllowNumbers(this, 20)" })
                            </td>
                            <td class="requiredfields Validate">
                                @Html.ValidationMessageFor(model => model.Phone)
                                <span class="field-validation-error" style="width: 200px; display: none;" id="valPhone"> Please enter phone number</span>
                            </td>
                        </tr>

                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td style="width:200px">@Html.Label("Country")<span class="required">*</span></td>
                            <td>
                                @Html.DropDownListFor(m => m.fk_Country, new SelectList(Model.CountryList, "CountryCodesID", "Title", Model.fk_Country), new { @class = "form-control" })
                            </td>
                            <td class="requiredfields Validate" style="width:200px">
                                @Html.ValidationMessageFor(model => model.fk_Country)
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("State")</td>
                            <td>
                                @Html.TextBoxFor(model => model.fk_State, new { @class = "form-control",onkeyup = "AllowCharsNumberSpace(this, 35)" })
                                
                            </td>
                            <td class="requiredfields Validate">
                                @Html.ValidationMessageFor(model => model.fk_State)
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("City")</td>
                            
                                <td>
                                @Html.TextBoxFor(model => model.fk_City, new { @class = "form-control",onkeyup = "AllowCharsNumberSpace(this, 35)" })
                            </td>
                            <td class="requiredfields Validate">
                                @Html.ValidationMessageFor(model => model.fk_City)
                                @Html.HiddenFor(model => model.IsLockedOut, new { @readonly = "readonly" })
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                      
                        <tr>
                            <td>@Html.Label("Address")<span class="required">*</span></td>
                            <td>
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control req", @id = "add", onkeyup = "LengthOnly(this, 250)" })
                            </td>
                            <td class="requiredfields Validate">
                                @Html.ValidationMessageFor(model => model.Address)
                                <span class="field-validation-error" style="width: 200px; display: none;" id="valadd"> Please enter address</span>
                            </td>
                        </tr>
                        @Html.HiddenFor(model => model.RolesAssigned, new { @id = "roles" })
                        <tr><td colspan="3" class="space"></td></tr>
                         @{
                          int logOnUserType = ((SessionDto)(Session["user"])).SessionUser.LogOnByUserType; 
                         }
                         @if(logOnUserType!=5)
                           {
                        <tr>
                            <td style="width:200px">@Html.Label("Select User Type")<span class="required">*</span></td>
                            <td>
                                @*<input type="checkbox" id="chkGetAddress" />&nbsp; &nbsp; <span><b>Same as merchant</b></span>*@
                                @Html.DropDownListFor(m => m.fk_UserTypeID, new SelectList(Model.UserTypeList, "UsetTypeId", "UserType", Model.fk_UserTypeID), new { @class = "form-control", onchange = "setUserType()", @disabled = "disabled" })
                            </td>
                            <td class="requiredfields Validate" style="width:200px">
                                @Html.HiddenFor(m => m.fk_UserTypeID, new { @id = "userType" })

                            </td>
                        </tr>
                         }
                         else
                         {
                             <tr><td><input type="hidden" value=4 name="fk_UserTypeID" />
                                 </td></tr>
                         }
                        
                        <tr><td colspan="3" class="space"><input type="hidden" value="@logOnUserType" id="IsCorporate" /></td></tr>
                        <tr id="rolesRow" style="position: relative; display:none;">
                            <td>
                                <label>Please select a Role</label><span class="required">*</span>
                            </td>
                            <td>
                                @if (!object.Equals(Model.UserRoles, null))
                                {
                                    foreach (var item in Model.UserRoles)
                                    {
                                        if (!string.IsNullOrEmpty(Model.RolesAssigned))
                                        {
                                            <input type="hidden" id="MHid_@item.RoleId" value="@item.RoleId" name="merchantRoles" />
                                            if (Model.RolesAssigned.Split(',').Select(x => Convert.ToInt32(x)).Contains(item.RoleId))
                                            {
                                                <input type="checkbox" id="@item.RoleId" class="chkrole" checked="checked" /> @item.RoleName<br />
                                                <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" name="UserRoleIdList" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="@item.RoleId" class="chkrole" /> @item.RoleName<br />
                                                <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" />

                                            }
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="@item.RoleId" class="chkrole" /> @item.RoleName<br />
                                            <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" />

                                        }
                                    }
                                }
                                @*<span class="field-validation-error fleet-validation" style=" display:none;" id="valrole"> Please select role</span>*@
                                @Html.ValidationMessageFor(model => model.UserRoleIdList)
                            </td>
                            @*<td class="requiredfields Validate">*@
                            <td class="rolefleet">
                                <span class="field-validation-error fleet-validation" style=" display:none;" id="valrole"> Please select role</span>

                            </td>
                        </tr>


                        <tr style="width:90%;" id="fleet">
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr id="fleetRow" style="position:relative;">
                            <td>
                                <label>Choose Fleet</label><span class="required">*</span>

                            </td>
                            <td>
                                <select id="chkveg" multiple="multiple">

                                    @foreach (var itemFleetList in Model.fleetlist)
                                    {
                                        if (Model.userFleetList.Select(x => x.fk_FleetID).Distinct().ToList().Contains(itemFleetList.FleetID))
                                        {
                                            <option value="@itemFleetList.FleetID" selected="selected">@itemFleetList.FleetName </option>
                                        }
                                        else
                                        {
                                            <option value="@itemFleetList.FleetID">@itemFleetList.FleetName </option>
                                        }
                                    }
                                </select>
                                @foreach (var item in Model.fleetlist)
                                {
                                    <input type="hidden" id="FHid_@item.FleetID" value="@item.FleetID" name="FleetAssigned" />
                                }
                                @Html.HiddenFor(model => model.fleetListId, new { @id = "fleetVal" })
                                @*<span class="field-validation-error fleet-validation" style="width: 200px; display: none;" id="valfleet"> Please select fleet</span>*@
                                @Html.ValidationMessageFor(model => model.fleetListId)
                            </td>
                            @*<td class="requiredfields Validate">*@
                            <td class="rolefleet">
                                <span class="field-validation-error fleet-validation" style="width: 200px; display: none;" id="valfleet"> Please select fleet</span>

                            </td>
                            @*@Html.HiddenFor(model => model.fleetListId, new { @id = "fleetVal" })*@

                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr><td></td><td>
                                        <a href="~/User" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp;
                            <input type="submit" value="Update" class="btnu" onclick=" return validation();"/>
                        </td></tr>

                    </table>

                }
            </div>
        </div>
    </div>
</div>
    </body>
    <script type="text/javascript">
        function active() {
            document.getElementById("usr").className += "activeLi";
        }
    </script>
<script type="text/javascript">

    $("#chkveg").multiselect({
        includeSelectAllOption: true
    });

    $(document).ready(function () {
        $(".chkrole").click(function () {
            var HidId = $(this).attr("id");
            if ($(this).prop("checked")) {

                $('#Hid_' + HidId).attr("name", "UserRoleIdList");

            }
            else {

                $('#Hid_' + HidId).attr("name", "");
            }
        });

    });

    function validation() {
        var reqFName = true;
        var reqLName = true;
        var reqphone = true;
        var reqadd = true;
        var reqfleet = true;
        var reqrole = true;
        var sel;
        debugger;
        if ($("#IsCorporate").val() == 5)
        {
            sel=4
        }
        else
        {
            var myselect = document.getElementById("fk_UserTypeID");
            sel = myselect.options[myselect.selectedIndex].value;
        }
        if (sel == 4)
        {
            if ($("#chkveg").val()==null)
            {
                var reqfleet = false;
                $("#valfleet").show();
            }
            else
            {
            $("#valfleet").hide();
            }
        }
        
      
        if ($("#chkveg").val() != null) {
            var temp = $("#chkveg").val().toString();
            $("#fleetVal").val(temp);
        }
       
        if ($('#FName').val().length==0)
        {
            $("#valFName").show();
            $("#FName").addClass("valBord");
            reqFName = false;
        }
        else
        {
            $("#valFName").hide();
            reqFName = true;
        }
        if ($('#LName').val().length == 0) {
            $("#valLName").show();
            $("#LName").addClass("valBord");
            reqLName = false;
        }
        else {
            $("#valLName").hide();
            reqLName = true;
        }
        if ($('#phone').val().length == 0) {
            $("#valPhone").show();
            $("#phone").addClass("valBord");
            reqphone = false;
        }
        else
        {
            $("#valPhone").hide();
            reqphone = true;
        }
        if ($('#add').val().length == 0) {
            $("#valadd").show();
            $("#add").addClass("valBord");
            reqadd = false;
        }
        else {
            $("#valadd").hide();
            reqadd = true;
        }
        var response = false;
        $(".chkrole").each(function (index) {

            if ($(this).prop("checked")) {

                if ($("#chkveg").val()!=null)
                {
                var temp = $("#chkveg").val().toString();
                $("#fleetVal").val(temp);

                }
                response = true;
            }

        });

        if (sel == 4)
        {
            if (!response) {
                $("#valrole").show();
                reqrole = false;
            }
            else {
                $("#valrole").hide();
                reqrole = true;
            }
        }
       
        if (reqFName && reqLName && reqphone && reqadd && reqfleet && reqrole) {
            Showloader();
            return true;
        }
        else
        {
            return false;
        }
        
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#fk_State').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetStateList?countryId=" + $("#fk_Country").val() + "&mtch=" + $("#fk_State").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });
        $('#fk_City').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetCityList?mtch=" + $("#fk_City").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });

    });

    $(document).ready(function () {
        setUserType();
    });
    function setUserType() {
        var myselect = document.getElementById("fk_UserTypeID");
        var sel = myselect.options[myselect.selectedIndex].value;
        if (sel == 3) {
            $("#rolesRow").hide();
            $("#fleetRow").hide();
        }
        if (sel == 4) {
            $("#rolesRow").show();
            $("#fleetRow").show();
        }
        $("#userType").val(sel);
    }
</script>