﻿@using MTD.Core.DataTransferObjects
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <title>
        Schedule Report Reciepient
    </title>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                var userType = ((SessionDto)Session["User"]).SessionUser.fk_UserTypeID;
            }
            @if (userType == 2 || userType == 3)
            {
                Html.RenderAction("_MerchantUsers", "Member");
            }

            @if (userType == 1)
            {
                Html.RenderAction("_SettingMerchant", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    <table style="width:100%">
                        <tr>
                            <td><h4><a href="/ViewAs/UserScheduleReport">Add New Schedule</a></h4></td>
                            <td style="float:right">
                                <form>
                                    <div class="search-box">
                                        <input type="text" name="Search" id="name" placeholder="Search : Report">
                                        <span class="search-icon">
                                            <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                            <input type="hidden" value="@userType" id="loggedUser"></span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#StudentTableContainer').jtable({
                                paging: true,
                                pageSize: 15,
                                headerHeight: 40,
                                sorting: true,
                                defaultSorting: 'DisplayName ASC',
                                actions: {
                                    listAction: '/ViewAS/ScheduleReportListByFiter',
                                    deleteAction: '/ViewAS/DeleteReport',
                                    setAutoResizeMode: true
                                },
                                fields: {
                                    ScheduleID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    DisplayName: {
                                        title: 'Report',
                                        width: '15%',
                                        sorting: true
                                    },
                                    DateFrom: {
                                        title: 'From Date',
                                        type: 'date',
                                        displayFormat: 'mm-dd-yy',
                                        width: '15%',
                                        sorting: true
                                    },
                                    DateTo: {
                                        title: 'To Date',
                                        type: 'date',
                                        width: '15%',
                                        displayFormat: 'mm-dd-yy',
                                        sorting: true
                                    },
                                    FrequencyName: {
                                        title: 'Frequency of Report',
                                        width: '10%',
                                        sorting: true
                                    },
                                    FrequencyType: {
                                        title: 'Every Day/ Week/ Month',
                                        width: '18%',
                                        sorting: false
                                    },
                                    WeekName: {
                                        title: 'Week Day',
                                        width: '12%',
                                        sorting: false
                                    },
                                    MonthDay: {
                                        title: 'Day of Month',
                                        sorting: false
                                    },
                                    TimeInString: {
                                        title: 'Start Time',
                                        width: '15%',
                                        sorting: false
                                    },
                                    TimeZone: {
                                        title: 'Time Zone',
                                        sorting: false
                                    },
                                    fk_ReportID: {
                                        title: 'R',
                                        list: false,
                                        width: '5%'
                                    },
                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '10%',
                                        display: function (data) {
                                            return '<a  href="UpdateScheduleReport?ScheduleID=' + data.record.ScheduleID + '&reportId=' + data.record.fk_ReportID + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';
                                        }
                                    },
                                }
                            });
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#name').val(),
                                });
                            });
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#loggedUser").val() == 2 || $("#loggedUser").val() == 3) {
            document.getElementById("mnglink").className = "has-sub activeLi activemenu";
            $("#collaspe").css("display", "block");
        }
        if ($("#loggedUser").val() == 1) {
            document.getElementById("vas").className += " activeLi" + " activemenu";
        }
    });
</script>