﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.SurchargeViewData
@{
    ViewBag.Title = "Add Surcharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  View As Settings </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
        }



        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_SettingMerchant", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="">
                                <h4>Update Surcharge</h4>

                                <hr />
                                @Html.ValidationSummary(true)
                                <table style="width:50%">

                                    <tr>
                                        <td>@Html.Label("Merchant")</td>
                                        <td> @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td class="Validate">
                                            @Html.ValidationMessageFor(model => model.fk_MerchantID)
                                            @Html.HiddenFor(model => model.fk_MerchantID)
                                        </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Gateway")@Html.Label("*", new { style = "color: red" })</td>
                                        <td>  @Html.DropDownListFor(m => m.fk_GatewayID, new SelectList(Model.GatewayList, "GatewayID", "Name", Model.fk_GatewayID), "--Select a Gateway--", new { @class = "form-control", @id = "ddlGateway" })</td>
                                        <td class="Validate" style="width:200px"> @Html.ValidationMessageFor(model => model.fk_GatewayID) </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Card Prefix")<span class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.CCPrefix, new { @class = "form-control", @id = "txtCCPrefix" })</td>

                                        <td class="Validate" style="width:200px"> @Html.ValidationMessageFor(model => model.CCPrefix) </td>
                                        <td>
                                            <label class="required" style="width: 200px; display: none;" id="lblCCPrefix"> Please Enter Valid Input(Only Numbers)</label>
                                        </td>

                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Surcharge Type")<span class="required">*</span></td>
                                        <td>
                                            @Html.DropDownListFor(m => m.SurchargeType, new SelectList(Model.TypeList, "TypeID", "TypeName", Model.SurchargeType), "--Select surcharge type--", new { @class = "form-control", @id = "ddlSurchargeType" })
                                        </td>
                                        <td class="Validate" style="width:200px"> @Html.ValidationMessageFor(model => model.SurchargeType) </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Surcharge", new { @id = "lblSurcharge" })<span class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.Surcharge, new { @class = "form-control", @id = "txtSurcharge" })</td>

                                        <td class="Validate" style="width:200px"> @Html.ValidationMessageFor(model => model.Surcharge) </td>
                                        <td>
                                            <label class="required" style="width: 200px; display: none;" id="lblSurcharge"> Please Enter Valid Input(Only Numbers)</label>
                                        </td>

                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Surcharge(%)", new { @id = "lblPer" })<span id="lblFeePer" class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.SurchargePercentage, new { @class = "form-control", @id = "txtPer" })</td>

                                        <td class="Validate" style="width:200px"> @Html.ValidationMessageFor(model => model.SurchargePercentage) </td>
                                        <td>
                                            <label class="required" style="width: 200px; display: none;" id="lblSurcharge"> Please Enter Valid Input(Only Numbers)</label>
                                        </td>

                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Surcharge MaxCap")<span class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.SurMaxCap, new { @class = "form-control", @id = "txtSurMaxCap" })</td>

                                        <td class="Validate" style="width:200px"> @Html.ValidationMessageFor(model => model.SurMaxCap) </td>
                                        <td>
                                            <label class="required" style="width: 200px; display: none;" id="lblSurMaxCap"> Please Enter Valid Input(Only Numbers)</label>
                                        </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="submit" class="btnu  " value="Update" />&nbsp;&nbsp;&nbsp;<a href="MerchantSurcharges" class="btn1">Cancel</a>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function active() {
            document.getElementById("vas").className += " activeLi" + " activemenu";
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var val = $("#txtPer").val();
            if (val != "") {

                $("#txtPer").show();
                $("#lblSurcharge").html("Surcharge(Fixed)");
                $("#lblFeePer").show();
            }
            else {
                $("#txtPer").hide();
                $("#lblPer").hide();
                $("#lblFeePer").hide();
            }
        });
        $('#txtSurcharge').keydown(function (e) {
            debugger;
            var val = $('#ddlSurchargeType').val();
            var value = $(this).val();
            var key = e.keyCode;
            if (val == "") alert("Select surcharge type first");
            if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9 || key == 110 || key == 190) { return true; }
            if (val == 0) {
                if (value.length > 10) e.preventDefault(); else {
                    if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105)))) { e.preventDefault(); }
                }
            } else {
                if (value.length > 4) e.preventDefault();
            }
        });
        $('#ddlSurchargeType').change(function () {

            var val = $(this).val();
            if (val == 2) {
                $("#txtPer").show();
                $("#lblPer").show();
                $("#lblSurcharge").html("Surcharge(Fixed)");
                $("#lblFeePer").show();
            }
            else {
                $("#txtPer").hide();
                $("#lblPer").hide();
                $("#lblSurcharge").html("Surcharge");
                $("#lblFeePer").hide();
            }
            $('#txtSurcharge').val("");
            $('#txtSurMaxCap').val("");
            $('#txtPer').val("");
        }

        )
        $('#txtSurMaxCap').keydown(function (e) {
            debugger;
            var val = $('#ddlSurchargeType').val();
            var value = $(this).val();
            var key = e.keyCode;
            if (val == "") alert("Select surcharge type first");
            if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9 || key == 110 || key == 190) { return true; }
            if (val == 0) {
                if (value.length > 10) e.preventDefault(); else {
                    if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105)))) { e.preventDefault(); }
                }
            } else {
                if (value.length > 4) e.preventDefault();
            }
        });
        $('#txtCCPrefix').keydown(function (e) {
            var value = $(this).val();
            var key = e.keyCode;
            if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
            if (value.length > 3)
                e.preventDefault();
            if (e.shiftKey || e.ctrlKey || e.altKey) {
                e.preventDefault();
            }
            else {
                if (!((key >= 48 && key <= 57) || (key >= 96 && key <= 105))) { e.preventDefault(); }
            }
        });
        $('#txtSurcharge').autoNumeric('init');
        $('#txtSurMaxCap').autoNumeric('init');


    </script>
