﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.BookingFeeViewData
@{
    ViewBag.Title = "Update Booking Fee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  View As Settings </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>

    <style type="text/css">
        .Validate {
            color: red;
            left: 560px;
            position: absolute;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_SettingMerchant", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="">
                                <h4>Update Booking Fee</h4>

                                <hr />
                                @Html.ValidationSummary(true)
                                <table style="width:50%">

                                    <tr>
                                        <td>@Html.Label("Merchant")</td>
                                        <td> @Html.TextBoxFor(m => m.Company, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td class="Validate" style="width:200px">@Html.ValidationMessageFor(model => model.fk_MerchantID) </td>

                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Gateway")@Html.Label("*", new { style = "color: red" })</td>
                                        <td>  @Html.DropDownListFor(m => m.fk_GatewayID, new SelectList(Model.GatewayList, "GatewayID", "Name", Model.fk_GatewayID), "--Select a Gateway--", new { @class = "form-control" })</td>
                                        <td class="Validate" style="width:200px"> @Html.ValidationMessageFor(model => model.fk_GatewayID) </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>

                                    <tr>
                                        <td>@Html.Label("Booking Fee Type")<span class="required">*</span></td>
                                        <td>
                                            @Html.DropDownListFor(m => m.BookingFeeType, new SelectList(Model.TypeList, "TypeID", "TypeName", Model.BookingFeeType), "--Select Fee type--", new { @class = "form-control", @id = "ddlFeeType" })
                                        </td>
                                        <td class="Validate" style="width:200px"> @Html.ValidationMessageFor(model => model.BookingFeeType) </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Booking Fee", new { @id = "lblFee" })<span class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.BookingFee, new { @class = "form-control", @id = "txtFee" })</td>

                                        <td class="Validate" style="width:200px"> @Html.ValidationMessageFor(model => model.BookingFee) </td>
                                        <td>
                                            <label class="required" style="width: 200px; display: none;" id="lblSurcharge"> Please Enter Valid Input(Only Numbers)</label>
                                        </td>

                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Booking Fee(%)", new { @id = "lblPer" })<span id="lblStar" class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.FeePercentage, new { @class = "form-control", @id = "txtPer" })</td>

                                        <td class="Validate" style="width:200px"> @Html.ValidationMessageFor(model => model.FeePercentage) </td>
                                        <td>
                                            <label class="required" style="width: 200px; display: none;" id="lblSurcharge"> Please Enter Valid Input(Only Numbers)</label>
                                        </td>

                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Booking Fee MaxCap")<span class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.BookingFeeMaxCap, new { @class = "form-control", @id = "txtFeeMaxCap" })</td>

                                        <td class="Validate" style="width:200px"> @Html.ValidationMessageFor(model => model.BookingFeeMaxCap) </td>
                                        <td>
                                            <label class="required" style="width: 200px; display: none;" id="lblSurMaxCap"> Please Enter Valid Input(Only Numbers)</label>
                                        </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="submit" class="btnu  " value="Update" />&nbsp;&nbsp;&nbsp;<a href="MerchantFee" class="btn1">Cancel</a>
                                        </td>
                                    </tr>


                                </table>

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        </body>
        <script type="text/javascript">
            $(document).ready(function () {

                var val = $("#txtPer").val();
                if ($("#ddlFeeType").val() == 2)
                    $("#lblFee").html("Booking Fee(Fixed)");
                else {
                    $("#txtPer").hide();
                    $("#lblPer").hide();
                    $("#lblStar").hide();
                }


            });
            $('#txtFee').keydown(function (e) {
                var val = $('#ddlFeeType').val();
                var value = $(this).val();
                var key = e.keyCode;
                if (val == "") alert("Select Booking Fee type first");
                if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
                if (value.length > 4) e.preventDefault(); else {
                    if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 190))) { e.preventDefault(); }
                }

            });
            $("#txtFee").focusout(function () {
                if ($('#ddlFeeType').val() == 1) {
                    var arr = document.getElementById("txtFee").value.split('.');
                    var length = arr[0].length;
                    if (length > 2) {
                        alert("Invalid Fee percentage")
                        $("#txtFee").val("");
                    }
                }

            })
            $("#txtPer").focusout(function () {
                var arr = document.getElementById("txtPer").value.split('.');
                var length = arr[0].length;
                if (length > 2) {
                    alert("Invalid Booking Fee percentage")
                    $("#txtPer").val("");
                }

            })
            $('#ddlFeeType').change(function () {
                var val = $(this).val();
                if (val == 2) {
                    $("#txtPer").show();
                    $("#lblPer").show();
                    $("#lblStar").show();
                    $("#lblFee").html("Booking Fee(Fixed)");
                }
                else {
                    $("#txtPer").hide();
                    $("#lblPer").hide();
                    $("#lblStar").hide();
                    $("#lblFee").html("Booking Fee");
                }
                $('#txtFee').val("");
                $('#txtFeeMaxCap').val("");
                $('#txtPer').val("");
            }

           )
            $('#txtFeeMaxCap').keydown(function (e) {
                var val = $('#ddlFeeType').val();
                var value = $(this).val();
                var key = e.keyCode;
                if (val == "") alert("Select Booking Fee type first");
                if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9 || key == 110 || key == 190) { return true; }
                if (value.length > 4) e.preventDefault(); else {
                    if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 190))) { e.preventDefault(); }
                }
            });
            $('#txtPer').keydown(function (e) {
                var val = $('#ddlFeeType').val();
                var value = $(this).val();
                var key = e.keyCode;
                if (val == "") alert("Select Booking Fee type first");
                if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
                if (value.length > 4) e.preventDefault(); else {
                    if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 190))) { e.preventDefault(); }
                }
            });
            $('#txtFee').autoNumeric('init');
            $('#txtFeeMaxCap').autoNumeric('init');
            $('#txtPer').autoNumeric('init');


        </script>

        <script type="text/javascript">
            function active() {
                document.getElementById("dss").className += " activeLi" + " activemenu";
            }
        </script>
