﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.LoginViewData
@{
    ViewBag.Title = "Reset Credentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Reset Credentials    </title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
            width: 100px;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div>
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>

                @{
                    if (Session["User"] != null)
                    {
                        Html.RenderAction(((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 1 ? "_SettingMerchant" : "_UserReset", "Member");
                    }
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="">
                                @if (TempData["IsAllReady"] == null)
                                {
                                    <h4>Set Password</h4>
                                }
                                else
                                {
                                    <h4>Reset Password</h4>
                                }
                                <hr />
                                @Html.ValidationSummary(true)
                                <table style="width: 95%;">
                                    <tr>
                                        <td></td>
                                        <td>
                                            @if (ViewBag.Message != null)
                                            {
                                                <p style="color: green;font-size:12px;width:350px">@ViewBag.Message</p>
                                            }

                                        </td>

                                    </tr>
                                    @*@if (TempData["IsAllReady"] == null)
                                        {*@
                                        <tr>
                                            <td>@Html.Label("Enter User Name")<span class="Validate">*</span></td>
                                        <td> @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 45)" })</td>
                                            <td style="width:350px">
                                                <div id="divEmptyUname" style="display: none; color: red; font-size: 11px;">Please enter User name</div>
                                                <div id="divalUname" style="display: none; color: red; font-size: 11px;">User name not available</div>
                                            </td>
                                            <td class="Validate">
                                                @Html.ValidationMessageFor(model => model.UserName)
                                                @Html.HiddenFor(model => model.UserName)
                                            </td>
                                        </tr>
                                    @*}
                                    @if (TempData["IsAllReady"] != null)
                                    {
                                        <tr>
                                            <td>@Html.Label("User Name")<span class="Validate">*</span></td>
                                            <td> @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @readonly="readonly" })</td>
                                            <td style="width:350px">
                                                <div id="divEmptyUname" style="display: none; color: red; font-size: 11px;">Please enter User name</div>
                                            </td>
                                            <td class="Validate">
                                                @Html.ValidationMessageFor(model => model.UserName)
                                                @Html.HiddenFor(model => model.UserName)
                                            </td>
                                        </tr>
                                        }*@
                                     
                                    <tr><td class="space"></td></tr>
                                    <tr>

                                        <td>@Html.Label("Enter New Password")<span class="Validate">*</span></td>
                                        <td> @Html.PasswordFor(model => model.PCode, new { @class = "form-control" })</td>
                                        <td style="width:350px">
                                            <div id="divMsgPCode" style="display: none; color: red; font-size: 11px;">Password should contain atleast one number,one lowercase letter,one uppercase letter,one special symbol and atleast 10 characters </div>
                                            <div id="divEmptyPCode" style="display: none; color: red; font-size: 11px;">Please enter new password</div>
                                        </td>
                                        <td class="Validate">
                                            @Html.ValidationMessageFor(model => model.PCode)
                                            @Html.HiddenFor(model => model.UserName)
                                        </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>

                                        <td>@Html.Label("Confirm New Password")<span class="Validate">*</span></td>
                                        <td> @Html.PasswordFor(model => model.ConfirmPCode, new { @class = "form-control" })</td>
                                        <td style="width:350px">
                                            <div id="divMsgConfirmPCode" style="display: none; color: red; font-size: 11px;">Password should contain atleast one number,one lowercase letter,one uppercase letter,one special symbol and atleast 10 characters </div>
                                            <div id="divEmptyConfirmPCode" style="display: none; color: red; font-size: 11px;">Please confirm password</div>
                                            <div id="divPasswordNotMatch" style="display: none; color: red; padding-left: 10px; font-size: 11px;">Password does not  match</div>
                                        </td>
                                        <td class="Validate">
                                            @Html.ValidationMessageFor(model => model.ConfirmPCode)
                                            <input type="hidden" id="alreadyName" />
                                            <input type="hidden" id="notRun" />
                                        </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                    <tr><td></td><td><input type="submit" value="Submit" class="btnu" onclick="return validation();" /> &nbsp;&nbsp;&nbsp;@*<a href="~/Merchant/Index" class="btn1">Cancel</a>*@</td></tr>
                                </table>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</body>

<script type="text/javascript">
    function active() {
        document.getElementById("vas").className += " activeLi" + " activemenu";
    }
</script>
<script type="text/javascript">
    $(function () {
        $("#PCode").focusout(function () {
            var text = $(this).val();
            if (text == "") {
                $("#divEmptyPCode").css("display", "block");
                $("#divMsgPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return false;
            }
            var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\W]).{10,}$/;
            var result = text.match(pattern);
            if (result == null) {
                $("#divMsgPCode").css("display", "block");
                $("#divEmptyPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return false;
            }
            else {
                $("#divMsgPCode").css("display", "none");
                $("#divEmptyPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return true;
            }
        });
        $("#ConfirmPCode").focusout(function () {
            var text = $(this).val();
            if (text == "") {
                $("#divEmptyConfirmPCode").css("display", "block");
                $("#divMsgConfirmPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return false;
            }
            var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\W]).{10,}$/;
            var result = text.match(pattern);
            if (result == null) {
                $("#divMsgConfirmPCode").css("display", "block");
                $("#divEmptyConfirmPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return false;
            }
            else {
                $("#divMsgConfirmPCode").css("display", "none");
                $("#divEmptyConfirmPCode").css("display", "none");
                $("#divPasswordNotMatch").css("display", "none");
                return true;
            }
        });
    });
</script>
<script type="text/javascript">
    function validation() {
        var response = true;
        if ($("#UserName").val() == "") {
            $("#divEmptyUname").css("display", "block");
            response = false;
        }
        if ($("#PCode").val() == "") {
            $("#divEmptyPCode").css("display", "block");
            response = false;
        }
        if ($("#ConfirmPCode").val() == "") {
            $("#divEmptyConfirmPCode").css("display", "block");
            response = false;
        }
        var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\W]).{10,}$/;
        var result = $("#PCode").val().match(pattern);
        if (result == null && $("#PCode").val() != "") {
            $("#divEmptyPCode").css("display", "none");
            $("#divMsgPCode").css("display", "block");
            $("#divPasswordNotMatch").css("display", "none");
            return false;
        }
        if ($("#PCode").val() != "" && $("#ConfirmPCode").val() != "") {
            if ($("#PCode").val() != $("#ConfirmPCode").val()) {
                $("#divPasswordNotMatch").css("display", "block");
                $("#divEmptyConfirmPCode").css("display", "none");
                $("#divMsgConfirmPCode").css("display", "none");
                $("#divMsgConfirmPCode").css("display", "none");
                response = false;
            } else {
                $("#divPasswordNotMatch").css("display", "none");
                $("#divEmptyConfirmPCode").css("display", "none");
                response = true;
            }

        }
        if (response) {
            Showloader();
        }
        return response;
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#alreadyName').val($('#UserName').val());
    });
</script>

<script type="text/javascript">
    $("#UserName").focusout(function (e) {
        var alRdy = $('#alreadyName').val();
        if (alRdy == "" || alRdy.length <= 0) {
            if (alRdy != $('#UserName').val()) {
                var userName = $('#UserName').val();
                $.ajax({
                    url: '/ViewAs/IsAvailale?userName=' + userName,
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        if (data) {
                            $('#UserName').focus();
                            $("#divalUname").css("display", "block");

                        }
                        else {
                            $("#divalUname").css("display", "none");
                            $('#PCode').focus();
                        }
                    },
                });
            }
        }
    });

</script>