﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.FleetSettingViewData

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>
        Update Fleet Settings
    </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        th {
            background-color: #014a81;
        }

        .requiredfields {
            color: red;
            left: 650px;
            position: absolute;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_SettingMerchant", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    <h4>Fleet Settings</h4>
                    <hr />
                    <table>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr><td colspan="3" class="space"></td></tr>

                    </table>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <table style="width:57%;">
                            <tr>
                                <td>@Html.Label("Fleet Name")<span class="required">*</span></td>

                                <td>
                                    @if (ViewBag.Status == null)
                                    {
                                         @Html.TextBoxFor(m => m.FleetName, new { @readonly = true, @class = "form-control" })
                                            @Html.HiddenFor(model => model.fk_FleetID, new { @id = "FleetID" })
                                    }
                                    @if (ViewBag.Status == "Create")
                                        {
                                            @Html.DropDownListFor(model => model.fk_FleetID, new SelectList(Model.fleetlist, "FleetID", "FleetName", Model.fk_FleetID), "--Please Select a Fleet--", new { @class = "form-control" })
                                            @Html.HiddenFor(model => model.fk_FleetID, new { @id = "FleetID" })
                                        }
                                   
                                
                            </td>

                            <td class="requiredfields" style="width:200px">
                                @Html.ValidationMessageFor(model => model.fk_FleetID)
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("Min Fleet Transactions Per Day")<span class="required">*</span></td>

                            <td>
                                @Html.TextBoxFor(model => model.FleetTransaction, new { @class = "form-control", @autocomplete = "off", onkeyup = "AllowDecimalNumbers(this, 6)" })

                            </td>
                            <td class="requiredfields" style="width:240px;">
                                @Html.ValidationMessageFor(model => model.FleetTransaction)
                            </td>

                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("Min Cars Transacting Per Day")<span class="required">*</span></td>

                            <td> @Html.TextBoxFor(model => model.CarTransaction, new { @class = "form-control", @autocomplete = "off", onkeyup = "AllowDecimalNumbers(this, 6)" })</td>

                            <td class="requiredfields" style="width: 240px">
                                @Html.ValidationMessageFor(model => model.CarTransaction)
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("Min Fleet Transaction Value Per Day")<span class="required">*</span></td>

                            <td> @Html.TextBoxFor(model => model.TransactionValue, new { @class = "form-control", @id = "txtTransValue", @autocomplete = "off", onkeyup = "AllowDecimalNumbers(this, 6)" })</td>

                            <td class="requiredfields" style="width: 240px">
                                @Html.ValidationMessageFor(model => model.TransactionValue)
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("Card Swiped")</td>
                            <td> @Html.CheckBox("IsCardSwiped")</td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("Contactless")</td>
                            <td>@Html.CheckBox("IsContactless")</td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("Chip & Pin")</td>
                            <td>@Html.CheckBox("IsChipAndPin")</td>

                        </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Show Tip")</td>
                                <td>@Html.CheckBox("IsShowTip")</td>

                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>
                        <tr><td></td><td><a href="FleetSettingIndex" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp; <input type="submit" value="Save" class="btnu" onclick=" return validation();" /></td></tr>

                    </table>

                    }

                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">

    function active() {
        document.getElementById("vas").className += " activeLi" + " activemenu";
    }
    function validation() {
        Showloader();
        return true;
    }
    $('#txtTransValue').focusout(function () {
        var value = parseFloat($(this).val());
        if (!isNaN(value)) {
            if (value < 100) {
                $(this).val(value.toFixed(2));
            }

        }
    });
</script>

