﻿@using MTD.Core.DataTransferObjects

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<head>
    <title>Fleet Settings
</title>

</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{

                Html.RenderAction("_SettingMerchant", "Member");
            }
        </div>


        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">
                    <table style="width:100%">
                        <tr>
                            <td><h4><a href="FleetSetting"> Add New Fleet Settings</a></h4></td>
                            <td style="float:right">

                                <form>
                                    <div class="search-box">
                                        <input type="text" value="" name="FleetName" id="FleetName" placeholder="Search : Fleet name">
                                        <span class="search-icon">
                                            <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                        </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>

                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">

                        $(document).ready(function () {

                            $('#StudentTableContainer').jtable({
                                // title: 'Payment Gateway',
                                paging: true,
                                pageSize: 15,
                                sorting: true,
                                defaultSorting: 'FleetName ASC',
                                actions: {
                                    listAction: '/ViewAs/FleetSettingListByFiter',
                                    deleteAction: '/ViewAs/DeleteFleetSetting',
                                },
                                fields: {
                                    FleetID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    FleetName: {
                                        title: 'Fleet Name',
                                        width: '18%'
                                    },
                                    FleetTransaction: {
                                        title: 'Fleet Txn',
                                        width: '10%'
                                    },
                                   
                                    CarTransaction: {
                                        title: 'Car Txn',
                                        width: '8%'

                                    },
                                    TransactionValue: {
                                        title: 'Transaction Value',
                                        width: '8%'

                                    },
                                    IsCardSwiped: {
                                        title: 'Card Swiped',
                                        type: 'checkbox',
                                        values: { 'false': 'No', 'true': 'Yes' },
                                        sorting: false,
                                        width: '8%'

                                    },
                                    IsContactless: {
                                        title: 'Contactless',
                                        type: 'checkbox',
                                        values: { 'false': 'No', 'true': 'Yes' },
                                        sorting: false,
                                        width: '8%'

                                    },
                                    IsChipAndPin: {
                                        title: 'Chip & Pin',
                                        type: 'checkbox',
                                        values: { 'false': 'No', 'true': 'Yes' },
                                        sorting: false,
                                        width: '8%'

                                    },

                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '5%',
                                        display: function (data) {
                                            return '<a  href="GetFleetSetting?fleetId=' + data.record.FleetID + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';
                                        }
                                    },
                                }
                            });

                            //Re-load records when user click 'load records' button.
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#FleetName').val(),
                                });
                            });
                            //Load all records when page is first shown
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>

<script type="text/javascript">
    function active() {
        document.getElementById("vas").className += " activeLi" + " activemenu";
    }
</script>

