﻿@using System
@using System.Linq
@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.MerchantUserViewData
@{
    ViewBag.Title = "Create Terminal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Merchant Details </title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/js/custom.js"></script>
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
            padding-left: 50px;
            color: black;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
        .textEd {
            max-width: 580px;
            height: 150px;
            width: 580px;
            overflow: scroll;
            border: 1px solid grey;
            background-color: white;
            margin: 0;
            padding: 0;
            overflow: auto;
        }
    </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>

                @{
                    Html.RenderAction("_SettingMerchant", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="">
                                <h4>Merchant Details</h4>
                                <hr />
                                @Html.ValidationSummary(true)
                                <table style="width: 96%;">

                                    <tr>

                                        <td style="width: 200px"><label>Company</label></td>
                                        <td>
                                            @Html.DisplayFor(model => model.Company, new { @class = "form-control" })
                                    </tr>

                                    <tr><td colspan="3" class="space"></td></tr><tr>
                                        <td><label>Company Tax Number</label></td>
                                        <td>

                                            @Html.DisplayFor(model => model.CompanyTaxNumber, new { @class = "form-control" })
                                        </td>

                                    </tr>

                                    <tr><td colspan="3" class="space"></td></tr><tr>
                                        <td><label>First Name</label></td>
                                        <td>

                                            @Html.DisplayFor(model => model.FName, new {@class = "form-control"})
                                        </td>

                                    </tr>
                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td><label>Last Name</label></td>
                                        <td>

                                            @Html.DisplayFor(model => model.LName, new { @class = "form-control" })
                                        </td>

                                    </tr>
                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td> <label>Email</label></td>
                                        <td>

                                            @Html.DisplayFor(model => model.Email, new {@class = "form-control"})
                                        </td>

                                    </tr>
                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td><label>Phone</label></td>
                                        <td>

                                            @Html.DisplayFor(model => model.Phone, new { @class = "form-control" })
                                        </td>

                                    </tr>
                                    <tr><td><label>TimeZone</label></td>
                                        <td>@Html.DropDownListFor(m => m.TimeZone, new SelectList(Model.TimeZones, "TimeZoneTime", "TimeZoneName", Model.TimeZone), "--Select time zone--", new { @class = "form-control", disabled="disabled" })</td>
                                    </tr>
                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td style="vertical-align: top"><label>Address</label></td>
                                        <td style="padding:1px 0px">
                                            @Html.DisplayFor(model => model.Address, new { @class = "form-control" })<br />
                                            @Html.DisplayFor(model => model.City, new { @class = "form-control" }),
                                            @Html.DisplayFor(model => model.State, new { @class = "form-control" })<br />
                                            @Html.DisplayFor(model => model.Country, new { @class = "form-control" })
                                        </td>

                                    </tr>
                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td><label>Federal Tax Rate(%)</label></td>
                                        <td>
                                            @Html.DisplayFor(model => model.FederalTaxRate, new {@class = "form-control insert-Percent", @autocomplete = "off"})
                                        </td>

                                    </tr>
                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td><label>State Tax Rate(%)</label></td>
                                        <td>

                                            @Html.DisplayFor(model => model.StateTaxRate, new { @class = "form-control insert-Percent", @autocomplete = "off" })
                                        </td>

                                    </tr>
                                    <tr><td colspan="3" class="space"></td></tr>
                                    

                                    <tr>
                                        <td><label>Tip low(%)</label></td>
                                        <td>

                                            @Html.DisplayFor(model => model.TipPerLow, new { @class = "form-control insert-Percent", @autocomplete = "off" })
                                        </td>

                                    </tr>

                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td><label>Tip medium(%)</label></td>
                                        <td>

                                            @Html.DisplayFor(model => model.TipPerMedium, new {@class = "form-control insert-Percent", @autocomplete = "off"})
                                        </td>

                                    </tr>

                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td><label>Tip high(%)</label></td>
                                        <td>

                                            @Html.DisplayFor(model => model.TipPerHigh, new { @class = "form-control insert-Percent", @autocomplete = "off" })
                                        </td>

                                    </tr>
                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td>
                                            @Html.Label("Is Locked Out")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.IsLockedOut, new {@readonly = "readonly"})
                                        </td>

                                    </tr>
                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td style="vertical-align: top; text-align: justify; height:40px;"><label>Disclaimer</label></td>
                                        <td >
                                            <div class="textEd">  @Html.Raw(@Model.Disclaimer)</div>
                                        </td>

                                    </tr>
                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td style="vertical-align:top; text-align:justify"><label>Terms & Conditions</label></td>
                                        <td>
                                            <div class="textEd"> @Html.Raw(@Model.TermCondition)</div></td>

                                    </tr>
                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>

                                        <td>
                                            <label>Roles</label>
                                        </td>
                                        <td>
                                            @if (!object.Equals(Model.UserRoles, null))
                                            {

                                                foreach (var item in Model.UserRoles)
                                                {
                                                    if (!string.IsNullOrEmpty(Model.RolesAssigned))
                                                    {
                                                        if (Model.RolesAssigned.Split(',').Select(x => Convert.ToInt32(x)).Contains(item.RoleId))
                                                        {
                                                            <input type="checkbox" id="@item.RoleId" class="chkrole" checked="checked" disabled="disabled" />
                                                            @item.RoleName<br />
                                                            <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" name="UserRoleIdList" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" id="@item.RoleId" class="chkrole" disabled="disabled" />
                                                            @item.RoleName<br />
                                                            <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" />
                                                        }
                                                    }

                                                    else
                                                    {
                                                        <input type="checkbox" id="@item.RoleId" class="chkrole" />
                                                        @item.RoleName<br />
                                                        <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" />
                                                    }
                                                }
                                            }

                                        </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr><td></td> <td><a href="~/Merchant/Index" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp;
                                                      <a href="@Url.Action("Update","Merchant", new { merchantId = Model.MerchantID,userId=Model.UserID })" class="btnu">Edit</a>
                                        </td></tr>

                                </table>
                            </div>
                        }
                    </div>

                </div>
            </div>

        </div>

    </body>

    <script type="text/javascript">
        function active() {
            document.getElementById("vas").className += " activeLi" + " activemenu";

        }

    </script>
