﻿@using MTD.Core.DataTransferObjects
<!DOCTYPE html>

<head>
    <title>  View As Settings </title>
</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_SettingMerchant", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">

                    <table style="width:100%">
                        <tr>
                            <td><h4><a href="Fee">Add booking Fee</a></h4></td>
                            <td style="float:right">


                                <div class="BackgroundClass">
                                    <input type="text" value="" name="name" id="name" style="width:233px; height:28px" placeholder="Search : Name"> <input type="image" id="LoadRecordsButton" style="background-image: url('../images/search.png'); color: transparent; width:20px; text-align:center; vertical-align:top; " value=".......">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">

                        $(document).ready(function () {

                            $('#StudentTableContainer').jtable({
                                // title: 'Payment Gateway',
                                paging: true,
                                pageSize: 10,
                                sorting: true,
                                defaultSorting: 'Name ASC',
                                actions: {
                                    listAction: '/ViewAs/FeeListByFiter',
                                    deleteAction: '/ViewAs/DeleteFee',
                                },
                                fields: {
                                    BookingFeeID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    Name: {
                                        title: 'Name',
                                        width: '12%'
                                    },
                                    BookingFeeType: {
                                        title: 'Booking Fee Type',
                                        sorting: false
                                    },
                                    BookingFeeFixed: {
                                        title: 'Booking Fee(Fixed)',
                                        width: '10%',
                                        sorting: false
                                    },
                                    BookingFeePer: {
                                        title: 'Booking Fee(%)',
                                        sorting: false
                                    },
                                   
                                    BookingFeeMaxCap: {
                                        title: 'Booking Fee Max Cap',
                                        sorting: false
                                    },

                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '3%',
                                        display: function (data) {
                                            return '<a  href="EditFee?feeId=' + data.record.BookingFeeID + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';
                                            //return '<a  href="ViewAs/EditFee?feeId=' + data.record.SurID + '"><img src="Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';
                                        }
                                    },
                                }
                            });

                            //Re-load records when user click 'load records' button.
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#name').val(),
                                });
                            });

                            //Load all records when page is first shown
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    function active() {
        document.getElementById("vas").className += " activeLi" + " activemenu";
        var mydate = new Date();
        mydate.setTime(mydate.getTime() - 1);
        document.cookie = "CookieViewAs=; expires=" + mydate.toGMTString();
    }
</script>
