﻿@using MTD.Core.DataTransferObjects
@{
    ViewBag.Title = "No Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  View As Settings </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>


</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                   
                        var loggedUser = ((SessionDto)Session["User"]).SessionUser.fk_UserTypeID;
                        <input type="hidden" value="@loggedUser" id="loggedUser">
                   
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_SettingMerchant", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>No users available</h4>
                            <hr />
                             
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#loggedUser").val() == 2 || $("#loggedUser").val() == 3 || $("#loggedUser").val() == 5) {
            document.getElementById("mnglink").className += "has-sub activeLi activemenu";
            document.getElementById("collaspe").style.display = "block";
        }
    });
</script>









