﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.SurchargeViewData
@{
    ViewBag.Title = "Manage Surcharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  View As Settings </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
        }



        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_SettingMerchant", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="">
                                <h4><a href="Surcharge">Add new surcharge</a></h4>
                                <hr />

                                <h4 style="color:green;"> -------------No Record Available------------</h4>

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function active() {
            document.getElementById("vas").className += " activeLi" + " activemenu";
        }
    </script>



