﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.TaxViewData
@{
    ViewBag.Title = "Manage Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Manage Tax
 </title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/js/custom.js"></script>
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
        }


        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_SettingMerchant", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="">
                                <h4>Manage Tax</h4>
                                <hr />
                                @Html.ValidationSummary(true)
                                <table style="width:50%">

                                    <tr>
                                        <td>@Html.Label("Merchant")</td>

                                        <td> @Html.DisplayFor(m => m.Company)


                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("State Tax Rate (%)")</td>
                                        <td>@Html.DisplayFor(model => model.StateTaxRate)</td>

                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Federal Tax Rate (%)")</td>
                                        <td>@Html.DisplayFor(model => model.FederalTaxRate)</td>

                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    
                                    <tr><td> @Html.Label("Tax Inclusive") </td><td> @Html.CheckBoxFor(model => model.IsTaxInclusive, new { @disabled = "disabled" })</td>
                                    <tr><td class="space"></td></tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                    <tr><td></td> <td><a href="@Url.Action("TaxUpdate", new { feeId = Model.MerchantID })" class="btnu">Edit</a></td></tr>

                                </table>

                            </div>
                        }
                    </div>

                </div>
            </div>

        </div>
    </body>
    <script type="text/javascript">
        function active() {
            document.getElementById("vas").className += " activeLi" + " activemenu";
        }
    </script>
