﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.TaxViewData
@{
    ViewBag.Title = "Update Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Update Merchant Tax
</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
        }


        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_SettingMerchant", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="">
                                <h4>Update Merchant Tax</h4>
                                <hr />
                                @Html.ValidationSummary(true)
                                <table style="width:50%">
                                    <tr>
                                        <td>@Html.Label("Merchant")</td>

                                        <td> @Html.TextBoxFor(m => m.Company, new { @class = "form-control", @readonly = "readonly" })</td>

                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.MerchantID) </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("State Tax Rate (%)")@Html.Label("*", new { style = "color: red" })</td>
                                        <td>@Html.TextBoxFor(model => model.StateTaxRate, new { @class = "form-control", @id = "txtStateTax" })</td>
                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.StateTaxRate) </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Federal Tax Rate (%)")@Html.Label("*", new { style = "color: red" })</td>
                                        <td>@Html.TextBoxFor(model => model.FederalTaxRate, new { @class = "form-control", @id = "txtFedTax" })</td>
                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.FederalTaxRate) </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr><td class="space"></td></tr>
                                    <tr><td> @Html.Label("Tax Inclusive") </td><td> @Html.CheckBoxFor(model => model.IsTaxInclusive)</td>
                                    <tr><td class="space"></td></tr>
                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <a href="TaxDisplay" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp;<input type="submit" class="btnu" value="Update" onclick="return validation();" />
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        }
                    </div>

                </div>
            </div>

        </div>
    </body>
    <script type="text/javascript">
        function active() {
            document.getElementById("vas").className += " activeLi" + " activemenu";
        }
        function validation() {
            Showloader();
            return true;
        }
    </script>
    <script type="text/javascript">
        $('#txtStateTax').keydown(function (e) {
            var key = e.keyCode;
            var value = $(this).val();
            if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
            if (value.length > 4 || e.shiftKey || e.ctrlKey || e.altKey) e.preventDefault();
            else {
                if (!((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 190)) e.preventDefault();
            }
        });
        $("#txtStateTax").focusout(function () {
            var arr = document.getElementById("txtStateTax").value.split('.');
            var length = arr[0].length;
            if (length > 2) {
                alert("Invalid state tax")
                $("#txtStateTax").val("");
            }

        })
        $("#txtFedTax").focusout(function () {
            var arr = document.getElementById("txtFedTax").value.split('.');
            var length = arr[0].length;
            if (length > 2) {
                alert("Invalid federal tax")
                $("#txtFedTax").val("");
            }

        })
        $('#txtFedTax').keydown(function (e) {
            var key = e.keyCode;
            var value = $(this).val();
            if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
            if (value.length > 4 || e.shiftKey || e.ctrlKey || e.altKey) e.preventDefault();
            else { if (!((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 190)) e.preventDefault(); }
        });
        $('#txtStateTax').autoNumeric('init');
        $('#txtFedTax').autoNumeric('init');

    </script>

