﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.SurchargeViewData
@{
    ViewBag.Title = "Update Surcharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>
        Update Surcharge / Fee
 </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            padding-left:5px;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_SettingMerchant", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="">
                                <h4>Manage Surcharge / Fee</h4>
                                <hr />
                                @Html.ValidationSummary(true)
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="width:200px">&nbsp;</td>
                                        <td colspan="2">
                                            @if (ViewBag.Message != null)
                                            {
                                                <p style="color: red;font-size:12px">&nbsp;@ViewBag.Message</p>
                                            }

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style ="width: 220px">@Html.Label("Fleet")</td>
                                        <td style="width: 290px"> @Html.DropDownListFor(m => m.FleetID, new SelectList(Model.Fleets, "FleetID", "FleetName", Model.FleetID), "--Select a Fleet--", new { @class = "form-control", @disabled = true })</td>
                                        <td class="Validate">@Html.ValidationMessageFor(model => model.MerchantId) </td>
                                        @Html.HiddenFor(m=>m.FleetID)
                                        
                                    </tr>

                                    <tr><td class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Surcharge Type")<span class="required">*</span></td>
                                        <td>
                                            @Html.DropDownListFor(m => m.SurchargeType, new SelectList(Model.TypeList, "TypeID", "TypeName", Model.SurchargeType), "--Select Surcharge type--", new { @class = "form-control", @id = "ddlSurchargeType" })
                                        </td>
                                        <td style="width: 220px; font-family:Arial; font-size:10px" colspan="2">Transaction Fee per transaction Paid directly by passenger</td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr id="surchargeFix">
                                        <td>@Html.Label("Surcharge", new { @id = "lblSurcharge" })<span class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.Surcharge, new { @class = "form-control", @id = "txtSurcharge" })</td>

                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.Surcharge) </td>


                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr id="surchargePercent">
                                        <td>@Html.Label("Surcharge(%)", new { @id = "lblSurPer" })<span id="lblSurStar" class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.SurchargePer, new { @class = "form-control", @id = "txtSurPer" })</td>

                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.SurchargePer) </td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr id="hideIt">


                                        <td>@Html.Label("Surcharge MaxCap")<span class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.SurMaxCap, new { @class = "form-control", @id = "txtSurMaxCap" })</td>

                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.SurMaxCap) </td>
                                    </tr>
                                            
                                    <tr><td class="space"></td></tr>

                                    <tr>
                                        <td>@Html.Label("Transaction Fee Type")<span class="required">*</span></td>
                                        <td>
                                            @Html.DropDownListFor(m => m.BookingFeeType, new SelectList(Model.TypeList, "TypeID", "TypeName", Model.BookingFeeType), "--Select Fee type--", new { @class = "form-control", @id = "ddlFeeType" })
                                        </td>
                                        <td style="font-family:Arial; font-size:10px;" colspan="2">Transaction Fee- Only Applies when paying Driver / Car owner- is deducted from driver. (is deducted from driver/ car owner)</td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr id="feeFixed">
                                        <td>@Html.Label("Transaction Fee", new { @id = "lblFee" })<span class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.BookingFee, new { @class = "form-control", @id = "txtFee" })</td>

                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.BookingFee) </td>


                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr id="feePercent">
                                        <td>@Html.Label("Transaction Fee(%)", new { @id = "lblFeePer" })<span class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.FeePercentage, new { @class = "form-control", @id = "txtFeePer" })</td>

                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.FeePercentage) </td>


                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr id="booinMaxCap">
                                        <td>@Html.Label("Transaction Fee MaxCap")<span class="required">*</span></td>

                                        <td> @Html.TextBoxFor(model => model.BookingFeeMaxCap, new { @class = "form-control", @id = "txtFeeMaxCap" })</td>

                                        <td class="Validate"> @Html.ValidationMessageFor(model => model.BookingFeeMaxCap) </td>

                                    </tr>
                                    <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Technology Fee Type")<span class="required">*</span></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.TechFeeType, new SelectList(Model.TypeList, "TypeID", "TypeName", Model.TechFeeType), "--Select Technology Fee type--", new { @class = "form-control", @id = "ddlTechFeeType" })
                                    </td>
                                    <td colspan="2" style="font-family:Arial; font-size:10px;">Technology Fee – Applies to all customer transactions for both approved, declined, refund.</td>
                                </tr>
                                    <tr><td class="space"></td></tr>
                                <tr id="TechFixed">
                                    <td>@Html.Label("Technology Fee", new { @id = "techFee" })<span class="required">*</span></td>

                                    <td>
                                        @Html.TextBoxFor(model => model.TechFeeFixed, new { @class = "form-control" })

                                    </td>

                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.TechFeeFixed) </td>
                                    <td>
                                        <label class="required" style="width: 220px; display: none;" id="lblSurcharge"> Please Enter Valid Input(Only Numbers)</label>
                                    </td>

                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr id="TechPercent">
                                    <td>@Html.Label("Technology Fee(%)", new { @id = "lblFeeTPer" })<span class="required">*</span></td>

                                    <td> @Html.TextBoxFor(model => model.TechFeePer, new { @class = "form-control" })</td>

                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.TechFeePer) </td>


                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr id="TechMaxCap">
                                    <td>@Html.Label("Technology Fee MaxCap", new { @id = "Technology_Fee_MaxCap" })<span class="required">*</span></td>

                                    <td> @Html.TextBoxFor(model => model.TechFeeMaxCap, new { @class = "form-control" })</td>

                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.TechFeeMaxCap) </td>

                                </tr>
                                <tr><td class="space"></td></tr>
                                <!--tech fee end-->
                                <tr><td class="space"></td></tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a href="MerchantSurcharges" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp; <input type="submit" class="btnu  " value="Update" onclick="return validation();" />
                                        </td>
                                    </tr>
                                </table>

</div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </body>

<script type="text/javascript">
    function active() {
        document.getElementById("vas").className += " activeLi" + " activemenu";
    }
    $(document).ready(function () {
       
        if ($("#ddlSurchargeType").val() == 1) {
            $("#surchargeFix").show();
            $("#surchargePercent").hide();
            $("#hideIt").hide();
                
        }
        if ($("#ddlSurchargeType").val() == 2) {
            $("#txtSurPer").show();
            $("#lblSurPer").show();
            $("#lblSurStar").show();
            $("#lblSurcharge").html("Surcharge(Fixed)");
            $("#surchargeFix").hide();
            $("#surchargePercent").show(); 
            $("#hideIt").show();
        }
        if ($("#ddlSurchargeType").val() == 3) {
            $("#txtSurPer").show();
            $("#lblSurPer").show();
            $("#lblSurStar").show();
            $("#lblSurcharge").html("Surcharge(Fixed)");
            $("#surchargeFix").show();
            $("#surchargePercent").show();
            $("#surchargeFix").show();
            $("#surchargePercent").show();
            $("#hideIt").show();
        }
        if ($("#ddlFeeType").val() == 1) {

            $("#feeFixed").show();
            $("#feePercent").hide(); 
            //$("#txtFeePer").val("");
            $("#booinMaxCap").hide();
            $("#txtFeeMaxCap").val("");
            
            $("#lblFee").html("Transaction fee(Fixed)");
        }
        if ($("#ddlFeeType").val() == 2) {
            $("#txtFeePer").show();
            $("#lblFeePer").show();
            $("#lblFeeStar").show();
            $("#feeFixed").hide();
            $("#feePercent").show(); 
            //$("#txtFee").val("");
            $("#lblFee").html("Transaction fee(Fixed)");
        }
        if ($("#ddlFeeType").val() == 3) {
            $("#txtFeePer").hide();
            $("#lblFeePer").show();
            $("#lblFeeStar").hide();
            $("#txtFeePer").show();
            $("#feeFixed").show();
            $("#feePercent").show();
            $("#lblFee").html("Transaction Fee");

        }
        if ($("#ddlTechFeeType").val() == 1) {

            $("#TechFixed").show();
            $("#TechPercent").hide();
            $("#techFee").html("Technology Fee(Fixed)");
            $("#TechFeeMaxCap").hide();
            $("#TechMaxCap").hide();
        }
        if ($("#ddlTechFeeType").val() == 2) {
            $("#TechMaxCap").show();
            $("#lblFeeTPer").show();
            $("#lblFeeStar").show();
            $("#TechFixed").hide();
            $("#TechPercent").show();
            $("#techFee").html("Technology Fee(Fixed)");
        }
        if ($("#ddlTechFeeType").val() == 3) {
            $("#TechFeePer").show();
            $("#TechFixed").show();
            $("#TechPercent").show();
        }

    });
    $('#txtSurcharge').keydown(function (e) {
        var val = $('#ddlSurchargeType').val();
        var value = $(this).val();
        var key = e.keyCode;
        if (val == "") {
            alert("Select surcharge type first");
            $('#txtSurcharge').val("");
        }
        if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
        if (value.length > 4) e.preventDefault(); else {
            if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 190))) { e.preventDefault(); }
        }

    });
    $("#txtSurcharge").focusout(function () {
        if ($('#ddlSurchargeType').val() == 2) {
            var arr = document.getElementById("txtSurcharge").value.split('.');
            var length = arr[0].length;
            if (length > 2) {
                alert("Invalid surcharge percentage")
                $("#txtSurcharge").val("");
            }
        }

    })
    $("#txtSurPer").focusout(function () {
        var arr = document.getElementById("txtSurPer").value.split('.');
        var length = arr[0].length;
        if (length > 2) {
            alert("Invalid surcharge percentage")
            $("#txtSurPer").val("");
        }

    })

    $('#ddlSurchargeType').change(function () {
            var val = $(this).val();

            if (val == 1) {
                $("#surchargeFix").show();
                $("#surchargePercent").hide();
                $("#hideIt").hide();
                $("#txtSurPer").val(""); 
                $("#txtSurMaxCap").val("");
            }
            if (val == 3) {
                $("#txtSurPer").show();
                $("#lblSurPer").show();
                $("#lblSurStar").show();
                $("#lblSurcharge").html("Surcharge(Fixed)");
                $("#surchargeFix").show();
                $("#surchargePercent").show();
                $("#hideIt").show();
            }
            if (val == 2) {
                $("#hideIt").show();
                $("#txtSurPer").show();
                $("#lblSurPer").show();
                $("#lblSurStar").show();
                $("#lblSurcharge").html("Surcharge(Fixed)");
                $("#surchargeFix").show();
                $("#surchargePercent").show();
                $("#surchargeFix").hide();
                $("#surchargePercent").show();
                $("#txtSurMaxCap").val("");
            }


            //$('#txtSurcharge').val("");
            //$('#txtSurMaxCap').val("");
            //$('#txtSurPer').val("");
        }

    )
    $('#txtSurMaxCap').keydown(function (e) {
        var val = $('#ddlSurchargeType').val();
        var value = $(this).val();
        var key = e.keyCode;
        if (val == "") {
            alert("Select surcharge type first");
            $('#txtSurMaxCap').val("");
        }
        if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9 || key == 110 || key == 190) { return true; }
        if (value.length > 4) e.preventDefault(); else {
            if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 190))) { e.preventDefault(); }
        }
    });
    $('#txtSurPer').keydown(function (e) {
        var val = $('#ddlSurchargeType').val();
        var value = $(this).val();
        var key = e.keyCode;
        if (val == "") {
            alert("Select surcharge type first");
            $('#txtSurPer').val("");
        }
        if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
        if (value.length > 4) e.preventDefault(); else {
            if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 190))) { e.preventDefault(); }
        }
    });
    $('#txtSurcharge').autoNumeric('init');
    $('#txtSurPer').autoNumeric('init');
    $('#txtSurMaxCap').autoNumeric('init');
    $('#txtCCPrefix').keydown(function (e) {
        var value = $(this).val();
        var key = e.keyCode;
        if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
        if (value.length > 3)
            e.preventDefault();
        if (e.shiftKey || e.ctrlKey || e.altKey) {
            e.preventDefault();
        }
        else {
            if (!((key >= 48 && key <= 57) || (key >= 96 && key <= 105))) { e.preventDefault(); }
        }
    });
    $('#txtFee').keydown(function (e) {
        var val = $('#ddlFeeType').val();
        var value = $(this).val();
        var key = e.keyCode;
        if (val == "") {
            alert("Select Transaction Fee type first");
            $('#txtFee').val("");
        }
        if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
        if (value.length > 4) e.preventDefault(); else {
            if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 190))) { e.preventDefault(); }
        }

    });
    $("#txtFee").focusout(function () {
        if ($('#ddlFeeType').val() == 2) {
            var arr = document.getElementById("txtFee").value.split('.');
            var length = arr[0].length;
            if (length > 2) {
                alert("Invalid Fee percentage");
                $("#txtFee").val("");
            }
        }

    })
    $("#txtFeePer").focusout(function () {
        var arr = document.getElementById("txtFeePer").value.split('.');
        var length = arr[0].length;
        if (length > 2) {
            alert("Invalid Transaction Fee percentage")
            $("#txtFeePer").val("");
        }

    })
    $('#ddlFeeType').change(function () {
            var val = $(this).val();

            if (val == 1) {

                $("#feeFixed").show();
                $("#feePercent").hide();
                $("#lblFee").html("Transaction Fee(Fixed)");
                $("#booinMaxCap").hide();
                $("#txtFeeMaxCap").val("");
            }
            if (val == 3) {
                $("#txtFeePer").show();
                $("#lblFeePer").show();
                $("#lblFeeStar").show();
                $("#feeFixed").show();
                $("#feePercent").show();
                $("#lblFee").html("Transaction Fee(Fixed)");
                $("#booinMaxCap").show();
            }
            if (val == 2) {
                $("#txtFeePer").hide();
                $("#lblFeePer").show();
                $("#lblFeeStar").hide();
                $("#txtFeePer").show();
                $("#feeFixed").hide();
                $("#feePercent").show();
                $("#lblFee").html("Transaction Fee(%)");
                $("#booinMaxCap").show();

            }
            //$('#txtFee').val("");
            //$('#txtFeeMaxCap').val("");
            //$('#txtFeePer').val("");
        }

    )
    $('#txtFeeMaxCap').keydown(function (e) {
        var val = $('#ddlFeeType').val();
        var value = $(this).val();
        var key = e.keyCode;
        if (val == "") {
            alert("Select Transaction Fee type first");
            $("#txtFeeMaxCap").val("");
        }
        if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9 || key == 110 || key == 190) { return true; }
        if (value.length > 4) e.preventDefault(); else {
            if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 190))) { e.preventDefault(); }
        }
    });
    $('#txtFeePer').keydown(function (e) {
        var val = $('#ddlFeeType').val();
        var value = $(this).val();
        var key = e.keyCode;
        if (val == "") {
            alert("Select Transaction Fee type first");
            $("#txtFeePer").val("");
        }
        if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9) { return true; }
        if (value.length > 4) e.preventDefault(); else {
            if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || key == 110 || key == 190))) { e.preventDefault(); }
        }
    });
    $('#txtFee').autoNumeric('init');
    $('#txtFeeMaxCap').autoNumeric('init');
    $('#txtFeePer').autoNumeric('init');
    $('#txtSurcharge').autoNumeric('init');
    $('#txtPer').autoNumeric('init');
    $('#txtSurMaxCap').autoNumeric('init');
    $('#TechFeeFixed').autoNumeric('init');
    $('#TechFeePer').autoNumeric('init');
    $('#TechFeeMaxCap').autoNumeric('init');
    function validation() {
        if ($('#ddlSurchargeType').val() == "") {
            alert("Please select Surcharge type");
            return false;
        }
        if ($('#ddlFeeType').val() == "") {
            alert("Please select a Surcharge");
            return false;
        }
        if ($('#ddlTechFeeType').val() == "") {
            alert("Please select the technology fee type");
            return false;
        }
        Showloader();

    }
</script>

<script type="text/javascript">
    $('#ddlTechFeeType').change(function () {
        var val = $(this).val();
        $('#TechFeeFixed').val("");
        $('#TechFeePer').val("");
        $('#TechFeeMaxCap').val("");
        if (val == 1) {
            $("#TechFixed").show();
            $("#TechPercent").hide();
            $("#TechMaxCap").hide();
            $("#TechFeePer").val("");
            $("#TechFeeMaxCap").val("");
        }
        if (val == 2) {
            $("#TechFixed").hide();
            $("#TechFee").val("");
            $("#TechPercent").show();
            $("#TechMaxCap").show();
            $("#TechFeePer").val("");
            $("#TechFeeMaxCap").show();
        }
        if (val == 3) {
            $("#TechFixed").show();
            $("#TechPercent").show();
            $("#TechMaxCap").show();
            $("#TechFeeMaxCap").show();

        }
    })
</script>

