﻿@using MTD.Core.DataTransferObjects
@using MTData.Web.ViewData
@model MTData.Web.ViewData.RecipientViewData
@{
    ViewBag.Title = "UserReceipent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <title>
        Set Merchant Recipients
    </title>
    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.ui.draggable.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .custom-table-th {
            padding: 6px 8px !important;
            font-size: 13px;
            padding-left: 20px;
        }

        .required {
            color: red;
        }

        .set-recipient-detail-grid {
            height: 400px;
            overflow: auto;
            margin-top: 10px;
            border: 1px solid #e9e9e9;
            width: 967px;
            border-radius: 4px;
        }

            .set-recipient-detail-grid table tr th {
                padding: 8px;
                color: #fff;
            }

            .set-recipient-detail-grid table tr td {
                padding: 0 8px;
                font-weight: normal;
            }

                .set-recipient-detail-grid table tr td label {
                    font-weight: normal;
                }

        .selectAll {
            width: 100%;
            height: 35px;
            color: #fff;
            background-color: #014a81;
            padding: 8px;
            margin-top: 15px;
        }
    </style>
</head>

<body onload="active()">

    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    var loggedUser = ((SessionDto)Session["User"]).SessionUser.fk_UserTypeID;
                    <input type="hidden" value="@loggedUser" id="loggedUser">
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_SettingMerchant", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {

                        <div style="height: 620px;position:relative;">
                            @if (ViewBag.saved != null)
                            {
                                <p style="color: green;font-size:14px;">&nbsp;@ViewBag.saved</p>
                            }
                            <h4>Set Recipients</h4>

                            @*<p style="color:black;font-size:14px;font-weight:normal">  &nbsp;Select user which you want to make email recipients:</p>*@
                            @Html.DropDownListFor(m => m.ReportId, new SelectList(Model.ReportList, "ReportId", "DisplayName", Model.ReportId), "--Please Select a Report--", new { @class = "form-control" })
                            @Html.HiddenFor(m => m.ReportId, new { @id = "hReportId" })
                            @Html.HiddenFor(m => m.fk_MerchantID, new { @id = "merchantId" })
                            @Html.HiddenFor(m => m.RecipientID, new { @id = "recId" })

                            <div>


                            </div>
                            <div class="selectAll">
                                @*<input type="checkbox" id="chkAll" />*@
                            @Html.CheckBoxFor(m => m.chkAll)
                            <b> Select All</b>
                        </div>
                        <div class="set-recipient-detail-grid" id="list">

                            <table width="100%" cellpadding="0" cellspacing="0" border="0">


                                <tr><td colspan="3"></td></tr>

                                <tr style='background-color: #F5F5DC;'>
                                    <td></td>
                                    <td class='custom-table-th'><b> Name</b></td>
                                    <td class='custom-table-th'> <b>Email</b></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                @Html.ValidationSummary(true)
                                @{int count = 0;}
                                @foreach (var item in Model.MerchantList)
                                {
                                    <tr>

                                        <td width="5%">
                                            <input type="checkbox" value="true" name="MerchantList[@count].IsRecipient" id="@item.IsRecipient" data-val="true" checked="@item.IsRecipient" class="chk">
                                        </td>
                                        <td width="30%">  <label style="font-size: 14px"> @item.FName &nbsp; @item.LName</label></td>
                                        <td width="65%">
                                            <label style="font-size: 14px"> &nbsp;&nbsp;&nbsp;@item.Email</label>
                                            <input type="hidden" name="MerchantList[@count].fk_UserID" value="@item.fk_UserID" />
                                            <input type="hidden" name="MerchantList[@count].FName" value="@item.FName" />
                                            <input type="hidden" name="MerchantList[@count].LName" value="@item.LName" />
                                            <input type="hidden" name="MerchantList[@count].Email" value="@item.Email" />
                                            <input type="hidden" name="MerchantList[@count].fk_MerchantID" value="@item.fk_MerchantID" />
                                            @{
                                    var sessionDto = (SessionDto)Session["User"];
                                            }
                                            @if (sessionDto != null)
                                            {
                                                var modifiedBy = sessionDto.SessionUser.Email;

                                                @:<input type="hidden" name="MerchantList[@count].ModifiedBy" value=@modifiedBy />
                                                 }

                                        </td>

                                    </tr>
                                            count++;
                                }




                                <tr><td class="space" colspan="3"></td></tr>
                                <tr><td class="space" colspan="3"></td></tr>

                                <tr><td class="space" colspan="3"></td></tr>
                                <tr><td class="space" colspan="3"></td></tr>
                            </table>
                        </div>

                        <input type="submit" class="btnu" id="btnCreate" value="Save" style="margin-top:36px;" onclick=" return validation();" />
                    </div>

                    }
                </div>

            </div>

        </div>

    </div>
</body>
<script type="text/javascript">
    $(function () {
        $("#chkAll").change(function () {
            if ($(this).is(':checked')) {
                $("input:checkbox[class=chk]").each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $("input:checkbox[class=chk]").each(function () {
                    $(this).prop('checked', false);
                });
            }
        });
    });

    function validation() {

        if ($("#ReportId").val() == 0) {
            jAlert('Please select Report', 'Required Field');
            return false;
        }
        Showloader();
    }

    $(document).ready(function () {
        $("#ReportId").change(function () {
            var reportId = $("#ReportId").val();
            if (reportId < 1)
                reportId = 0;
            $('#chkAll').attr('checked', false);
            Showloader();
            $.ajax({
                url: '/ViewAs/GetUsersList',
                data: { reportId: reportId },
                type: "GET",
                success: function (result) {
                    var string = "<table width='100%' cellpadding='0' cellspacing='0' border='0'><tr></tr>";
                    string += "  <tr><td colspan='3'></td></tr>";
                    string += " <tr style='background-color: #F5F5DC;'> <td></td><td class='custom-table-th' ><b> Name</b></td> ";
                    string += " <td class='custom-table-th'> <b>Email</b></td><td></td><td></td></tr>";
                    for (j = 0 ; j < result.MerchantList.length; j++) {
                        if (result.MerchantList[j].IsRecipient) {
                            string += "<tr><td width='5%'><input type='checkbox' data-val='true' value='true' name='MerchantList[" + j + "].IsRecipient' id='" + result.MerchantList[j].IsRecipient + "' checked='" + result.MerchantList[j].IsRecipient + "' class='chk'>";
                        }
                        else {
                            string += "<tr><td width='5%'><input type='checkbox' data-val='true' value='true' name='MerchantList[" + j + "].IsRecipient' id='" + result.MerchantList[j].IsRecipient + "' class='chk'>";
                        }
                        string += "</td><td width='30%'>  <label style='font-size: 14px'>" + result.MerchantList[j].FName + " &nbsp;" + result.MerchantList[j].LName + "</label></td><td width='65%'>";
                        string += "<label style='font-size: 14px'> &nbsp;&nbsp;&nbsp;" + result.MerchantList[j].Email + "</label>";
                        string += " <input type='hidden' name='MerchantList[" + j + "].fk_UserID' value='" + result.MerchantList[j].fk_UserID + "' /><input type='hidden' name='MerchantList[" + j + "].FName' value='" + result.MerchantList[j].FName + "' />";
                        string += "<input type='hidden' name='MerchantList[" + j + "].LName' value='" + result.MerchantList[j].LName + "' /><input type='hidden' name='MerchantList[" + j + "].Email' value='" + result.MerchantList[j].Email + "' />";
                        string += "<input type='hidden' name='MerchantList[" + j + "].fk_MerchantID' value='" + result.MerchantList[j].fk_MerchantID + "' />";
                        string += " <input type='hidden' name='MerchantList[" + j + "].ModifiedBy' value='" + result.MerchantList[j].ModifiedBy + "'/></td></tr>";

                    }
                    string += " <tr><td class='space' colspan='3'></td></tr><tr><td class='space' colspan='3'></td></tr><tr><td class='space' colspan='3'></td></tr>";
                    string += "<tr><td class='space' colspan='3'></td></tr></table>";
                    document.getElementById("list").innerHTML = string;
                    Closeloader();

                },
                error: function (ex) {
                }
            });

        });

    });
    //});
</script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#loggedUser").val() == 2 || $("#loggedUser").val() == 3) {
            document.getElementById("mnglink").className = "has-sub activeLi activemenu";
            $("#collaspe").css("display", "block");
           
        }
        if ($("#loggedUser").val() == 1) {
            document.getElementById("vas").className += " activeLi" + " activemenu";
        }
    });
</script>

