﻿@model MTData.Web.Models.LoginViewModel
<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <title>  Forgot Password    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
   

    <style title="" type="text/css">
        .required{color:red }
    </style>
</head>
<body>
   
    <div class="login-wrapper">
        @using (Html.BeginForm("ForgotPassword", "Member", FormMethod.Post))
{
        <!--Start Top Header-->
        <div class="login-container">
            <div class="logo">
                <img src="~/images/logo_head.png">
            </div>
            <h3>Forgot Password</h3>
            <div class="login-form-box">
                <div class="logo-form">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group marB15">
                                <label> Email</label>&nbsp;<span style="color:red">
                                    *
                                    @if (ViewBag.Message != null)
                                    {
                                        @ViewBag.Message
                                    }
                                </span>
                                <span class="required">
                                    &nbsp;@Html.ValidationMessageFor(model => model.UserName)
                                </span>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                            </div>


                          
                            <div class="form-group btn-box">
                                <button type="submit" class="btn btn-warning btn-login">Send Email</button>
                                <a href="index" style="float: right; line-height: 55px;">Back to Login</a>
                            </div>
                            <div>
                                <br />
                                @if (TempData["PasswordSent"] != null)
                                {
                                    <p style="color: green;">@TempData["PasswordSent"]</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--End Top Header-->
}
    </div>
</body>
</html>