﻿@model MTData.Web.Models.LoginViewModel
<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
    <style title="" type="text/css">
        .required {
            color: red;
        }

        .body {
            font-family: Roboto Condensed,sans-serif;
        }
    </style>
     
</head>
<body>


    <div class="login-wrapper">
        @using (Html.BeginForm("index", "Member", FormMethod.Post))
        {
        <!--Start Top Header-->
            <div class="login-container">
                <div class="logo">
                    <img src="~/images/logo_head.png">
                </div>
                <h3>Please Log in to your account</h3>
                <div class="login-form-box">
                    <div class="logo-form">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group marB15">
                                    <label> Email</label>&nbsp;<span style="color:red">
                                        *
                                        @if (ViewBag.Message != null)
                                        {
                                            @ViewBag.Message
                                        }
                                    </span>
                                    <span class="required">
                                        &nbsp;@Html.ValidationMessageFor(model => model.UserName)<br />
                                    </span>
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                </div>

                                <div class="form-group marB15">
                                    <label>Password</label><span style="color:red">
                                        *
                                    </span><span class="required">&nbsp;@Html.ValidationMessageFor(model => model.PCode)</span><br />
                                    @Html.PasswordFor(model => model.PCode, new { @class = "form-control" })
                                </div>
                                <div class="form-group btn-box">
                                    <button type="submit" id="btnSubmit" class="btn btn-warning btn-login">Login</button>
                                    <span class="float-r txtlink" style="float: right; line-height: 55px;"> @Html.ActionLink("Forgot Password ?", "ForgotPassword", "Member") </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!--End Top Header-->
        }
    </div>
    <script type="text/javascript">
        $(function () {

            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        var isExpire = '@ViewBag.IsPasswordExpired';
        if (isExpire == 'True') {
            var isConfirm = confirm("Your password has been expired. Please reset password.");
            if (isConfirm) {
                location.href = '@Url.Content("~/Member/ResetExpiredPassword/")';
            }
        }
    })

</script>

    