﻿@model MTData.Web.ViewData.LoginViewData
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>ResetExpiredPassword</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <style>
      .Validate
      {
          left: 530px;
          position:absolute
      }
        .required{
            color:red;

        } 
    </style>
    
</head>
<body>

    <div class="login-wrapper">
@using (Html.BeginForm())
{
        <!--Start Top Header-->
    <div class="login-container high-425">
        <div class="logo">
            <img src="~/images/logo_head.png">
        </div>
        <h3>Reset Password</h3>
        <div class="login-form-box high-320">
            <div class="logo-form">
                <div class="row">
                    <div class="col-md-11">
                        <div class="form-group marB5">
                            <label>Old Password</label>&nbsp;<span style="color:red">
                                *
                                @if (ViewBag.Message != null)
                                {
                                    @ViewBag.Message
                                }
                            </span>
                            <span class="required">
                                &nbsp;@Html.ValidationMessageFor(model => model.UserName)<br />
                            </span>
                            @Html.PasswordFor(model => model.UserName, new { @class = "form-control" })
                        </div>

                        <div class="form-group marB5">
                            <label>New Password</label><span style="color:red">
                                *
                            </span><span class="required">&nbsp;@Html.ValidationMessageFor(model => model.PCode)</span><br />
                            @Html.PasswordFor(model => model.PCode, new { @class = "form-control" })
                        </div>

                        <div class="form-group marB5">
                            <label>Confirm Password</label><span style="color:red">
                                *
                            </span><span class="required">&nbsp;@Html.ValidationMessageFor(model => model.ConfirmPCode)</span><br />
                            @Html.PasswordFor(model => model.ConfirmPCode, new { @class = "form-control" })
                        </div>

                        <div class="form-group btn-box">
                            <button type="submit" class="btn btn-warning btn-login">Reset</button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Top Header-->
}
    </div>
    
</body>

</html>
<script type="text/javascript">
    debugger;
    $(document).ready(function() {
        var isExpire = '@ViewBag.Success';
        if (isExpire == '1') {
            debugger;
            alert("Password has been updated successfully");
            location.href = '@Url.Content("~/Member/Index/")';
        }
    });
        </script>
