﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.TransactionCountSlabViewData
@{
    ViewBag.Title = "Update Transaction Count";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>
        Update Default Tax
    </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 4px;
            position: absolute;
            left: 560px;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_SubAdmin", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Set Transaction Count</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:55%">
                                <tr>
                                    <td>@Html.Label("Slab 1")   &nbsp;<label style="color:black;font-weight:normal">(Transaction count less than)</label> @Html.Label("*", new { style = "color: red" })</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.TransCountSlablt1, new { @class = "form-control", @id = "txtSlablt1", onkeyup = "AllowNumbers(this, 15)" })
                                    </td>
                                    <td class="Validate" style="color: red;">
                                        @Html.ValidationMessageFor(model => model.TransCountSlablt1)
                                    </td>

                                </tr>

                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Slab 2")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>
                                        <div style="color: lightgray; width: 280px">
                                            Transaction count greater than &nbsp;@Html.TextBoxFor(model => model.TransCountSlabGt2, new { @class = "form-control", @id = "txtSlabGt2", onkeyup = "AllowNumbers(this, 15)" })
                                            &nbsp;Transaction count less than &nbsp; @Html.TextBoxFor(model => model.TransCountSlablt2, new { @class = "form-control", @id = "txtSlablt2", onkeyup = "AllowNumbers(this, 15)" })
                                        </div>
                                    </td>
                                    <td class="Validate" style="color: red;">
                                        @Html.ValidationMessageFor(model => model.TransCountSlabGt2)
                                        @Html.ValidationMessageFor(model => model.TransCountSlablt2)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>

                                <tr>
                                    <td>@Html.Label("Slab 3")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>
                                        <div style=" color: lightgray; width: 280px; ">
                                            Transaction count greater than &nbsp;@Html.TextBoxFor(model => model.TransCountSlabGt3, new { @class = "form-control", @id = "txtSlabGt3", onkeyup = "AllowNumbers(this, 15)" })
                                            &nbsp;Transaction count less than &nbsp; @Html.TextBoxFor(model => model.TransCountSlablt3, new { @class = "form-control", @id = "txtSlablt3", onkeyup = "AllowNumbers(this, 15)" })
                                        </div>
                                    </td>
                                    <td class="Validate" style="color: red;">
                                        @Html.ValidationMessageFor(model => model.TransCountSlabGt3)
                                        @Html.ValidationMessageFor(model => model.TransCountSlablt3)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>

                                <tr>
                                    <td>@Html.Label("Slab 4")&nbsp;<label style="color:black;font-weight:normal">(Transaction count greater than)</label>@Html.Label("*", new { style = "color: red" })</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.TransCountSlabGt4, new { @class = "form-control", @id = "txtSlabGt4", onkeyup = "AllowNumbers(this, 15)" })
                                    </td>
                                    <td class="Validate" style="color: red;">
                                        @Html.ValidationMessageFor(model => model.TransCountSlabGt4)
                                    </td>
                                </tr>
                                <tr>
                                     
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr><td class="space"></td></tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <a id="aUpdate" href="ConfigAdminReportIndex" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp;
                                        <input id="btnUpdate" type="submit" class="btnu" value="Update" onclick=" return validation();" />
                                        <a id="aSave" href="ConfigAdminReportIndex" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp;     <input id="btnSave" type="submit" class="btnu" value="Save" />

                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>

    <script type="text/javascript">
        var response = true;
        $(document).ready(function () {
            var value = $('#hidd').val();
            if (value == 1) {
                $('#btnUpdate').hide();
                $('#aUpdate').hide();
            }
            else {
                $('#btnSave').hide();
                $('#aSave').hide();
            }

        });

        function validation() {
            Showloader();
        }
    </script>

</body>

<script type="text/javascript">
    function active() {
        document.getElementById("rep").className += " activeLi" + " activemenu";
        document.getElementById("rpt").style.display = "block";
    }
</script>

<script type="text/javascript">
    $('#TransCountSlab1').focusout(function () {
        if ($(this).val() != '') {
            $('#lblSlab1').val('Transactions less than' + $(this).val());
        }
    })
    $('#TransCountSlab2').focusout(function () {
        if ($(this).val() != '' && $('#TransCountSlab1').val() != '') {
            $('#lblSlab2').val('Transactions greater than' + $('#TransCountSlab1').val() + 'and less than' + $(this).val());
        }
    })
    $('#TransCountSlab3').focusout(function () {
        if ($(this).val() != '' && $('#TransCountSlab2').val() != '') {
            $('#lblSlab3').val('Transactions greater than' + $('#TransCountSlab2').val() + 'and less than' + $(this).val());
        }
    })
    $('#TransCountSlab4').focusout(function () {
        if ($(this).val() != '') {
            $('#lblSlab4').val('Transactions greater than' + $(this).val());
        }
    })
</script>

