﻿@using MTD.Core.DataTransferObjects
@model  MTData.Web.ViewData.TransactionCountSlabViewData
@{
    ViewBag.Title = "Configure Admin Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <title>
        Configure Transaction Count For Report
    </title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
               Html.RenderAction("_SubAdmin", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    <h5>Set Transaction Count For Report</h5>
                    <hr />
                    <table width="70%">
                        <tr>
                            <td> @Html.Label("Slab 1")</td>
                            <td>Transaction count is less than @Html.DisplayFor(model => model.TransCountSlablt1)</td>
                        </tr>
                        <tr><td class="space"></td></tr>
                        <tr>
                            <td> @Html.Label("Slab 2")</td>
                            <td>Transaction count is greater than @Html.DisplayFor(model => model.TransCountSlabGt2) and less than @Html.DisplayFor(model => model.TransCountSlablt2)</td>
                        </tr>
                        <tr><td class="space"></td></tr>
                        <tr>
                            <td> @Html.Label("Slab 3")</td>
                            <td>Transaction count is greater than @Html.DisplayFor(model => model.TransCountSlabGt3) and less than @Html.DisplayFor(model => model.TransCountSlablt3)</td>
                        </tr>
                        <tr><td class="space"></td></tr>
                        <tr>
                            <td> @Html.Label("Slab 4")</td>
                            <td>Transactions count is greater than @Html.DisplayFor(model => model.TransCountSlabGt4)</td>
                        </tr>
                        <tr><td class="space"></td></tr>
                        <tr><td class="space"></td></tr>
                        <tr><td class="space"></td></tr>
                        <tr><td></td> <td><a id="btnUpdate" href="ConfigCorporateUserReportUpdate" class="btnu">Edit</a></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    function active() {
        document.getElementById("rep").className += " activeLi" + " activemenu";
        document.getElementById("rpt").style.display = "block";
    }
</script>
