﻿@using MTD.Core.DataTransferObjects
@using System.Web.UI.WebControls
@using MTD.Core.DataTransferObjects
@using Ninject.Selection
@model MTData.Web.ViewData.UserViewData

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../../css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="../../css/bootstrap-theme.css" type="text/css">
<link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="../../css/style.css" type="text/css">
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/site.css" rel="stylesheet" />

<style type="text/css">
    th {
        background-color: #014a81;
    }

    .requiredfields {
        color: red;
    }

    .required {
        color: red;
    }

    .insert-Percent {
        background: #FFFFFF url("/images/Percentage-icon.png") no-repeat 4px 4px;
        background-position: right;
        padding-left: 16px;
        height: 35px;
    }
</style>

<div class="container-main">
    <div class="left-panel">
        <div class="user">
            @if ((UserDto)Session["User"] != null)
            {
                var user = ((UserDto)Session["User"]).FName;
                <h3> Welcome   @user</h3>
            }
            <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
        </div>
        @{
            Html.RenderPartial("~/Views/Shared/_MerchantUsers.cshtml");
        }
        @*<div>
            <div id="cssmenu">*@
        @*<ul class="left-nav">*@
        <script type="text/javascript">
            $("#cssmenu ul").append('<li><a href="/TransactionHistory/Create"><span class="icons manage-surcharge"><img src="../images/manage-marchant.png"></span><p>Search Transaction</p></a></li>');

            @*@if (!object.Equals(Model.UserRoles, null))
                    {
                        foreach (var item in Model.UserRoles)
                        {
                            if (@item.RoleId==2)
                            {
                                  <li><a href="~/TransactionHistory/Create"><span class="icons manage-surcharge"><img src="../images/manage-marchant.png"></span><p>Search Transaction</p></a></li>
                            }
                            if (@item.RoleId==1)
                            {
                                  <li><a href=""><span class="icons manage-surcharge"><img src="../images/manage-marchant.png"></span><p>Charge Back</p></a></li>
                            }
                        }
                    }*@
        </script>
        @*</ul>*@
    </div>
</div>
@*</div>*@
<div class="right-panel">
    <div class="right-content">

        <div class="content-sec">


        </div>

    </div>
</div>

    


<script type="text/javascript">
    {
        function ChangeSetCss(e) {
            alert('Here');
            document.getElementById("Active").className = "activeLi";
        }
    }
</script>


<script type="text/javascript">
    $(document).ready(function () {
        var leftPanelStatus = true;
        $("#toggle").click(function () {
            if (leftPanelStatus == true) {
                leftPanelStatus = false;
                $('.left-panel').addClass('collasped');
                $('.left-panel').css({ "width": "70px" });
                $('.right-panel').css({ "margin-left": "70px" });

            } else {
                leftPanelStatus = true;

                $('.left-panel').css({ "width": "300px" });
                $('.left-panel').removeClass('collasped');
                $('.right-panel').css({ "margin-left": "300px" });



            }

        });

    });

</script>