﻿@model IEnumerable<MTData.Web.ViewData.VehicleViewData>

<link href="~/Content/PopUs.css" rel="stylesheet" />

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
@if (ViewBag.UploadMessage != null)
{
    <p class="field-validation-error bg-danger">&nbsp;@ViewBag.UploadMessage</p>
}
<div class="grid-wrapper">
    <table style="width: 100%" class="table table-bordered pop-grid">
        <tr>
            <th>
                Car No.
            </th>
            <th>
                Car Registration No.
            </th>
            <th>
                Plate No.
            </th>
            <th>
                Fleet
            </th>
            <th>
                Terminal
            </th>
            <th>
                Description
            </th>
            <th>
                Error
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.VehicleNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleRegNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FleetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.FailedError)
                </td>

            </tr>
        }

    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var loginBox = "#simpleConfirm";
        //Fade in the Popup and add close button
        $(loginBox).fadeIn(300);
        //Set the center alignment padding + border
        var popMargTop = ($(loginBox).height() + 24) / 2;
        //var popMargLeft = ($(loginBox).width() + 24) / 2;
        $(loginBox).css({
            //'margin-top': -popMargTop,
            //'margin-left': -popMargLeft,
            'width': 930,
            'left': 510

        });
        // Add the mask to body


        $('body').append('<div id="mask"></div>');
        $('#mask').fadeIn(300);

        $("#btnSkip,#close").click(function () {
            $(loginBox).fadeOut(300);
            window.location.href = "/Vehicle/Index";
        });


    });

</script>