﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.VehicleViewData
@{
    ViewBag.Title = "Add Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Add New Vehicle
</title>
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/js/bootstrap-filestyle.js"></script>

    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.ui.draggable.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
<style type="text/css">
    .Validate {
        color: red;
        padding-left: 6px;
        position: absolute;
            left: 526px;
    }

    td {
        padding-top: .3em;
        padding-bottom: .3em;
    }

    th {
        background-color: #014a81;
    }

    .required {
        color: red;
    }
    .browse-btn-dt {
        width: 280px;
    }

        .browse-btn-dt .bootstrap-filestyle .form-control {
            background-color: #fff;
        }

    .group-span-filestyle.input-group-btn label {
        margin-top: 0;
        font-family: Arial;
        font-size: 13px;
        padding: 7px 7px;
        font-weight: normal !important;
    }
</style>
</head>

<body onload="active()">
<div class="container-main">
    <div class="left-panel">
        <div class="user">
            @if (Session["User"] != null)
            {
                   var user = ((SessionDto)Session["User"]).SessionUser.FName;
                <h3> Welcome   @user</h3>
            }
            <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
        </div>
        @{
            Html.RenderAction("_MerchantUsers", "Member");
        }
    </div>
    <div class="right-panel">
        <div class="right-content">
            <div class="content-sec">
                 @using (Html.BeginForm("Create", "Vehicle", FormMethod.Post, new { enctype = "multipart/form-data", @id = "Form1" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="">
                        <h4>Add Car</h4>
                        <hr />
                        @Html.ValidationSummary(true)
                            <table >
                            <tr>
                                <td style="width:200px">&nbsp;</td>
                                <td style="width:455px">
                                    @if (ViewBag.Message != null)
                                    {
                                        <p style="color: red;font-size:14px">&nbsp;@ViewBag.Message</p>
                                    }

                                </td>
                            </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Input Type")</td>
                                    <td class="input-box">
                                        @Html.RadioButton("Manual", "Manual", true, new { @Name = "radiobutton", @checked = "checked", @value = "Manual", @text = "Excel", @id = "radioManual" })<span class="replyspan">Manual</span>
                                        @Html.RadioButton("Excel Upload", "Excel", new { @Name = "radiobutton", @value = "Excel", @text = "Excel", @id = "radiobuttonU" })<span class="replyspan">Upload File</span>
                                    </td>
                                    <td class="Validate"></td>
                                </tr>
                                <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Car Number")<span class="required">*</span></td>
                                    <td> @Html.TextBoxFor(model => model.VehicleNumber, new { @class = "form-control", @id = "txtVehicleNumber", onkeyup = "AllowCharsNumberSymbol(this, 30)" })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.VehicleNumber) </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Car Registration No")<span class="required">*</span></td>
                                    <td> @Html.TextBoxFor(model => model.VehicleRegNo, new { @class = "form-control", @id = "txtVehicleRegNumber", onkeyup = "AllowCharsNumberSymbol(this, 30)" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.VehicleRegNo) </td>
                                </tr>
                                <tr><td class="space"></td></tr>

                           
                                <tr>
                                <td>@Html.Label("Plate Number")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.PlateNumber, new { @class = "form-control", @id = "txtPlateNumber", onkeyup = "AllowCharsNumberSymbol(this, 30)" })</td>
                                <td class="Validate"> @Html.ValidationMessageFor(model => model.PlateNumber) </td>
                            </tr>
                           <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Fleet")<span class="required">*</span></td>
                                <td>
                                        @Html.DropDownListFor(m => m.fk_FleetID, new SelectList(Model.FleetList, "FleetID", "FleetName", Model.fk_FleetID), "--Select a Fleet--", new { @class = "form-control", @id = "ddlFleet" })
                                </td>
                                <td class="Validate"> @Html.ValidationMessageFor(model => model.fk_FleetID) </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                            <td>@Html.Label("Terminal")</td>
                            <td>
                                        @Html.DropDownListFor(m => m.fk_TerminalID, new SelectList(Model.TerminalList, "TerminalID", "MacAdd", Model.fk_TerminalID), "--Select a Terminal--", new { @class = "form-control", @id = "ddlTerminal" })
                            </td>
                                   
                                </tr>
                            <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Car Owner")</td>
                                    <td>
                                        @Html.DropDownListFor(m => m.fk_CarOwenerId, new SelectList(Model.CarOwnerList, "Id", "OwnerDetail", Model.fk_CarOwenerId), "--Select a Car owner--", new { @class = "form-control", @id = "ddlCarOwner" })
                                    </td>

                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                <td>@Html.Label("Description")</td>
                                <td>
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "txtdescription", @maxlength="199"})
                                <td>
                            </tr>
                            <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Select a File")</td>
                                    <td>

                                        <div class="brouse-wrapper browse-btn-dt"> <input type="file" id="uploadFile" name="uploadFile" accept=".csv" placeholder="Browse a file." value="" class="filestyle" data-icon="false"></div>
                                        <a href="~/Vehicle/Download?file=CarList.csv" target="_blank">Template CSV file</a>
                                    </td>
                                    <td class="Validate"></td>
                                </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><a href="Index" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp;
                                    <input type="submit" class="btnu  " value="Create" onclick="return validation();" />
                                </td>
                            </tr>
                        </table>

                    </div>
                }
            </div>

        </div>
    </div>

</div>
</body>
    

<div class="popup-block popup-ctr" id="simpleConfirm" style="display:none;width:920px;">
    <div class="mgn-B-10"><a href="/Vehicle/Index" id="close"><span class="glyphicon glyphicon-remove float-R" aria-hidden="true"></span></a></div>
    <div class="popup-form-content">
        @if (Model.IsVehicleError)
        {
            @Html.Partial("_NotUploadCarList", Model.VehicleListViewData);
        }

        <div class="row last_row butons">
            <div class="btnBox btnBox2 float_right btn-ok">
                <input type="button" value="Ok" name="Cancel" class="btn transEffects" id="btnSkip" />
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function active() {
        document.getElementById("veh").className += "activeLi";
    }

    $(document).ready(function () {
        var value = $('input:radio[name=radiobutton]:checked').val();
        if (value == "Manual") {
            $("#uploadFile").attr("disabled", "disabled");

            $("#txtVehicleNumber").attr("disabled", false);
            $("#txtVehicleRegNumber").attr("disabled", false);
            $("#txtPlateNumber").attr("disabled", false);
            $("#ddlFleet").attr("disabled", false);
            $("#ddlTerminal").attr("disabled", false);
            $("#txtdescription").attr("disabled", false);
            $("#ddlCarOwner").attr("disabled", false);
            
        }
        else if (value == "Excel") {
            $("#txtVehicleNumber").attr("disabled", "disabled");
            $("#txtVehicleRegNumber").attr("disabled", "disabled");
            $("#txtPlateNumber").attr("disabled", "disabled");
            $("#ddlFleet").attr("disabled", "disabled");
            $("#ddlTerminal").attr("disabled", "disabled");
            $("#txtdescription").attr("disabled", "disabled");
            $("#ddlCarOwner").attr("disabled", "disabled");
            $("#uploadFile").attr("disabled", false);
        }
        else { }

        $("input:radio[name=radiobutton]").click(function () {
            var value = $('input:radio[name=radiobutton]:checked').val();
            if (value == "Manual") {
                $("#uploadFile").attr("disabled", "disabled");

                $("#txtVehicleNumber").attr("disabled", false);
                $("#txtVehicleRegNumber").attr("disabled", false);
                $("#txtPlateNumber").attr("disabled", false);
                $("#ddlFleet").attr("disabled", false);
                $("#ddlTerminal").attr("disabled", false);
                $("#txtdescription").attr("disabled", false);
                $("#ddlCarOwner").attr("disabled", false);
            }
            else if (value == "Excel") {
                $("#txtVehicleNumber").attr("disabled", "disabled");
                $("#txtVehicleRegNumber").attr("disabled", "disabled");
                $("#txtPlateNumber").attr("disabled", "disabled");
                $("#ddlFleet").attr("disabled", "disabled");
                $("#ddlTerminal").attr("disabled", "disabled");
                $("#txtdescription").attr("disabled", "disabled");
                $("#ddlCarOwner").attr("disabled", "disabled");
                $("#uploadFile").attr("disabled", false);

            }
            else { }
        });

    });

    function validation() {

        var response = true;
        if ($('#radiobuttonU').is(':checked')) {
            if (!$('#uploadFile').val()) {
                jAlert('Please upload excel file', 'Required Field');
                response = false;
            }
            if ($('#uploadFile').val()) {

                var fileNameExt = $('#uploadFile').val().substr($('#uploadFile').val().lastIndexOf('.') + 1);
                if (fileNameExt != "csv") {
                    jAlert('Invalid file uploaded.Please upload only csv file.', 'Required Field');
                    response = false;
                    return response;
                }

            }
        }
        if (response) {
            Showloader();
        }
        return response;
    }
</script>


