﻿@using MTD.Core.DataTransferObjects
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<head>
    <title>
        Manage Vehicle
    </title>

</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{

                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>


        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <table style="width:100%">
                            <tr>
                                <td><h4><a href="Create">Add New Car</a></h4></td>
                                <td style="float:right">

                                    <form>
                                        <div class="search-box" style="width:705px;height:45px">
                                            <input type="text" value="" name="CarOwner" id="CarOwner" placeholder="Search : Car Owner">
                                            <input type="text" value="" name="VehicleNumber" id="VehicleNumber" placeholder="Search : Car Number">
                                            <input type="text" value="" name="AndroidMac" id="AndroidMac" placeholder="Search : Android Mac Address">
                                            <span class="search-icon">
                                                <input type="submit" value="" id="LoadRecordsButton" class="search-btn" style="top:26px;position:absolute" />
                                                <input type="image" src="../images/file_extension_xls.png" alt="Export" title="Exprot to excel" style="right:45px;position:absolute" />
                                            </span>
                                            <span><input type="image" src="../images/file_extension_xls.png" alt="Export" title="Exprot to excel" /></span>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    }
                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">

                        $(document).ready(function () {

                            $('#StudentTableContainer').jtable({
                                // title: 'Payment Gateway',
                                paging: true,
                                pageSize: 15,
                                sorting: true,
                                defaultSorting: 'VehicleNumber ASC',
                                actions: {
                                    listAction: '/Vehicle/GetVehicleListByFilter',
                                    deleteAction: '/Vehicle/Delete',
                                },
                                fields: {
                                    VehicleID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    CarOwnerName: {
                                        title: 'Car Owner',
                                        width: '14%'
                                    },
                                    VehicleNumber: {
                                        title: 'Car Number',
                                        width: '14%'
                                    },

                                    VehicleRegNo: {
                                        title: 'Car Registration No',
                                        width: '20'
                                    },
                                    PlateNumber: {
                                        title: 'Plate Number',
                                        width: '18%'
                                    },
                                    FleetName: {
                                        title: 'Fleet Name',
                                        width: '16%'
                                    },
                                    DeviceName: {
                                        title: 'Android Mac Address',
                                        sorting: false,
                                        width: '16%'

                                    },
                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '4%',
                                        display: function (data) {
                                            return '<a  href="Update?vehicleId=' + data.record.VehicleID + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';

                                        }
                                    },
                                }
                            });
                            //Re-load records when user click 'load records' button.
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#VehicleNumber').val(),
                                    carOwner: $('#CarOwner').val(),
                                    androidMac: $('#AndroidMac').val()
                                });
                            });

                            //Load all records when page is first shown
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>



            </div>
        </div>

    </div>
</body>

<script type="text/javascript">
    function active() {
        document.getElementById("veh").className += "activeLi";
    }
</script>

