﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.VehicleViewData
@{
    ViewBag.Title = "Update Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Update Vehicle
</title>
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            padding-left: 6px;
            position: absolute;
            left: 526px;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user"><h3>Welcome Merchant</h3> <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span></div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Update Car</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table>
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width:355px">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: red;font-size:14px">&nbsp;@ViewBag.Message</p>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.Label("Car Number")<span class="required">*</span></td>
                                    <td> @Html.TextBoxFor(model => model.VehicleNumber, new { @class = "form-control", @id = "txtVehicleNumber", onkeyup = "AllowCharsNumberSymbol(this, 30)" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.VehicleNumber) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Car Registration No")<span class="required">*</span></td>
                                    <td> @Html.TextBoxFor(model => model.VehicleRegNo, new { @class = "form-control", @id = "txtVehicleRegNumber", onkeyup = "AllowCharsNumberSymbol(this, 30)" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.VehicleRegNo) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Plate Number")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.PlateNumber, new { @class = "form-control", @id = "txtPlateNumber", onkeyup = "AllowCharsNumberSymbol(this, 30)" })</td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.PlateNumber) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Fleet")<span class="required">*</span></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.fk_FleetID, new SelectList(Model.FleetList, "FleetID", "FleetName", Model.fk_FleetID), "--Select a Fleet--", new { @class = "form-control", @id = "ddlFleet" })
                                    </td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.fk_FleetID) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Terminal")</td>
                                    <td>
                                        @Html.DropDownListFor(m => m.fk_TerminalID, new SelectList(Model.TerminalList, "TerminalID", "MacAdd", Model.fk_TerminalID), "--Select a Terminal--", new { @class = "form-control", @id = "ddlTerminal" })
                                    </td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.fk_TerminalID) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Car Owner")</td>
                                    <td>
                                        @Html.DropDownListFor(m => m.fk_CarOwenerId, new SelectList(Model.CarOwnerList, "Id", "OwnerDetail", Model.fk_CarOwenerId), "--Select a Car owner--", new { @class = "form-control", @id = "ddlCarOwner" })
                                    </td>

                                </tr>
                              
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Description")</td>
                                    <td>
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" ,@maxlength="199"})
                                    <td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td><a href="Index" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp;
                                        <input type="submit" class="btnu  " value="Update" onclick=" return validation();" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</body>
    


<script type="text/javascript">
    function active() {
        document.getElementById("veh").className += "activeLi";
    }
    function validation() {
        Showloader();
        return true;
    }
</script>