﻿@using MTD.Core.DataTransferObjects
@model  MTData.Web.ViewData.DefaultSettingViewData
@{
    ViewBag.Title = "Manage Default Booking Fee";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <title>Default Setting</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
</head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_MerchantUsers", "Member");
                }
            </div>


            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        <h4>Manage Default Booking Fee</h4>
                        <hr />
                        <table width="50%">
                            <tr><td> @Html.Label("Booking Fee Type")</td><td style="text-align:center">@Html.DisplayFor(model => model.Type)</td></tr>
                            @Html.HiddenFor(model => model.BookingFeeType, new { @id = "hiddType" })
                            <tr><td class="space"></td></tr>
                            <tr><td> @Html.Label("Boooking Fee", new { @id = "lblFee" })</td><td style="text-align:center">@Html.DisplayFor(model => model.BookingFee)</td></tr>
                            <tr><td class="space"></td></tr>
                            <tr><td> @Html.Label("Booking Fee(%)", new { @id = "lblPer" })</td><td style="text-align:center">@Html.DisplayFor(model => model.Percentage)</td></tr>
                            <tr><td class="space"></td></tr>
                            <tr><td> @Html.Label("Booking Fee Max Cap")</td><td style="text-align:center">@Html.DisplayFor(model => model.BookingMaxCap)</td></tr>
                            <tr><td class="space"></td></tr>
                            <tr><td class="space"></td></tr>
                            <tr><td class="space"></td></tr>

                            <tr> <td></td><td><a id="btnUpdate" href="BookingFeeUpdate" class="btnu">Edit</a>&nbsp;&nbsp;&nbsp;<a href="BookingFeeIndex" class="btn1">Cancel</a></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $(document).ready(function () {
            var valType = $("#hiddType").val();
            if (valType == 0) {
                $("#lblPer").hide();
            }
            if (valType == 1) {
                $("#lblPer").hide();
            }
            if (valType == 2) {
                $("#lblFee").html("Booking Fee(Fixed)");
            }

        })
        function active() {
            document.getElementById("dsb").className += "activeLi";
        }
    </script>
