﻿@using MTD.Core.DataTransferObjects
@model  MTData.Web.ViewData.DefaultSettingViewData
@{
    ViewBag.Title = "Manage Default Surcharge";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <title>Default Setting</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <style type="text/css">
        .pd-tb-data td label{padding-bottom:12px;
        }

    </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_Manage", "Member");
                }
            </div>


            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec pd-tb-data">
                        <h4>Manage Default Surcharge / Fee</h4>
                        <hr />
                        <table width="50%">
                            <tr><td> @Html.Label("Surcharge  Type")</td><td>@Html.DisplayFor(model => model.SurType)</td></tr>
                            @Html.HiddenFor(model => model.SurchargeType, new { @id = "hiddType" })
                      
                            <tr><td> @Html.Label("Surcharge ", new { @id = "lblSurcharge" })</td><td>@Html.DisplayFor(model => model.Surcharge)</td></tr>
                     
                            <tr><td> @Html.Label("Surcharge (%)", new { @id = "lblPer" })</td><td>@Html.DisplayFor(model => model.SurPercentage)</td></tr>
                            @if(Model.SurchargeMaxCap != null)
                            {
                            <tr><td> @Html.Label("Surcharge Max Cap")</td><td>@Html.DisplayFor(model => model.SurchargeMaxCap)</td></tr>
                            }
                            <tr><td> @Html.Label("Transaction  Fee Type")</td><td>@Html.DisplayFor(model => model.FeeType)</td></tr>
                            @Html.HiddenFor(model => model.BookingFeeType, new { @id = "hiddenType" })
                          
                            <tr><td> @Html.Label("Transaction  Fee", new { @id = "lblFee" })</td><td>@Html.DisplayFor(model => model.BookingFee)</td></tr>
                         
                            <tr><td> @Html.Label("Transaction  Fee(%)", new { @id = "lblFeePer" })</td><td>@Html.DisplayFor(model => model.FeePercentage)</td></tr>
                            @if(Model.BookingMaxCap!=null)
                            {
                                 <tr><td> @Html.Label("Transaction  Fee Max Cap")</td><td>@Html.DisplayFor(model => model.BookingMaxCap)</td></tr>
                            }
                            

                            <tr><td> @Html.Label("Technology Fee Type")</td><td>@Html.DisplayFor(model => model.TechFee)</td></tr>
                            @Html.HiddenFor(model => model.TechFeeType, new { @id = "hiddenTypeTech" })



                            @if (Model.TechFeeFixed != null)
                            {
                                <tr><td> @Html.Label("Technology Fee(Fixed)", new { @id = "lblTechFee" })</td><td>@Html.DisplayFor(model => model.TechFeeFixed)</td></tr>
                            }
                            
                            @if (Model.TechFeePer != null)
                            {
                             <tr><td> @Html.Label("Technology Fee(%)", new { @id = "lblFeePer" })</td><td>@Html.DisplayFor(model => model.TechFeePer)</td></tr>
                            }
                             
                            @if (Model.TechFeeMaxCap != null)
                            {
                                <tr><td> @Html.Label("Technology Fee Max Cap")</td><td>@Html.DisplayFor(model => model.TechFeeMaxCap)</td></tr>
                            }
                            <tr><td class="space"></td></tr>
                            <tr><td class="space"></td></tr>
                            <tr><td class="space"></td></tr>
                            <tr><td></td> <td><a id="btnUpdate" href="SurchargeUpdate" class="btnu">Edit</a>&nbsp;</td></tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $(document).ready(function () {
            var valType = $("#hiddType").val();
            if (valType == 1) {
                $("#lblPer").hide();
            }
            if (valType == 2) {
                $("#lblPer").hide();
            }
            if (valType == 3) {
                $("#lblSurcharge").html("Transaction Fee(Fixed)");
            }
            var valType = $("#hiddenType").val();
            if (valType == 1) {
                $("#lblFeePer").hide();
            }
            if (valType == 2) {
                $("#lblFeePer").hide();
            }
            if (valType == 3) {
                $("#lblFee").html("Booking Fee(Fixed)");
            }
             
        })

        function active() {
            document.getElementById("mnglink").className += " activeLi" + " activemenu";
        }

    </script>
