﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.DefaultSettingViewData
@{
    ViewBag.Title = "Update Default Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Update Default Tax
</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 4px;
            position: absolute;
            left: 501px;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_Manage", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="">
                                <h4>Set Default Tax</h4>
                                <hr />
                                @Html.ValidationSummary(true)
                                <table style="width:50%">
                                    <tr>
                                        <td>@Html.Label("Federal Tax Rate (%)")@Html.Label("*", new { style = "color: red" })</td>
                                        <td>@Html.TextBoxFor(model => model.FederalStateRate, new { @class = "form-control", @id = "txtFedTax", onkeyup = "AllowDecimalNumbers(this, 5)" })</td>
                                        <td class="Validate" style="color: red;">
                                            @Html.ValidationMessageFor(model => model.FederalStateRate)
                                            <span class="field-validation-error" style="width: 200px; display: none;" id="valFedTax"> Invalid federal tax rate</span>
                                        </td>

                                    </tr>
                                   
                                    <tr><td class="space"></td></tr>
                                    
                                    <tr>
                                        <td>@Html.Label("State Tax Rate (%)")@Html.Label("*", new { style = "color: red" })</td>
                                        <td>@Html.TextBoxFor(model => model.StateTaxRate, new { @class = "form-control", @id = "txtStateTax", onselect = "javascript: onsel();", onkeyup = "AllowDecimalNumbers(this, 5)" })</td>
                                        <td class="Validate">
                                            @Html.ValidationMessageFor(model => model.StateTaxRate)
                                            <span class="field-validation-error" style="width: 200px; display: none;" id="valStateTax"> Invalid state tax rate</span>

                                        </td>

                                    </tr>
                                  
                                    <tr>
                                        <td>@Html.HiddenFor(model => model.IsNew, new { @id = "hidd" })</td>
                                    </tr>
                                    <tr><td class="space"></td></tr>
                                    <tr><td class="space"></td></tr>

                                    <tr>
                                        <td></td>
                                        <td><a id="aUpdate" href="TaxIndex" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp;
                                            <input id="btnUpdate" type="submit" class="btnu" value="Update" onclick=" return validation();" />
                                            <a id="aSave" href="TaxIndex" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp;     <input id="btnSave" type="submit" class="btnu" value="Save" />

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }
                    </div>

                </div>
            </div>

        </div>
        <script type="text/javascript">
            var response = true;
            $(document).ready(function () {
                $("#valStateTax").hide();
                var value = $('#hidd').val();
                if (value == 1) {
                    $('#btnUpdate').hide();
                    $('#aUpdate').hide();
                }
                else {
                    $('#btnSave').hide();
                    $('#aSave').hide();
                }

            });
            $('#ddlMerchant').change(function () {
                $('#txtStateTax').val("");
                $('#txtFedTax').val("");
            });

            $("#txtStateTax").focusout(function () {
                var value = parseFloat($(this).val());
                if (!isNaN(value)) {
                    if (value < 100) {
                        $(this).val(value.toFixed(2));
                    }

                }

            });

            $("#txtTipLow").focusout(function () {
                var value = parseFloat($(this).val());
                if (!isNaN(value)) {
                    if (value < 100) {
                        $(this).val(value.toFixed(2));
                    }

                }

            });

            $('#txtTipLow').keyup(function (e) {
                var key = e.keyCode;

                var value = parseFloat($(this).val());
                if (value > 99) {
                    $("#valTipLow").show();
                    $("#txtTipLow").focus();

                }
                else {
                    $("#valTipLow").hide();
                }

            });

            $("#txtTipMedium").focusout(function () {
                var value = parseFloat($(this).val());
                if (!isNaN(value)) {
                    if (value < 100) {
                        $(this).val(value.toFixed(2));
                    }

                }

            });
            $('#txtTipMedium').keyup(function (e) {
                var key = e.keyCode;

                var value = parseFloat($(this).val());
                if (value > 99) {
                    $("#valTipMedium").show();
                    $("#txtTipMedium").focus();

                }
                else {
                    $("#valTipMedium").hide();
                }

            });
            $('#txtTipHigh').keyup(function (e) {
                var key = e.keyCode;

                var value = parseFloat($(this).val());
                if (value > 99) {
                    $("#valTipHigh").show();
                    $("#txtTipHigh").focus();

                }
                else {
                    $("#valTipHigh").hide();
                }

            });
            $("#txtTipHigh").focusout(function () {
                var value = parseFloat($(this).val());
                if (!isNaN(value)) {
                    if (value < 100) {
                        $(this).val(value.toFixed(2));
                    }

                }

            });

            $('#txtStateTax').keyup(function (e) {
                var key = e.keyCode;

                var value = parseFloat($(this).val());
                if (value > 99) {
                    $("#valStateTax").show();
                    $("#StateTaxRate_validationMessage").hide();
                    $("#txtStateTax").focus();
                    
                }
                else {
                    $("#valStateTax").hide();
                }

            });
            $("#txtFedTax").focusout(function () {
                var value = parseFloat($(this).val());
                if (!isNaN(value)) {
                    if (value < 100) {
                        $(this).val(value.toFixed(2));
                    }

                }

            });

            $('#txtFedTax').keyup(function (e) {
                var key = e.keyCode;
                
                var value = parseFloat($(this).val());
                if (value > 99) {
                    $("#valFedTax").show();
                    $("#FederalStateRate_validationMessage").hide();
                    $("#txtFedTax").focus();
                   
                }
                else {
                    $("#valFedTax").hide();
                }

            });

            function validation() {
                if (parseFloat($('#txtStateTax').val()) > 100) {
                    $("#valStateTax").show();
                    return false;
                }
                
                if (parseFloat($('#txtFedTax').val()) > 100) {
                    $("#valFedTax").show();
                    return false;
                }
                if (parseFloat($('#txtTipLow').val()) > 100) {
                    $("#valTipLow").show();
                    return false;
                }
                if (parseFloat($('#txtTipMedium').val()) > 100) {
                    $("#valTipMedium").show();
                    return false;
                }
                if (parseFloat($('#txtTipHigh').val()) > 100) {
                    $("#valTipHigh").show();
                    return false;
                }
                Showloader();
            }
        </script>

    </body>
    <script type="text/javascript">
       
        function active() {
             document.getElementById("mnglink").className += " activeLi" + " activemenu";
        }
    </script>
    <script type="text/javascript">
        function onsel() {
            $('#txtStateTax').select(function (e) {
               
            });
        }
    </script>
