﻿@using MTD.Core.DataTransferObjects
@model  MTData.Web.ViewData.DefaultSettingViewData
@{
    ViewBag.Title = "Manage Default Terms and Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <title>Default Terms and Conditions
</title>
    <style type="text/css">
        .textEd {
            max-width: 580px;
            height: 150px;
            width: 580px;
            overflow: scroll;
            border: 1px solid grey;
            background-color: white;
            margin: 0;
            padding: 0;
            overflow: auto;
        }
    </style>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    </head>
    <body onload="active()">
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_Manage", "Member");
                }
            </div>
            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        <h4>Manage Default Terms and Conditions</h4>
                        <hr />
                        <table width="80%">

                            <tr>
                                <td style="vertical-align: top"> @Html.Label("Disclaimer :")</td>
                                <td><div class="textEd"> @Html.Raw(@Model.Disclaimer)</div>
                                </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td style="width: 200px; vertical-align:top"> @Html.Label("Terms and Conditions :")</td>
                                <td><div class="textEd"> @Html.Raw(@Model.TermCondition)</div>
                                </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr><td class="space"></td></tr>
                            <tr><td class="space"></td></tr>
                            <tr><td></td> <td><a id="btnUpdate" href="TermConditionUpdate" class="btnu">Edit</a></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function active() {
            document.getElementById("mnglink").className += " activeLi" + " activemenu";
        }
    </script>
