﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.DefaultSettingViewData
@{
    ViewBag.Title = "Update Default Terms and Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Update Default Terms and Conditions
</title>
   
    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />

    <style type="text/css">
        .Validate {
            color: red;   
            vertical-align:top;         
        }
        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }
        th {
            background-color: #014a81;
        }
        .required {
            color: red;
        }
    </style>
    </head>
<body onload="active()">
    
<div class="container-main">
    <div class="left-panel">
        <div class="user">
            @if (Session["User"] != null)
            {
                var user = ((SessionDto) Session["User"]).SessionUser.FName;
                <h3> Welcome @user</h3>
            }
            <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
        </div>
        @{
            Html.RenderAction("_Manage", "Member");
        }
    </div>
    <div class="right-panel">
        <div class="right-content">
            <div class="content-sec">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="">
                        <h4>Set Default Terms and Conditions</h4>
                        <hr/>
                        @Html.ValidationSummary(true)
                      
                        <table style="width: 100%">
                            <tr>
                                <td style="vertical-align: top">@Html.Label("Disclaimer")@Html.Label("*", new {style = "color: red"})</td>
                                <td>@Html.TextAreaFor(model => model.Disclaimer, new { @class = "form-control textEditor", @id = "Disclaimer", @style = "max-width:580px; height:150px; width: 580px;overflow: scroll;border: 1px solid grey; " })</td>
                                <td class="Validate"> @Html.ValidationMessageFor(model => model.Disclaimer) </td>
                            </tr>
                            <tr><td class="space" colspan="3"></td></tr>

                            <tr>
                                <td style="width: 200px; vertical-align: top">@Html.Label("Terms and Conditions")@Html.Label("*", new {style = "color: red"})</td>
                                <td width="588">@Html.TextAreaFor(model => model.TermCondition, new { @class = "form-control textEditor", @id = "TermCondition", @style = "max-width:580px; height:150px; width: 580px;overflow: scroll;border: 1px solid grey; " })</td>
                                <td class="Validate"> @Html.ValidationMessageFor(model => model.TermCondition) </td>

                            </tr>
                            <tr>
                                <td colspan="3">@Html.HiddenFor(model => model.IsNew, new { @id = "hidd" })</td>
                            </tr>

                            <tr><td class="space" colspan="2"></td><td>

                            </td></tr>
                            <tr>
                                <td ></td>
                                <td colspan ="2">
                                    <a id="aUpdate" href="TermConditionIndex" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp;   <input id="btnUpdate" type="submit" class="btnu" value="Update" onclick=" return validation();" />
                                    <a id="aSave" href="TermConditionIndex" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp;  <input id="btnSave" type="submit" class="btnu" value="Save" /> 

                                </td>
                            </tr>
                        </table>
                    </div>
                }
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">
   
    function validation()
    {
        var disc = $('#Disclaimer_ifr').contents().find('#tinymce').text();
        var terms = $('#TermCondition_ifr').contents().find('#tinymce').text();
        if (disc.trim().toString() == "") {
            jAlert('Please enter the disclaimer', 'Required Field');
            return false;
        }
        if (terms.trim().toString() == "") {
            jAlert('Please enter the terms & conditions', 'Required Field');
            return false;
        }
        Showloader();
    }

    $(document).ready(function() {
        var value = $('#hidd').val();
        if (value == 1) {
            $('#btnUpdate').hide();
            $('#aUpdate').hide();
        } else {
            $('#btnSave').hide();
            $('#aSave').hide();
        }

    });


    $(document).ready(function () {


        tinymce.init({
            selector: 'textarea', browser_spellcheck: true,
            mode: 'exact',
            force_p_newlines: false,
            force_br_newlines: true,
            forced_root_block: '',
            paste_data_images: true,
            editor_deselector: "mceNoEditor",
            height: "200",
            plugins: [
            "pagebreak advlist autolink autosave link image lists charmap print preview hr anchor spellchecker",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "table contextmenu directionality emoticons template textcolor paste fullpage textcolor"
            ],

            toolbar1: " bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect | forecolor backcolor | cut copy paste | searchreplace | bullist numlist",
            menubar: false,
            toolbar_items_size: 'small',
            resize: false,
        });
    });
</script>

</body>
    <script type="text/javascript">
        function active() {
            document.getElementById("mnglink").className += " activeLi" + " activemenu";
        }
    </script>
