﻿@using MTD.Core.DataTransferObjects
@model  MTData.Web.ViewData.DefaultSettingViewData
@{
    ViewBag.Title = "Manage Default Tip";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <title>Default Setting</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_Manage", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    <h4>Manage Default Tip</h4>
                    <hr />
                    <table width="35%">

                       
                        <tr>
                            <td> @Html.Label("Tip Low(%)")</td>
                            <td>@Html.DisplayFor(model => model.TipLow)</td>
                        </tr>
                        <tr><td class="space"></td></tr>
                        <tr>
                            <td> @Html.Label("Tip Medium(%)")</td>
                            <td>@Html.DisplayFor(model => model.TipMedium)</td>
                        </tr>
                        <tr><td class="space"></td></tr>
                        <tr>
                            <td> @Html.Label("Tip High(%)")</td>
                            <td>@Html.DisplayFor(model => model.TipHigh)</td>
                        </tr>
                        <tr><td class="space"></td></tr>
                        <tr><td class="space"></td></tr>
                        <tr><td class="space"></td></tr>
                        <tr><td></td> <td><a id="btnUpdate" href="TipUpdate" class="btnu">Edit</a></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function active() {
         document.getElementById("mnglink").className += " activeLi" + " activemenu";
    }
</script>


