﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.DefaultSettingViewData
@{
    ViewBag.Title = "Update Default Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>
        Update Default Tip
    </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            left: 487px;
            position: absolute;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_Manage", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Set Default Tip</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:50%">

                                <tr>
                                    <td>@Html.Label("Tip Low (%)")<span class="required">*</span></td>
                                    <td>@Html.TextBoxFor(model => model.TipLow, new { @class = "form-control", @id = "txtTipLow", onkeyup = "AllowDecimalNumbers(this, 5)" })</td>
                                    <td class="Validate" style="color: red;">
                                        @Html.ValidationMessageFor(model => model.TipLow)
                                        <span class="field-validation-error" style="width: 200px; display: none;" id="valTipLow"> Invalid tip low value</span>
                                    </td>

                                </tr>

                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Tip Medium (%)") <span class="required">*</span></td>
                                    <td>@Html.TextBoxFor(model => model.TipMedium, new { @class = "form-control", @id = "txtTipMedium", onkeyup = "AllowDecimalNumbers(this, 5)" })</td>
                                    <td class="Validate" style="color: red;">
                                        @Html.ValidationMessageFor(model => model.TipMedium)
                                        <span class="field-validation-error" style="width: 200px; display: none;" id="valTipMedium"> Invalid tip medium value</span>
                                    </td>

                                </tr>

                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Tip high (%)")<span class="required">*</span></td>
                                    <td>@Html.TextBoxFor(model => model.TipHigh, new { @class = "form-control", @id = "txtTipHigh", onkeyup = "AllowDecimalNumbers(this, 5)" })</td>
                                    <td class="Validate" style="color: red;">
                                        @Html.ValidationMessageFor(model => model.TipHigh)
                                        <span class="field-validation-error" style="width: 200px; display: none;" id="valTipHigh"> Invalid tip high value</span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>@Html.HiddenFor(model => model.IsNew, new { @id = "hidd" })</td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr><td class="space"></td></tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <a id="aUpdate" href="TipIndex" class="btn1">Cancel</a>
                                        &nbsp;&nbsp;&nbsp;
                                        <input id="btnUpdate" type="submit" class="btnu" value="Update" onclick=" return validation();" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
    <script type="text/javascript">
        var response = true;
        $("#txtTipLow").focusout(function () {
            var value = parseFloat($(this).val());
            if (!isNaN(value)) {
                if (value < 100) {
                    $(this).val(value.toFixed(2));
                }
            }
        });
        $('#txtTipLow').keyup(function (e) {
            var key = e.keyCode;
            var value = parseFloat($(this).val());
            if (value > 99) {
                $("#valTipLow").show();
                $("#TipLow_validationMessage").hide();
                $("#txtTipLow").focus();
            }
            else {
                $("#valTipLow").hide();
            }
        });
        $("#txtTipMedium").focusout(function () {
            var value = parseFloat($(this).val());
            if (!isNaN(value)) {
                if (value < 100) {
                    $(this).val(value.toFixed(2));
                }

            }

        });
        $('#txtTipMedium').keyup(function (e) {
            var key = e.keyCode;

            var value = parseFloat($(this).val());
            if (value > 99) {
                $("#valTipMedium").show();
                $("#TipMedium_validationMessage").hide();
                $("#txtTipMedium").focus();

            }
            else {
                $("#valTipMedium").hide();
            }
        });
        $('#txtTipHigh').keyup(function (e) {
            var key = e.keyCode;

            var value = parseFloat($(this).val());
            if (value > 99) {
                $("#valTipHigh").show();
                $("#TipHigh_validationMessage").hide();
                $("#txtTipHigh").focus();
            }
            else {
                $("#valTipHigh").hide();
            }
        });
        $("#txtTipHigh").focusout(function () {
            var value = parseFloat($(this).val());
            if (!isNaN(value)) {
                if (value < 100) {
                    $(this).val(value.toFixed(2));
                }
            }
        });
        function validation() {
            if (parseFloat($('#txtTipLow').val()) > 100) {
                $("#valTipLow").show();
                return false;
            }
            if (parseFloat($('#txtTipMedium').val()) > 100) {
                $("#valTipMedium").show();
                return false;
            }
            if (parseFloat($('#txtTipHigh').val()) > 100) {
                $("#valTipHigh").show();
                return false;
            }
            var lTip = parseFloat($('#txtTipLow').val());
            var mTip = parseFloat($('#txtTipMedium').val());
            var hTip = parseFloat($('#txtTipHigh').val());
            if (lTip > mTip || lTip >hTip) {
                $("#valTipLow").show();
                return false;
            }
            else if (mTip > hTip) {
                $("#valTipMedium").show();
                return false;
            }
            Showloader();
        }
    </script>

</body>
<script type="text/javascript">

    function active() {
        document.getElementById("mnglink").className += " activeLi" + " activemenu";
    }
</script>

