﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.AddressDetails

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Add New Merchant</title>
  
    @*<script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />*@
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        th {
            background-color: #014a81;
        }

        .requiredfields {
            color: red;
        }

        .required {
            color: red;
        }

        .insert-Percent {
            background: #FFFFFF url("/images/Percentage-icon.png") no-repeat 4px 4px;
            background-position: right;
            padding-left: 16px;
            height: 35px;
        }
        #ui-id-1 {
            display: none;
            left: 541px;
            top: 375px;
            width: 280px;
            z-index: 1;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5)
                {
                    Html.RenderAction("_SubAdmin", "Member");
                }
                else
                {
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <h4> Address information</h4>
                       <hr/>


                        @Html.ValidationSummary(true)
                        <table style="width: 79%;">
                            <tr>
                                <td style="width:200px">@Html.Label("Time Zone")<span class="required">*</span></td>
                                <td>@Html.DropDownListFor(m => m.TimeZone, new SelectList(Model.TimeZones, "TimeZoneTime", "TimeZoneName", Model.TimeZone), "--Select time zone--", new { @class = "form-control" })</td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.TimeZone)
                                    <span id="timerssval" style="display:none">Please choose timezone</span>
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>

                        <tr>
                            <td style="width:200px">@Html.Label("Country")<span class="required">*</span></td>
                            <td>
                                @Html.DropDownListFor(m => m.Country, new SelectList(Model.CountryList, "CountryCodesID", "Title", Model.Country), new { @class = "form-control" })
                            </td>
                            <td class="requiredfields" style="width: 270px">
                                @Html.ValidationMessageFor(model => model.Country)
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("State")</td>
                            <td>
                                @Html.TextBoxFor(model => model.State, new { @class = "form-control req", onkeyup = "AllowCharsNumberSpace(this, 35)" })
                                @*@Html.DropDownListFor(m => m.State, new SelectList(Model.StateList, "StatesId", "Name", Model.State), new { @class = "form-control" })*@
                            </td>
                            <td class="requiredfields">
                                @Html.ValidationMessageFor(model => model.State)
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("City")</td>
                            <td>
                                @Html.TextBoxFor(model => model.City, new { @class = "form-control req", onkeyup = "AllowCharsNumberSpace(this, 35)" })
                                @*@Html.DropDownListFor(m => m.City, new SelectList(Model.CityList, "CityId", "CityName", Model.City), new { @class = "form-control" })*@
                            </td>
                            <td class="requiredfields">
                                @Html.ValidationMessageFor(model => model.City)
                            </td>
                        </tr>

                        <tr><td colspan="3" class="space"></td></tr>

                            <tr>
                                <td>@Html.Label("Zip Code")<span class="required">*</span></td>
                                <td>

                                    @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control req", onkeyup = "AllowCharsNumberSpace(this, 10)" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.ZipCode)
                                    <span id="ZipCodeVal" style="display:none">Please enter zip code</span>
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("Address")<span class="required">*</span></td>
                            <td>

                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control req" })
                            </td>
                            <td class="requiredfields">
                                @Html.ValidationMessageFor(model => model.Address)
                                <span id="addrssval" style="display:none">Please enter address</span>
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr><td></td><td>
                                         <input type="submit" name="BtnPrevious" value="Previous" class="btnu" tabindex=-1 /> &nbsp;&nbsp;&nbsp;
                                         <input type="submit" name="BtnNext" value="Next" class="btnu" onclick="return validation();" />
                                         </td></tr>
                    </table>
                        <div class="col-md-offset-2 col-md-10">

                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#State').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetStateList?countryId=" + $("#Country").val() + "&mtch=" + $("#State").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });
        $('#City').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetCityList?mtch=" + $("#City").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });

    });
</script>
<script type="text/javascript">
    function active() {
        document.getElementById("mrch").className += "activeLi";
    }
    function validation() {
        if ($("#Country").val().toString() == "0") {
            jAlert('Please select a Country', 'Required Field');
            return false;
        }

        if ($("#ZipCode").val().toString() == "") {
            document.getElementById("ZipCodeVal").style.display = "block";
            return false;
        }

        if ($("#Address").val().toString() == "") {
                document.getElementById("addrssval").style.display = "block";
            return false;
        }
        if ($("#TimeZone").val().toString() == "0" || $("#TimeZone").val().toString() == "") {
            document.getElementById("timerssval").style.display = "block";
            return false;
        }

        Showloader();
    }
</script>
