﻿@using MTD.Core.DataTransferObjects
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <title>Merchant</title>

</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{

                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>


        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">
                    <table style="width:100%">
                        <tr>
                            <td><h4><a href="FDMerchant">Add New Merchant Id</a></h4></td>
                            <td style="float:right">
                                <form>

                                    <div class="search-box">
                                        <input type="text" value="" name="FDMerchantID" id="FDMerchantID" placeholder="Search:RC Merchant Id">
                                        <span class="search-icon">
                                            <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                        </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>

                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">

                        $(document).ready(function () {

                            $('#StudentTableContainer').jtable({
                                // title: 'Payment Gateway',
                                paging: true,
                                pageSize: 15,
                                sorting: true,
                                defaultSorting: 'FDMerchantID ASC',
                                actions: {
                                    listAction: '/Merchant/FdMerchantListByFiter',
                                    deleteAction: '/Merchant/Delete'
                                },
                                fields: {
                                    FDId: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    FDMerchantID: {
                                        title: 'RC MerchantId',
                                        width: '20%'
                                    },
                                    GroupId: {
                                        title: 'Group Id',
                                        width: '20%'
                                    },
                                    ProjectId: {
                                        title: 'Project  Id',
                                    },

                                    App: {
                                        title: 'App',
                                        width: '15%',
                                    },
                                    ServiceId: {
                                        title: 'Service Id',
                                        width: '20%'
                                    },
                                    ServiceUrl: {
                                        title: 'Service Url',
                                        width: '12%',
                                    },

                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '10%',
                                        display: function (data) {
                                            return '<a  href="UpdateFdMerchant?fdid=' + data.record.FDId + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';

                                        }
                                    },
                                }
                            });

                            //Re-load records when user click 'load records' button.
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#FDMerchantID').val(),
                                });
                            });

                            //Load all records when page is first shown
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    function active() {
        document.getElementById("mpg").className += "activeLi";
    }
</script>


