﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.FDMerchantViewData

@{
    ViewBag.Title = "FDMerchant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>FD Merchant</title>

<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/Scripts/txt-validation.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/site.css" rel="stylesheet" />

<style type="text/css">
    th {
        background-color: #014a81;
    }

    .required {
        color: red;
    }

    .validation {
        color: green;
    }
</style>
    </head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()



                        @Html.ValidationSummary(true)
                        <h4>Add Rapid Connect Merchant Id</h4>
                        <hr />
                        <table style="width:70%;">
                            <tr>
                                <td style="width:200px">&nbsp;</td>
                                <td style="width:355px">
                                    @if (@ViewData["Msg"] != null)
                                    {
                                        <p style="color: green;font-size:16px">&nbsp;@ViewData["Msg"]</p>
                                    }

                                </td>
                            </tr>


                            <tr>


                                <td style="width: 200px">@Html.Label("Rapid Connect Merchant ID")<span class="required">*</span></td>

                                <td> @Html.TextBoxFor(model => model.FDMerchantID, new { @class = "form-control", @autocomplete = "off", @id = "fdMerchant" })</td>
                                <td class="Validate" style="width:250px">
                                    @Html.ValidationMessageFor(model => model.FDMerchantID)


                                </td>


                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>


                                <td style="width: 200px">@Html.Label("GroupId")<span class="required">*</span></td>

                                <td> @Html.TextBoxFor(model => model.GroupId, new { @class = "form-control", @autocomplete = "off", @id = "groupId" })</td>
                                <td class="Validate" style="width:250px">
                                    @Html.ValidationMessageFor(model => model.GroupId)


                                </td>


                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>


                                <td style="width: 200px">@Html.Label("ServiceId")<span class="required">*</span></td>

                                <td> @Html.TextBoxFor(model => model.ServiceId, new { @class = "form-control", @autocomplete = "off", @id = "serviceId" })</td>
                                <td class="Validate" style="width:250px">
                                    @Html.ValidationMessageFor(model => model.ServiceId)


                                </td>


                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>


                                <td style="width: 200px">@Html.Label("ProjectId")<span class="required">*</span></td>

                                <td> @Html.TextBoxFor(model => model.ProjectId, new { @class = "form-control", @autocomplete = "off", @id = "ProjectId" })</td>
                                <td class="Validate" style="width:250px">
                                    @Html.ValidationMessageFor(model => model.ProjectId)


                                </td>


                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>


                                <td style="width: 200px">@Html.Label("App")<span class="required">*</span></td>

                                <td> @Html.TextBoxFor(model => model.App, new { @class = "form-control", @autocomplete = "off", @id = "AppId" })</td>
                                <td class="Validate" style="width:250px">
                                    @Html.ValidationMessageFor(model => model.App)


                                </td>


                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>


                                <td style="width: 200px">@Html.Label("ServiceUrl")<span class="required">*</span></td>

                                <td> @Html.TextBoxFor(model => model.ServiceUrl, new { @class = "form-control", @autocomplete = "off", @id = "ServiceUrlId" })</td>
                                <td class="Validate" style="width:250px">
                                    @Html.ValidationMessageFor(model => model.ServiceUrl)


                                </td>


                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr><td></td><td><input type="submit" value="Save" class="btnu  " />&nbsp;&nbsp;&nbsp;<a href="FdIndex" class="btn1">Cancel</a></td></tr>
                        </table>







                        <div class="col-md-offset-2 col-md-10">

                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</body>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#fdMerchant').keydown(function (e) {
                var key = e.keyCode;
                if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105)) { return true; }
                else
                    return false;
            });
            $('#groupId').keydown(function (e) {
                var key = e.keyCode;
                if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105)) { return true; }
                else
                    return false;
            });
            $('#serviceId').keydown(function (e) {
                var key = e.keyCode;
                if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105)) { return true; }
                else
                    return false;
            });
        });
    </script>

    <script type="text/javascript">
        function active() {
            document.getElementById("mpg").className += "activeLi";
        }
    </script>
