﻿@model IEnumerable<MTData.Web.ViewData.MerchantViewData>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MerchantID)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.fk_UserID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SetupFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAllowSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAllowPreauth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAllowCapture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAllowRefund)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAllowVoid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MerchantID)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.fk_UserID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.SetupFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAllowSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAllowPreauth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAllowCapture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAllowRefund)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAllowVoid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
