﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.manageRecieptViewData

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="../../css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="../../css/bootstrap-theme.css" type="text/css">
<link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="../../css/style.css" type="text/css">
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/site.css" rel="stylesheet" />

<style type="text/css">
    th {
        background-color: #014a81;
    }

    .requiredfields {
        color: red;
    }

    .required {
        color: red;
    }
    td {
        padding-right: 20px;
        height: 40px;
    }
    .insert-Percent {
        background: #FFFFFF url("/images/Percentage-icon.png") no-repeat 4px 4px;
        background-position: right;
        padding-left: 16px;
        height: 35px;
    }
</style>
<body onload="active()">
<div class="container-main">
    <div class="left-panel">
        <div class="user">
           @if (Session["User"] != null)
            {
               var user = ((SessionDto)Session["User"]).SessionUser.FName;
                <h3> Welcome   @user</h3>
            }
            <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
        </div>
        @{
            Html.RenderAction("_MerchantUsers", "Member");
        }
       
    </div>
</div>

<div class="right-panel">
    <div class="right-content">

        <div class="content-sec">
            @using (Html.BeginForm("ReciptSave", "Merchant", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="">
                    <h4>Manage Reciept</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    <table>
                        <tr>
                            <td style="width: 200px">&nbsp;</td>
                            <td style="width: 355px">
                                @if (ViewBag.Message != null)
                                {
                                    <p style="color: green;">&nbsp;@ViewBag.Message</p>
                                }

                            </td>
                        </tr>

                        <tr>
                            <td style="width: 200px; margin-left: 150px;">@Html.Label("Fleet")<span class="required">*</span></td>
                            <td>
                                @Html.DropDownListFor(m => m.fk_FleetID, new SelectList(Model.fleetlist, "FleetID", "FleetName", Model.fk_FleetID), "--Please Select a Fleet--", new {@class = "form-control"})
                                @Html.HiddenFor(m => m.fk_FleetID, new {@id = "FleetID"})
                            </td>
                            <td class="Validate" style="width: 200px">
                                @Html.ValidationMessageFor(model => model.fk_FleetID)
                            </td>
                        </tr>
                        <tr><td class="space"></td></tr>
               
                    </table>
                    @*<div style="border: 1px solid Grey;">*@
                        <table style="margin-left: 200px;">

                            <tr style="height: 50px;">
                                <td style="padding-bottom: 20px; padding-top: 0px;"> @Html.CheckBoxFor(m => m.IsCompAdd) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Company Addresss </td>
                                <td style="padding-bottom:20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsComPhone) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Company Phone</td></tr>
                            <tr>
                                <td style="padding-bottom:20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsCompName) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;">  Company Name </td>
                                <td style="padding-bottom: 20px; padding-top: 0px;"> @Html.CheckBoxFor(m => m.IsCompanyTaxNo) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Company Tax Number </td></tr>


                        <tr style="height: 50px;">
                            <td style="padding-bottom: 20px; padding-top: 0px;"> @Html.CheckBoxFor(m => m.IsDestAdd) </td>
                            <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;">  Disclaimer </td>
                            <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsDestAdd) </td>
                            <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Company Dest </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsDriver) </td>
                            <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Add Driver </td>
                            <td style="padding-bottom: 20px; padding-top: 0px;"> @Html.CheckBoxFor(m => m.IsDriverTaxNo) </td>
                            <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;">  Driver Tax Number </td>

                            </tr>
                        <tr>
                            <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsExtra) </td>
                            <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Extra </td>
                            <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsFare) </td>
                            <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Fare </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsFederalTaxAmt) </td>
                            <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;">  Federal Tax Amount </td>
                            <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsFederalTaxPer) </td>
                            <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;">  Federal Tax Percentage </td>

                            </tr>

                            <tr>
                                <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsFlagFall) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Flagfall </td>
                                <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsFleet) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Fleet </td>
                        </tr><tr>
                                 <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsMerName) </td>
                                 <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Merchant Name </td>
                                 <td style="padding-bottom: 20px; padding-top: 0px;"> @Html.CheckBoxFor(m => m.IsPickAdd) </td>
                                 <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Pick Address Tax Percentage </td>

                            </tr>
                            <tr>
                                <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsStateTaxAmt) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> State Tax Amount </td>
                                <td style="padding-bottom: 20px; padding-top: 0px;"> @Html.CheckBoxFor(m => m.IsStateTaxPer) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;">  State Tax Percentage </td>
                        </tr><tr>
                                 <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsSubTotal) </td>
                                 <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Subtotal </td>
                                 <td style="padding-bottom: 20px; padding-top: 0px;"> @Html.CheckBoxFor(m => m.IsSurAmt) </td>
                                 <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Surcharge Amount </td>

                            </tr>
                            <tr>
                                <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsSurPer) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Surcharge Percentage </td>
                                <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsTermsAndCondition) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;">  Terms and Conditions</td>
                        </tr><tr>
                                 <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsTip) </td>
                                 <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;">  Tip </td>
                                 <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsTolls) </td>
                                 <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;">  Tolls </td>

                            </tr>
                            <tr>
                                <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsTotal) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Total </td>
                                <td style="padding-bottom: 20px; padding-top: 0px;">@Html.CheckBoxFor(m => m.IsVehicle) </td>
                                <td style="padding-bottom: 20px; padding-top: 0px; padding-left: 5px;"> Vehicle </td>


                            </tr>

                        </table>
                    @*</div>*@
                    <table style="margin-left: 200px;">


                        <tr><td class="space"></td></tr>
                        <tr>
                            <td>&nbsp;</td>

                            <td colspan="3">
                                <input type="submit" class="btnu  " value="Save" />&nbsp;&nbsp;&nbsp;<a href="Index" class="btn1">Cancel</a>
                            </td>
                        </tr>
                    </table>

                </div>
            }

        </div>

    </div>
</div>


</body>
<script type="text/javascript">
    function active() {
        document.getElementById("mre").className += "activeLi";
    }
</script>




<script type="text/javascript">
    $(document).ready(function () {
        var leftPanelStatus = true;
        $("#toggle").click(function () {
            if (leftPanelStatus == true) {
                leftPanelStatus = false;
                $('.left-panel').addClass('collasped');
                $('.left-panel').css({ "width": "70px" });
                $('.right-panel').css({ "margin-left": "70px" });

            } else {
                leftPanelStatus = true;

                $('.left-panel').css({ "width": "300px" });
                $('.left-panel').removeClass('collasped');
                $('.right-panel').css({ "margin-left": "300px" });



            }

        });

    });


 
    $("#fk_FleetID").change(function () {
      
        $("#FleetID").val($("#fk_FleetID").val());
            @*$.ajax({
                type: 'POST',
                url: '@Url.Action("GetStates", "CountryState")',
                dataType: 'json',
                data: { id: $("#Fk_Country").val() },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#Fk_State").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });*@
            return false;
        });

</script>
