﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.TaxRateOther

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Add New Merchant</title>
    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.ui.draggable.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/jquery.alphanumeric.js"></script>
    <script src="~/Scripts/jquery.alphanumeric.pack.js"></script>
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        th {
            background-color: #014a81;
        }
        .requiredfields {
            left: 535px;
            position: absolute;
        }
        .required {
            color: red;
        }
        .insert-Percent {
            background: #FFFFFF url("/images/Percentage-icon.png") no-repeat 4px 4px;
            background-position: right;
            padding-left: 16px;
            height: 35px;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5)
            {
                Html.RenderAction("_SubAdmin", "Member");
            }
            else
            {
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <h4> Other details</h4>
                        <hr/>

                        @Html.ValidationSummary(true)
                        
                        <table style="width:80%">
                        <tr>
                            <td style="width:200px">@Html.Label("Federal Tax Rate (%)")<span class="required">*</span></td>
                            <td>
                                @Html.TextBoxFor(model => model.FederalTaxRate, new { @class = "form-control insert-Percent req", @autocomplete = "off", @id = "FedTax", onkeyup = "AllowDecimalNumbers(this, 5)" })
                            </td>
                            <td class="requiredfields">
                                @Html.ValidationMessageFor(model => model.FederalTaxRate)
                                <span class="field-validation-error" style="display: none;" id="valFedTax"> Invalid federal tax rate</span>
                            </td>
                        </tr>
                        <tr><td colspan="3" class="space"></td></tr>
                        <tr>
                            <td>@Html.Label("State Tax Rate (%)")<span class="required">*</span></td>
                            <td>
                                @Html.TextBoxFor(model => model.StateTaxRate, new { @class = "form-control insert-Percent req", @autocomplete = "off", @id = "StateTax", onkeyup = "AllowDecimalNumbers(this, 5)" })
                            </td>
                            <td class="requiredfields">
                                @Html.ValidationMessageFor(model => model.StateTaxRate)
                                <span class="field-validation-error" style= "display: none;" id="valStateTax">Invalid state tax rate</span>
                            </td>
                        </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Tax Inclusive")</td>
                                <td>
                                    @Html.CheckBoxFor(model => model.isTaxInclusive)
                                </td>
                                <td class="requiredfields"></td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Job Number Required")</td>
                                <td>
                                    @Html.CheckBoxFor(model => model.IsJobNoRequired)
                                </td>
                                <td class="requiredfields"></td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Tip Low(%)")<span class="required">*</span></td>
                                <td>
                                    @Html.TextBoxFor(model => model.TipPerLow, new { @class = "form-control insert-Percent req", @autocomplete = "off", @id = "txtTipLow", onkeyup = "AllowDecimalNumbers(this, 5)" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.TipPerLow)
                                    <span class="field-validation-error" style="display: none;" id="valTipLow">Invalid Tip Low Percentage</span>
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Tip Medium(%)")<span class="required">*</span></td>
                                <td>
                                    @Html.TextBoxFor(model => model.TipPerMedium, new { @class = "form-control insert-Percent req", @autocomplete = "off", @id = "txtTipMedium", onkeyup = "AllowDecimalNumbers(this, 5)" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.TipPerMedium)
                                    <span class="field-validation-error" style=" display: none;" id="valTipMedium">Invalid Tip Medium Percentage</span>
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Tip High(%)")<span class="required">*</span></td>
                                <td>
                                    @Html.TextBoxFor(model => model.TipPerHigh, new { @class = "form-control insert-Percent req", @autocomplete = "off", @id = "txtTipHigh", onkeyup = "AllowDecimalNumbers(this, 5)" })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.TipPerHigh)
                                    <span class="field-validation-error" style="display: none;" id="valTipHigh">Invalid Tip High Percentage</span>
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Disclaimer")<span class="required">*</span></td>
                                <td>
                                    @Html.TextAreaFor( model => model.Disclaimer,new { @class = "form-control req textEditor", @id = "Disclaimer", @name = "Disclaimer", @style = "max-width:450px; height:100px; width: 450px;overflow: scroll;border: 1px solid grey;background-color: white; " })
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.Disclaimer)
                                    @Html.HiddenFor(model => model.DisclaimerPlainText, new { @id = "DisclaimerText" })
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Terms and Conditions")<span class="required">*</span></td>
                                <td>
                                    @Html.TextAreaFor(model => model.TermCondition, new { @class = "form-control req textEditor", @id = "TermCondition", @style = "max-width:450px; height:100px; width: 450px;overflow: scroll;border: 1px solid grey;background-color: white; " })
                                </td>
                                <td class="requiredfields">
                                    @Html.HiddenFor(model => model.TermConditionPlainText, new { @id = "TermConditionText" })
                                    @Html.ValidationMessageFor(model => model.TermCondition)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr style="width: 90%;">
                                <td>
                                    <label>Please select a Role</label><span class="required">*</span>
                                </td>
                                <td>
                                    @if (!object.Equals(Model.UserRoles, null))
                                    {
                                        foreach (var item in Model.UserRoles)
                                        {
                                            if (!string.IsNullOrEmpty(Model.RolesAssigned))
                                            {
                                                if (Model.RolesAssigned.Split(',').Select(x => Convert.ToInt32(x)).Contains(item.RoleId))
                                                {
                                                    <input type="checkbox" id="@item.RoleId" class="chkrole" checked="checked" />
                                                    @item.RoleName<br />
                                                    <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" name="UserRoleIdList" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="@item.RoleId" class="chkrole" />
                                                    @item.RoleName<br />
                                                    <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" />
                                                }
                                            }
                                            else
                                            {     
                                                <input type="checkbox" id="@item.RoleId" class="chkrole" checked="checked"  /> @item.RoleName<br />
                                                <input type="hidden" id="Hid_@item.RoleId" value="@item.RoleId" name="UserRoleIdList" />
                                            }
                                        }
                                    }
                                </td>
                                <td class="requiredfields">
                                    @Html.ValidationMessageFor(model => model.RolesAssigned)
                                    @Html.HiddenFor(model => model.RolesAssigned, new { @id = "roleVal" })
                                </td>
                            </tr>

                            <tr><td colspan="3" class="space"></td></tr>

                            <tr>
                                <td/>
                                <td>
                                    <input type="submit" name="BtnPrevious" value="Previous" class="btnu" tabindex=-1 />
                                    <input type="submit" value="Next" name="BtnNext"  class="btnu" onclick=" return validation();" />
                                </td>
                            </tr>
                        </table>
                        <div class="col-md-offset-2 col-md-10">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    $('#StateTax,#FedTax,#txtTipLow,#txtTipMedium,#txtTipHigh').numeric({ allow: "." });

    $('#StateTax').keyup(function (e) {
        var key = e.keyCode;

        var value = parseFloat($(this).val());
        if (value > 99) {
            $("#valStateTax").show();
            $("#StateTax").focus();
        }
        else {
            $("#valStateTax").hide();
        }
    });

    $('#FedTax').keyup(function (e) {
        var key = e.keyCode;
        var value = parseFloat($(this).val());
        if (value > 99) {
            $("#valFedTax").show();
            $("#FedTax").focus();
        }
        else {
            $("#valFedTax").hide();
        }
    });

    $('#StateTax').focusout(function () {
        var value = parseFloat($(this).val());
        if (!isNaN(value)) {
            if (value < 100) {
                $(this).val(value.toFixed(2));
            }
        }

        if (value < 99) {
            $("#valStateTax").hide();
        }
    });

    $('#FedTax').focusout(function () {
        var value = parseFloat($(this).val());
        if (!isNaN(value)) {
            if (value < 100) {
                $(this).val(value.toFixed(2));
            }
        }

        if (value < 99) {
            $("#valFedTax").hide();
        }

    });

    $('#txtTipLow').keyup(function (e) {
        var key = e.keyCode;
        var value = parseFloat($(this).val());
        if (value > 99) {
            $("#valTipLow").show();
            $("#txtTipLow").focus();
        }
        else {
            $("#valTipLow").hide();
        }
    });

    $('#txtTipLow').focusout(function () {
        var value = parseFloat($(this).val());
        if (!isNaN(value)) {
            if (value < 100) {
                $(this).val(value.toFixed(2));
            }
        }
        if (value < 99) {
            $("#valTipLow").hide();
        }
    });

    $('#txtTipMedium').keyup(function (e) {
        var key = e.keyCode;
        var value = parseFloat($(this).val());
        if (value > 99) {
            $("#valTipMedium").show();
            $("#txtTipMedium").focus();
        }
        else {
            $("#valTipMedium").hide();
        }
    });

    $('#txtTipMedium').focusout(function () {
        var value = parseFloat($(this).val());
        if (!isNaN(value)) {
            if (value < 100) {
                $(this).val(value.toFixed(2));
            }
        }
        if (value < 99) {
            $("#valTipMedium").hide();
        }
    });

    $('#txtTipHigh').keyup(function (e) {
        var key = e.keyCode;
        var value = parseFloat($(this).val());
        if (value > 99) {
            $("#valTipHigh").show();
            $("#txtTipHigh").focus();
        }
        else {
            $("#valTipHigh").hide();
        }
    });

    $('#txtTipHigh').focusout(function () {
        var value = parseFloat($(this).val());
        if (!isNaN(value)) {
            if (value < 100) {
                $(this).val(value.toFixed(2));
            }
        }
        if (value < 99) {
            $("#valTipHigh").hide();
        }
    });

    $('#StateTax').focusout(function () {
        var value = parseFloat($(this).val());
        if (!isNaN(value)) {
            if (value < 100) {
                $(this).val(value.toFixed(2));
            }
        }

        if (value < 99) {
            $("#valStateTax").hide();
        }
    });

    $(document).ready(function () {
        tinymce.init({
            selector: 'textarea', browser_spellcheck: true,
            mode: 'exact',
            elements: "Disclaimer",
            force_p_newlines: false,
            force_br_newlines: true,
            forced_root_block: '',
            paste_data_images: true,
            editor_deselector: "mceNoEditor",
            height: "200",
            plugins: [
                "pagebreak advlist autolink autosave link image lists charmap print preview hr anchor spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste fullpage textcolor"
            ],
            toolbar1: " bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect | forecolor backcolor | cut copy paste | searchreplace | bullist numlist",
            menubar: false,
            toolbar_items_size: 'small',
            resize: false,
        });

        tinymce.triggerSave();
         
        $("valFName").hide();
        $(".chkrole").click(function () {
            var HidId = $(this).attr("id");
            if ($(this).prop("checked")) {

                $('#Hid_' + HidId).attr("name", "UserRoleIdList");
            }
            else {
                $('#Hid_' + HidId).attr("name", "");
            }
        });
    });

    function validation() {

        var disc = $('#Disclaimer_ifr').contents().find('#tinymce').text();
        var terms = $('#TermCondition_ifr').contents().find('#tinymce').text();
          
        $("#DisclaimerText").val(disc);
        $("#TermConditionText").val(terms);
           
        if ($("#FedTax").val().toString() == "") {
            jAlert('Please enter federal tax rate', 'Required Field');
            return false;
        }

        if ($("#StateTax").val().toString() == "") {
            jAlert('Please enter state tax rate', 'Required Field');
            return false;
        }

        if ($("#txtTipLow").val().toString() == "") {
            jAlert('Please enter low tip ', 'Required Field');
            return false;
        }

        if ($("#txtTipMedium").val().toString() == "") {
            jAlert('Please enter medium tip', 'Required Field');
            return false;
        }

        if ($("#txtTipHigh").val().toString() == "") {
            jAlert('Please enter high tip', 'Required Field');
            return false;
        }

        if (disc.trim().toString() == "") {
            jAlert('Please enter the disclaimer', 'Required Field');
            return false;
        }

        if (terms.trim().toString() == "") {
            jAlert('Please enter the terms & conditions', 'Required Field');
            return false;
        }

        var lTip = parseFloat($('#txtTipLow').val());
        var mTip = parseFloat($('#txtTipMedium').val());
        var hTip = parseFloat($('#txtTipHigh').val());

        if (lTip > mTip || lTip > hTip) {
            jAlert('Invalid low tip amount ', 'Required Field');
            return false;
        }
        else if (mTip > hTip) {
            jAlert('Invalid medium tip amount', 'Required Field');
            return false;
        }

        var response = false;

        if (parseInt($('#FedTax').val()) > 99) {
            return false;
        }

        if (parseInt($('#StateTax').val()) > 99) {
            return false;
        }

        if (parseInt($('#txtTipLow').val()) > 99) {
            return false;
        }

        if (parseInt($('#txtTipHigh').val()) > 99) {
            return false;
        }

        if (parseInt($('#txtTipMedium').val()) > 99) {
            return false;
        }

        $(".chkrole").each(function (index) {
            if ($(this).prop("checked")) {
                response = true;
            }
        });

        if (!response) {
            jAlert('Please select a role', 'Required Field');
        }

        if (response) {
            Showloader();
        }

        return response;
    }

    $("#txtTipLow").focusout(function () {
        var arr = document.getElementById("txtTipLow").value.split('.');
        var length = arr[0].length;

        if (length > 2) {
            $("#valTipLow").css("display", "block");
            $("#txtTipLow").focus();
        }
        else {
            $("#valTipLow").css("display", "none");
        }
    })

    $("#txtTipMedium").focusout(function () {
        var arr = document.getElementById("txtTipMedium").value.split('.');
        var length = arr[0].length;

        if (length > 2) {
            $("#valTipMedium").css("display", "block");
            $("#txtTipMedium").focus();
        }
        else {
            $("#valTipMedium").css("display", "none");
        }
    })

    $("#txtTipHigh").focusout(function () {
        var arr = document.getElementById("txtTipHigh").value.split('.');
        var length = arr[0].length;

        if (length > 2) {
            $("#valTipHigh").css("display", "block");
            $("#txtTipHigh").focus();
        }
        else
        {
            $("#valTipHigh").css("display", "none");
        }
    })

</script>

<script type="text/javascript">
    function active() {
        document.getElementById("mrch").className += "activeLi";
    }
</script>