﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.PersonalDetails
@{
    ViewBag.Title = "PersonalInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Add New Merchant</title>
    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.ui.draggable.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/jquery.alphanumeric.js"></script>
    <script src="~/Scripts/jquery.alphanumeric.pack.js"></script>
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        th {
            background-color: #014a81;
        }
        .requiredfields {
            color: red;
        }
        .required {
            color: red;
        }
        .insert-Percent {
            background: #FFFFFF url("/images/Percentage-icon.png") no-repeat 4px 4px;
            background-position: right;
            padding-left: 16px;
            height: 35px;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5)
            {
                Html.RenderAction("_SubAdmin", "Member");
            }
            else
            {
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        if (TempData["status"] != null)
                        {
                            if (TempData["status"] == "Update")
                            {
                                <h4> Update Merchant</h4>
                            }
                            if (TempData["status"] == "Create")
                            {
                                <h4> Create Merchant</h4>
                            }
                        }
                        <hr />
                        @Html.ValidationSummary(true)
                        <div style="width:630px;">
                            @if (@TempData["ExitUser"] != null)
                            {
                                <p style="color:green;margin-left:200px;">&nbsp;@TempData["ExitUser"]</p>
                            }
                        </div>

                        <table style="width: 77%;">
                            <tr><td>&nbsp;</td><td><span class="field-validation-error" style="display: none; vertical-align:top; padding-bottom:5px" id="valCompanyexist"> Company already exist </span></td></tr>
                            <tr>
                                <td style="width: 200px">@Html.Label("Company")<span class="required">*</span></td>
                                <td> @Html.TextBoxFor(model => model.Company, new { @class = "form-control req", @id = "CompName", @autocomplete = "off", onkeyup = "LengthOnly(this, 50)" })</td>
                                <td class="requiredfields" style="width: 260px">
                                    &nbsp; @Html.ValidationMessageFor(model => model.Company)

                                    <span class="field-validation-error" style="width: 200px; vertical-align:top; display: none;" id="valCompName"> Invalid input</span>
                                    <input type="hidden" id="isCompFound" />
                                    @Html.HiddenFor(model => model.Company, new { @id = "hiddCompany" })
                                    <input type="hidden" id="hiddPageType" value="@TempData["status"]" />
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Company Tax Number")<span class="required">*</span></td>
                                <td>
                                    <input type="hidden" id="Fk_FDIds" name="Fk_FDId" value="@Model.Fk_FDId" />
                                    <input type="hidden" id="merchantId" name="merchantId" value="@Model.Mid" />
                                    <input type="hidden" name="isExist" id="isExist" />

                                    @Html.TextBoxFor(model => model.CompanyTaxNumber, new { @class = "form-control req", @id = "CompTaxNum", @autocomplete = "off", onkeyup = "AllowCharsNumber(this, 15)" })
                                </td>
                                <td class="requiredfields" style="width: 260px">
                                    &nbsp;
                                    @Html.ValidationMessageFor(model => model.CompanyTaxNumber)
                                    <span class="field-validation-error" style="width: 200px; display: none;" id="valCompTaxNum"> Please enter valid tax number</span>
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("First Name")<span class="required">*</span></td>
                                <td>
                                    @Html.TextBoxFor(model => model.FName, new { @class = "form-control req", @id = "FName", @autocomplete = "off", onkeyup = "AllowCharsNumberSpace(this, 30)" })
                                </td>
                                <td class="requiredfields" style="width: 260px">
                                    &nbsp;
                                    @Html.ValidationMessageFor(model => model.FName)
                                    <span class="field-validation-error" style="width: 200px; display: none;" id="valFName"> Please Enter Valid Input(Only Characters)</span>
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Last Name")<span class="required">*</span></td>
                                <td>
                                    @Html.TextBoxFor(model => model.LName, new { @class = "form-control req", @id = "LName", @autocomplete = "off", onkeyup = "AllowCharsNumberSpace(this, 30)" })
                                </td>
                                <td class="requiredfields" style="width: 260px">
                                    &nbsp; @Html.ValidationMessageFor(model => model.LName)
                                    <span class="field-validation-error" style="width: 200px; display: none;" id="valLName"> Please Enter Valid Input</span>
                                </td>
                            </tr>

                            <!-- -->
                            <tr>
                                <td>@Html.Label("Use TransArmor")</td>
                                <td>
                                    @Html.CheckBoxFor(model => model.UseTransArmor)
                                </td>
                                <td class="requiredfields"></td>
                            </tr>
                            <!-- -->

                            <tr><td colspan="3" class="space"></td></tr>

                            @if (@TempData["status"] != null)
                            {
                                if (@TempData["status"] == "Create")
                                {
                                    <tr><td colspan="3" class="space"></td></tr>
                                    <tr>
                                        <td>@Html.Label("Email")<span class="required">*</span></td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control req", @id = "Email", @autocomplete = "off", onkeyup = "LengthOnly(this, 50)" })
                                        </td>
                                        <td class="requiredfields" style="width: 260px">
                                            &nbsp;@Html.ValidationMessageFor(model => model.Email)
                                            <span class="field-validation-error" style="width: 200px; display: none;" id="valEmail">Please Enter Valid Email</span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.Email)
                            }
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Phone")<span class="required">*</span></td>

                                <td>
                                    @Html.HiddenFor(model => model.isPersonalUpdate)
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control req", id = "phone", @autocomplete = "off", onkeyup = "AllowNumbers(this, 16)" })
                                </td>
                                <td class="requiredfields" style="width: 260px">
                                    &nbsp; @Html.ValidationMessageFor(model => model.Phone)
                                    <span class="field-validation-error" style="width: 200px; display: none;" id="valPhone"> Please Enter Valid Input(Only Numeric)</span>
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5)
                                    {
                                        <a href="~/MyMerchants/Index" class="btn1" tabindex="8">Cancel</a> 
                                    }
                                    else
                                    {
                                         <a href="Index" class="btn1" tabindex="8">Cancel</a>
                                    }

                                    &nbsp;&nbsp;&nbsp;
                                    <input type="submit" name="BtnNext" value="Next" class="btnu" onclick="return validation();" />
                                </td>
                            </tr>
                        </table>
                        <div class="col-md-offset-2 col-md-10">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    function active() {
        document.getElementById("mrch").className += "activeLi";
    }
</script>

<script type="text/javascript">
    $("#CompName").focusout(function () {
        if ($("#CompName").val().trim().length > 40) {
            $("#CompName").val($("#CompName").val().slice(0, 40));
        }

        if ($('#hiddPageType').val() == "Create") {
            $.ajax({
                type: "POST",
                url: '/Merchant/CompanyExsits?company=' + $('#CompName').val() + '&merchantId=' + $("#merchantId").val(),
                success: function (data) {
                    if (data) {
                        $('#isExist').val("Found");
                        $('#valCompanyexist').css("display", "block");
                        $("#CompName").focus();
                        $("#isCompFound").val('1');
                        return false;
                    } else {
                        $('#valCompanyexist').css("display", "none");
                        $('#isExist').val("NotFound");
                        $("#isCompFound").val('0');
                        return true;
                    }
                },
            });
        }
        else {
            if (true) {
                $.ajax({
                    type: "POST",
                    url: '/Merchant/CompanyExsits?company=' + $('#CompName').val() + '&merchantId=' + $("#merchantId").val(),
                    success: function (data) {
                        if (data) {
                            $('#isExist').val("Found");
                            $('#valCompanyexist').css("display", "block");
                            $("#CompName").focus();
                            $("#isCompFound").val('1');
                            return false;
                        } else {
                            $('#valCompanyexist').css("display", "none");
                            $('#isExist').val("NotFound");
                            $("#isCompFound").val('0');
                            return true;
                        }
                    },
                });
            }
        }
    });

    function validation() {
        if ($("#CompName").val().toString() == "") {
            jAlert('Please enter the Company', 'Required Field');
            return false;
        }

        if ($('#isCompFound').val() == '1') {
            return false;
        }

        if ($("#CompTaxNum").val().toString() == "") {
            jAlert('Please enter company tax number', 'Required Field');
            return false;
        }

        if ($("#FName").val().toString() == "") {
            jAlert('Please enter First Name', 'Required Field');
            return false;
        }

        if ($("#LName").val().toString() == "") {
            jAlert('Please enter Last Name', 'Required Field');
            return false;
        }

        if ($("#phone").val().toString() == "") {
            jAlert('Please enter phone number', 'Required Field');
            return false;
        }

        var emailLen = parseInt($("#Email").val().trim().length);
        if ($("#Email").val().toString() == "" || emailLen < 1) {
            $('#Email_validationMessage').css("display", "none");
            jAlert('Please enter Email address', 'Required Field');
            return false;
        }

        Showloader();

        return true;
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var type = parseInt(@Model.isPersonalUpdate);
        $('#isPersonalUpdate').val(type);
    });
</script>