﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.FDMerchantViewData

@{
    ViewBag.Title = "FDMerchant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Add New Merchant</title>
    <link href="~/Content/bootstrap-3.1.1.min.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Scripts/bootstrap-2.3.2.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        th {
            background-color: #014a81;
        }
        .required {
            color: red;
        }
        .validation {
            color: green;
        }
        .Validate {
            left: 525px;
            position: absolute;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @if (((SessionDto)Session["User"]).SessionUser.fk_UserTypeID == 5)
            {
                Html.RenderAction("_SubAdmin", "Member");
            }
            else
            {
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true)

                        if (ViewBag.Project=="CN")
                        {
                             <h4>Add First Data Merchant Id</h4>
                        }
                        else
                        {
                             <h4>Add Rapid Connect Merchant Id</h4>                            
                        }
                        <hr/>
                        <table style="width:85%;">
                            <tr>
                                <td style="width:200px">&nbsp;</td>
                                <td style="width:455px">
                                    @if (@ViewData["Msg"] != null)
                                    {
                                        <p style="color: green;font-size:12px">&nbsp;@ViewData["Msg"]</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.Label("Project Type")</td>
                                <td>
                                   <input type="radio" id="rdoCommerce" name="projectType" value="1" > &nbsp;@Html.Label("Ecommerce")&nbsp;&nbsp;
                                   <input type="radio" id="rdoMsrEmv" name="projectType" value="2" > &nbsp;@Html.Label("MSR/EMV", new { @id = "lblMsrEmv" }) &nbsp;&nbsp;
                                   <input type="radio" id="rdoBoth" name="projectType" value="3">&nbsp;@Html.Label("Both",new { @id="lblBoth"})
                               </td>                           
                                <td>@Html.HiddenFor(m => m.ProjectType, new { @id="hiddType"})</td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                @{
                                    if (ViewBag.Project == "CN")
                                    {
                                        <td style="width: 200px">@Html.Label("First Data Merchant ID")</td>
                                    }
                                    else
                                    {
                                        <td style="width: 200px">@Html.Label("Rapid Connect Merchant ID")</td>
                                    }
                                }
                                <td style="width:355px"> @Html.TextBoxFor(model => model.FDMerchantID, new { @class = "form-control", @id = "fdMerchant", onkeyup = "AllowCharsNumberSpace(this, 30)" })</td>
                                <td class="Validate" style="width:250px">
                                    @Html.ValidationMessageFor(model => model.FDMerchantID)
                                </td>
                            </tr>
                            <tr><td id="tdCol3" colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width: 200px">@Html.Label("Group ID", new { @id = "lblGroupId" })</td>
                                <td> @Html.TextBoxFor(model => model.GroupId, new { @class = "form-control", @id = "groupId", onkeyup = "AllowCharsNumberSpace(this, 28)" })</td>
                                <td class="Validate" style="width:250px">
                                    @Html.ValidationMessageFor(model => model.GroupId)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width: 200px">@Html.Label("Token Type", new { @id="lblTokenType"})</td>
                                <td> @Html.TextBoxFor(model => model.TokenType, new { @class = "form-control", @id = "tokenType", onkeyup = "AllowCharsNumberSpace(this, 4)" })</td>
                                <td class="Validate" style="width:250px">
                                    @Html.ValidationMessageFor(model => model.TokenType)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td style="width: 200px">@Html.Label("MCC")</td>
                                <td> @Html.TextBoxFor(model => model.MCCode, new { @class = "form-control", @id = "mCCode", onkeyup = "AllowCharsNumberSpace(this, 4)" })</td>
                                <td class="Validate" style="width:250px">
                                    @Html.ValidationMessageFor(model => model.MCCode)
                                </td>
                            </tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" name="BtnPrevious" value="Previous" class="btnu" tabindex=-1 /> &nbsp;&nbsp;&nbsp;
                                    <input type="submit" name="BtnNext" value="Submit" class="btnu  " onclick=" return validation();" />
                                </td>
                            </tr>
                        </table>
                        <div class="col-md-offset-2 col-md-10">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function active() {
        document.getElementById("mrch").className += "activeLi";
    }

    function validation() {
        //Showloader();
        if ($('#fdMerchant').val() != '' || $('#groupId').val() != '' || $('#tokenType').val() != '' || $('#mCCode').val() != '')
        {
            if ($('#rdoCommerce').prop("checked") == false && $('#rdoMsrEmv').prop("checked") == false && $('#rdoBoth').prop("checked") == false)
            {
                alert('Please choose project type.');
                return false;
            }     
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function()
    {
        if ($('#hiddType').val() == 1)
        {
            $('#rdoCommerce').attr('checked', true);
        }
        else if ($('#hiddType').val() == 2)
        {
            $('#rdoMsrEmv').attr('checked', true);
        }
        else if ($('#hiddType').val() == 3)
        {
            $('#rdoBoth').attr('checked', true);
        }
    })
</script>

<script>
    $(document).ready(function () {
        if ('@ViewBag.Project' == "CN") {
            $('#rdoMsrEmv').hide();
            $('#rdoBoth').hide();
            $('#lblMsrEmv').hide();
            $('#lblBoth').hide();
            $('#rdoCommerce').attr('checked', true);
        }
    })
</script>