﻿@using System
@using System.Collections.Generic
@using System.Web.UI.WebControls
@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.TransactionRequest

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
}
<head>
    <title>
        Completion Transaction
    </title>
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.ui.draggable.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnShowModal").click(function (e) {


                if ($("#TransactionAmount").val().trim().toString() == "") {
                    jAlert('Please enter Amount', 'Required Field');
                    return false;
                }
                var fareAmount = parseFloat($('#TransactionAmount').val());
                if (fareAmount <= 0) {
                    jAlert('Amount can not be 0.00', 'Required Field');
                    return false;
                }
                var olderAmout = $("#hndAmount").val();
                if (fareAmount > olderAmout) {
                    jAlert('Invalid Amount', 'Required Field');
                    return false;
                }
                var oldId = parseInt($('#oldId').val());
                var newId = parseInt($('#TransID').val());
                if (oldId != newId) {
                    jAlert('Invalid Transaction Id', 'Required Field');
                    return false;
                }
                ShowDialog(true);
                $.ajax({
                    url: '/Transaction/CompletionTransaction',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    //data: JSON.stringify({ transactionView: { DriverNumber: $("#DriverNumber").val(), VehicleNumber: $("#VehicleNumber option:selected").text(), TransactionAmount: parseFloat($("#lblPayAmt").text()), CardNumber: $("#CardNumber").val(), ExpiryDate: $("#ExpiryDate").val(), CCVData: $("#CCVData").val(), FirstName: $("#FirstName").val(), StreetAddress: $("#StreetAddress").val(), ZipCode: $("#ZipCode").val(), TransNote: $("#TransNote").val(), PaymentType: paytype, CardType: ctyp, Taxes: parseFloat($("#lbltaxApplied").text()), Surcharge: parseFloat($("#lblsurchargeApplied").text()), Fee: parseFloat($("#lblFeeApplied").text()), Tip: parseFloat($("#lblTipAmount").text()), FareValue: parseFloat($("#lblFareAmount").text()), MtDataJobNumber: $("#MtDataJobNumber").val(), StateTax: parseFloat($("#lblStateaxApplied").text()), FedralTax: parseFloat($("#lblFedraltaxApplied").text()), Email: $("#txtEmail").val(), StateTaxPer: parseFloat($("#stateTaxPercent").val()), FedralTaxPer: parseFloat($("#FedTaxPercent").val()), FleetId: $("#FleetId").val() } }),
                    data: JSON.stringify({ transactionView: { DriverNumber: $("#DriverNumber").val(), VehicleNumber: $("#VehicleNumber").val(), TransactionAmount: parseFloat($("#TransactionAmount").val()), CardNumber: $("#CardNumber").val(), ExpiryDate: $("#ExpiryDate").val(), CCVData: $("#CCVData").val(), FirstName: $("#FirstName").val(), StreetAddress: $("#StreetAddress").val(), ZipCode: $("#ZipCode").val(), TransNote: $("#TransNote").val(), PaymentType: $("#PaymentType").val(), CardType: $("#CardType").val(), Taxes: parseFloat($("#lbltaxApplied").text()), Surcharge: parseFloat($("#lblsurchargeApplied").text()), Fee: parseFloat($("#lblFeeApplied").text()), Tip: parseFloat($("#lblTipAmount").text()), FareValue: parseFloat($("#lblFareAmount").text()), MtDataJobNumber: $("#MtDataJobNumber").val(), StateTax: parseFloat($("#lblStateaxApplied").text()), FedralTax: parseFloat($("#lblFedraltaxApplied").text()), Email: $("#txtEmail").val(), StateTaxPer: parseFloat($("#stateTaxPercent").val()), FedralTaxPer: parseFloat($("#FedTaxPercent").val()), FleetId: $("#FleetId").val(), TransactionType: $("#TransactionType").val(), TransID: $("#TransID").val() } }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (data === "Session Expired") {
                            window.location.href = "/Member/Index";
                        }
                        if (data === "TimeOut") {
                            document.getElementById('TimeOut').style.display = 'block';
                            $('#fdMessage').html('Transaction  timeout please try after sometime');
                            document.getElementById('notFound').style.display = 'none';
                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                            HideDialog();
                            e.preventDefault();
                        }
                        else {
                            if (parseInt(data) > 0) {
                                var txnId = parseInt(data);
                                window.location.href = '/TransactionHistory/Index?tId=' + txnId;

                            } else {
                                document.getElementById('TimeOut').style.display = 'block';
                                $('#fdMessage').html(data);
                                $('html, body').animate({ scrollTop: 0 }, 'slow');
                                HideDialog();
                                e.preventDefault();
                            }
                        }
                    },
                });
            });

            $("#btnClose").click(function (e) {
                HideDialog();
                e.preventDefault();
            });
        });

        function ShowDialog(modal) {
            $("#overlay").show();
            $("#dialog").fadeIn(300);

            if (modal) {
                $("#overlay").unbind("click");
            }
            else {
                $("#overlay").click(function (e) {
                    HideDialog();
                });
            }
        }

        function HideDialog() {
            $("#overlay").hide();
            $("#dialog").fadeOut(300);
        }

    </script>
    <style type="text/css">
        .web_dialog_overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: #000000;
            opacity: .55;
            filter: alpha(opacity=15);
            -moz-opacity: .15;
            z-index: 101;
            display: none;
        }

        .web_dialog {
            display: none;
            position: fixed;
            height: 15px;
            top: 55%;
            left: 50%;
            margin-left: -190px;
            margin-top: -100px;
            background: #ffffff;
            opacity: 0.5;
            padding: 0px;
            z-index: 102;
            font-family: Verdana;
            font-size: 10pt;
        }

        .web_dialog_title {
            border-bottom: solid 2px #336699;
            background-color: #336699;
            padding: 4px;
            color: White;
            font-weight: bold;
        }

            .web_dialog_title a {
                color: White;
                text-decoration: none;
            }

        .align_right {
            text-align: right;

        }
        .lighter{
            font-weight:lighter;
        }
    </style>
    <link href="~/Content/style.css" rel="stylesheet" />
    <style type="text/css">
        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .requiredfields {
            color: red;
        }

        .spc {
            height: 6px;
        }
    </style>

</head>



<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>

        <div class="right-content">
            <div class="content-sec grey-bg-tra">
                <div id="output"></div>
                <div id="overlay" class="web_dialog_overlay"></div>
                <div id="dialog" class="web_dialog">
                    <table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
                        <tr>
                            <td colspan="2">
                                <img src="~/Images/bar.gif" />
                            </td>
                        </tr>
                    </table>
                </div>
                @Html.AntiForgeryToken()
                <h4>Complete Transaction</h4>
                @Html.ValidationSummary(true)
                <div class="row" id="notFound" style="display: none; padding-left: 30px; height: 13px">
                    <div class="col-md-12 sp-btm-box" style="color:red">
                        Driver number or vehicle number does not exist
                    </div>
                </div>
                <div class="row" id="TimeOut" style="display:none; padding-left:30px">
                    <div class="" style="color:red">
                        <h5>
                            <label id="fdMessage"></label>
                        </h5>
                    </div>
                </div>
                <div class=" col-md-5 md-remove-trns-cre">


                    <div class="row">
                        <div id="notxn" class="col-md-12 sp-btm-box" style="color:red; display:none">
                            No Transaction Exists
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12 sp-btm-box">
                            @Html.TextBoxFor(m => m.TransID, new { @class = "form-control in-txtbox", @placeholder = "Transaction Id", onkeyup = "AllowNumbers(this, 10)" })
                        </div>
                    </div>

                    <div class="row" id="divAmt" style="display:none">
                        <!--Amount show begin-->
                        <div class="row">
                            <div style="padding-left:10px;">
                                <table style="width: 96%">
                                    
                                    <tr><td style="width: 100px; padding: 5px">Vehicle No:</td><td style="width:100px"><label class="lighter" id="lblvehicleNo" name="lblvehicleNo"></label></td></tr>

                                    <tr><td style="padding:4px">Driver No:</td><td> <label class="lighter" id="lblDriverNo" name="lblDriverNo"></label></td></tr>
                                    <tr>
                                        <td style="padding:4px">Amount</td>
                                        <td>
                                            <div class="row" id="AmtText" style="display:none">

                                                @Html.TextBoxFor(m => m.TransactionAmount, new { @class = "form-control in-txtbox", @placeholder = "Amount ($)", onkeyup = "AllowDecimalNumbers(this, 10)" })
                                                <input type="hidden" id="oldId" />

                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td style="padding:4px">Transaction Type:</td><td><label class="lighter" id="lblTxnType" name="lblTxnType"></label></td></tr>
                                    <tr><td style="padding:4px">Card Type</td><td><label class="lighter" id="lblCrdType" name="lblCrdType"></label></td></tr>
                                    <tr><td style="padding:4px">Entry Mode:</td><td> <label class="lighter" id="lblEntryMode" name="lblEntryMode"></label></td></tr>
                                    <tr><td style="padding:4px">Created By:</td><td> <label class="lighter" id="lblCreated" name="lblCreated"></label></td></tr>
                                    <tr><td style="padding:4px">Auth Id:</td><td> <label class="lighter" id="lblAuthId" name="lblAuthId"></label></td></tr>
                                    <tr><td style="padding:4px">Industry Type:</td><td> <label class="lighter" id="lblIndustryType" name="lblIndustryType"></label></td></tr>
                                </table>
                                <input type="hidden" id="hndAmount" />
                            </div>

                            <div>


                                <br />
                            </div>
                        </div>
                        <!--Amount show begin-->

                    </div>
                    <br />


                    <div class="row">

                        <div class="col-md-3 sp-btm-box">
                            <a href="~/Transaction/Completion" class="btn btn-warning btn-login" style="width: 96px">Reset</a>
                        </div>
                        <div class="col-md-4 sp-btm-box">
                            <input type="submit" value="Get Details" id="btnGetDetails" class="btn btn-warning btn-login" style="width: 130px" />
                        </div>
                        <div class="col-md-4 sp-btm-box" style="text-align:right;">
                            <input type="submit" value="Complete" id="btnShowModal" class="btn btn-warning btn-login" style="width:135px" />
                        </div>
                    </div>
                </div>




                <div class="clr-both">
                </div>
            </div>



        </div>

    </div>
</body>

<script type="text/javascript">
    function active() {
        document.getElementById("ctxn").className += "activeLi";
    }
</script>
<!--lblFedraltaxApplied-->
<!--lblStateaxApplied-->





<script type="text/javascript">
    $("#btnGetDetails").click(function (e) {
        if ($("#TransID").val().trim().toString() == "") {
            jAlert('Please enter transaction Id', 'Required Field');
            return false;
        }
        
        $.ajax({
            url: '/Transaction/GetTransaction',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ TxnId: $("#TransID").val() }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data === "Session Expired") {
                    window.location.href = "/Member/Index";
                }
                if (data != null) {
                    $("#lblvehicleNo").text(data.VehicleNo);
                    $("#lblDriverNo").text(data.DriverNo);
                    $("#lblTxnType").text(data.TxnType);
                    $("#lblCrdType").text(data.CardType);
                    $("#lblEntryMode").text(data.EntryMode);
                    $("#lblCreated").text(data.CreatedBy);
                    $("#lblAuthId").text(data.AuthId);
                    $("#lblIndustryType").text(data.Industry);
                    $("#TransactionAmount").removeAttr("disabled");
                    $("#TransactionAmount").val(data.Amount);
                    $("#doNotAllow").val('1');
                    $("#hndAmount").val(data.Amount);
                    $("#oldId").val(data.Id)
                    document.getElementById("divAmt").style.display = "block";
                    document.getElementById("AmtText").style.display = "block";
                    $("#btnShowModal").removeAttr("disabled");
                    document.getElementById("notxn").style.display = "none";
                }
            }
        });
        $("#lblvehicleNo").text('');
        $("#lblDriverNo").text('');
        $("#lblTxnType").text('');
        $("#lblCrdType").text('');
        $("#lblEntryMode").text('');
        $("#lblCreated").text('');
        $("#lblAuthId").text('');
        $("#lblIndustryType").text('');
        $("#TransactionAmount").val('');
        $("#TransactionAmount").attr("disabled", "disabled");
        $("#doNotAllow").val('0');
        $("#hndAmount").val('0.0');
        document.getElementById("divAmt").style.display = "none";
        document.getElementById("AmtText").style.display = "none";
        $("#btnShowModal").attr("disabled", "disabled");
        document.getElementById("notxn").style.display = "block";
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#TransactionAmount").attr("disabled", "disabled");
        $("#btnShowModal").attr("disabled", "disabled");
      
    });
</script>
