﻿@using MTD.Core.DataTransferObjects
@model IEnumerable<MTData.Web.ViewData.TransactionViewData>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<head>
    <title>  Transaction </title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    </head>
<body>
    <div>
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_MerchantUsers", "Member");
                }
            </div>
            <!--end content-->
        </div>
        <div class="clearfix"></div>
    </div>
</body>