﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.OnDemandReportViewData

@{
    ViewBag.Title = "Reschedule Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System;
<head>

    <title>  On Demand Report    </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            var todayDate = $.datepicker.formatDate('yy/mm/dd', new Date());
            var dateFromVal = '@TempData["DateFrom"]';

            if (dateFromVal != null && dateFromVal != '') {
                var dateSet = new Date(dateFromVal);
                var month = dateSet.getMonth() + 1;
                var day = dateSet.getDate();
                var year = dateSet.getFullYear();

                if (day < 10) {
                    day = "0" + day;
                }

                todayDate = year + "/" + month + "/" + day;
            }

            var currDate = new Date();
            var currDay = currDate.getDate();
            var currMonth = currDate.getMonth() + 1;
            var currYear = currDate.getFullYear();
            var ModMonth = currMonth + 1;
            if (ModMonth > 12) {
                ModMonth = 01;
                currYear = currYear + 1;
            }
            var str = "" + ModMonth
            var pad = "00"
            var ModMonth = pad.substring(0, pad.length - str.length) + str
            var mday = "" + currDay;
            var currDay = pad.substring(0, pad.length - mday.length) + mday
            ModDateStr = currYear + "/" + ModMonth + "/" + currDay;
            currDateStr = currYear + "/" + ModMonth + "/" + currDay;
            $("#DateFrom").datepicker({
                minDate: "-10Y",
                maxDate: +365,
                dateFormat: 'yy/mm/dd'
            }).val(todayDate);
            $("#DateTo").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: "-10Y",
                maxDate: "+20Y", changeMonth: true, changeYear: true
            }).val(ModDateStr);
        });

        $(document).on('focus', ".datepicker", function () {
            $(this).datepicker();
        });

        function pad(n) {
            return (n < 10) ? ("0" + n) : n;
        }

    </script>

    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            left: 420px;
            position: absolute;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }

        .set-schedule-detail-grid-one {
            height: 140px;
        }

        .set-schedule-detail-grid {
            height: 200px;
        }

        .set-schedule-detail-grid, .set-schedule-detail-grid-one {
            overflow: auto;
            margin: 10px 0;
            border: 1px solid #ccc;
            width: 100%;
            border-radius: 4px;
        }

        .set-schedule-detail-grid table tr th, .set-schedule-detail-grid-one table tr th {
            padding: 8px;
            color: #fff;
        }

        .set-schedule-detail-grid table tr td, .set-schedule-detail-grid-one table tr td {
            padding: 0 8px;
            font-weight: normal;
        }

        .set-schedule-detail-grid table tr td label, .set-schedule-detail-grid-one table tr td label {
            font-weight: normal;
        }

        .size {
            font-style: normal;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_TransactionSearch", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>On Demand Report</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:99%">

                                <tr>
                                    <td style="color:green; font-size:10px;font-family:sans-serif">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: green;font-size: 12px; font-weight:bold">&nbsp;@ViewBag.Message</p>
                                        }
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td style="width: 25%">
                                        Report Name<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.fk_ReportID) <br />

                                        @Html.DropDownListFor(m => m.fk_ReportID, new SelectList(Model.ReportList, "ReportId", "DisplayName", Model.fk_ReportID), "--Select Report--", new { @class = "form-control25", onchange = "Reportset()" })
                                    </td>

                                    <td style="width: 25%">
                                        Merchant User
                                        @Html.DropDownListFor(m => m.fk_MerchantId, new SelectList(Model.MerchantList, "fk_MerchantID", "Company", Model.fk_MerchantId), "--Please Select a User--", new { @class = "form-control25" })
                                        @Html.HiddenFor(m => m.IsReport)
                                    </td>

                                    <td style="width: 25%">
                                        <span style="color:red">&nbsp;</span>
                                        Date From<span style="color:red">*</span>  &nbsp;@Html.ValidationMessageFor(model => model.DateFrom)<br />
                                        @Html.TextBoxFor(m => m.DateFrom, "{0:yyyy/MM/dd}", new { @class = "form-control25 datepicker" })
                                    </td>

                                    <td style="width: 25%">
                                        Date To<span style="color:red">*</span>  &nbsp;@Html.ValidationMessageFor(model => model.DateTo)<br />
                                        @Html.TextBoxFor(m => m.DateTo, "{0:yyyy/MM/dd}", new { @class = "form-control25 datepicker" })
                                    </td>

                                </tr>

                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td colspan="4" style="text-align:right">
                                        <input type="submit" value="Email Report" name="MNumber" id="btnRun" class="btn btn-warning btn-login" onclick="Validation()" />
                                        <input type="submit" value="View Report" id="btnGtReport" name="MNumber" class="btn btn-warning btn-login" />
                                        <input type="submit" value="Export" id="btnExport" name="MNumber" class="btn btn-warning btn-login" />
                                    </td>
                                </tr>

                                <tr><td colspan="4">&nbsp;</td></tr>

                                <tr>
                                    <td colspan="4">

                                        @{
                                        var repType = @Model.IsReport;
                                        var repValue = @Model.fk_ReportID;
                                        }
                                        @if (repType)
                                        {
                                            switch (repValue)
                                            {
                                                case 13://Merchant Summary Report
                                                    Html.RenderPartial("MerchantSummaryReport", Model.MerchantSummaryReport);
                                                    break;
                                                case 14://Merchant Detail Report
                                                    Html.RenderPartial("MerchantDetailReport", Model.DetailReport);
                                                    break;
                                                case 15://Merchant Exception Report
                                                    Html.RenderPartial("MerchantExceptionReport", Model.MerchantExceptionReport);
                                                    break;
                                                case 16://Merchant Total Transactions By Vehicle Report
                                                    Html.RenderPartial("MerchantTotalTransactionsByVehicleReport", Model.MerchantTotalTransReport);
                                                    break;
                                                case 17://Merchant Card Type Report
                                                    Html.RenderPartial("MerchantCardTypeReport", Model.GetMerchantCardTypeReport);
                                                    break;
                                                case 19://Merchant User Card Type Report
                                                    Html.RenderPartial("CardTypeReport", Model.GetCardTypeReport);
                                                    break;
                                                case 20://Merchant User Summary Report
                                                    Html.RenderPartial("MerchantSummaryReport", Model.MerchantSummaryReport);
                                                    break;
                                                case 21://Merchant User Detail Report
                                                    Html.RenderPartial("MerchantDetailReport", Model.DetailReport);
                                                    break;
                                                case 22://Merchant User Exception Report
                                                    Html.RenderPartial("MerchantExceptionReport", Model.MerchantExceptionReport);
                                                    break;
                                                case 23://Merchant User Total Transactions By Vehicle Report
                                                    Html.RenderPartial("MerchantTotalTransactionsByVehicleReport", Model.MerchantTotalTransReport);
                                                    break;
                                            }
                                        }
                                    </td>
                                </tr>

                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    function Reportset() {
        var myselect = document.getElementById("fk_ReportID");
        var sel = myselect.options[myselect.selectedIndex].value;
        if (sel <= 18) {
            $("#fk_MerchantId").prop("selectedIndex", 0);
            $('#fk_MerchantId').attr('disabled', true);
        }
        else {
            $('#fk_MerchantId').attr('disabled', false);
        }
    }
    $.noConflict();
    $(document).ready(function () {
        var myselect = document.getElementById("fk_ReportID");
        var sel = myselect.options[myselect.selectedIndex].value;
        if (sel <= 18) {
            $("#fk_MerchantId").prop("selectedIndex", 0);
            $('#fk_MerchantId').attr('disabled', true);
        }
        document.getElementById("rep").className += " activeLi" + " activemenu";
        $("#msdrColl").css("display", "block");
    });

</script>
<script type="text/javascript">
    $('#btnGtReport').click(function () {
        var res = Validation();
        if (!res) {
            return false;
        }
        $('#IsReport').val(true);
    });
</script>

<script type="text/javascript">
    $('#btnRun').click(function () {
        var res = Validation();
        if (!res) {
            return false;
        }
        $('#IsReport').val(false);
    });
</script>
<script type="text/javascript">
    $('#btnExport').click(function () {
        var res = Validation();
        if (!res) {
            return false;
        }
        $('#IsReport').val(false);
    });
</script>

<script type="text/javascript">
    function Validation() {
        var myselect = document.getElementById("fk_ReportID");
        var sel = myselect.options[myselect.selectedIndex].value;
        if (sel <= 12) {
            alert("please choose report name");
            return false;
        }
        var dtf = $('#DateFrom').val();
        var dtt = $('#DateTo').val();
        if (!dtf.match(/^\d\d\d\d?\/\d\d?\/\d\d$/)) {
            alert('Please enter valid date');
            return false;
        }
        if (!dtt.match(/^\d\d\d\d?\/\d\d?\/\d\d$/)) {
            alert('Please enter valid date');
            return false;
        }
        if (sel >= 18) {
            var myMerchnat = document.getElementById("fk_MerchantId");
            var selMerchant = myselect.options[myMerchnat.selectedIndex].value;
            if (selMerchant <= 0) {
                alert("please choose user");
                return false;
            }
        }
        if ($('#DateFrom').val().length < 8) {
            alert('Please enter date from');
            return false;
        }
        if ($('#DateTo').val().length < 8) {
            alert('Please enter to date');
            return false;
        }
        return true;
    }
</script>
