﻿@using System.Web.UI.WebControls
@using MTD.Core.DataTransferObjects
@using MTD.Data.Data
@model MTData.Web.ViewData.PayrollReportSAGE
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Payroll Report-SAGE </title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="~/js/custom.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Content/moment.js"></script>
    <script>
        $(document).ready(function () {
            var today = new Date();
            var dd = today.getDate();
            var prevmm = today.getMonth();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
                prevmm = '0' + prevmm
            }
            if (mm == 01) {
                prevmm = 12;
                var yyyyLast = today.getFullYear() - 1;
                var lastMonth = prevmm + '-' + dd + '-' + yyyyLast;
                $("#startdatepicker").val(lastMonth);
                $("#startDateString").val(lastMonth);
            }
            else {
                var lastMonth = prevmm + '-' + dd + '-' + yyyy;
                $("#startdatepicker").val(lastMonth);
                $("#startDateString").val(lastMonth);
            }
            var today = mm + '-' + dd + '-' + yyyy;
            $("#enddatepicker").val(today);
            $("#endDateString").val(today);


            $("#startdatepicker").datepicker({
                numberOfMonths: 1,
                dateFormat: 'mm-dd-yy',
                onSelect: function (selected) {
                    $("#enddatepicker").datepicker("option", "minDate", selected)
                }
            });
            $("#enddatepicker").datepicker({
                numberOfMonths: 1,
                dateFormat: 'mm-dd-yy',
                onSelect: function (selected) {
                    $("#startdatepicker").datepicker("option", "maxDate", selected)
                }
            });
            $("#driverP").hide();
            $("#OwnerP").hide();
            $("#driverID").hide();
        });
    </script>
    <style type="text/css">
        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #1C78DE;
        }

        .requiredfields {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">

        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_TransactionSearch", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @*<div class="table">*@
                        <h4>Payroll Report-SAGE</h4>
                        <hr />
                        @Html.ValidationSummary(true)


                        <table style="width: 99%;">
                            <tr>
                                <td>
                                    @if (ViewBag.Message != null)
                                    {
                                        <p style="color: green;">@ViewBag.Message</p>
                                    }

                                </td>
                            </tr>
                            <tr style="margin-top: 10px;">
                            <tr><td colspan="3" class="space"></td></tr>



                            @{
                        var sessionDto = (SessionDto)Session["User"];
                            }
                            @if (sessionDto != null && sessionDto.SessionUser.fk_UserTypeID == 1)
                            {
                                <tr>

                                    <td>@Html.Label("Merchant")</td>
                                    <td> @Html.DropDownListFor(m => m.MerchantID, new SelectList(Model.MerchantList, "fk_MerchantID", "Company", Model.MerchantID), "--Select a Merchant--", new { @class = "form-control" })</td>

                                    <td>@Html.Label("Fleet")</td>
                                    <td> @Html.DropDownListFor(m => m.FleetID, new SelectList(Model.FleetList, "FleetID", "FleetName", Model.FleetID), "--Select a Fleet--", new { @class = "form-control" })</td>
                                    <td class="Validate" style="width: 50px"> </td>
                                </tr>
                                <tr><td class="space"></td></tr>

                            }

                            <tr><td class="space"></td></tr>

                            <tr>
                                @if (sessionDto != null && sessionDto.SessionUser.fk_UserTypeID != 1)
                                {

                                    <td style="text-align:left"><label>Payer Type</label><input type="hidden" value="@sessionDto.SessionUser.fk_UserTypeID" id="usrType" /></td>

                                    <td>
                                        @{
                                    var listItem = new List<ListItem>
                                        {
                                            new ListItem {Text = "Driver", Value = "1"},
                                            new ListItem {Text = "Car Owner", Value = "2"},
                                             new ListItem {Text = "Network", Value = "3"}
                                        };
                                        }
                                        @Html.DropDownListFor(m => m.TType, new SelectList(listItem), "-- Select Payer Type--", new { @class = "form-control" })
                                    </td>
                                    <td style="text-align:center">@Html.Label("Fleet") &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td>
                                        <select id="FleetID" class="form-control"><option>--Select a Fleet--</option></select>
                                        @*@Html.HiddenFor(m => m.FleetID, new { @id = "hfleetId" })*@
                                        @Html.HiddenFor(m => m.MerchantID, new { @id = "MerchantId" })
                                    </td>
                                    <td style="padding-left:10px">
                                        <label id="lblDriver" style="display:none">Driver&nbsp;&nbsp;</label><input type='radio' name='choices' id="radioDriver" value='1' style="display: none;margin-top:6px;">
                                        <label id="lblOwner" style="display:none">Car Owner&nbsp;&nbsp;</label><input type='radio' name='choices' id="radioOwner" value='2' style="display: none;margin-top:6px;">
                                        @Html.HiddenFor(m=>m.transaction.NetworkType)
                                    </td>
                                 
                                    <td style="text-align:center"><p id="OwnerP" style="margin-top:7px;"><b>Owner Name</b></p></td>
                                }
                                <td style="text-align:center"><p id="driverP" style="margin-top:8px;"><b>Driver Number</b></p></td>

                                <td>
                                    <input type="hidden" id="startDateString" name="startDateString">
                                    <input type="hidden" id="endDateString" name="endDateString">
                                    <select id="driverID" class="form-control"><option>--Select Driver--</option></select>
                                </td>

                            </tr>
                            <tr><td class="space"></td></tr>


                            <tr>
                                <td> <label>Date From</label></td>
                                <td>
                                    @Html.TextBoxFor(m => m.transaction.startDate, new { @id = "startdatepicker", @class = "form-control" })
                                </td>

                                <td style="text-align:center"> <label>Date To</label></td>

                                <td>
                                    @Html.TextBoxFor(m => m.transaction.endDate, new { @id = "enddatepicker", @class = "form-control" })
                                    @Html.HiddenFor(m => m.transaction.DriverNo)
                                    @Html.HiddenFor(m => m.FleetID, new { @id = "fleetID" })
                                </td>
                            </tr>
                            <tr><td class="space"></td></tr>

                        </table>

                        <table style="margin-top: 10px; width:100%">
                            <tr>
                                <td><input type="submit" value="Export to excel" class="btn btn-warning btn-login" onclick=" return validation();" /></td>
                                <td colspan="3" style="text-align:right; width:57%">
                                    &nbsp;<p class="field-validation-error" style=" display: none; float:left; margin-left:220px; margin-top:16px;" id="valrec">There is no record to export.</p>
                                    <a href="/Transaction/PayrollReportSAGE" class="btn btn-warning btn-login">Reset</a>&nbsp;&nbsp;
                                </td>
                                <td style="text-align:right; width:140px">


                                    <input type="button" value="Search" class="btn btn-warning btn-login" id="LoadRecordsButton" />

                                </td>

                            </tr>
                            <tr><td class="space"></td></tr>
                        </table>


                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <div id="StudentTableContainer">
                                    </div>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $('#StudentTableContainer').jtable({
                                                paging: true,
                                                sorting: true,
                                                defaultSorting: 'SageAccount',
                                                actions: {
                                                    listAction: '/Transaction/PayrollReportSAGEListByFiter'
                                                },
                                                fields: {
                                                    PaymentType: {
                                                        title: 'Payment Type',
                                                        width: '7%',
                                                        sorting: false
                                                    },
                                                    SageAccount: {
                                                        title: 'Sage Account#',
                                                        width: '7%',
                                                        sorting: true
                                                    },
                                                    BankAccount: {
                                                        title: 'Bank Account',
                                                        width: '7%',
                                                        sorting: false
                                                    },
                                                    Default1: {
                                                        title: ' ',
                                                        width: '2%',
                                                        sorting: false
                                                    },
                                                    DefaultDate: {
                                                        title: ' ',
                                                        width: '8%',
                                                        sorting: false,
                                                        display: function (data) {
                                                            return moment(data.record.DefaultDate).format('MM/DD/YYYY');
                                                        }
                                                    },
                                                    DefaultBACS: {
                                                        title: ' ',
                                                        width: '6%',
                                                        sorting: false
                                                    },
                                                    DefaultPayment: {
                                                        title: '',
                                                        width: '6%',
                                                        sorting: false
                                                    },
                                                    TransactionAmount: {
                                                        title: 'Transaction Amount',
                                                        width: '10%',
                                                        sorting: true,
                                                        display: function (data) {
                                                            return ('$ ' + data.record.TransactionAmount.toFixed(2));
                                                        }
                                                    },
                                                    DefaultTaxCode: {
                                                        title: 'Default Tax Code',
                                                        width: '8%',
                                                        sorting: false
                                                    },
                                                    VAT: {
                                                        title: 'VAT',
                                                        width: '5%',
                                                        sorting: false
                                                    }
                                                }
                                            });

                                            //Re-load records when user click 'load records' button.
                                            $('#LoadRecordsButton').click(function (e) {
                                                e.preventDefault();
                                                validation();
                                                var searchCriteria = { MerchantId: $('#MerchantID').val(), fleetId: $('#FleetID').val(), PayerType: $('#TType').val(), DNumber: $('#driverID').val(), startDate: $('#startdatepicker').val(), endDate: $('#enddatepicker').val(), startDateString: $('#startdatepicker').val(), endDateString: $('#enddatepicker').val(), NetworkType: $('input[name=choices]:checked').val()};
                                                $('#StudentTableContainer').jtable('load', {
                                                    searchCriteria: searchCriteria,
                                                });
                                            });

                                        });

                                    </script>
                                </td>
                            </tr>
                        </table>

                    }

                </div>
            </div>
        </div>
    </div>

</body>



<script type="text/javascript">
    $(document).ready(function () {
        $("#MerchantID").change(function () {
            $("#FleetID").empty();
            $("#VehicleID").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFleet", "DriverRecord")',
                dataType: 'json',
                data: { id: $("#MerchantID").val() },
                success: function (fleets) {
                    $.each(fleets, function (i, fleet) {
                        $("#FleetID").append('<option value="' + fleet.Value + '">' +
                            fleet.Text + '</option>');
                    });
                },
                error: function (ex) {
                    // alert('Failed to retrieve Fleet.' + ex);
                }
            });
            return false;
        });

    });
</script>
<script type="text/javascript">
    $(function () {
        $('#transaction_DDriverNo').autocomplete({
            source: function (request, response) {
                var fid = $("#FleetID").val();
                $.getJSON("/DriverRecord/getDriverData?driverNumber=" + request.term + "&fleetId=" + fid, function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });
    });
</script>

<script type="text/javascript">
    function validation() {
        var sDate = $('#startdatepicker').val().length;
        var eDate = $('#enddatepicker').val().length;
        var stratDate = $('#startdatepicker').val();
        var endDate = $('#enddatepicker').val();
        if (sDate > 1) {
            if (isDate(stratDate) == false) {
                return false;
            }
            else {
                $("#startDateString").val($('#startdatepicker').val());
            }
        }
        else {
            $("#startDateString").val(null);
        }
        if (eDate > 1) {
            if (isDate(endDate) == false) {
                return false;
            }
            else {
                $("#endDateString").val($('#enddatepicker').val());
            }
        }
        else {
            $("#endDateString").val(null);
        }
        var count = $('.jtable tr').length;
        if (count <= 1) {
            $("#valrec").show();
            return false;
        }
        else {
            $("#valrec").hide();
        }
    }

</script>

<script type="text/javascript">
    function active() {
        if (parseInt(document.getElementById('usrType').value) == 2) {
            document.getElementById("rep").className += " activeLi" + " activemenu";
         
            
        }
        if (parseInt(document.getElementById('usrType').value) == 3) {
            document.getElementById("trep").className += " activeLi" + " activemenu";
        }
        if (parseInt(document.getElementById('usrType').value) == 4) {
            document.getElementById("rep").className += " activeLi" + " activemenu";
        }
    }
</script>
<script type="text/javascript">
    $("#driverID").change(function () {
        $("#transaction_DriverNo").val($(this).val());
        $("#DNumber").val($(this).val());

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#FleetID").change(function () {
            var flee = $("#FleetID").val();
            $("#fleetID").val(flee);
            $("#driverID").empty();
            if ($("#TType").val() == "Car Owner") {
                $.ajax({
                    url: '/Transaction/GetPayCarOwners',
                    dataType: 'json',
                    data: { fleetID: $("#FleetID").val() },
                    success: function (data) {
                        $("#driverP").hide();
                        $("#OwnerP").show();
                        $("#driverID").show();
                        $("#driverID").append('<option value="">--Please Select a Car Owner--</option>');
                        $.each(data, function (i, data) {
                            $("#driverID").append('<option value="' + data.Id + '">' +
                                data.OwnerName + '</option>');
                        });
                    },
                    error: function (ex) {
                        $("#driverP").hide();
                        $("#OwnerP").hide();
                        $("#driverID").hide();
                        $("#driverID").append('<option value="">--Please Select a Car Owner--</option>');
                    }
                });
            }
            else if ($("#TType").val() == "Driver") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCarsDrivers", "CountryState")',
                    dataType: 'json',
                    data: { id: $("#FleetID").val() },
                    success: function (ob) {
                        $("#OwnerP").hide();
                        $("#driverP").show();
                        $("#driverID").show();
                        $("#driverID").append('<option value="">--Please Select a Driver--</option>');
                        $.each(ob.DriverList, function (i, DriverList) {
                            $("#driverID").append('<option value="' + DriverList.DriverNumber + '">' +
                                DriverList.DriverNumber + '</option>');
                        });
                    },
                    error: function (ex) {
                        $("#driverP").hide();
                        $("#OwnerP").hide();
                        $("#driverID").hide();
                        $("#driverID").append('<option value="">--Please Select a Driver--</option>');
                    }
                });
            }
            else if ($("#TType").val() == "Network")
            {
                $("#lblDriver").show();
                $("#lblOwner").show();
                $("#radioDriver").show();
                $("#radioOwner").show();
                $("#driverP").hide();
                $("#OwnerP").hide();
                $("#driverID").hide();
                $('input[name=choices]').prop('checked', false);          
            }
            return false;
        });
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TType").change(function () {
            $("#driverP").hide();
            $("#OwnerP").hide();
            $("#driverID").hide();
            $("#FleetID").empty();
            $("#lblDriver").hide();
            $("#lblOwner").hide();
            $("#radioDriver").hide();
            $("#radioOwner").hide();
            var Mid = $("#MerchantId").val();
            if ($("#TType").val() == "Driver") {
                $.ajax({
                    url: '/Transaction/GetPayFleetList',
                    dataType: 'json',
                    data: { PayerId: "1", merchantId: Mid },
                    success: function (data) {
                        $("#FleetID").append('<option value="">--Please Select a Fleet--</option>');
                        $.each(data, function (i, data) {
                            $("#FleetID").append('<option value="' + data.FleetID + '">' +
                                                       data.FleetName + '</option>');
                        });
                    },
                    error: function (ex) {
                        $("#FleetID").append('<option value="">--Please Select a Fleet--</option>');
                    }
                });
            }
            else if ($("#TType").val() == "Car Owner") {
                $.ajax({
                    url: '/Transaction/GetPayFleetList',
                    dataType: 'json',
                    data: { PayerId: "2", merchantId: Mid },
                    success: function (data) {
                        $("#FleetID").append('<option value="">--Please Select a Fleet--</option>');
                        $.each(data, function (i, data) {
                            $("#FleetID").append('<option value="' + data.FleetID + '">' +
                                                       data.FleetName + '</option>');
                        });
                    },
                    error: function (ex) {
                        $("#FleetID").append('<option value="">--Please Select a Fleet--</option>');
                    }
                });
            }
            else if ($("#TType").val() == "Network") {
                $.ajax({
                    url: '/Transaction/GetPayFleetList',
                    dataType: 'json',
                    data: { PayerId: "3", merchantId: Mid },
                    success: function (data) {
                        $("#FleetID").append('<option value="">--Please Select a Fleet--</option>');
                        $.each(data, function (i, data) {
                            $("#FleetID").append('<option value="' + data.FleetID + '">' +
                                                       data.FleetName + '</option>');
                        });
                    },
                    error: function (ex) {
                        $("#FleetID").append('<option value="">--Please Select a Fleet--</option>');
                    }
                });
            }
            else {
                $("#FleetID").append('<option value="">--Please Select a Fleet--</option>');
                $("#driverP").hide();
                $("#OwnerP").hide();
                $("#driverID").hide();
            }
            return false;
        });
    });

</script>
<script type="text/javascript">
    if ($('input[name=choices]').click(function () {
       if ($('input[name=choices]:checked').val() == 1)
    {
        $("#transaction_NetworkType").val($('input[name=choices]:checked').val());
         $.ajax({
        type: 'POST',
        url: '@Url.Action("GetCarsDrivers", "CountryState")',
        dataType: 'json',
        data: { id: $("#FleetID").val() },
        success: function (ob) {
                        $("#OwnerP").hide();
                        $("#driverP").show();
                        $("#driverID").show();
                        $('#driverID').empty();
                        $("#driverID").append('<option value="">--Please Select a Driver--</option>');
                        $.each(ob.DriverList, function (i, DriverList) {
                            $("#driverID").append('<option value="' + DriverList.DriverNumber + '">' +
                                DriverList.DriverNumber + '</option>');
        });
        },
        error: function (ex) {
                        $("#driverP").hide();
                        $("#OwnerP").hide();
                        $("#driverID").hide();
                        $("#driverID").append('<option value="">--Please Select a Driver--</option>');
          }
        });
      }
      else if($('input[name=choices]:checked').val()==2)
    {
             $("#transaction_NetworkType").val($('input[name=choices]:checked').val());
             $.ajax({
             url: '/Transaction/GetPayCarOwners',
             dataType: 'json',
             data: { fleetID: $("#FleetID").val() },
             success: function (data) {
                        $("#driverP").hide();
                        $("#OwnerP").show();
                        $("#driverID").show();
                        $('#driverID').empty();
                        $("#driverID").append('<option value="">--Please Select a Car Owner--</option>');
                        $.each(data, function (i, data) {
                            $("#driverID").append('<option value="' + data.Id + '">' +
                                data.OwnerName + '</option>');
               });
              },
            error: function (ex) {
                        $("#driverP").hide();
                        $("#OwnerP").hide();
                        $("#driverID").hide();
                        $("#driverID").append('<option value="">--Please Select a Car Owner--</option>');
          }
         });
        }
       
    }));
</script>


<script language="Javascript">
    /**
     * DHTML date validation script for dd/mm/yyyy. Courtesy of SmartWebby.com (http://www.smartwebby.com/dhtml/datevalidation.asp)
     */
    // Declaring valid date character, minimum year and maximum year
    var dtCh = "-";
    var minYear = 1900;
    var maxYear = 2100;

    function isInteger(s) {
        var i;
        for (i = 0; i < s.length; i++) {
            // Check that current character is number.
            var c = s.charAt(i);
            if (((c < "0") || (c > "9"))) return false;
        }
        // All characters are numbers.
        return true;
    }

    function stripCharsInBag(s, bag) {
        var i;
        var returnString = "";
        // Search through string's characters one by one.
        // If character is not in bag, append to returnString.
        for (i = 0; i < s.length; i++) {
            var c = s.charAt(i);
            if (bag.indexOf(c) == -1) returnString += c;
        }
        return returnString;
    }

    function daysInFebruary(year) {
        // February has 29 days in any year evenly divisible by four,
        // EXCEPT for centurial years which are not also divisible by 400.
        return (((year % 4 == 0) && ((!(year % 100 == 0)) || (year % 400 == 0))) ? 29 : 28);
    }
    function DaysArray(n) {
        for (var i = 1; i <= n; i++) {
            this[i] = 31
            if (i == 4 || i == 6 || i == 9 || i == 11) { this[i] = 30 }
            if (i == 2) { this[i] = 29 }
        }
        return this
    }

    function isDate(dtStr) {
        var daysInMonth = DaysArray(12)
        var pos1 = dtStr.indexOf(dtCh)
        var pos2 = dtStr.indexOf(dtCh, pos1 + 1)
        var strMonth = dtStr.substring(0, pos1)
        var strDay = dtStr.substring(pos1 + 1, pos2)
        var strYear = dtStr.substring(pos2 + 1)
        strYr = strYear
        if (strDay.charAt(0) == "0" && strDay.length > 1) strDay = strDay.substring(1)
        if (strMonth.charAt(0) == "0" && strMonth.length > 1) strMonth = strMonth.substring(1)
        for (var i = 1; i <= 3; i++) {
            if (strYr.charAt(0) == "0" && strYr.length > 1) strYr = strYr.substring(1)
        }
        month = parseInt(strMonth)
        day = parseInt(strDay)
        year = parseInt(strYr)
        if (pos1 == -1 || pos2 == -1) {
            alert('Please enter date in valid format : mm-dd-yyyy');
            return false
        }
        if (strMonth.length < 1 || month < 1 || month > 12) {
            alert('Please enter date in valid format : mm-dd-yyyy');
            return false
        }
        if (strDay.length < 1 || day < 1 || day > 31 || (month == 2 && day > daysInFebruary(year)) || day > daysInMonth[month]) {
            alert('Please enter date in valid format : mm-dd-yyyy');
            return false
        }
        if (strYear.length != 4 || year == 0 || year < minYear || year > maxYear) {
            alert('Please enter date in valid format : mm-dd-yyyy');
            return false
        }
        if (dtStr.indexOf(dtCh, pos2 + 1) != -1 || isInteger(stripCharsInBag(dtStr, dtCh)) == false) {
            alert('Please enter date in valid format : mm-dd-yyyy');
            return false
        }
        return true
    }

</script>
