﻿@using System.Web.UI.WebControls
@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.TxnSearch

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Transaction Report </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/txt-validation.js"></script>
    <script src="~/Content/moment.js"></script>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="~/js/custom.js"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.1/themes/start/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function AjaxRefundVoidss() {
            HideDialogs(true);
            $('#TransNote').val('');
            $('#Amount').val('');
            $('#Amount').removeAttr('readonly');
            $("#missedValue").removeClass("missedValue");
            e.preventDefault();
        }
    </script>
    <script type="text/javascript">
        function AjaxRefundVoids(id, ttye, amt) {
            $('#hdndID').val(id);
            $('#hdndtype').val(ttye);
            $('#hdnAmount').val(amt);
            $('#Amount').val(amt);
            if (ttye == "Void") {
                $('#Amount').attr('readonly', 'true');
                $('#hdnAmount').val(amt);
            }
            else {
                $('#Amount').removeAttr('readonly');
            }
            ShowDialogs(true);
        }
        function ShowDialogs(modal) {
            $("#overlayconf").show();
            $("#dialogconf").fadeIn(300);
            if (modal) {
                $("#overlayconf").unbind("click");
            } else {
                $("#overlayconf").click(function (e) {
                    HideDialogs();
                });
            }
        }
        function HideDialogs() {
            $("#overlayconf").hide();
            $("#dialogconf").fadeOut(300);
        }
    </script>
    <script src="~/Scripts/jquery.simple-dtpicker.js"></script>
    <link href="~/Content/jquery.simple-dtpicker.css" rel="stylesheet" />

    <script type="text/javascript">
        function AjaxRefundVoid() {
            var txtAmount = parseFloat($("#Amount").val().trim());
            var olderAmount = parseFloat($("#hdnAmount").val());
            if (txtAmount > olderAmount || isNaN(txtAmount) || txtAmount==0) {
                return false;
            }
            HideDialogs();
            ShowDialog(true);
            $.ajax({
                url: '/Transaction/RefundVoid?transId=' + $('#hdndID').val() + '&tType=' + $('#hdndtype').val() + "&transNote=" + $('#TransNote').val() + "&amount=" + $('#Amount').val(),
                type: 'POST',
                success: function (result) {
                    if (result > 0) {
                        window.location.href = "/TransactionHistory/Index?tId=" + result;
                    }
                    if (result == 0) {
                        HideDialog(true);
                        document.getElementById("cant").style.display = "block";
                        e.preventDefault();
                    }
                    else {
                        HideDialog(true);
                        document.getElementById("insError").style.display = "block";
                        $('#fdmsg').text(result);
                        e.preventDefault();
                    }
                }
            });
        }

        function ShowDialog(modal) {
            $("#overlay").show();
            $("#dialog").fadeIn(300);
            if (modal) {
                $("#overlay").unbind("click");
            }
            else {
                $("#overlay").click(function (e) {
                    HideDialog();
                });
            }
        }

        function HideDialog() {
            $("#overlay").hide();
            $("#dialog").fadeOut(300);
        }
    </script>

    <style type="text/css">
        .web_dialog_overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: #000000;
            opacity: .55;
            filter: alpha(opacity=15);
            -moz-opacity: .15;
            z-index: 101;
            display: none;
        }

        .web_dialog {
            display: none;
            position: fixed;
            width: 300px;
            height: 115px;
            top: 30%;
            left: 50%;
            margin-left: -190px;
            margin-top: -100px;
            background-color: transparent;
            padding: 0px;
            z-index: 102;
            font-family: Verdana;
            font-size: 10pt;
        }

        .web_dialog_title {
            border-bottom: solid 2px #336699;
            background-color: #336699;
            padding: 4px;
            color: White;
            font-weight: bold;
        }

            .web_dialog_title a {
                color: White;
                text-decoration: none;
            }

        .align_right {
            text-align: right;
        }
    </style>

    <style type="text/css">
        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #1C78DE;
        }

        .requiredfields {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_TransactionSearch", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @*<div class="table">*@
                        <h4>Transaction Report</h4>
                        <hr />
                        @Html.ValidationSummary(true)
                        <div id="output"></div>
                        <div id="overlay" class="web_dialog_overlay"></div>
                        <div id="dialog" class="web_dialog">
                            <table style="width: 100%; border: 0;" cellpadding="3" cellspacing="0">
                                <tr>
                                    <td colspan="2" style="padding-left: 15px;">
                                        <img src="~/Images/processing.gif" />

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="output"></div>
                        <div id="overlayconf" class="web_dialog_overlay"></div>
                        <div id="dialogconf" class="web_dialog">
                            <table style="width: 100%; border: 2px solid #FDBE21; background-color: white" cellpadding="3" cellspacing="0">
                                <tr>
                                    <td colspan="2" style="color: gray; text-align: center">
                                        <h5>Are you sure you want to proceed...?</h5>
                                        <p id="missedValue" style="font-size:10px">Refund/Void amount should be less then or equal to transaction amount</p>
                                        <center>
                                            @Html.TextBoxFor(model => model.Amount, new { Placeholder = "Enter Amount", @class = "form-control req", onkeyup = "CalculateAmt(this, 10)" })
                                            <br />
                                            @Html.TextAreaFor(model => model.TransNote, new { Placeholder = "Write any reason", @class = "form-control req" })
                                        </center>
                                    </td>
                                <tr><td colspan="2">&nbsp;</td></tr>
                                <tr>
                                    <td>
                                        <input type="hidden" id="hdndID" value="" />
                                        <input type="hidden" id="hdndtype" value="" />
                                        <input type="hidden" id="hdnAmount" value="" />
                                        
                                        <center><a href="#" id="btnProceed" onclick="AjaxRefundVoid()" style="text-decoration: none" class="btnu">Proceed</a></center>
                                    </td>
                                    <td><center><a href="#" style="text-decoration: none" class="btn1" onclick="AjaxRefundVoidss()">Cancel</a></center></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        &nbsp;

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table style="width: 98%;">
                            <tr>
                                <td colspan="2">
                                    @if (ViewBag.Message != null)
                                    {
                                        <p style="color: red;">@ViewBag.Message</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 33%">
                                    Fleet Name<br />
                                    @Html.DropDownListFor(m => m.fk_FleetId, new SelectList(Model.fleetlist, "FleetID", "FleetName", Model.fk_FleetId), "--Please Select a Fleet--", new { @class = "form-control",  })
                                </td>

                                <td style="width: 33%">
                                    Car Number<br />
                                    @Html.DropDownListFor(m => m.VNumber, new SelectList(Model.CarList, "VehicleNumber", "VehicleNumber", Model.VNumber), "--Please Select a Car--", new { @class = "form-control" })
                                </td>

                                <td style="width: 33%">
                                    Driver Number<br />
                                    @Html.DropDownListFor(m => m.DNumber, new SelectList(Model.DriverList, "DriverNumber", "DriverNumber", Model.DNumber), "--Please Select a Driver--", new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr><td colspan="3">&nbsp;</td></tr>
                            <tr>
                                <td style="width: 33%">
                                    Transaction Type<br />
                                    @{
                                        var listItem = new List<ListItem>
                                        {
                                            new ListItem {Text = "Sale", Value = "Sale"},
                                            new ListItem {Text = "Refund", Value = "Refund"},
                                            new ListItem {Text = "Authorization", Value = "Authorization"},
                                            new ListItem {Text = "Void", Value = "Void"},
                                            new ListItem {Text = "Completion", Value = "Completion"},

                                        };
                                    }
                                    @Html.DropDownListFor(m => m.TType, new SelectList(listItem), "-- Select transaction type--", new { @class = "form-control" })
                                </td>
                                <td style="width: 33%">
                                    Entry Mode<br />
                                    @{
                                        var listItemMode = new List<ListItem>
                                        {
                                            new ListItem {Text = "EMV Contact", Value = "EmvContact"},
                                            new ListItem {Text = "EMV Contactless", Value = "EMVContactless"},
                                            new ListItem {Text = "FSwiped", Value = "FallbackSwiped"},
                                            new ListItem {Text = "Keyed", Value = "Keyed"},
                                            new ListItem {Text = "Swiped", Value = "Swiped"},
                                        };
                                    }
                                    @Html.DropDownListFor(m => m.Industry, new SelectList(listItemMode, "Value", "Text"), "-- Select entry mode--", new { @class = "form-control" })
                                </td>

                                @if (System.Configuration.ConfigurationManager.AppSettings["Project"] == "CN")
                                {
                                    <td style="width: 33%">
                                        Card Type<br />
                                        @{
                                            var listCardType = new List<ListItem>
                                            {
                                                new ListItem {Text = "Amex", Value = "Amex"},
                                                new ListItem {Text = "Diners", Value = "Diners"},
                                                new ListItem {Text = "Discover", Value = "Discover"},
                                                new ListItem {Text = "JCB", Value = "JCB"},
                                                new ListItem {Text = "MasterCard", Value = "MasterCard"},
                                                new ListItem {Text = "Visa", Value = "Visa"},
                                                new ListItem {Text = "Interac", Value = "Interac"},
                                            };
                                        }
                                        @Html.DropDownListFor(model => model.CrdType, new SelectList(listCardType), "-- Select card type --", new { Class = "form-control" })
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 33%">
                                        Card Type<br />
                                        @{
                                            var listCardType = new List<ListItem>
                                            {
                                                new ListItem {Text = "Amex", Value = "Amex"},
                                                new ListItem {Text = "Diners", Value = "Diners"},
                                                new ListItem {Text = "Discover", Value = "Discover"},
                                                new ListItem {Text = "JCB", Value = "JCB"},
                                                new ListItem {Text = "MasterCard", Value = "MasterCard"},
                                                new ListItem {Text = "Visa", Value = "Visa"},
                                            };
                                        }
                                        @Html.DropDownListFor(model => model.CrdType, new SelectList(listCardType), "-- Select card type --", new { Class = "form-control" })
                                    </td>
                                }
                            </tr>
                            <tr><td colspan="3">&nbsp;</td></tr>
                            <tr>
                                <td style="width: 33%">
                                    <table style="width:auto">
                                        <tr>
                                            <td style="width: 130px">
                                                Transaction Id<br />
                                                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", onkeyup = "AllowNumbers(this, 10),", @style = "witdh:40px" })
                                            </td>
                                            <td style="width: 20px">&nbsp;</td>
                                            <td style="width: 130px">
                                                Approval Id<br />
                                                @Html.TextBoxFor(m => m.AId, new { @class = "form-control", @style = "witdh:40px" })
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td style="width: 33%">
                                    Card First Four Digits<br />
                                    @Html.TextBoxFor(m => m.FFD, new { @class = "form-control", onkeyup = "AllowNumbers(this, 4)", placeholder = "First four digits" })
                                </td>

                                <td style="width: 33%">
                                    Card Last Four Digits<br />
                                    @Html.TextBoxFor(m => m.LFD, new { @class = "form-control", onkeyup = "AllowNumbers(this, 4)", placeholder = "Last four digits" })
                                </td>
                            </tr>
                            <tr><td colspan="3">&nbsp;</td></tr>

                            <tr>
                                <td style="width: 33%">
                                    Date From<br />
                                    @Html.TextBoxFor(m => m.startDate, new { @id = "datepicker", @class = "form-control" })
                                </td>
                                <td style="width: 33%">
                                    Date To<br />
                                    @Html.TextBoxFor(m => m.endDate, new { @id = "datepicker1", @class = "form-control" })
                                </td>

                                <td style="width: 33%">
                                    Card Expiry Date<br />
                                    @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "form-control", onkeyup = "AllowNumbers(this, 4)", placeholder = "MMYY" })
                                </td>
                            </tr>

                            <tr><td colspan="3">&nbsp;</td></tr>

                            <tr>

                                <td style="width: 33%">
                                    <table style="width:auto">
                                        <tr>
                                            <td style="width: 130px">
                                                Min Amount<br />
                                                @Html.TextBoxFor(m => m.MinAmt, new { @class = "form-control", onkeyup = "AllowDecimalNumbers(this, 10)", placeholder = "Min Amount" })
                                            </td>
                                            <td style="width: 20px">&nbsp;</td>
                                            <td style="width: 130px">
                                                Max Amount<br />
                                                @Html.TextBoxFor(m => m.MaxAmt, new { @class = "form-control", onkeyup = "AllowDecimalNumbers(this, 10)", placeholder = "Max Amount" })
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 33%">
                                    MTData Job Number
                                    <br />
                                    @Html.TextBoxFor(m => m.JobNumber, new { @class = "form-control", onkeyup = "AllowNumbers(this, 12)", placeholder = "MTData Job Number" })
                                </td>
                                <td style="width: 33%">
                                    <table style="width:auto">
                                        <tr>
                                            <td style="width: 142px">
                                                Approval Status <br />
                                                @Html.HiddenFor(m => m.AddRespData)
                                                <input type="radio" value="Approved" name="status" id="approved"> <span> Approved</span>&nbsp;
                                                <input type="radio" value="Rejected" name="status" id="rejected"><span> Declined </span>
                                                @Html.HiddenFor(m => m.PageSize)
                                                @Html.HiddenFor(m => m.Currency)
                                            </td>
                                            <td style="width: 12px">&nbsp;</td>
                                            <td style="width: 130px">
                                                Is Verified?<br />
                                                @Html.HiddenFor(m => m.IsVarified)
                                                <input type="radio" value="1" name="varified" id="yesvarified"> <span> Yes</span>&nbsp;
                                                <input type="radio" value="0" name="varified" id="novarified"><span>No</span>&nbsp;
                                                <input type="radio" value="" name="varified" id="both"><span>Both</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td colspan="3">&nbsp;</td></tr>
                            <tr>
                                <td colspan="3">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="width:48%">
                                                <table style="width:auto">
                                                    <tr>
                                                        <td style="width: 130px">
                                                            Rapid Connect Id<br />
                                                            @Html.TextBoxFor(m => m.TerminalId, new { @class = "form-control", placeholder = "Rapid Connect ID" })
                                                        </td>
                                                        <td style="width: 20px">&nbsp;</td>
                                                        <td style="width: 130px">
                                                            Device Serial Number<br />
                                                            @Html.TextBoxFor(m => m.SerialNo, new { @class = "form-control", placeholder = "Serial Number" })
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                            <td style="width:20%; text-align:right">
                                                <button type="submit" id="LoadRecordsButton" class="btn btn-warning btn-login" style="width: 136px">Search</button>
                                            </td>
                                            <td style="width:40%; text-align:right">
                                                <input type="reset" id="rst" tabindex="-1" class="btn btn-warning btn-login" style="width: 136px" value="Reset" /> &nbsp;
                                                <input type="submit" value="Export to excel" class="btn btn-warning btn-login" id="Command" name="Command" tabindex="-1" onclick=" return validation();" />
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            @Html.HiddenFor(m => m.AddRespData)
                            <tr>
                                <td>&nbsp;</td>
                                <td colspan="2" id="cant" style="text-align: center; padding: 6px; vertical-align: top; display: none; color: red">This Transaction can't be Void.</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td colspan="2" id="insError" style="text-align: center; padding: 6px; vertical-align: top; display: none; color: red"><label id="fdmsg"></label></td>
                            </tr>
                        </table>
                          <input type="hidden" id="startDateString" name="startDateString">
                        <input type="hidden" id="endDateString" name="endDateString">
                         @Html.HiddenFor(m => m.Export)
                         @Html.HiddenFor(m => m.IsAll)
                    }
                    <div id="StudentTableContainer" class="transaction-grid">

                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var size = $("#PageSize").val();
                            var currency = $("#Currency").val();
                            $('#StudentTableContainer').jtable({
                                pageSize: size,
                               paging: true,
                               sorting: true,
                                defaultSorting: 'Vehicle',
                                actions: {
                                    listAction: '/Transaction/TransactionListByFilter'
                                },
                                fields: {
                                    IsVarified: {
                                        title: 'IsVer? <input type="Checkbox" id="headerChk" onclick="handleHeadClick(this);">',
                                        sorting: false,
                                        width: '5%',
                                        display: function (data) {
                                            if (data.record.IsVarified) {
                                                return '<input type="Checkbox" id="' + data.record.Id + '" Value="' + data.record.IsVarified + '"Checked="' + data.record.IsVarified + '" onclick="handleClick(this);">';
                                            }
                                            return '<input type="Checkbox" id="' + data.record.Id + '" Value="' + data.record.IsVarified + '" onclick="handleClick(this);">';
                                        }
                                    },
                                    IsDownloaded: {
                                        title: 'Is D/L',
                                        sorting: false,
                                        width: '5%',
                                        display: function (data) {
                                            if (data.record.IsDownloaded) {
                                                return '<input type="Checkbox" id="' + data.record.Id + '" Value="' + data.record.IsDownloaded + '"Checked="' + data.record.IsDownloaded + '" disabled="disabled"">';
                                            }
                                            return '<input type="Checkbox" id="' + data.record.Id + '" Value="' + data.record.IsDownloaded + '" disabled="disabled">';
                                        }
                                    },
                                    Id: {
                                        title: 'TxnNo.',
                                        sorting: false,
                                        width: '10%',
                                        key: true
                                    },
                                    AuthId: {
                                        title: 'Auth. Id',
                                        width: '8%',
                                        sorting: false
                                    },
                                    VehicleNo: {
                                        title: 'Vehicle Number',
                                        width: '9%',
                                        sorting: true
                                    },
                                    DriverNo: {
                                        title: 'Driver Number',
                                        width: '9%',
                                        sorting: true
                                    },
                                    StringDateTime: {
                                        title: 'Date',
                                        width: '15%',
                                        sorting: true,
                                         
                                    },
                                    PaymentType: {
                                        title: 'Credit/ Debit',
                                        sorting: true
                                    },

                                    TxnType: {
                                        title: 'Txn Type',
                                        sorting: true,
                                        width: '12%',
                                    },
                                    TechFee: {
                                        title: 'Tech Fee',
                                        sorting: false,
                                        display: function (data) {
                                            if (data.record.TechFee != null) {
                                                return (currency + ' ' + data.record.TechFee.toFixed(2));
                                            } else {
                                                return (currency + ' ' + 0.00);
                                            }
                                        }
                                    },
                                    FleetFee: {
                                        title: 'Fleet Fee',
                                        sorting: false,
                                        display: function (data) {
                                            if (data.record.FleetFee != null) {
                                                return (currency + ' ' + data.record.FleetFee.toFixed(2));
                                            } else {
                                                return (currency + ' ' + 0.00);
                                            }
                                        }
                                    },
                                    Surcharge: {
                                        title: 'Sur',
                                        sorting: false,
                                        width: '5%',
                                        display: function (data) {
                                            if (data.record.Surcharge != null) {
                                                return (currency + ' ' + data.record.Surcharge.toFixed(2));
                                            } else {
                                                return (currency + ' ' + 0.00);
                                            }
                                        }
                                    },
                                    Amount: {
                                        title: 'Amt',
                                        width: '7%',
                                        sorting: true,
                                        display: function (data) {
                                            if (data.record.Amount != null) {
                                                return (currency + ' ' + data.record.Amount.toFixed(2));
                                            }
                                            else {
                                                return (currency + ' ' + 0.00);
                                            }
                                        }
                                    },
                                    CardType: {
                                        title: 'Card Type',
                                        width: '13%',
                                        sorting: true
                                    },
                                    IsCompleted: {
                                        title: 'C',
                                        width: '5%',
                                        type: 'checkbox',
                                        list: false,
                                        values: { 'false': '0', 'true': '1' }
                                    },
                                    IsVoided: {
                                        title: 'V',
                                        width: '5%',
                                        list: false,
                                        type: 'checkbox',
                                        values: { 'false': '0', 'true': '1' }
                                    },
                                    ResponseCode: {
                                        title: 'S',
                                        width: '5%',
                                        list: false
                                    },
                                    IsRefunded: {
                                        title: 'R',
                                        list: false,
                                        width: '5%',
                                        type: 'checkbox',
                                        values: { 'false': '0', 'true': '1' }
                                    },
                                    TransmissionDateTime: {
                                        title: 'R',
                                        list: false,
                                        width: '5%'
                                    },
                                    IsChargeBackAllow: {
                                        title: 'Charge',
                                        list: false,
                                        width: '5%'
                                    },
                                    AddRespData: {
                                        title: 'Approval',
                                        width: '10%',
                                        sorting: true
                                    },
                                    View: {
                                        title: 'View',
                                        sorting: false,
                                        width: '5%',
                                        display: function (data) {
                                            return '<a  href="/TransactionHistory?tId=' + data.record.Id + '">Detail</a>';
                                        },
                                    },
                                    Refund: {
                                        title: 'Refund',
                                        sorting: false,
                                        width: '8%',
                                        display: function (data) {
                                            var header = $('#StudentTableContainer').find('.jtable-column-header').find('.jtable-column-header-text').find("#headerChk").prop('checked', false);
                                            if (data.record.IsChargeBackAllow) {
                                                if (data.record.TxnType == "Completion" && data.record.IsVoided == 0 && (data.record.ResponseCode == "000" || data.record.ResponseCode == "00")) {
                                                    return '<a  href="#" onclick="AjaxRefundVoids(' + data.record.Id + ',\'Refund\',' + data.record.Amount + ')">Refund</a>';
                                                }
                                                if (data.record.TxnType == "Refund") {
                                                    return '<a  href="#">N/A</a>';
                                                }
                                                if (data.record.TxnType == "Void") {
                                                    return '<a  href="#">N/A</a>';
                                                }
                                                if (data.record.IsRefunded == 1) {
                                                    return '<a  href="#">Done</a>';
                                                }
                                                if (data.record.PaymentType == "Debit" && data.record.EntryMode == "Swiped") {
                                                    return '<a  href="#">N/A</a>';
                                                }
                                                if (data.record.TxnType == "Sale" && data.record.IsRefunded == 0 && data.record.IsVoided == 0 && (data.record.ResponseCode == "000" || data.record.ResponseCode == "00" || data.record.ResponseCode == "002")) {
                                                    return '<a  href="#" onclick="AjaxRefundVoids(' + data.record.Id + ',\'Refund\',' + data.record.Amount + ')">Refund</a>';
                                                }
                                                if (data.record.TxnType == "Authorization" && data.record.IsCompleted == 0 && (data.record.ResponseCode == "000" || data.record.ResponseCode == "00")) {
                                                    return '<a  href="#" onclick="AjaxRefundVoids(' + data.record.Id + ',\'Refund\',' + data.record.Amount + ')">Refund</a>';
                                                }
                                                if (data.record.TxnType == "Sale" && data.record.PaymentType == "Debit" && data.record.EntryMode == "Keyed" && data.record.IsRefunded == 0 && data.record.IsVoided == 0 && (data.record.ResponseCode == "000" || data.record.ResponseCode == "00" || data.record.ResponseCode == "002")) {
                                                    return '<a  href="#" onclick="AjaxRefundVoids(' + data.record.Id + ',\'Refund\',' + data.record.Amount + ')">Refund</a>';
                                                }
                                            }
                                            return '<a  href="#">N/A</a>';
                                        }
                                    },
                                    Void: {
                                        title: 'Void',
                                        sorting: false,
                                        width: '12%',
                                        display: function (data) {
                                            if (data.record.TxnType == "Refund") {
                                                return '<a  href="#">N/A</a>';
                                            }
                                            if (data.record.TxnType == "Void") {
                                                return '<a  href="#">N/A</a>';
                                            }
                                            if (data.record.PaymentType == "Debit" && data.record.EntryMode == "Keyed") {
                                                return '<a  href="#">N/A</a>';
                                            }
                                            if (data.record.IsVoided == 1) {
                                                return '<a  href="#">Done</a>';
                                            }
                                            if (data.record.TxnType == "Sale" && data.record.IsRefunded == 0 && data.record.IsVoided == 0 && (data.record.ResponseCode == "000" || data.record.ResponseCode == "00" || data.record.ResponseCode == "002")) {
                                                return '<a  href="#" onclick="AjaxRefundVoids(' + data.record.Id + ',\'Void\',' + data.record.Amount + ')">Void</a>';
                                            }
                                            if (data.record.TxnType == "Authorization" && data.record.IsCompleted == 1 && (data.record.ResponseCode == "000" || data.record.ResponseCode == "00")) {
                                                return '<a  href="#" onclick="AjaxRefundVoids(' + data.record.Id + ',\'Void\',' + data.record.Amount + ')">Void</a>';
                                            }
                                            if (data.record.TxnType == "Completion" && data.record.IsVoided == 0) {
                                                return '<a  href="#" onclick="AjaxRefundVoids(' + data.record.Id + ',\'Void\',' + data.record.Amount + ')">Void</a>';
                                            }
                                            if (data.record.PaymentType == "Debit" && data.record.EntryMode == "Swiped" && data.record.IsRefunded == 0 && data.record.IsVoided == 0 && (data.record.ResponseCode == "000" || data.record.ResponseCode == "00" || data.record.ResponseCode == "002")) {
                                                return '<a  href="#" onclick="AjaxRefundVoids(' + data.record.Id + ',\'Void\',' + data.record.Amount + ')">Void</a>';
                                            }
                                            return '<a  href="#">N/A</a>';
                                        }

                                    },
                                    SourceId: {
                                        list: true,
                                        width: '0%',
                                        visibility: 'hidden',
                                        sorting: false,
                                        display: function (data) {
                                            if (data.record.SourceId == "-56") {
                                                //$('#StudentTableContainer').empty();
                                                window.location.href = "../Member/Index";
                                            }
                                        }
                                    },
                                },
                                 
                            });
                             
                            $('#LoadRecordsButton').click(function (e) {
                                var header = $('#StudentTableContainer').find('.jtable-column-header').find('.jtable-column-header-text').find("#headerChk").prop('checked', false);
                                e.preventDefault();
                                validation();
                                var searchCriteria = { VNumber: $('#VNumber').val(), DNumber: $('#DNumber').val(), TType: $('#TType').val(), startDate: $('#datepicker').val(), endDate: $('#datepicker1').val(), Id: $('#Id').val(), approved: $('#approved').is(":checked"), rejected: $('#rejected').is(":checked"), AId: $('#AId').val(), Industry: $('#Industry').val(), ANumber: $('#ANumber').val(), ExpiryDate: $('#ExpiryDate').val(), CrdType: $('#CrdType').val(), MinAmt: $('#MinAmt').val(), MaxAmt: $('#MaxAmt').val(), FFD: $('#FFD').val(), LFD: $('#LFD').val(), fleetId: $('#fk_FleetId').val(), JobNumber: $('#JobNumber').val(), startDateString: $('#datepicker').val(), endDateString: $('#datepicker1').val(), IsVarifiedYes: $('#yesvarified').is(":checked"), IsVarifiedNo: $('#novarified').is(":checked"), IsVarifiedBoth: $('#both').is(":checked"), TerminalId: $('#TerminalId').val(), SerialNo: $('#SerialNo').val() };
                                $('#StudentTableContainer').jtable('load', {
                                    searchCriteria: searchCriteria
                                });
                            });
                        });
                        </script>
                         
                         
                    </div>
                </div>

            </div>
        </div>
    </body>

<script type="text/javascript">
    function validation() {
        var re = /(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])-[0-9]{4} (2[0-3]|[01][0-9]):[0-5][0-9]/;
        var sDate = $('#datepicker').val().length;
        var eDate = $('#datepicker1').val().length;
        var stratDate = $('#datepicker').val();
        var endDate = $('#datepicker1').val();
        if (sDate > 1) {
            if (re.exec(stratDate) == null) {
                alert('Please enter date in valid format : mm-dd-yyyy hh:mm');
                return false;
            }
            else {
                $("#startDateString").val($('#datepicker').val());
            }
        }
        else {
            $("#startDateString").val(null);
        }
        if (eDate > 1) {
            if (re.exec(endDate) == null) {
                alert('Please enter date in valid format : mm-dd-yyyy hh:mm');
                return false;
            }
            else {
                $("#endDateString").val($('#datepicker1').val());
            }
        }
        else {
            $("#endDateString").val(null);
        }

        if ($('#fk_FleetId').val() == 0 && $('#VNumber').val() == 0 && $('#DNumber').val() == 0 && $('#TType').val() == 0 && $('#Industry').val() == 0 && $('#CrdType').val() == 0 && $('#Id').val() == ""
            && $('#AId').val() == "" && $('#FFD').val() == "" && $('#LFD').val() == "" && $('#datepicker').val() == "" && $('#datepicker1').val() == "" && $('#ExpiryDate').val() == "" &&
            $('#MinAmt').val() == "" && $('#MaxAmt').val() == "" && $('#JobNumber').val() == "" && $('#TerminalId').val() == "" && $('#SerialNo').val() == ""
            && $('#AddRespData').val() == "") {
            alert('Please Select or fill some search criteria');
            return false;
        }

        var count = $('.jtable tr').length;
        if (count <= 1) {
            $("#valrec").show();
            return false;

        } else {
            $("#valrec").hide();
        }


    }

    function active() {
        document.getElementById("trep").className += " activeLi" + " activemenu";
    }
</script>

<script type="text/javascript">
    $(function () {
        $('*[name=startDate]').appendDtpicker({
            "dateFormat": "MM-DD-YYYY hh:mm",
            "closeOnSelected": true
        });
    });
    $(function () {
        $('*[name=endDate]').appendDtpicker({
            "dateFormat": "MM-DD-YYYY hh:mm",
            "closeOnSelected": true
        });
    });
</script>

<script type="text/javascript">
    function CalculateAmt(obj, tLength) {
        if (!$(obj).val().match(/^[0-9.]+$/) && $.trim($(obj).val()) != "") {
            $(obj).val($(obj).val().replace(/[^0-9.]/g, ""));
        }
        $(obj).val($(obj).val().slice(0, tLength));
        var txtAmount = parseFloat($("#Amount").val().trim());
        var olderAmount = parseFloat($("#hdnAmount").val());
        if (txtAmount > 0 && txtAmount <= olderAmount) {
            $("#missedValue").removeClass("missedValue");
        }
        else
        {
            $("#missedValue").addClass("missedValue");
        }
    }
</script>

<style type="text/css">
    .missedValue{
       color:red;
    }
</style> 

<script type="text/javascript">
    $(document).ready(function () {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        var today = mm + '-' + dd + '-' + yyyy + ' 00:00';
        $("#datepicker").val(null);
        $("#datepicker1").val(null);
        $("#fk_FleetId").change(function () {
            $("#VNumber").empty();
            $("#DNumber").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCarsDrivers", "CountryState")',
                dataType: 'json',
                data: { id: $("#fk_FleetId").val() },
                success: function (ob) {
                    $("#VNumber").append('<option value="">--Please Select a Car--</option>');
                    $("#DNumber").append('<option value="">--Please Select a Driver--</option>');
                    $.each(ob.CarList, function (i, CarList) {
                        $("#VNumber").append('<option value="' + CarList.VehicleNumber + '">' +
                            CarList.VehicleNumber + '</option>');
                    });
                    $.each(ob.DriverList, function (i, DriverList) {
                        $("#DNumber").append('<option value="' + DriverList.DriverNumber + '">' +
                            DriverList.DriverNumber + '</option>');
                    });
                },
                error: function (ex) {
                    $("#VNumber").append('<option value="">--Please Select a Car--</option>');
                    $("#DNumber").append('<option value="">--Please Select a Driver--</option>');
                }
            });
            return false;
        });
    });

</script>

<script type="text/javascript">
    $('input[type=radio][id=approved]').change(function () {
        $('#AddRespData').val("APPROVAL");
    });
</script>

<script type="text/javascript">
    $('input[type=radio][id=rejected]').change(function () {
        $('#AddRespData').val("DECLINED-005");
    });
</script>

<script type="text/javascript">
    $('input[type=radio][id=both]').change(function () {
        $('#IsVarified').val("");
    });
</script>

<script type="text/javascript">
    $('input[type=radio][id=yesvarified]').change(function () {
        $('#IsVarified').val(true);
    });
</script>

<script type="text/javascript">
    $('input[type=radio][id=novarified]').change(function () {
        $('#IsVarified').val(false);
    });
</script>

<script type="text/javascript">
    function handleClick(cb) {
        var ids = cb.id;
        var state = cb.checked;
        var tIds = $("#Export").val();
        ShowDialog(true);
        if (tIds == "") {
            tIds = ids;
        }
        else {
            tIds = tIds + "," + ids;
        }
        if (state) {
            $("#Export").val(tIds);
            $.ajax({
                url: "/Transaction/Varified?id=" + ids + "&status=" + true,
                type: "POST",
                traditional: false,
                success: function (data) {
                    HideDialog(true);
                }
            });
        }
        else {
            $("#Export").val(tIds);
            $.ajax({
                url: "/Transaction/Varified?id=" + ids + "&status=" + false,
                type: "POST",
                traditional: false,
                success: function (data) {
                    HideDialog(true);
                }
            });
            //document.getElementById(ids).checked = false;
        }
    }
</script>

<script type="text/javascript">
    function handleHeadClick(cb) {
        var tIds = "";
        var state = cb.checked;        
        if (state) {
            var Items = [];
            var $rows = $('#StudentTableContainer').find('.jtable-data-row')
            $.each($rows, function () {
                var id = $(this).attr('data-record-key');
                var isChecked = $('#' + id).is(":checked");
                if (!isChecked) {
                    $('#' + id).attr('checked', true);
                    Items.push({
                        Id: parseInt(id),
                        //Amt: parseFloat('0.00'),
                        Status: true
                    });
                }
                if (tIds == "") {
                    tids = id;
                }
                else {
                    tIds = tIds + "," + id;
                }
                $("#Export").val(tIds);

            });
            if (Items.length > 0) {
                ShowDialog(true);
                $.ajax({
                    url: '/Transaction/VarifyMany',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ ManyTxnClass: Items }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        HideDialog(true);
                    },
                });
            }
        }

    }
</script>