﻿@using MTD.Core.DataTransferObjects
@using MTD.Data.Data
@model MTData.Web.ViewData.TechSummaryViewData
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Technology Fee Report </title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="~/js/custom.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var today = new Date();
            var dd = today.getDate();
            var prevmm = today.getMonth();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm;
                prevmm = '0' + prevmm;
            }
            if (mm == 01) {
                prevmm = 12;
                var yyyyLast = today.getFullYear()-1;
                var lastMonth = prevmm + '-' + dd + '-' + yyyyLast;
                $("#startdatepicker").val(lastMonth);
                $("#startDateString").val(lastMonth);
            }
            else
            {
                var lastMonth = prevmm + '-' + dd + '-' + yyyy;
                $("#startdatepicker").val(lastMonth);
                $("#startDateString").val(lastMonth);
            }
            var today = mm + '-' + dd + '-' + yyyy;
            $("#enddatepicker").val(today);
            $("#endDateString").val(today);

            $("#startdatepicker").datepicker({
                numberOfMonths: 1,
                dateFormat: 'mm-dd-yy',
                onSelect: function (selected) {
                    $("#enddatepicker").datepicker("option", "minDate", selected)
                }
            });
            $("#enddatepicker").datepicker({
                numberOfMonths: 1,
                dateFormat: 'mm-dd-yy',
                onSelect: function (selected) {
                    $("#startdatepicker").datepicker("option", "maxDate", selected)
                }
            });
        });
    </script>
    <style type="text/css">
        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #1C78DE;
        }

        .requiredfields {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_TransactionSearch", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <h4>Tech Fee Summary Report</h4>
                        <hr />
                        @Html.ValidationSummary(true)
                        <table style="width: 99%;">
                            <tr>
                                <td>
                                    @if (ViewBag.Message != null)
                                    {
                                        <p style="color: green;">@ViewBag.Message</p>
                                    }

                                </td>
                            </tr>
                            <tr style="margin-top: 10px;">
                            <tr><td colspan="3" class="space"></td></tr>

                            @{
                        var sessionDto = (SessionDto)Session["User"];
                            }                           
                                <tr>
                                    <td>@Html.Label("Merchant")</td>
                                    <td> @Html.DropDownListFor(m => m.MerchantID, new SelectList(Model.MerchantList, "fk_MerchantID", "Company", Model.MerchantID), "--Select a Merchant--", new { @class = "form-control" })</td>
                                    <td>@Html.Label("Fleet")</td>
                                    <td> @Html.DropDownListFor(m => m.FleetID, new SelectList(Model.FleetList, "FleetID", "FleetName", Model.FleetID), "--Select a Fleet--", new { @class = "form-control" })</td>
                                    <td class="Validate" style="width: 50px"> </td>
                                    <td>
                                        <input type="hidden" id="startDateString" name="startDateString">
                                        <input type="hidden" id="endDateString" name="endDateString">
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>                                                  
                               <tr>
                                <td> <label>Date From</label></td>
                                <td>
                                    @Html.TextBoxFor(m => m.transaction.startDate, new { @id = "startdatepicker", @class = "form-control" })
                                </td>

                                <td> <label>Date To</label></td>

                                <td>
                                    @Html.TextBoxFor(m => m.transaction.endDate, new { @id = "enddatepicker", @class = "form-control" })
                                </td>
                            </tr>                                                
                        </table>

                        <table style="margin-top: 10px; width:100%">
                            <tr>
                                <td class="space"></td>
                            </tr><tr>
                                
                                <td><input type="submit" value="Export to excel" tabindex="-1" class="btn btn-warning btn-login" onclick=" return validation();" /></td>
                                <td colspan="3" style="text-align:right; width:57%">
                                    &nbsp;<p class="field-validation-error" style=" display: none; float:left; margin-left:220px; margin-top:16px;" id="valrec">There is no record to export.</p>
                                    <a href="/Transaction/TechSummary" tabindex="-1" class="btn btn-warning btn-login">Reset</a>&nbsp;&nbsp;
                                </td>
                                <td style="text-align:left; width:206px">
                                    <input type="button" value="Search" class="btn btn-warning btn-login" id="LoadRecordsButton" />

                                </td>

                            </tr>
                            <tr><td class="space"></td></tr>
                        </table>


                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <div id="StudentTableContainer">
                                    </div>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $('#StudentTableContainer').jtable({
                                                paging: true,
                                                sorting: true,
                                                defaultSorting: 'FleetName',
                                                actions: {
                                                    listAction: '/Transaction/TechnologyFeeSummaryListByFiter'
                                                },
                                                fields: {
                                                    TransID: {
                                                        key: true,
                                                        create: false,
                                                        edit: false,
                                                        list: false
                                                    },
                                                    FleetName: {
                                                        title: 'Fleet',
                                                        width: '9%',
                                                        sorting: true
                                                    },
                                                    CountVehicle: {
                                                        title: 'Vehicles Trans',
                                                        width: '10%',
                                                        sorting: true
                                                    },
                                                    AutomaticTrans: {
                                                        title: 'Auto Trans',
                                                        width: '10%',
                                                        sorting: true
                                                    },
                                                    ManualTrans: {
                                                        title: 'Manual Trans',
                                                        width: '10%',
                                                        sorting: true
                                                    },
                                                    CountRefund: {
                                                        title: 'Chargebacks',
                                                        width: '10%',
                                                        sorting: true
                                                    },
                                                    CountVoid: {
                                                        title: 'Voids',
                                                        width: '6%',
                                                        sorting: true
                                                    },
                                                    TotalTrans: {
                                                        title: 'Total Trans',
                                                        width: '8%',
                                                        sorting: true
                                                    },
                                                    TechFee: {
                                                        title: 'Tech Fee',
                                                        width: '9%',
                                                        sorting: true
                                                    },
                                                    FleetFee: {
                                                        title: 'Fleet Fee',
                                                        width: '10%',
                                                        sorting: true
                                                    },
                                                    Surcharge: {
                                                        title: 'Surcharge',
                                                        width: '9%',
                                                        sorting: true
                                                    },
                                                    Booking_Fee: {
                                                     title: 'Fee',
                                                     width: '10%',
                                                     sorting: true
                                                   },      
                                                    TotalAmt: {
                                                    title: 'Amount',
                                                    width: '10%',
                                                    sorting: true
                                            }      
                                                }
                                            });

                                            //Re-load records when user click 'load records' button.
                                            $('#LoadRecordsButton').click(function (e) {
                                                e.preventDefault();
                                                var result = validation();
                                                if (result == false) {
                                                    return false;
                                                }
                                                var searchCriteria = { MerchantId: $('#MerchantID').val(), fleetId: $('#FleetID').val(), startDate: $('#startdatepicker').val(), endDate: $('#enddatepicker').val(), startDateString: $('#startdatepicker').val(), endDateString: $('#enddatepicker').val() };
                                                $('#StudentTableContainer').jtable('load', {
                                                    searchCriteria: searchCriteria,
                                                });
                                            });
                                        });

                                    </script>
                                </td>
                            </tr>
                        </table>

                    }

                </div>
            </div>
        </div>
    </div>

</body>



<script type="text/javascript">
        $(document).ready(function () {
            $("#MerchantID").change(function () {
                if ($('#MerchantID').val() == 0) {
                    $("#FleetID").empty();
                    $("#FleetID").append("<option value='"+"0"+"'>--Select a fleet--</option>");
                } else {
                    $("#FleetID").empty();                  
                }               
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetFleet", "DriverRecord")',
                    dataType: 'json',
                    data: { id: $("#MerchantID").val() },
                    success: function (fleets) {
                        $.each(fleets, function (i, fleet) {
                            $("#FleetID").append('<option value="' + fleet.Value + '">' +
                                fleet.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        // alert('Failed to retrieve Fleet.' + ex);
                    }
                });
                return false;
            });

        });
</script>
<script type="text/javascript">
    function validation() {
        var startDateStr = $('#startdatepicker').val();
        var endDateStr = $('#enddatepicker').val();
        if (startDateStr == '') {
            alert("Please enter date from");
            return false;
        }
        if (endDateStr == '') {
            alert("Please enter date to");
            return false;
        }
        var sDate = $('#startdatepicker').val().length;
        var eDate = $('#enddatepicker').val().length;
        var stratDate = $('#startdatepicker').val();
        var endDate = $('#enddatepicker').val();
        if (sDate > 1) {
            if (isDate(stratDate) == false) {
                return false;
            }
            else {
                $("#startDateString").val($('#startdatepicker').val());
            }
        }
        else {
            $("#startDateString").val(null);
        }
        if (eDate > 1) {
            if (isDate(endDate) == false) {
                return false;
            }
            else {
                $("#endDateString").val($('#enddatepicker').val());
            }
        }
        else {
            $("#endDateString").val(null);
        }
        var count = $('.jtable tr').length;
        if (count <= 1) {
            $("#valrec").show();
            return false;
        }
        else {
            $("#valrec").hide();
        }
    }

</script>

<script type="text/javascript">
    function active() {
        document.getElementById("rep").className += " activeLi" + " activemenu";
    }
</script>
<script language="Javascript">
    /**
     * DHTML date validation script for dd/mm/yyyy. Courtesy of SmartWebby.com (http://www.smartwebby.com/dhtml/datevalidation.asp)
     */
    // Declaring valid date character, minimum year and maximum year
    var dtCh = "-";
    var minYear = 1900;
    var maxYear = 2100;

    function isInteger(s) {
        var i;
        for (i = 0; i < s.length; i++) {
            // Check that current character is number.
            var c = s.charAt(i);
            if (((c < "0") || (c > "9"))) return false;
        }
        // All characters are numbers.
        return true;
    }

    function stripCharsInBag(s, bag) {
        var i;
        var returnString = "";
        // Search through string's characters one by one.
        // If character is not in bag, append to returnString.
        for (i = 0; i < s.length; i++) {
            var c = s.charAt(i);
            if (bag.indexOf(c) == -1) returnString += c;
        }
        return returnString;
    }

    function daysInFebruary(year) {
        // February has 29 days in any year evenly divisible by four,
        // EXCEPT for centurial years which are not also divisible by 400.
        return (((year % 4 == 0) && ((!(year % 100 == 0)) || (year % 400 == 0))) ? 29 : 28);
    }
    function DaysArray(n) {
        for (var i = 1; i <= n; i++) {
            this[i] = 31
            if (i == 4 || i == 6 || i == 9 || i == 11) { this[i] = 30 }
            if (i == 2) { this[i] = 29 }
        }
        return this
    }

    function isDate(dtStr) {
        var daysInMonth = DaysArray(12)
        var pos1 = dtStr.indexOf(dtCh)
        var pos2 = dtStr.indexOf(dtCh, pos1 + 1)
        var strMonth = dtStr.substring(0, pos1)
        var strDay = dtStr.substring(pos1 + 1, pos2)
        var strYear = dtStr.substring(pos2 + 1)
        strYr = strYear
        if (strDay.charAt(0) == "0" && strDay.length > 1) strDay = strDay.substring(1)
        if (strMonth.charAt(0) == "0" && strMonth.length > 1) strMonth = strMonth.substring(1)
        for (var i = 1; i <= 3; i++) {
            if (strYr.charAt(0) == "0" && strYr.length > 1) strYr = strYr.substring(1)
        }
        month = parseInt(strMonth)
        day = parseInt(strDay)
        year = parseInt(strYr)
        if (pos1 == -1 || pos2 == -1) {
            alert('Please enter date in valid format : mm-dd-yyyy');
            return false
        }
        if (strMonth.length < 1 || month < 1 || month > 12) {
            alert('Please enter date in valid format : mm-dd-yyyy');
            return false
        }
        if (strDay.length < 1 || day < 1 || day > 31 || (month == 2 && day > daysInFebruary(year)) || day > daysInMonth[month]) {
            alert('Please enter date in valid format : mm-dd-yyyy');
            return false
        }
        if (strYear.length != 4 || year == 0 || year < minYear || year > maxYear) {
            alert('Please enter date in valid format : mm-dd-yyyy');
            return false
        }
        if (dtStr.indexOf(dtCh, pos2 + 1) != -1 || isInteger(stripCharsInBag(dtStr, dtCh)) == false) {
            alert('Please enter date in valid format : mm-dd-yyyy');
            return false
        }
        return true
    }

</script>