﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.TransactionViewData

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Transaction </title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .requiredfields {
            color: red;
        }
    </style>
    </head>
    <div>
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_MerchantUsers", "Member");
                }
            </div>
            
        </div>
        <div class="clearfix"></div>
    </div>
    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@

    @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
