﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.PrefixViewData
@{
    ViewBag.Title = "Add Prefix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Prefix    </title>
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
            left: 499px;
        }


        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_Manage", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Add Card Prefix</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:50%">
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width:355px">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: red;font-size:17px">&nbsp;@ViewBag.Message</p>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.Label("Credit Card Prefix", new { @id = "lblPrefix" })<span class="required">*</span></td>
                                    <td>@Html.TextBoxFor(model => model.CCPrefix1, new { @class = "form-control", @id = "txtCCPrefix", @autocomplete = "off",  onkeyup = "AllowNumbers(this,8)" })</td>
                                    <td class="Validate" style="width: 200px">
                                        @*@Html.ValidationMessageFor(model => model.CCPrefix1)*@
                                        <span id="valerror" class="field-validation-error" >@Html.ValidationMessageFor(model => model.CCPrefix1)</span>
                                        <span id="error" class="field-validation-error" style="display:none;" >Card prefix is invalid</span>
                                        <span id="experror" style="color: Red; display: none">* Input digits (0 - 9)</span>
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Gateway")<span class="required">*</span></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.fk_GatewayID, new SelectList(Model.GatewayList, "GatewayID", "Name", Model.fk_GatewayID), "--Select Gateway--", new { @class = "form-control", @id = "ddlGateway" })
                                    </td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.fk_GatewayID) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <a href="~/Prefix" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp; <input type="submit" class="btnu" value="Create" onclick="return validation();" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</body>





<script type="text/javascript">
    function validation()
    {
        if(isNaN($("#txtCCPrefix").val()))
        {
            $("#error").show();
            $("#valerror").hide();
            return false;
        }
        Showloader();
    }
    //function AllowNumbers(obj,tLength) {
    //    if (!$(obj).val().match(/^[0-9]+$/) && $.trim($(obj).val()) != "") {
    //        $(obj).val($(obj).val().replace(/\D/g, ''));
    //    }
    //    $(obj).val($(obj).val().slice(0, tLength));
    //}
</script>



<script type="text/javascript">
    function active() {
        document.getElementById("mnglink").className += " activeLi" + " activemenu";
    }
</script>
