﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.PrefixViewData
@{
    ViewBag.Title = "Update Prefix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>  Prefix    </title>
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
            left: 499px;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_Manage", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Update Card Prefix</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:50%">
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width:355px">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: red;font-size:17px">&nbsp;@ViewBag.Message</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.Label("Credit Card Prefix", new { @id = "lblPrefix" })@Html.Label("", new { style = "color: red" })<span class="required">*</span></td>
                                    <td>@Html.TextBoxFor(model => model.CCPrefix1, new { @class = "form-control", @id = "txtPrefix", @readonly = "readonly", @autocomplete = "off", onkeyup = "AllowNumbers(this,8)" })</td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.CCPrefix1) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Gateway")<span class="required">*</span></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.fk_GatewayID, new SelectList(Model.GatewayList, "GatewayID", "Name", Model.fk_GatewayID), "--Select Gateway--", new { @class = "form-control", @id = "ddlGateway" })
                                    </td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.fk_GatewayID) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr><td class="space"></td></tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <a href="~/Prefix" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp;<input type="submit" class="btnu" value="Update" onclick="return validation();" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</body>
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script type="text/javascript">
    function active() {
        document.getElementById("mnglink").className += " activeLi" + " activemenu";
    }

    function validation() {
        Showloader();
        return true;
    }
</script>
