﻿@using MTD.Core.DataTransferObjects
@using MTData.Web.ViewData;
@model IEnumerable<BookingFeeViewData>
@{
    ViewBag.Title = "Manage Booking Fee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Booking Fee</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script>
    function OnClickFun(tId) {
        if (confirm("Are you sure want to delete Booking Fee?")) {
            var url = '@Url.Action("Delete", "BookingFee")';
            $.get(url, { feeId: tId }, function (data) {
                if (data != null) {
                    window.location.reload();
                }
            });
        }
    }
    </script>
</head>
<body onload="active()">
    <div>
        <div class="container-main">
            <div class="left-panel">
                <div class="user">
                    @if (Session["User"] != null)
                    {
                        var user = ((SessionDto)Session["User"]).SessionUser.FName;
                        <h3> Welcome   @user</h3>
                    }
                    <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
                </div>
                @{
                    Html.RenderAction("_MerchantUsers", "Member");
                }
            </div>


            <div class="right-panel">
                <div class="right-content">
                    <div class="content-sec">
                        <h4> @Html.ActionLink("Add Booking Fee", "Create", "BookingFee")</h4>

                        <table width="50%" class="table table-striped table-hover custom-style">
                            <tr>
                                <th>Merchant</th>
                                <th>Booking Fee Type</th>
                                <th>Booking Fee</th>
                                <th>Booking Fee Max Cap</th>
                                <th colspan="2" style="text-align:center;">Actions</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookingFee1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookingFeeMaxCap)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Update", new { feeId = item.BookingFeeID })"><img src="~/images/gtk-edit.png" /></a>

                                    </td>
                                    <td>
                                        <a id="aDelete" onclick="OnClickFun(@item.BookingFeeID)"><img src="~/images/close.png" /></a>
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</body>
<script type="text/javascript">
    function active() {
        document.getElementById("bkf").className += "activeLi";
    }
</script>