﻿@using MTD.Core.DataTransferObjects
@using MTData.Web.ViewData
@model MTData.Web.ViewData.DriverViewData
@{
    ViewBag.Title = "Create Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Driver</title>
    <link href="~/css/PopUs.css" rel="stylesheet" />
    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.ui.draggable.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery-1.5.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
    <script src="~/js/bootstrap-filestyle.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />

    <script src="~/Scripts/txt-validation.js"></script>
    <style type="text/css">
        .Validate {
            padding-left: 18px;
            position: absolute;
            left: 513px;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }

        .browse-btn-dt {
            width: 280px;
        }

            .browse-btn-dt .bootstrap-filestyle .form-control {
                background-color: #fff;
            }

        .group-span-filestyle.input-group-btn label {
            margin-top: 0;
            font-family: Arial;
            font-size: 13px;
            padding: 7px 7px;
            font-weight: normal !important;
        }

        #ui-id-1 {
            display: none;
            left: 541px;
            top: 375px;
            width: 280px;
            z-index: 9;
        }
    </style>
</head>

<!-- PopUP-->

<div class="popup-block change-pass-popup" id="EmailPOp" style="display: none;">
    <div class="popup-form-content msg-heading-txt">
        <h4 class="h4" style="font-size:13px;">Email is required for sending report.Do you want to proceed anyway?</h4>


        <div class="row last_row butons">
            <div class="btnBox btnBox1 float_left">
                <input type="button" value="Yes" class="btn transEffects" id="btnYes" />
            </div>
            <div class="btnBox btnBox2 float_right">
                <input type="button" value="No" name="Cancel" class="btn transEffects" id="btnNo" />
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>

<!-- PopUP Close-->

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm("Create", "Driver", FormMethod.Post, new { enctype = "multipart/form-data", @id = "Form1", @autocomplete = "on" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h6 style="float:right;color:green;">Email is required for sending report.</h6>
                            <h4>Create Driver</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:80%">
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width:455px">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: green;font-size: 12px">&nbsp;@ViewBag.Message</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Input Type")</td>
                                    <td class="input-box">
                                        @Html.RadioButton("Manual", "Manual", true, new { @Name = "radiobutton", @checked = "checked", @value = "Manual", @text = "Excel", @id = "radioManual" })<span class="replyspan">Manual</span>
                                        @Html.RadioButton("Excel Upload", "Excel", new { @Name = "radiobutton", @value = "Excel", @text = "Excel", @id = "radiobuttonU" })<span class="replyspan">Upload File</span>
                                    </td>
                                    <td class="Validate"></td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("First Name")<span class="required">*</span></td>
                                    <td> @Html.TextBoxFor(model => model.FName, new { @class = "form-control", @id = "txtFName", @autocomplete = "off",onkeyup = "AllowCharsNumberSpace(this, 30)" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.FName) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Last Name")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.LName, new { @class = "form-control", @id = "txtLName", onkeyup = "AllowCharsNumberSpace(this, 30)" })</td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.LName) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Phone")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @id = "txtPhone", onkeyup = "AllowNumbers(this, 20)" }) </td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.Phone) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Email")</td>
                                    <td> @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.Email) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Driver Number")@Html.Label("*", new { style = "color: red" })</td>
                                    <td> @Html.TextBoxFor(model => model.DriverNo, new { @class = "form-control", @id = "txtDriverNo",@autocomplete = "off", onkeyup = "AllowCharsNumberSymbol(this, 10)" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.DriverNo) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("PIN")@Html.Label("*", new { style = "color: red" })</td>
                                    <td> @Html.PasswordFor(model => model.PIN, new { @class = "form-control", @id = "txtPIN", value = Model.PIN, @autocomplete = "false",onkeyup = "AllowNumbersOnly(this, 10)" })</td>
                                    <td style="width:350px" class="Validate">

                                        <span id="invalidPIN" style="display: none;" class ="field-validation-error"> PIN must be numeric</span>
                                    </td>
                                    <td class="Validate" id="pinvalid">@Html.ValidationMessageFor(model => model.PIN) </td>
                                </tr>

                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Confirm PIN")@Html.Label("*", new { style = "color: red" })</td>
                                    <td> @Html.PasswordFor(model => model.ConfirmPIN, new { @class = "form-control", @id = "txtConfirmPin", @autocomplete = "off", onkeyup = "AllowNumbersOnly(this, 10)" })</td>
                                    <td style="width:350px" class="Validate">

                                        @*<div id="divEmptyPCode" style="display: none; color: red; ">Please confirm PIN</div>*@
                                    </td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.ConfirmPIN) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Driver Tax Number")</td>
                                    <td> @Html.TextBoxFor(model => model.DriverTaxNo, new { @class = "form-control", @id = "txtDriverTaxNo", @autocomplete = "off", onkeyup = "AllowCharsNumberSymbol(this, 28)" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.DriverTaxNo) </td>
                                </tr>

                                <tr><td class="space"></td></tr>
                              
                               
                                <tr>
                                    <td>@Html.Label("Sage Account")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.SageAccount, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtSageAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.SageAccount)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Bank Name")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.BankName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtBankAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.BankName)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Account Name")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtAccountName" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.AccountName)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("BSB")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.BSB, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtBSB" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.BSB)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Account")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Account, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.Account)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Fleet")<span class="required">*</span></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.fk_FleetID, new SelectList(Model.FleetList, "FleetID", "FleetName", Model.fk_FleetID), "--Please Select a Fleet--", new { @class = "form-control", @id = "ddlFleet" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.fk_FleetID)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Country")<span class="required">*</span></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.Fk_Country, new SelectList(Model.CountryList, "CountryCodesID", "Title", Model.Fk_Country), new { @class = "form-control" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.Fk_Country)
                                    </td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("State")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Fk_State, new { @class = "form-control", onkeyup = "AllowCharsSpace(this, 35)" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.Fk_State)
                                    </td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("City")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Fk_City, new { @class = "form-control", onkeyup = "AllowCharsSpace(this, 35)" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.Fk_City)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Address")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextAreaFor(model => model.Address, new { @class = "form-control" })</td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.Address)</td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Select a File")</td>
                                    <td>
                                        <div class="brouse-wrapper browse-btn-dt"> <input type="file" id="uploadFile" name="uploadFile" accept=".csv" placeholder="Browse a file." value="" class="filestyle" data-icon="false"></div>
                                        <a href="~/Driver/Download?file=DriverList.csv" target="_blank">Template CSV file</a>
                                    </td>
                                    <td class="Validate"></td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <a href="Index" class="btn1">Cancel</a>  &nbsp;&nbsp;&nbsp;<input type="submit" class="btnu" value="Create" id="btnsave" onclick=" return validation();" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>

    </div>

</body>

<div class="popup-block popup-ctr" id="simpleConfirm" style="display:none;">
    <div class="mgn-B-10"><a href="/Driver/Index" id="close"><span class="glyphicon glyphicon-remove float-R" aria-hidden="true"></span></a></div>
    <div class="popup-form-content">
        @if (Model.IsDriverError)
        {
            @Html.Partial("_NotUploadDriverList", Model.driverListViewData);
        }

        <div class="row last_row butons">
            <div class="btnBox btnBox2 float_right btn-ok">
                <input type="button" value="Ok" name="Cancel" class="btn transEffects" id="btnSkip" />
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function active() {
        document.getElementById("dri").className += "activeLi";
    }
    $('#txtEmail').keydown(function (e) {
        var key = e.keyCode;
        var value = $(this).val();
        if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9 || key == 32) { return true; }
        if (value.length > 50) e.preventDefault(); else {
            if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || (key >= 65 && key <= 90) || key == 110 || key == 190))) { e.preventDefault(); }
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#Fk_State').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetStateList?countryId=" + $("#Fk_Country").val() + "&mtch=" + $("#Fk_State").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });
        $('#Fk_City').autocomplete({
            source: function (request, response) {
                $.getJSON("/CountryState/GetCityList?mtch=" + $("#Fk_City").val(), function (data) {
                    response(data);
                });
            },
            minLength: 3,
            delay: 100
        });

    });
</script>





<script type="text/javascript">
    function active() {
        document.getElementById("dri").className += "activeLi";
    }



    $("#btnNo").click(function () {
        $("#EmailPOp").hide();
        $('#mask').fadeOut(300);

    });
    function ShowPopUp() {

        var loginBox = "#EmailPOp";
        //Fade in the Popup and add close button
        $(loginBox).fadeIn(300);
        //Set the center alignment padding + border
        var popMargTop = ($(loginBox).height() + 24) / 2;
        var popMargLeft = ($(loginBox).width() + 24) / 2;
        $(loginBox).css({
            'margin-top': -popMargTop,
            'margin-left': -popMargLeft
        });
        // Add the mask to body


        $('body').append('<div id="mask"></div>');
        $('#mask').fadeIn(300);

    }


    var response = true;
    $("#txtPIN").focusout(function () {
        var regexp = /^[0-9]+$/;
        var text = $(this).val();
        if (text.length > 0) {
            if (!text.match(regexp)) {
                $("#invalidPIN").show();
                response = false;
                $("#pinvalid").hide();
            }
            if (text.match(regexp)) {
                $("#invalidPIN").hide();
                response = true;
            }
        }
        else {
            $("#invalidPIN").hide();
            response = true;
        }

    });
    function validation() {

        response = true;
        if ($('#radiobuttonU').is(':checked')) {
            if (!$('#uploadFile').val()) {
                jAlert('Please upload excel file', 'Required Field');
                response = false;
            }
            if ($('#uploadFile').val()) {
                var fileNameExt = $('#uploadFile').val().substr($('#uploadFile').val().lastIndexOf('.') + 1);
                if (fileNameExt != "csv") {
                    jAlert('Invalid file uploaded.Please upload only csv file.', 'Required Field');
                    response = false;
                    return response;
                }

            }
        }
        if (response) {
            Showloader();
        }
        return response;
    }
</script>




<script>

    $(document).ready(function () {
        var value = $('input:radio[name=radiobutton]:checked').val();
        if (value == "Manual") {
            $("#uploadFile").attr("disabled", "disabled");

            $("#txtFName").attr("disabled", false);
            $("#txtLName").attr("disabled", false);
            $("#txtPhone").attr("disabled", false);
            $("#txtEmail").attr("disabled", false);
            $("#txtDriverNo").attr("disabled", false);

            $("#txtPIN").attr("disabled", false);
            $("#txtConfirmPin").attr("disabled", false);
            $("#txtDriverTaxNo").attr("disabled", false);
            $("#ddlFleet").attr("disabled", false);

            $("#Fk_Country").attr("disabled", false);
            $("#Fk_State").attr("disabled", false);
            $("#Fk_City").attr("disabled", false);
            $("#Address").attr("disabled", false);
            
            $("#txtSageAccount").attr("disabled", false);
            $("#txtBankAccount").attr("disabled", false);
            $("#txtAccountName").attr("disabled", false);
            $("#txtBSB").attr("disabled", false);
            $("#txtAccount").attr("disabled", false);
            
        }
        else if (value == "Excel") {
            $("#txtFName").attr("disabled", "disabled");
            $("#txtLName").attr("disabled", "disabled");
            $("#txtPhone").attr("disabled", "disabled");
            $("#txtEmail").attr("disabled", "disabled");
            $("#txtDriverNo").attr("disabled", "disabled");

            $("#txtPIN").attr("disabled", "disabled");
            $("#txtConfirmPin").attr("disabled", "disabled");
            $("#txtDriverTaxNo").attr("disabled", "disabled");
            $("#ddlFleet").attr("disabled", "disabled");

            $("#Fk_Country").attr("disabled", "disabled");
            $("#Fk_State").attr("disabled", "disabled");
            $("#Fk_City").attr("disabled", "disabled");
            $("#Address").attr("disabled", "disabled");
            $("#txtSageAccount").attr("disabled", "disabled");
            $("#txtBankAccount").attr("disabled", "disabled");
            $("#txtAccountName").attr("disabled", "disabled");
            $("#txtBSB").attr("disabled", "disabled");
            $("#txtAccount").attr("disabled", "disabled");
            $("#uploadFile").attr("disabled", false);
        }
        else { }

        $("input:radio[name=radiobutton]").click(function () {
            var value = $('input:radio[name=radiobutton]:checked').val();
            if (value == "Manual") {
                $("#uploadFile").attr("disabled", "disabled");

                $("#txtFName").attr("disabled", false);
                $("#txtLName").attr("disabled", false);
                $("#txtPhone").attr("disabled", false);
                $("#txtEmail").attr("disabled", false);
                $("#txtDriverNo").attr("disabled", false);

                $("#txtPIN").attr("disabled", false);
                $("#txtConfirmPin").attr("disabled", false);
                $("#txtDriverTaxNo").attr("disabled", false);
                $("#ddlFleet").attr("disabled", false);

                $("#Fk_Country").attr("disabled", false);
                $("#Fk_State").attr("disabled", false);
                $("#Fk_City").attr("disabled", false);
                $("#Address").attr("disabled", false);
                $("#txtSageAccount").attr("disabled", false);
                $("#txtBankAccount").attr("disabled", false);
                $("#txtAccountName").attr("disabled", false);
                $("#txtBSB").attr("disabled", false);
                $("#txtAccount").attr("disabled", false);

            }
            else if (value == "Excel") {
                $("#txtFName").attr("disabled", "disabled");
                $("#txtLName").attr("disabled", "disabled");
                $("#txtPhone").attr("disabled", "disabled");
                $("#txtEmail").attr("disabled", "disabled");
                $("#txtDriverNo").attr("disabled", "disabled");

                $("#txtPIN").attr("disabled", "disabled");
                $("#txtConfirmPin").attr("disabled", "disabled");
                $("#txtDriverTaxNo").attr("disabled", "disabled");
                $("#ddlFleet").attr("disabled", "disabled");

                $("#Fk_Country").attr("disabled", "disabled");
                $("#Fk_State").attr("disabled", "disabled");
                $("#Fk_City").attr("disabled", "disabled");
                $("#Address").attr("disabled", "disabled");
                $("#txtSageAccount").attr("disabled", "disabled");
                $("#txtBankAccount").attr("disabled", "disabled");
                $("#txtAccountName").attr("disabled", "disabled");
                $("#txtBSB").attr("disabled", "disabled");
                $("#txtAccount").attr("disabled", "disabled");
                $("#uploadFile").attr("disabled", false);
            }
            else { }
        });

    });

</script>

<script>
    //$("#txtPIN").focusout(function () {

    //    var regexp = /^[0-9]+$/;
    //    var text = $(this).val();
    //    if (!text.match(regexp)) {
    //        $("#invalidPIN").show();
    //    }
    //    if (text.match(regexp)) {
    //        $("#invalidPIN").hide();
    //    }
    //});
</script>




