﻿@using MTD.Core.DataTransferObjects
@using MTData.Web.ViewData
@model MTData.Web.ViewData.DriverRecListViewData
@{
    ViewBag.Title = "UserReceipent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <title>
        Driver Statements
    </title>
    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.ui.draggable.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
  
    
    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            position: absolute;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }

        .set-recipient-detail-grid {
            height: 400px;
            overflow: auto;
            margin-top: 10px;
            border: 1px solid #e9e9e9;
            width: 967px;
            border-radius: 4px;
        }

            .set-recipient-detail-grid table tr th {
                padding: 8px;
                color: #fff;
            }

            .set-recipient-detail-grid table tr td {
                padding: 0 8px;
                font-weight: normal;
            }

                .set-recipient-detail-grid table tr td label {
                    font-weight: normal;
                }

        .selectAll {
            width: 100%;
            height: 35px;
            color: #fff;
            background-color: #014a81;
            padding: 8px;
            margin-top: 15px;
        }
        .mask {
            background: rgb(229, 229, 229);
            z-index: 9;
        }
        .custom-table-th {
            padding:6px 8px !important;
            font-size:13px 
        }
        .custom-table-td {
            padding: 6px 8px !important;
            font-size: 13px;
            padding-bottom: 10px;
        }
      
    </style>
</head>

<body onload="active()">

    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    var loggedUser = ((SessionDto)Session["User"]).SessionUser.fk_UserTypeID;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>

            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm("GetDriverRec", "Driver", FormMethod.Post, new { @id = "Form1" }))
                    {

                        <div style="height: 620px;position:relative;">
                            @if (ViewBag.saved != null)
                            {
                                <p style="color: green;font-size:14px;">&nbsp;@ViewBag.saved</p>
                            }
                            <p style="color: green;font-size:14px;" id="msg">&nbsp;@ViewBag.saved</p>
                            <h4>Driver Statements</h4>

                            <select class="form-control" id="SelectId">
                                <option value="0" disabled="disabled" selected="selected" class="form-control" style="display:none;">Please select option</option>
                                <option value="1">All Drivers</option>
                                <option value="2">Fleet</option>
                            </select>
                            <div style="height:25px;"></div>
                            <div id="fleetDrop">
                                @Html.DropDownListFor(m => m.fk_FleetId, new SelectList(Model.fleetlist, "FleetID", "FleetName", Model.fk_FleetId), "--Please Select a Fleet--", new { @class = "form-control",@disabled = "disabled"})
                            </div>
                            <div>
                                <span>   <label id="norec" style="display:none;color:green;padding-top:10px;"> No record found</label></span>
                            </div>

                            @Html.HiddenFor(m => m.fk_FleetId, new { @id = "FleetID" })
                            @Html.HiddenFor(m => m.UserType, new { @id = "userType" })
                            @Html.HiddenFor(m => m.ModifiedBy, new { @id = "modifiedBy" })
                            @Html.HiddenFor(m => m.loggedUser, new { @id = "loggedUser" })
                            <div>

                            </div>
                            <div class="selectAll" id="selectall" style="display:none;"><input type="checkbox" id="chkAll" /><b> Select All</b></div>
                            <div class="set-recipient-detail-grid" id="list" style="display:none;width:100%">
                                <div id="header"><b style="padding-left: 29px;"> Driver Number</b><b style="padding-left: 93px;"> Name<b style="padding-left: 108px;"> Email</b></b></div>
                                <table width="500px" cellpadding="0" cellspacing="0" border="0" id="users">
                                    <tr><td colspan="3"></td></tr>
                                    @Html.ValidationSummary(true)
                                    @{int count = 0;}
                                    @if (Model.UserList != null)
                                    {
                                        if (Model.UserType == 2)
                                        {
                                            foreach (var item in Model.UserList)
                                            {
                                                <tr>

                                                    <td width="5%">
                                                        <input type="checkbox" value="true" name="UserList[@count].IsRecipient" id="@item.IsRecipient" data-val="true" checked="@item.IsRecipient" class="chk">
                                                    </td>
                                                    <td width="30%">  <label style="font-size: 14px; width: 160px;"> @item.DriverNo </label></td>
                                                    <td width="65%">
                                                        <label style="font-size: 14px"> &nbsp;&nbsp;&nbsp;@item.FName &nbsp; @item.LName</label>
                                                        <input type="hidden" name="UserList[@count].DriverID" value="@item.DriverID" />
                                                        <input type="hidden" name="UserList[@count].FName" value="@item.FName" />
                                                        <input type="hidden" name="UserList[@count].LName" value="@item.LName" />
                                                        <input type="hidden" name="UserList[@count].DriverNo" value="@item.DriverNo" />
                                                        @{
                                                var sessionDto = (SessionDto)Session["User"];
                                                        }
                                                        @if (sessionDto != null)
                                                        {
                                                            var modifiedBy = sessionDto.SessionUser.Email;


                                                            @:<input type="hidden" name="UserList[@count].ModifiedBy" value="@modifiedBy" />
                                                     }

                                                    </td>

                                                </tr>
                                                        count++;
                                            }
                                        }

                                    }

                                    <tr><td class="space" colspan="3"></td></tr>
                                    <tr><td class="space" colspan="3"></td></tr>

                                    <tr><td class="space" colspan="3"></td></tr>
                                    <tr><td class="space" colspan="3"></td></tr>
                                </table>
                            </div>



                            <input type="button" class="btnu" id="btnCreate" value="Save" style="margin-top:36px;" onclick="validation()" />
                        </div>

                    }
                </div>

        </div>
        </div>
    </div>
</body>
<script type="text/javascript">
  
    $(function () {
        $("#chkAll").change(function () {
            if ($(this).is(':checked')) {
                $("input:checkbox").each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $("input:checkbox").each(function () {
                    $(this).prop('checked', false);
                });
            }
        });
    });

    $(document).on('change', '#chkDriver', function () {
        if ($(this).is(':checked')) {
                $("input:checkbox[class=chk]").each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $("input:checkbox[class=chk]").each(function () {
                    $(this).prop('checked', false);
                });
            }
        });

        $(document).on('change', '#chkAlls', function () {
        
                if ($(this).is(':checked')) {
                    $("input:checkbox[class=chkSr]").each(function () {
                        $(this).prop('checked', true);
    });
                } else {
                    $("input:checkbox[class=chkSr]").each(function () {
                        $(this).prop('checked', false);
                    });
                }
        });

    $(document).on('change', '#chkAllo', function () {
                if ($(this).is(':checked')) {
                    $("input:checkbox[class=chkOwn]").each(function () {
                        $(this).prop('checked', true);
                  });
                } else {
                    $("input:checkbox[class=chkOwn]").each(function () {
                        $(this).prop('checked', false);
                    });
                }
        });
 
 
        $(document).on('change', '#chkAllw', function () {
            if ($(this).is(':checked')) {
                $("input:checkbox[class=chkWr]").each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $("input:checkbox[class=chkWr]").each(function () {
                    $(this).prop('checked', false);
                });
            }
        });
 

        $(document).on('change', '#chkAllm', function () {
            if ($(this).is(':checked')) {
                $("input:checkbox[class=chkMr]").each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $("input:checkbox[class=chkMr]").each(function () {
                    $(this).prop('checked', false);
                });
            }
        });

        $(document).on('change', '.chk', function () {
            if ($(this).is(':checked')) {
                var element = $(this).closest('tr').find('td:nth-child(6)').find(".chkOwn").html();
                $(this).closest('tr').find('td:nth-child(6)').find(".chkOwn").prop('checked', true);
                $(this).closest('tr').find('td:nth-child(7)').find(".chkSr").prop('checked', true);
                $(this).closest('tr').find('td:nth-child(8)').find(".chkWr").prop('checked', true);
                $(this).closest('tr').find('td:nth-child(9)').find(".chkMr").prop('checked', true);
            } else {
                $(this).closest('tr').find('td:nth-child(6)').find(".chkOwn").prop('checked', false);
                $(this).closest('tr').find('td:nth-child(7)').find(".chkSr").prop('checked', false);
                $(this).closest('tr').find('td:nth-child(8)').find(".chkWr").prop('checked', false);
                $(this).closest('tr').find('td:nth-child(9)').find(".chkMr").prop('checked', false);
            }
        });

    var myselect;
    var sel;
    var users;
    function validation() {
        var response = true;
        myselect = document.getElementById("SelectId");
        sel = myselect.options[myselect.selectedIndex].value;
        if (sel == 0) {
            jAlert('Please select option', 'Required Field');
            response= false;
        }
        if ($("#fk_FleetId").val() == 0) {
            if (sel==2)
            {
            jAlert('Please select fleet', 'Required Field');
            response = false;
            }
           
        }
        if (sel == 2 || sel==1)
        {
            if (users < 1) {
                jAlert('No drivers availabe', 'No Users');
                response = false;
            }
        }
      
        if (response) {
            Showloader();
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/Driver/GetDriverRec")',
                data: $('#Form1').serialize(),
                success: function (data) {
                    Closeloader();
                    document.getElementById("msg").innerHTML = data;
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                },
                error: function () {
                    Closeloader();
                }
            });
        }
      
        else {
            Closeloader();
            return response;
        }
        
    }
    $(document).ready(function () {
        $("#fk_FleetID").hide();
        $("#SelectId").change(function () {
            debugger;
            myselect = document.getElementById("SelectId");
            sel = myselect.options[myselect.selectedIndex].value;
            $("#userType").val(sel);           
            if (sel == 2) {
                $("#fleetDrop").show();
                $("#fk_FleetID").show();       
                $("#list").hide();
                $("#selectall").hide();
                $("#fk_FleetId").val("");
                $("#norec").hide();
                $("#fk_FleetId").prop('disabled', false);
                
            }
           
            if (sel == 1)
            {
                $("#fleetDrop").hide();
                $("#list").show();
                $("#selectall").show();
                $("#chkAll").prop('checked', false);
                $("#norec").hide();
                Showloader();
                $.ajax({
                    url: '/Driver/GetAllDriverRecipient',
                    data: {},
                    dataType: "json",
                    cache: false,
                    contentType: "application/json",
                    type: "GET",
                    success: function (result) {
                        var modifiedBy = result.ModifiedBy;
                        users = result.UserList.length;
                        if (users < 1) {
                            $("#list").hide();
                            $("#selectall").hide();
                            $("#norec").show();
                        }
                        if (users > 0) {
                            $("#norec").hide();
                        }
                        var string = "<table width='100%' cellpadding='0' cellspacing='0' border='0' id='users'><tr></tr>";
                        string += " <tr style='background-color: #F5F5DC;'><td class='custom-table-th'><input type='checkbox' id='chkDriver' name='chkDriver' /></td><td class='custom-table-th'> <b>Driver Number</b></td> <td class='custom-table-th'><b> Name<b ></td> ";
                        string += " <td class='custom-table-th'> <b>Email</b></td> <td class='custom-table-th'><b> Company</b></td>";
                        string += " <td class='custom-table-th'> <input type='checkbox' id='chkAllo' name='chkAllo' /><b> Owner Receives</b></td>";
                        string += "<td class='custom-table-th'> <input type='checkbox' id='chkAlls' name='chkAlls' /><b> Shift</b></td>";
                        string += "<td class='custom-table-th'><input type='checkbox' id='chkAllw' name='chkAllw' class='regular-checkbox'/><b> Weekly</b></td>";
                        string += "<td class='custom-table-th'><input type='checkbox' id='chkAllm' name='chkAllm' /><b> Monthly</b></td></tr>";

                        string += "  <tr><td colspan='3'></td></tr>";
                        for (j = 0 ; j < result.UserList.length; j++) {

                            if (result.UserList[j].IsRecipient) {
                                string += "<tr><td  ><input type='checkbox' data-val='true' value='true' name='UserList[" + j + "].IsRecipient' id='" + result.UserList[j].IsRecipient + "' checked='" + result.UserList[j].IsRecipient + "' class='chk'>";
                            }
                            else {
                                string += "<tr><td ><input type='checkbox' data-val='true'  value='true'  name='UserList[" + j + "].IsRecipient' id='" + result.UserList[j].IsRecipient + "'  class='chk'>";
                            }
                            string += "</td><td >  <label style='font-size: 13px;'>" + result.UserList[j].DriverNo + "</label></td><td  >";
                            string += "<label style='font-size: 13px;'> " + result.UserList[j].FName + " &nbsp;" + result.UserList[j].LName + "</label>";
                            string += " <input type='hidden' name='UserList[" + j + "].DriverID' value='" + result.UserList[j].DriverID + "' /><input type='hidden' name='UserList[" + j + "].FName' value='" + result.UserList[j].FName + "' />";
                            string += "<input type='hidden' name='UserList[" + j + "].LName' value='" + result.UserList[j].LName + "' /><input type='hidden' name='UserList[" + j + "].DriverNo' value='" + result.UserList[j].DriverNo + "' />";
                            string += "<input type='hidden' name='UserList[" + j + "].UserType' value='" + sel + "' />";
                            string += " <input type='hidden' name='UserList[" + j + "].fk_FleetId' value='" + result.UserList[j].fk_FleetId + "'/>";
                            string += " <input type='hidden' name='UserList[" + j + "].ModifiedBy' value='" + modifiedBy + "'/></td>";
                            if (result.UserList[j].Email != null) {
                                string += "<td  ><label style='font-size: 13px;'>" + result.UserList[j].Email + "</label></td>";
                            }
                            else {
                                string += "<td ><label style='font-size: 13px;'> N/A</label></td>";
                            }
                            string += "<td ><label style='font-size: 13px;'>" + result.UserList[j].Company + "</label></td> ";
                            if (result.UserList[j].IsOwnerRecipient) {
                                string += "<td ><input type='checkbox' data-val='true' value='true' name='UserList[" + j + "].IsOwnerRecipient' id='" + result.UserList[j].IsOwnerRecipient + "' checked='" + result.UserList[j].IsOwnerRecipient + "' class='chkOwn'></td>";
                            }
                            else {
                                string += "<td  ><input type='checkbox' data-val='true'  value='true'  name='UserList[" + j + "].IsOwnerRecipient' id='" + result.UserList[j].IsOwnerRecipient + "'  class='chkOwn'></td>";
                            }
                            if (result.UserList[j].IsDaily) {
                                string += "<td ><input type='checkbox' data-val='true' value='true' name='UserList[" + j + "].IsDaily' id='" + result.UserList[j].IsDaily + "' checked='" + result.UserList[j].IsDaily + "' class='chkSr' ></td>";
                            }
                            else {
                                string += "<td  ><input type='checkbox' data-val='true'  value='true'  name='UserList[" + j + "].IsDaily' id='" + result.UserList[j].IsDaily + "'  class='chkSr'></td>";
                            }
                            if (result.UserList[j].IsWeekly) {
                                string += "<td  ><input type='checkbox' data-val='true' value='true' name='UserList[" + j + "].IsWeekly' id='" + result.UserList[j].IsWeekly + "' checked='" + result.UserList[j].IsWeekly + "' class='chkWr'></td>";
                            }
                            else {
                                string += "<td  ><input type='checkbox' data-val='true'  value='true'  name='UserList[" + j + "].IsWeekly' id='" + result.UserList[j].IsWeekly + "'  class='chkWr'></td>";
                            }
                            if (result.UserList[j].IsMonthly) {
                                string += "<td  ><input type='checkbox' data-val='true' value='true' name='UserList[" + j + "].IsMonthly' id='" + result.UserList[j].IsMonthly + "' checked='" + result.UserList[j].IsMonthly + "' class='chkMr'></td>";
                            }
                            else {
                                string += "<td ><input type='checkbox' data-val='true'  value='true'  name='UserList[" + j + "].IsMonthly' id='" + result.UserList[j].IsMonthly + "'  class='chkMr'></td>";
                            }
                        }

                        string += "</tr> <tr><td class='space' colspan='3'></td></tr><tr><td class='space' colspan='3'></td></tr><tr><td class='space' colspan='3'></td></tr>";
                        string += "<tr><td class='space' colspan='3'></td></tr></table>";
                        document.getElementById("list").innerHTML = string;
                        Closeloader();
                    }
                });
            }
            
        });

    });

    $("#fk_FleetId").change(function () {
        $("#fk_FleetId").val($("#fk_FleetId").val());
        myselect = document.getElementById("SelectId");
        sel = myselect.options[myselect.selectedIndex].value;
        if (sel != 1 && sel != 2) {
            jAlert('Please select option', 'Required Field');
            return false;
        }
        var fleetId = $("#fk_FleetId").val();
        if (fleetId>0)
        {
         $("#list").show();
        $("#selectall").show();
        $("#chkAll").prop('checked', false);
            Showloader();
        }
        $("#norec").hide();
        $.ajax({
            url: '/Driver/GetDriverRecipient',
            data: { fleetId: fleetId },
            dataType: "json",
            cache: false,
            contentType: "application/json",
            type: "GET",
            success: function (result) {
                var modifiedBy =result.ModifiedBy;
                users = result.UserList.length;
                if (users<1)
                {
                    $("#list").hide();
                    $("#selectall").hide();
                    $("#norec").show();
                }
                if (users>0)
                {
                    $("#norec").hide();
                }
                var string = "<table width='100%' cellpadding='0' cellspacing='0' border='0' id='users'><tr></tr>";
                string += " <tr style='background-color: #F5F5DC;'><td class='custom-table-th'><input type='checkbox' id='chkDriver' name='chkDriver' /></td><td class='custom-table-th'> <b>Driver Number</b></td> <td class='custom-table-th'><b> Name<b ></td> ";
                string += " <td class='custom-table-th'> <b>Email</b></td> <td class='custom-table-th'><b> Company</b></td>";
                string += " <td class='custom-table-th'> <input type='checkbox' id='chkAllo' name='chkAllo' /><b> Owner Receives</b></td>";
                string += "<td class='custom-table-th'> <input type='checkbox' id='chkAlls' name='chkAlls' /><b> Shift</b></td>";
                string += "<td class='custom-table-th'><input type='checkbox' id='chkAllw' name='chkAllw' class='regular-checkbox'/><b> Weekly</b></td>";
                string += "<td class='custom-table-th'><input type='checkbox' id='chkAllm' name='chkAllm' /><b> Monthly</b></td></tr>";
                 
                string += "  <tr><td colspan='3'></td></tr>";
                for (j = 0 ; j < result.UserList.length; j++) {
                  
                    if (result.UserList[j].IsRecipient) {
                        string += "<tr><td  ><input type='checkbox' data-val='true' value='true' name='UserList[" + j + "].IsRecipient' id='" + result.UserList[j].IsRecipient + "' checked='" + result.UserList[j].IsRecipient + "' class='chk'>";
                    }
                    else {
                        string += "<tr><td ><input type='checkbox' data-val='true'  value='true'  name='UserList[" + j + "].IsRecipient' id='" + result.UserList[j].IsRecipient + "'  class='chk'>";
                    }
                    string += "</td><td >  <label style='font-size: 13px;'>" + result.UserList[j].DriverNo + "</label></td><td  >";
                    string += "<label style='font-size: 13px;'> " + result.UserList[j].FName + " &nbsp;" + result.UserList[j].LName + "</label>";
                    string += " <input type='hidden' name='UserList[" + j + "].DriverID' value='" + result.UserList[j].DriverID + "' /><input type='hidden' name='UserList[" + j + "].FName' value='" + result.UserList[j].FName + "' />";
                    string += "<input type='hidden' name='UserList[" + j + "].LName' value='" + result.UserList[j].LName + "' /><input type='hidden' name='UserList[" + j + "].DriverNo' value='" + result.UserList[j].DriverNo + "' />";
                    string += "<input type='hidden' name='UserList[" + j + "].UserType' value='" + sel + "' />";
                    string += " <input type='hidden' name='UserList[" + j + "].fk_FleetId' value='" + result.UserList[j].fk_FleetId + "'/>";
                    string += " <input type='hidden' name='UserList[" + j + "].ModifiedBy' value='" + modifiedBy + "'/></td>";
                    if (result.UserList[j].Email != null && result.UserList[j].Email.length != 0)
                    {
                        string += "<td  ><label style='font-size: 13px;'>" + result.UserList[j].Email + "</label></td>";
                    }
                  
                    else{
                        string += "<td ><label style='font-size: 13px;'> N/A</label></td>";
                        }
                    string += "<td ><label style='font-size: 13px;'>" + result.UserList[j].Company + "</label></td> ";

                    if (result.UserList[j].IsOwnerRecipient) {
                        string += "<td ><input type='checkbox' data-val='true' value='true' name='UserList[" + j + "].IsOwnerRecipient' id='" + result.UserList[j].IsOwnerRecipient + "' checked='" + result.UserList[j].IsOwnerRecipient + "' class='chkOwn'></td>";
                    }
                    else {
                        string += "<td  ><input type='checkbox' data-val='true'  value='true'  name='UserList[" + j + "].IsOwnerRecipient' id='" + result.UserList[j].IsOwnerRecipient + "'  class='chkOwn'></td>";
                    }
                    if (result.UserList[j].IsDaily) {
                        string += "<td ><input type='checkbox' data-val='true' value='true' name='UserList[" + j + "].IsDaily' id='" + result.UserList[j].IsDaily + "' checked='" + result.UserList[j].IsDaily + "' class='chkSr'  class='chk'></td>";
                    }
                    else {
                        string += "<td  ><input type='checkbox' data-val='true'  value='true'  name='UserList[" + j + "].IsDaily' id='" + result.UserList[j].IsDaily + "'  class='chkSr' class='chk'></td>";
                    }
                    if (result.UserList[j].IsWeekly) {
                        string += "<td  ><input type='checkbox' data-val='true' value='true' name='UserList[" + j + "].IsWeekly' id='" + result.UserList[j].IsWeekly + "' checked='" + result.UserList[j].IsWeekly + "' class='chkWr'></td>";
                    }
                    else {
                        string += "<td  ><input type='checkbox' data-val='true'  value='true'  name='UserList[" + j + "].IsWeekly' id='" + result.UserList[j].IsWeekly + "'  class='chkWr'></td>";
                    }
                    if (result.UserList[j].IsMonthly) {
                        string += "<td  ><input type='checkbox' data-val='true' value='true' name='UserList[" + j + "].IsMonthly' id='" + result.UserList[j].IsMonthly + "' checked='" + result.UserList[j].IsMonthly + "' class='chkMr'></td>";
                    }
                    else {
                        string += "<td ><input type='checkbox' data-val='true'  value='true'  name='UserList[" + j + "].IsMonthly' id='" + result.UserList[j].IsMonthly + "'  class='chkMr'></td>";
                }
                }
               
                string += "</tr> <tr><td class='space' colspan='3'></td></tr><tr><td class='space' colspan='3'></td></tr><tr><td class='space' colspan='3'></td></tr>";
                string += "<tr><td class='space' colspan='3'></td></tr></table>";
                document.getElementById("list").innerHTML = string;
                Closeloader();
            },
            error: function (ex) {
            }
        });

    });
</script>
<script type="text/javascript">
       
        $(document).ready(function () {
            if ($("#loggedUser").val() == 1)
            {
        document.getElementById("msdr").className += " activeLi" + " activemenu";
            $("#msdrColl").css("display", "block");
            }
           
            if ($("#loggedUser").val() == 2) {
                $("#collaspe").css("display", "block");
                document.getElementById("mnglink").className += " activeLi" + " activemenu";
            }
            if ($("#loggedUser").val() == 3) {
                $("#collaspe").css("display", "block");
                document.getElementById("mnglink").className += " activeLi" + " activemenu";
            }
        });
</script>
