﻿@using MTD.Core.DataTransferObjects
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <title>
        Manage Driver
    </title>

</head>

<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{

                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>


        <div class="right-panel">
            <div class="right-content">

                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <table style="width:100%">
                            <tr>
                                <td><h4><a href="Create">Add New Driver</a></h4></td>
                                <td style="float:right">
                                    <form>

                                        <div class="search-box" style="width:490px;height:45px">
                                            <input type="text" value="" name="FName" id="FName" placeholder="Search : Name">
                                            <input type="text" value="" name="DriverNo" id="DriverNo" placeholder="Search : Driver number">
                                            <span class="search-icon">
                                                <input type="submit" value="" id="LoadRecordsButton" class="search-btn" />
                                            </span>
                                            <span><input type="image" src="../images/file_extension_xls.png" alt="Export" title="Exprot to excel" /></span>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    }
                    <div id="StudentTableContainer"></div>
                    <script type="text/javascript">

                        $(document).ready(function () {

                            $('#StudentTableContainer').jtable({
                                // title: 'Payment Gateway',
                                paging: true,
                                pageSize: 15,
                                sorting: true,
                                defaultSorting: 'FName ASC',
                                actions: {
                                    listAction: '/Driver/DriverListByFiter',
                                    deleteAction: '/Driver/Delete'
                                },
                                fields: {
                                    DriverID: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    FName: {
                                        title: 'Name',
                                        width: '20%'
                                    },
                                    Phone: {
                                        title: 'Phone',
                                    },

                                    Email: {
                                        title: 'Email',
                                        width: '15%',
                                    },
                                    FleetName: {
                                        title: 'Fleet Name',
                                        width: '12%',
                                    },
                                    DriverNo: {
                                        title: 'Driver Number',
                                        sorting: false,
                                        width: '10%',
                                    },
                                    DriverTaxNo: {
                                        title: 'Driver Tax Number',
                                        sorting: false,
                                        width: '10%',
                                    },
                                    Address: {
                                        title: 'Address',
                                        sorting: false,
                                        width: '30%',
                                    },
                                    ResetPIN: {
                                        title: 'Reset PIN',
                                        sorting: false,
                                        width: '10%',
                                        display: function (data) {
                                            return '<a  href="ResetPin?driverId=' + data.record.DriverID + '"><img src="../Scripts/jtable/themes/metro/Security-Password-1-icon.png" title="Reset PIN"/></a>';
                                        }
                                    },

                                    Edit: {
                                        title: 'Actions',
                                        sorting: false,
                                        width: '10%',
                                        display: function (data) {
                                            return '<a  href="Update?driverId=' + data.record.DriverID + '"><img src="../Scripts/jtable/themes/metro/edit.png" title="Edit"/></a>';

                                        }
                                    },
                                }
                            });

                            //Re-load records when user click 'load records' button.
                            $('#LoadRecordsButton').click(function (e) {
                                e.preventDefault();
                                $('#StudentTableContainer').jtable('load', {
                                    name: $('#FName').val(),
                                    driverNo: $('#DriverNo').val()
                                });
                            });

                            //Load all records when page is first shown
                            $('#LoadRecordsButton').click();
                        });

                    </script>
                </div>

            </div>
        </div>

    </div>
</body>

<script type="text/javascript">
    function active() {
        document.getElementById("dri").className += "activeLi";
    }
</script>


