﻿@using MTD.Core.DataTransferObjects
@using MTData.Web.ViewData
@model DriverViewData
@{
    ViewBag.Title = "Update Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>
        Reset PIN
    </title>
 
    <link href="~/css/PopUs.css" rel="stylesheet" />
    <script src="~/js/alertbox/jquery.js"></script>
    <script src="~/js/alertbox/jquery.ui.draggable.js"></script>
    <script src="~/js/alertbox/jquery.alerts.js"></script>
    <link href="~/js/alertbox/jquery.alerts.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery-1.5.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
    <script src="~/js/bootstrap-filestyle.js"></script>
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />

    <script src="~/Scripts/txt-validation.js"></script>
    <style type="text/css">
        .Validate {
            padding-left: 6px;
            position: absolute;
            left: 498px;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                    @Html.AntiForgeryToken()
                    <div class="">
                        <h4>Reset PIN</h4>
                        <hr />
                        @Html.ValidationSummary(true)
                        <table style="width:60%">
                            <tr>
                                <td colspan="2">
                                    @if (ViewBag.Message != null)
                                        {
                                        <p style="color: green;font-size:12px; padding:5px 0 5px 0;">@ViewBag.Message</p>
                                        }
                                    @if (ViewBag.Error != null)
                                        {
                                        <p style="color: red; font-size: 12px; padding: 5px 0 5px 0;">@ViewBag.Error</p>
                                        }

                                </td>
                            </tr>
                            <tr>
                                <td>@Html.Label("Name")</td>
                                <td> @Html.DisplayFor(model => model.FName) &nbsp;@Html.DisplayFor(model => model.LName)</td>
                                <td>@Html.HiddenFor(model => model.FName) @Html.HiddenFor(model => model.LName) </td>
                            </tr>

                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Driver Number")</td>
                                <td> @Html.DisplayFor(model => model.DriverNo)</td>
                                <td>@Html.HiddenFor(model => model.DriverNo)</td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Enter PIN")@Html.Label("*", new { style = "color: red" })</td>
                                <td>
                                    @Html.PasswordFor(model => model.PIN, new { @class = "form-control", @maxlength = "10",@id="txtPIN" ,onkeyup = "AllowNumbersOnly(this, 10)",value = Model.PIN })
                                    @Html.HiddenFor(model => model.Email)
                                </td>
                                <td style="width:350px" class="Validate">

                                    <span id="invalidPIN" style="display:none;" class="field-validation-error">PIN must be numeric</span>
                                </td>
                                <td class="Validate" id="validPin">@Html.ValidationMessageFor(model => model.PIN) 
                                    @*<span id="invalidPIN" style="display:none;color:red;">Invalid PIN</span>*@
                                </td>
                            </tr>

                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Confirm PIN")@Html.Label("*", new { style = "color: red" })</td>
                                <td> @Html.PasswordFor(model => model.ConfirmPIN, new { @class = "form-control", @maxlength = "10", onkeyup = "AllowNumbersOnly(this, 10)",value = Model.ConfirmPIN })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.ConfirmPIN) </td>
                            </tr>

                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <a href="Index" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp;
                                    <input type="submit" class="btnu" id="btnuUpdate" value="Update" onclick=" return validation();" />
                                </td>
                            </tr>
                        </table>

                    </div>
                    }
                </div>

            </div>
        </div>
       
    </div>

</body>
<script type="text/javascript">
    function active() {
        document.getElementById("dri").className += "activeLi";
    }
    var response = true;
    $("#txtPIN").focusout(function () {
        var regexp = /^[0-9]+$/;
        var text = $(this).val();
        if (text.length > 0) {
            if (!text.match(regexp)) {
                $("#invalidPIN").show();
                response = false;
                $("#validPin").hide();
            }
            if (text.match(regexp)) {
                $("#invalidPIN").hide();
                response = true;
            }
        }
        else {
            $("#invalidPIN").hide();
            response = true;
        }

    });
 
    function validation() {
        if (response) {
            Showloader();
        }
        return response;
    }
</script>

<script type="text/javascript">
    //$(document).ready(function () {
    //    $("#btnuUpdate").click(function (e) {
    //        if ($("#PIN").val().toString() != "") {
    //            var lenPasswd = $("#PIN").val().trim().length;
    //            if (lenPasswd < 1) {
    //                jAlert('Valid PIN does not allow white spaces in begining or in end', 'Required Field');
    //                return false;
    //            }
    //        }
    //        if ($("#ConfirmPIN").val().toString() != "") {
    //            var lenCPasswd = $("#ConfirmPIN").val().trim().length;
    //            if (lenCPasswd < 1) {
    //                jAlert('Valid PIN does not allow white spaces in begining or in end', 'Required Field');
    //                return false;
    //            }
    //        }
    //    })
    //});
</script>