﻿@using MTD.Core.DataTransferObjects
@model MTData.Web.ViewData.ScheduleReportViewData
@{
    ViewBag.Title = "Reschedule Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>  Schedule Report    </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            var todayDate = $.datepicker.formatDate('yy/mm/dd', new Date());
            var currDate = new Date();
            var currDay = currDate.getDate();
            var currMonth = currDate.getMonth() + 1;
            var currYear = currDate.getFullYear();
            currDateStr = currYear + "/" + ModMonth + "/" + currDay;
            var ModMonth = currMonth + 1;
            if (ModMonth > 12) {
                ModMonth = 01;
                currYear = currYear + 1;
            }
            ModDateStr = currYear + "/" + ModMonth + "/" + currDay

            $("#txtDateFrom").datepicker({
                minDate: "0",
                maxDate: +365,
                dateFormat: 'yy/mm/dd'
            }).val(todayDate);
            $("#txtDateTo").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: "0",
                maxDate: "+20Y", changeMonth: true, changeYear: true
            }).val(ModDateStr);

          
            var hidden = $("#hidd").val();
            $("#timepicker").val(hidden);
            //$('#timepicker').timepicker();


        });

    </script>


    <style type="text/css">
        .Validate {
            color: red;
            padding-left: 6px;
            left: 420px;
            position: absolute;
        }


        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }

        .set-schedule-detail-grid-one {
            height: 140px;
        }

        .set-schedule-detail-grid {
            height: 200px;
        }

        .set-schedule-detail-grid, .set-schedule-detail-grid-one {
            overflow: auto;
            margin: 10px 0;
            border: 1px solid #ccc;
            width: 100%;
            border-radius: 4px;
        }

            .set-schedule-detail-grid table tr th, .set-schedule-detail-grid-one table tr th {
                padding: 8px;
                color: #fff;
            }

            .set-schedule-detail-grid table tr td, .set-schedule-detail-grid-one table tr td {
                padding: 0 8px;
                font-weight: normal;
            }

                .set-schedule-detail-grid table tr td label, .set-schedule-detail-grid-one table tr td label {
                    font-weight: normal;
                }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                    var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_SchedularReport", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Reschedule Driver Report</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:99%">

                                <tr>
                                    <td style="width: 33%">
                                        Report Name<span style="color:red">*</span> &nbsp;@Html.ValidationMessageFor(model => model.fk_ReportID)<br />
                                        @Html.DropDownListFor(m => m.fk_ReportID, new SelectList(Model.ReportList, "ReportId", "DisplayName", Model.fk_ReportID), "--Select Report--", new { @class = "form-control", onchange = "Reportset()", @disabled = "disabled" })
                                    </td>

                                    <td style="width: 33%">
                                        Date From<span style="color:red">*</span>  &nbsp;@Html.ValidationMessageFor(model => model.DateFrom)<br />
                                        @Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control", @id = "txtDateFrom" })
                                    </td>

                                    <td style="width: 33%">
                                        Date To<span style="color:red">*</span>  &nbsp;@Html.ValidationMessageFor(model => model.DateTo)<br />
                                        @Html.TextBoxFor(m => m.DateTo, new { @class = "form-control", @id = "txtDateTo" })
                                    </td>

                                </tr>

                                <tr><td class="space"></td></tr>
                                <tr>
                                   
                                    <td id="dayMonthRow">
                                        @Html.Label("Week Day", new { @id = "lblWeekDay" })  &nbsp; @Html.ValidationMessageFor(model => model.WeekDay)<br />
                                        @if (Model.fk_ReportID == 5)
                                        {
                                             @Html.DropDownListFor(m => m.WeekDay, new SelectList(Model.DayList, "DayID", "DayName", Model.WeekDay), "--Select Week Day--", new { @class = "form-control", @id = "ddlWeekDay" })  
                                        }
                                        @if (Model.fk_ReportID != 5)
                                        {
                                            @Html.DropDownListFor(m => m.WeekDay, new SelectList(Model.DayList, "DayID", "DayName", Model.WeekDay), "--Select Week Day--", new { @class = "form-control", @id = "ddlWeekDay", @disabled = "disabled" })
                                        }
                                     
                                    </td>

                                    <td>
                                        @Html.Label("Month Day", new { @id = "lblMonthDay" })  &nbsp;@Html.ValidationMessageFor(model => model.MonthDay)<br />
                                        @if (Model.fk_ReportID == 6)
                                        {
                                             @Html.DropDownListFor(m => m.MonthDay, new SelectList(Model.MonthDayList, "MonthID", "MonthName", Model.MonthDay), "--Select Month Day--", new { @class = "form-control", @id = "ddlMonthDay" })
                                        }
                                        @if (Model.fk_ReportID != 6)
                                        {
                                            @Html.DropDownListFor(m => m.MonthDay, new SelectList(Model.MonthDayList, "MonthID", "MonthName", Model.MonthDay), "--Select Month Day--", new { @class = "form-control", @id = "ddlMonthDay", @disabled = "disabled" })
                                        }
                                    </td>

                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                   
                                    <td>
                                        Start Time(hh:mm:ss)<span style="color:red">*</span> &nbsp; @Html.ValidationMessageFor(model => model.StartTime)
                                        <br />

                                        <input type="time" value="@Model.StartTime" id="timepicker" name="StartTime" class="form-control" />
                                      
                                    </td>
                                    @Html.HiddenFor(m => m.StartTime, new { @id = "hidd" })

                                    <td>
                                        Time Zone<span style="color:red">*</span> &nbsp; @Html.ValidationMessageFor(model => model.TimeZone)
                                        <br />
                                        @Html.DropDownListFor(m => m.TimeZone, new SelectList(Model.TimeZones, "TimeZoneTime", "TimeZoneName", Model.TimeZone), "--Select time zone--", new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.fk_ReportID)
                                    </td>


                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td colspan="3"></td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    
                                    <td>
                                        <a href="ScheduleIndex" class="btn1">Cancel</a> &nbsp;&nbsp;&nbsp; <input type="submit" class="btnu" id="btnUpdate" value="Reschedule" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function active() {
        document.getElementById("msdr").className += " activeLi" + " activemenu";
        $(document).ready(function () {
            $("#msdrColl").css("display", "block");
        });
    }
</script>
<script type="text/javascript">

    $("#btnUpdate").click(function () {
        var value = $("#timepicker").val();
        $("#hidd").val(value);
    })

    $("#fk_ReportID").change(function () {
        var myselect = document.getElementById("fk_ReportID");
        var sel = myselect.options[myselect.selectedIndex].value;
        if (sel == 4) {
            $("#ddlWeekDay").prop('disabled', true);
            $("#ddlMonthDay").prop('disabled', true);
        }
        if (sel == 5) {
            $("#ddlWeekDay").prop('disabled', false);
            $("#ddlMonthDay").prop('disabled', true);
        }
        if (sel == 6) {
            $("#ddlWeekDay").prop('disabled', true);
            $("#ddlMonthDay").prop('disabled', false);
        }

    });

  



</script>

