﻿@using MTD.Core.DataTransferObjects
@using MTData.Web.ViewData
@model DriverViewData
@{
    ViewBag.Title = "Update Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Update Driver
</title>
    <script src="~/Scripts/txt-validation.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style type="text/css">
        .Validate {
            padding-left: 6px;
            position: absolute;
            left: 525px;
        }

        td {
            padding-top: .3em;
            padding-bottom: .3em;
        }

        th {
            background-color: #014a81;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body onload="active()">
    <div class="container-main">
        <div class="left-panel">
            <div class="user">
                @if (Session["User"] != null)
                {
                   var user = ((SessionDto)Session["User"]).SessionUser.FName;
                    <h3> Welcome   @user</h3>
                }
                <span class="float-R"><a href="#" id="toggle"><img src="../images/menu.png" width="34" height="21"></a></span>
            </div>
            @{
                Html.RenderAction("_MerchantUsers", "Member");
            }
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="content-sec">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            <h4>Update Driver</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table style="width:65%">
                                <tr>
                                    <td style="width:200px">&nbsp;</td>
                                    <td style="width:355px">
                                        @if (ViewBag.Message != null)
                                        {
                                            <p style="color: green;font-size: 12px">&nbsp;@ViewBag.Message</p>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.Label("First Name")<span class="required">*</span></td>
                                    <td> @Html.TextBoxFor(model => model.FName, new { @class = "form-control", @id = "txtFName", onkeyup = "AllowCharsNumberSpace(this, 30)" })</td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.FName) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Last Name")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>@Html.TextBoxFor(model => model.LName, new { @class = "form-control", @id = "txtLName", onkeyup = "AllowCharsNumberSpace(this, 30)" })</td>
                                    <td class="Validate"> @Html.ValidationMessageFor(model => model.LName) </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Phone")@Html.Label("*", new { style = "color: red" })</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @id = "txtPhone", onkeyup = "AllowNumbers(this, 20)" })
                                   
                                </td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.Phone) </td>
                            </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Email")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail"})
                                    </td>
                                    <td class="Validate">@Html.ValidationMessageFor(model => model.Email) </td>
                                </tr>

                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Driver Number")@Html.Label("*", new { style = "color: red" })</td>
                                <td> @Html.TextBoxFor(model => model.DriverNo, new { @class = "form-control", @id = "txtDriverNo", onkeyup = "AllowCharsNumberSymbol(this, 28)" })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.DriverNo) </td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>@Html.Label("Driver Tax Number") </td>
                                <td> @Html.TextBoxFor(model => model.DriverTaxNo, new { @class = "form-control", @id = "txtDriverTaxNo", onkeyup = "AllowCharsNumberSymbol(this, 28)" })</td>
                                <td class="Validate">@Html.ValidationMessageFor(model => model.DriverTaxNo) </td>
                            </tr>

                            
                            <tr><td class="space"></td></tr>
                           
                                <tr>
                                    <td>@Html.Label("Sage Account")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.SageAccount, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtSageAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.SageAccount)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Bank Name")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.BankName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtBankAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.BankName)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Account Name")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtAccountName" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.AccountName)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("BSB")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.BSB, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtBSB" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.BSB)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("Account")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Account, new { @class = "form-control", onkeyup = "AllowCharsNumberSpace(this, 50)", @id = "txtAccount" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.Account)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Fleet")<span class="required">*</span></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.fk_FleetID, new SelectList(Model.FleetList, "FleetID", "FleetName", Model.fk_FleetID), "--Please Select a Fleet--", new { @class = "form-control", @id = "ddlFleet" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.fk_FleetID)
                                    </td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td style="width:200px">@Html.Label("Country")<span class="required">*</span></td>
                                    <td>
                                        @Html.DropDownListFor(m => m.Fk_Country, new SelectList(Model.CountryList, "CountryCodesID", "Title", Model.Fk_Country), new { @class = "form-control" })
                                    </td>
                                    <td class="requiredfields validate">
                                        @Html.ValidationMessageFor(model => model.Fk_Country)
                                    </td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("State")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Fk_State, new { @class = "form-control", onkeyup = "AllowCharsSpace(this, 35)" })
                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.Fk_State)
                                    </td>
                                </tr>
                                <tr><td colspan="3" class="space"></td></tr>
                                <tr>
                                    <td>@Html.Label("City")</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Fk_City, new { @class = "form-control", onkeyup = "AllowCharsSpace(this, 35)" })

                                    </td>
                                    <td class="Validate">
                                        @Html.ValidationMessageFor(model => model.Fk_City)
                                    </td>
                                </tr>
                                <tr><td class="space"></td></tr>
                               
                            <tr>
                                <td>@Html.Label("Address")@Html.Label("*", new { style = "color: red" })</td>
                                <td>@Html.TextAreaFor(model => model.Address, new { @class = "form-control" })</td>
                                <td class="Validate"> @Html.ValidationMessageFor(model => model.Address)</td>
                            </tr>
                            <tr><td class="space"></td></tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><a href="Index" class="btn1">Cancel</a>&nbsp;&nbsp;&nbsp;
                                    <input type="submit" class="btnu  " value="Update" onclick=" return validation();" />
                                </td>
                            </tr>
                        </table>

                        </div>
                    }
                </div>

            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#Fk_State').autocomplete({
                    source: function (request, response) {
                        $.getJSON("/CountryState/GetStateList?countryId=" + $("#Fk_Country").val() + "&mtch=" + $("#Fk_State").val(), function (data) {
                            response(data);
                        });
                    },
                    minLength: 3,
                    delay: 100
                });
                $('#Fk_City').autocomplete({
                    source: function (request, response) {
                        $.getJSON("/CountryState/GetCityList?mtch=" + $("#Fk_City").val(), function (data) {
                            response(data);
                        });
                    },
                    minLength: 3,
                    delay: 100
                });

            });
        </script>
    </div>

</body>
<script type="text/javascript">
    function active() {
        document.getElementById("dri").className += "activeLi";
    }

    $('#txtEmail').keydown(function (e) {
        var key = e.keyCode;
        var value = $(this).val();
        if (key == 8 || key == 46 || key == 37 || key == 39 || key == 9 || key == 32) { return true; }
        if (value.length > 30) e.preventDefault(); else {
            if (!(((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || (key >= 65 && key <= 90) || key == 110 || key == 190))) { e.preventDefault(); }
        }
    });


</script>


<script type="text/javascript">
    function active() {
        document.getElementById("dri").className += "activeLi";
    }
    function validation() {
        Showloader();
        return true;
    }
</script>



